<div>
    <waltz-page-header icon="wpforms"
                       name="{{ ctrl.surveyRun.name }}"
                       small="edit response">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li>
                <waltz-entity-link entity-ref="ctrl.surveyInstance.surveyEntity">
                </waltz-entity-link>
            </li>
            <li>Surveys</li>
            <li>
                <span ng-bind="ctrl.surveyRun.name">
                </span>
            </li>
        </ol>
    </waltz-page-header>

    <div class="waltz-page-summary waltz-page-summary-attach">
        <div class="row">
            <div class="col-sm-12">
                 <waltz-markdown text="ctrl.surveyRun.description">
                 </waltz-markdown>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4 waltz-display-field-label">
                        Survey Subject
                    </div>
                    <div class="col-sm-8">
                        <waltz-entity-link entity-ref="ctrl.surveyInstance.surveyEntity">
                        </waltz-entity-link>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4 waltz-display-field-label">
                        Survey ID
                    </div>
                    <div class="col-sm-8">
                        <span ng-bind="ctrl.surveyInstance.id">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4 waltz-display-field-label">
                        Status
                    </div>
                    <div class="col-sm-8"
                         ng-bind="ctrl.surveyInstance.status | toDisplayName:'surveyInstanceStatus'">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4 waltz-display-field-label">
                        Due
                    </div>
                    <div class="col-sm-8">
                        <waltz-from-now timestamp="ctrl.surveyInstance.dueDate"
                                        days-only="true">
                        </waltz-from-now>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4 waltz-display-field-label">
                        Other Participants
                    </div>
                    <div class="col-sm-8">
                        <span ng-repeat="recipient in ctrl.otherRecipients">
                            <a href="mailto:{{recipient.email}}?Subject=RE: {{ctrl.surveyRun.name}}"
                               ng-bind="recipient.displayName">
                            </a><span ng-hide="$last">, </span>
                        </span>
                        <br>
                        <a href="mailto:{{ctrl.surveyRun.contactEmail}}?Subject={{ctrl.surveyRun.name}} (Instance: {{ctrl.surveyInstance.id}})&body=Survey Instance: {{ctrl.surveyInstanceLink}}%0D%0A%0D%0APlease add the following participants to this survey instance:%0D%0A%0D%0A"
                           ng-if="ctrl.isUserInstanceRecipient && ctrl.instanceCanBeEdited"
                           class="clickable">
                            <strong>+Request more participants</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4 waltz-display-field-label">
                        Owner
                    </div>
                    <div class="col-sm-8">
                        <span ng-bind="ctrl.owner.displayName"></span>
                        <span ng-if="! ctrl.owner">
                            -
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4 waltz-display-field-label">
                        Contact Email
                    </div>
                    <div class="col-sm-8">
                        <a href="mailto:{{ctrl.surveyRun.contactEmail}}?Subject=RE: {{ctrl.surveyRun.name}}"
                           ng-bind="ctrl.surveyRun.contactEmail"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <waltz-section name="Responses"
                   ng-if="ctrl.isUserInstanceRecipient && ctrl.instanceCanBeEdited">
        <form name="surveyResponseForm"
              class="form-horizontal waltz-survey-form"
              role="form"
              novalidate>
            <div ng-repeat="groupedQuestion in ctrl.surveyQuestionInfos">

                <h4 ng-bind="groupedQuestion.sectionName"
                    class="text-muted"></h4>
                <hr>
                <div ng-repeat="qi in groupedQuestion.questionInfos"
                     class="form-group">
                    <label for="{{ qi.question.id }}"
                           class="col-sm-5 control-label">
                        <span ng-bind="qi.question.questionText">
                        </span>
                            <span ng-if="qi.question.isMandatory"
                                  class="text-danger">
                            *
                        </span>
                        <!-- help text -->
                        <waltz-markdown text="qi.question.helpText"
                                        class='small text-muted'>
                        </waltz-markdown>
                    </label>
                    <div ng-switch="qi.question.fieldType"
                         class="col-sm-7"
                         ng-class="{'col-md-3': qi.question.fieldType === 'DATE'}">
                        <!-- input control -->
                        <!-- text -->
                        <input ng-switch-when="TEXT"
                               type="text"
                               id="{{ qi.question.id }}"
                               ng-model="ctrl.surveyResponses[qi.question.id].stringResponse"
                               ng-required="qi.question.isMandatory"
                               ng-blur="ctrl.saveResponse(qi.question.id)"
                               class="form-control"/>
                        <!-- number -->
                        <input ng-switch-when="NUMBER"
                               type="number"
                               id="{{ qi.question.id }}"
                               placeholder="please enter a number"
                               ng-model="ctrl.surveyResponses[qi.question.id].numberResponse"
                               ng-required="qi.question.isMandatory"
                               ng-blur="ctrl.saveResponse(qi.question.id)"
                               class="form-control"/>
                        <!-- boolean -->
                        <div ng-switch-when="BOOLEAN">
                            <label>
                                <input name="{{ qi.question.id }}"
                                       type="radio"
                                       ng-model="ctrl.surveyResponses[qi.question.id].booleanResponse"
                                       ng-required="qi.question.isMandatory"
                                       ng-change="ctrl.saveResponse(qi.question.id)"
                                       value="true"/>
                                Yes
                            </label>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <label>
                                <input name="{{ qi.question.id }}"
                                       type="radio"
                                       ng-model="ctrl.surveyResponses[qi.question.id].booleanResponse"
                                       ng-required="qi.question.isMandatory"
                                       ng-change="ctrl.saveResponse(qi.question.id)"
                                       value="false"/>
                                No
                            </label>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <label ng-if="! qi.question.isMandatory">
                                <input name="{{ qi.question.id }}"
                                       type="radio"
                                       ng-model="ctrl.surveyResponses[qi.question.id].booleanResponse"
                                       ng-change="ctrl.saveResponse(qi.question.id)"
                                       value="null"/>
                                N/a
                            </label>
                        </div>
                        <!-- textarea -->
                        <textarea ng-switch-when="TEXTAREA"
                                  id="{{ qi.question.id }}"
                                  ng-model="ctrl.surveyResponses[qi.question.id].stringResponse"
                                  ng-required="qi.question.isMandatory"
                                  ng-blur="ctrl.saveResponse(qi.question.id)"
                                  rows="4"
                                  class="form-control">
                        </textarea>
                        <!-- date -->
                        <waltz-date-picker-form-input ng-switch-when="DATE"
                                                      id="{{ qi.question.id }}"
                                                      item-id="qi.question.id"
                                                      allow-past-dates="true"
                                                      place-holder="dd-MMM-yyyy"
                                                      format="dd-MMM-yyyy"
                                                      model="ctrl.surveyResponses[qi.question.id].dateResponse"
                                                      on-change="ctrl.saveDateResponse"
                                                      ng-required="qi.question.isMandatory">
                        </waltz-date-picker-form-input>
                        <!-- dropdown -->
                        <select ng-switch-when="DROPDOWN"
                                id="{{ qi.question.id }}"
                                ng-model="ctrl.surveyResponses[qi.question.id].stringResponse"
                                ng-required="qi.question.isMandatory"
                                ng-blur="ctrl.saveResponse(qi.question.id)"
                                ng-options="entry.value as entry.value for entry in qi.dropdownEntries | orderBy:'position'"
                                class="form-control">
                        </select>
                        <!-- application -->
                        <waltz-entity-selector ng-switch-when="APPLICATION"
                                               item-id="qi.question.id"
                                               required="qi.question.isMandatory"
                                               current-selection="ctrl.surveyResponses[qi.question.id].entityResponse"
                                               on-select="ctrl.saveEntityResponse"
                                               entity-kinds="['APPLICATION']">
                        </waltz-entity-selector>
                        <!-- person -->
                        <waltz-entity-selector ng-switch-when="PERSON"
                                               item-id="qi.question.id"
                                               required="qi.question.isMandatory"
                                               current-selection="ctrl.surveyResponses[qi.question.id].entityResponse"
                                               on-select="ctrl.saveEntityResponse"
                                               entity-kinds="['PERSON']">
                        </waltz-entity-selector>
                        <!-- comment -->
                        <waltz-editable-field ng-if="qi.question.allowComment"
                                              fieldType="textarea"
                                              initial-val="ctrl.surveyResponses[qi.question.id].comment"
                                              item-id="qi.question.id"
                                              on-save="ctrl.saveComment"
                                              button-label="Comment"
                                              class="small text-muted">
                        </waltz-editable-field>
                    </div>
                </div>
                <hr>
            </div>

            <!-- buttons -->
            <table class="table-condensed" align="right">
                <tr>
                    <td>
                        <a class="clickable"
                           ng-click="ctrl.saveForLater()">
                            Save For Later
                        </a>
                    </td>
                    <td ng-if="surveyResponseForm.$valid">
                        <button type="button"

                                ng-click="ctrl.submit()"
                                class="btn btn-success btn-lg">
                            <waltz-icon name="envelope">
                            </waltz-icon>
                            Submit
                        </button>
                    </td>
                    <td ng-if="surveyResponseForm.$invalid"
                        style="padding-bottom: 10px;">
                        <span class="alert alert-warning">
                                Survey response cannot be submitted until all required questions are answered.
                        </span>
                    </td>
                </tr>
            </table>
        </form>
    </waltz-section>

    <div class="alert alert-warning"
         ng-if="ctrl.surveyInstance.status === 'EXPIRED'">
        <h4>Survey Expired</h4>
        <p>This survey response has been expired without being submitted.</p>
    </div>

    <div class="alert alert-warning"
         ng-if="ctrl.surveyInstance.status === 'COMPLETED' || ctrl.surveyInstance.status === 'APPROVED'">
        <h4>Survey Completed</h4>
        <p>This survey response has been completed and is no longer can be edited. Please follow this <a ui-sref="main.survey.instance.response.view ({ id: ctrl.surveyInstance.id })">link</a> to view the responses.</p>
    </div>

    <div class="alert alert-warning"
         ng-if="!ctrl.isUserInstanceRecipient">
        <h4>Permission Denied</h4>
        <p>You don't have permission to respond to this survey.</p>
    </div>


    <!-- CHANGE LOG -->
    <waltz-dynamic-section-wrapper section="ctrl.changeLogSection"
                                   parent-entity-ref="ctrl.entityReference">
    </waltz-dynamic-section-wrapper>
</div>