.survey-form {
    input.ng-invalid {
        border-color: #f0ad4e;
    }

    input[type=radio].ng-invalid {
        outline: 1px dashed #f0ad4e;
    }

    textarea.ng-invalid {
        border-color: #f0ad4e;
    }
}