<div>
    <waltz-page-header icon="wpforms"
                       name="{{ ctrl.template.name }}"
                       small="Survey Template">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li><a ui-sref="main.survey.instance.user">Survey</a></li>
            <li><a ui-sref="main.survey.template.list">Templates</a></li>
            <li>Templates</li>
        </ol>
    </waltz-page-header>

    <div class="waltz-page-summary waltz-page-summary-attach">
        <waltz-section-actions>
            <a class="btn btn-primary btn-xs"
               waltz-has-role="SURVEY_ADMIN"
               ng-if="ctrl.template.status === 'DRAFT'"
               ui-sref="main.survey.template.edit ({id: ctrl.template.id })">
                Edit
            </a>
            <a class="btn btn-success btn-xs"
               waltz-has-role="SURVEY_ADMIN"
               ng-if="ctrl.template.status !== 'ACTIVE'"
               ng-click="ctrl.markTemplateAsActive()">
                Mark as Active
            </a>
            <a class="btn btn-danger btn-xs"
               waltz-has-role="SURVEY_ADMIN"
               ng-if="ctrl.template.status === 'ACTIVE'"
               ng-click="ctrl.markTemplateAsObsolete()">
                Mark as Obsolete
            </a>
        </waltz-section-actions>

        <waltz-survey-template-overview template="ctrl.template"
                                        people="ctrl.people">
        </waltz-survey-template-overview>
    </div>

    <br>

    <waltz-section icon='bolt'
                   name="Runs"
                   small="( {{ctrl.issuedAndCompletedRuns.length }} )" >
        <waltz-section-actions>
            <a class="btn btn-primary btn-xs"
               waltz-has-role="SURVEY_ADMIN"
               ng-if="ctrl.template.status === 'ACTIVE'"
               ui-sref="main.survey.run.create ({id: ctrl.template.id })">
                Create
            </a>
        </waltz-section-actions>

        <div>
            <table class="table table-condensed table-striped">
                <colgroup>
                    <col width="30%">
                    <col width="10%">
                    <col width="10%">
                    <col width="15%">
                    <col width="10%">
                    <col width="10%">
                    <col width="15%">
                </colgroup>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Responses</th>
                    <th>Contact</th>
                    <th>Issued</th>
                    <th>Due</th>
                    <th>Owner</th>
                </tr>
                </thead>
                <tr ng-repeat="r in ctrl.issuedAndCompletedRuns">   <!-- don't show DRAFT runs -->
                    <td>
                        <a ng-bind="r.name"
                           class="clickable"
                           ui-sref="main.survey.run.view ({id: r.id})"></a>
                    </td>
                    <td><span ng-bind="r.status | toDisplayName:'surveyRunStatus'"></span></td>
                    <td>
                        <div uib-popover="{{ctrl.runCompletionRates[r.id].text}}" popover-trigger="mouseenter">
                            <uib-progress max="ctrl.runCompletionRates[r.id].totalCount">
                                <uib-bar value="ctrl.runCompletionRates[r.id].completedCount"
                                         ng-bind="ctrl.runCompletionRates[r.id].completedCount"
                                         type="success">
                                </uib-bar>
                                <uib-bar value="ctrl.runCompletionRates[r.id].inProgressCount"
                                         ng-bind="ctrl.runCompletionRates[r.id].inProgressCount"
                                         type="info">
                                </uib-bar>
                                <uib-bar value="ctrl.runCompletionRates[r.id].notStartedCount"
                                         ng-bind="ctrl.runCompletionRates[r.id].notStartedCount"
                                         type="warning">
                                </uib-bar>
                                <uib-bar value="ctrl.runCompletionRates[r.id].expiredCount"
                                         ng-bind="ctrl.runCompletionRates[r.id].expiredCount"
                                         type="danger">
                                </uib-bar>
                            </uib-progress>
                        </div>
                    </td>
                    <td><span ng-bind="r.contactEmail"></span></td>
                    <td><waltz-from-now timestamp="r.issuedOn"></waltz-from-now></td>
                    <td><waltz-from-now ng-if='r.dueDate'
                                        timestamp="r.dueDate"></waltz-from-now>
                    </td>
                    <td><span ng-bind="ctrl.people[r.ownerId].displayName"></span></td>
                </tr>
            </table>
        </div>
        <span ng-if="ctrl.draftRuns.length > 0"
              class="text-muted small">
            Excluding <b ng-bind="ctrl.draftRuns.length"></b> draft run(s).
        </span>
    </waltz-section>

    <waltz-section icon="question"
                   name="Questions"
                   small="( {{ ctrl.questions.length }} )">

        <div class="row">
            <div class="col-sm-12">
                <table class="table table-condensed table-striped">
                    <colgroup>
                        <col width="15%">
                        <col width="25%">
                        <col width="15%">
                        <col width="24%">
                        <col width="10%">
                        <col width="13%">
                        <col width="8%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Section Name</th>
                        <th>Question Text</th>
                        <th>Field Type</th>
                        <th>Help Text</th>
                        <th>Mandatory</th>
                        <th>Allow Comment</th>
                        <th>Position</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="q in ctrl.questions | orderBy:'position'">
                        <td><span ng-bind="q.sectionName"></span></td>
                        <td><span ng-bind="q.questionText"></span></td>
                        <td><span ng-bind="q.fieldType | toDisplayName:'surveyQuestionFieldType'"></span></td>
                        <td><span ng-bind="q.helpText"></span></td>
                        <td>
                            <waltz-boolean-renderer value="q.isMandatory">
                            </waltz-boolean-renderer>
                        </td>
                        <td>
                            <waltz-boolean-renderer value="q.allowComment">
                            </waltz-boolean-renderer>
                        </td>
                        <td><span ng-bind="q.position"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </waltz-section>
</div>
