<div>

    <div ng-if="$ctrl.managers.length > 0">
        <h4>Managers</h4>
        <waltz-person-directs-list directs="$ctrl.managers"></waltz-person-directs-list>
    </div>


    <div ng-if="$ctrl.directs.length > 0">
        <h4>
            Directs
            <small uib-popover="Directs : Cumulative Reportees"
                   popover-trigger="mouseenter">
                <span ng-bind="$ctrl.directs.length"></span>
                :
                <span ng-bind="$ctrl.cumulativeCount"></span>
            </small>
        </h4>
        <waltz-person-directs-list directs="$ctrl.directs"></waltz-person-directs-list>
    </div>
</div>
