<div id="waltz-boingy-graph" class="viz">
    <!-- SVG goes here  -->
</div>
<div style="position: absolute; bottom: 24px; left: 48px" class="waltz-visibility-parent">
    <button class="btn btn-default btn-xs waltz-visibility-child-30"
            ng-if="! $ctrl.zoomEnabled"
            uib-popover="Drag background to pan, use wheel to zoom in/out"
            popover-trigger="mouseenter"
            popover-placement="top"
            popover-append-to-body="true"
            ng-click="$ctrl.enableZoom()">
        Enable Pan & Zoom
    </button>
    <button class="btn btn-success btn-xs waltz-visibility-child-50"
            ng-if="$ctrl.zoomEnabled"
            ng-click="$ctrl.disableZoom()">
        Disable Pan & Zoom
    </button>
    <button class="btn btn-default btn-xs waltz-visibility-child-30"
            uib-popover="Restart the layout process"
            popover-trigger="mouseenter"
            popover-placement="top"
            popover-append-to-body="true"
            ng-click="$ctrl.resetSimulation()">
        Reset
    </button>
</div>