<div class="row waltz-immediate-hierarchy-navigator">
    <div class="col-md-6">
        <strong>Parents: </strong>
        <div class="wihn-list"
             ng-class="{'waltz-scroll-region-200': $ctrl.parentLinks.length > 10}"
             ng-style="{'width': $ctrl.parentLinks.length > 10 ? '85%' : '100%'}">
            <ul class="list-unstyled"
                ng-if="$ctrl.parentLinks.length > 0">
                <li ng-repeat="parent in $ctrl.parentLinks">
                    <a ng-href="{{ parent.url }}"
                       ng-bind="parent.name">
                    </a>
                </li>
            </ul>
            <i ng-if="$ctrl.parentLinks.length == 0">
                -
            </i>
        </div>
    </div>

    <div class="col-md-6">
        <strong>Children: </strong>
        <div class="wihn-list"
             ng-class="{'waltz-scroll-region-200': $ctrl.childLinks.length > 10}"
             ng-style="{'width': $ctrl.childLinks.length > 10 ? '85%' : '100%'}">
            <ul class="list-unstyled"
                ng-if="$ctrl.childLinks.length > 0">
                <li ng-repeat="child in $ctrl.childLinks">
                    <a ng-href="{{ child.url }}"
                       ng-bind="child.name">
                    </a>
                </li>
            </ul>
            <i ng-if="$ctrl.childLinks.length == 0">
                -
            </i>
        </div>
    </div>

</div>