<div>
    <waltz-source-and-target-panel entity-ref="$ctrl.parentEntityRef"
                                   logical-flows="$ctrl.logicalFlows"
                                   decorators="$ctrl.logicalFlowDecorators"
                                   physical-flows="$ctrl.physicalFlows"
                                   physical-specifications="$ctrl.physicalSpecifications">
    </waltz-source-and-target-panel>

    <p class="text-muted small">
        Diagram detailing the applications data types (Middle)
        from the sending system (LHS)
        to the receiving system on the (RHS).
        <span style="color: darkred">Red lines</span> indicate non-strategic flows,
        <span style="color: orange">Amber</span> indicates secondary and
        <span style="color: darkgreen">Green</span> indicates a primary system.
    </p>
</div>