<div class="waltz-assessment-rating-editor">
    <div class="row">
        <div class="col-md-12">
            <table class="waltz-field-table waltz-field-table-border"
                   style="width: 100%">
                <colgroup>
                    <col width="30%">
                    <col width="70%">
                </colgroup>
                <tr ng-repeat="def in $ctrl.enrichedAssessmentDefinitions">
                    <td class="wft-label">
                        <span ng-bind="def.name"></span>
                        <span ng-if="def.externalId">
                                (<span ng-bind="def.externalId"> </span>)
                        </span>
                    </td>
                    <td valign="top">
                        <span ng-if="def.isReadOnly === false">
                            <waltz-editable-dropdown initial-val="def.rating.ratingId"
                                                     entries="def.dropdownEntries"
                                                     comments-allowed="true"
                                                     initial-comments="def.rating.description"
                                                     on-save="$ctrl.onRatingEdit"
                                                     on-remove="$ctrl.onRatingRemove"
                                                     edit-role="{{ def.permittedRole }}"
                                                     ctx="def">
                            </waltz-editable-dropdown>
                        </span>
                        <span ng-if="def.isReadOnly">
                             <span ng-bind="def.ratingItem.name">
                             </span>

                            <span class="text-muted small"
                                  uib-popover="This assessment is read only and cannot be edited"
                                  popover-trigger="mouseenter">
                                (read only)
                            </span>

                             <span ng-if="def.rating.description">
                                    <br>
                                    <span class="small text-muted"
                                          style="padding-left: 22px"
                                          ng-bind="def.rating.description | limitTo: 30">
                                    </span>
                                    <span ng-if="def.rating.description.length > 30">
                                        ...
                                    </span>
                                </span>
                            </span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>