<div>

    <waltz-page-header name="{{ ctrl.process.name }}"
                       small="Process"
                       icon="code-fork">
        <ol class="waltz-breadcrumbs">
            <li>
                <a ui-sref="main">Home</a>
            </li>
            <li>
                <a ui-sref="main.process.list">Processes</a>
            </li>
            <li>{{ ctrl.process.name }}</li>
        </ol>
    </waltz-page-header>

    <!-- SUMMARY -->

    <div class="row">
        <div class="col-sm-12">

            <div class="waltz-page-summary-attach waltz-page-summary">
                <div class="waltz-paragraph"
                     ng-bind="ctrl.process.description">
                </div>

                <table class="table table-condensed small">
                    <tr>
                        <td>Applications</td>
                        <td><span ng-bind="ctrl.applications.length"></span></td>
                    </tr>
                    <tr>
                        <td>Capabilities</td>
                        <td><span ng-bind="ctrl.supportingCapabilities.length"></span></td>
                    </tr>
                </table>


            </div>

        </div>
    </div>

    <hr>

    <!-- EXPLORER -->
    <style>
        .waltz-inherited-value {
            font-style: italic;
        }

        .waltz-tree-node-badge {
            background: #eee;
            border: 1px solid #ccc;
            border-radius: 2px;
            padding: 0 2px 0 2px;
        }
    </style>


    <waltz-section name="Capabilities"
                   icon="puzzle-piece">
        <div class="row">
            <!-- TREE PANE -->
            <div class="col-md-4">
                <p class="waltz-paragraph">
                    Explore this process by capability:
                </p>
                <div>
                    <treecontrol class="tree-light"
                                 tree-model="ctrl.capabilityTree.data"
                                 order-by="name"
                                 on-selection="ctrl.onCapabilityNodeSelect(node)"
                                 options="ctrl.capabilityTree.options">
                        <span ng-class="{ 'waltz-inherited-value' : ctrl.isInferredCapability(node.id) }">
                            <span class="waltz-visibility-parent"
                                  ng-bind="node.name">
                            </span>
                            <span class="waltz-tree-node-badge"
                                  ng-bind="ctrl.countAppsForCapability(node.id)">
                            </span>
                        </span>
                    </treecontrol>
                </div>
                <br>
                <p class="small text-muted">
                    This process is supported by the above capabilities.
                    The number following the capability is the number of applications which perform the
                    capability in the process.  Select a capability for more detail.  Capabilities
                    shown in <i>italics</i> are not explicitly part of the process.
                </p>
            </div>

            <!-- CAPABILITY PANE -->
            <div class="col-md-4">
                <div ng-if="ctrl.selectedCapability != null">
                    <strong ng-bind="ctrl.selectedCapability.name"></strong>

                    <p class="waltz-paragraph small text-muted"
                       ng-bind="ctrl.selectedCapability.description">
                    </p>

                     <span class="small small">
                        <a ui-sref="main.capability.view ({ id: ctrl.selectedCapability.id })">
                            &raquo; more
                        </a>
                    </span>
                    <hr>


                    <div class="small">
                        <div ng-if="ctrl.findAppsForCapability(ctrl.selectedCapability.id).length > 0">
                            <strong>
                                Associated Applications:
                            </strong>
                            <div class="waltz-scroll-region"
                                 style="height: 250px">
                                <ul style="padding-top: 6px" class="list-unstyled">
                                    <li ng-repeat="app in ctrl.findAppsForCapability(ctrl.selectedCapability.id)">
                                        <a class="clickable" ng-click="ctrl.onApplicationSelect(app)">
                                            <strong ng-bind="app.name"></strong>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- APP PANE -->
            <div class="col-md-4">
                <div ng-if="ctrl.selectedApplication != null">
                    <strong ng-bind="ctrl.selectedApplication.name"></strong>

                    <p class="waltz-paragraph small text-muted"
                       ng-bind="ctrl.selectedApplication.description">
                    </p>

                    <span class="small">
                        <a ui-sref="main.app.view ({ id: ctrl.selectedApplication.id })">
                            &raquo; More
                        </a>
                    </span>
                    <hr>

                    <div class="small">
                        <div ng-if="ctrl.findCapabilitiesForApp(ctrl.selectedApplication.id).length > 0">
                            <strong style="margin-bottom: 3px">
                                Application Capabilities:
                            </strong>
                            <div class="waltz-scroll-region"
                                 style="height: 250px">
                                <ul style="padding-top: 6px">
                                    <li ng-repeat="capability in ctrl.findCapabilitiesForApp(ctrl.selectedApplication.id)">
                                        <span ng-class="{ 'waltz-inherited-value' : !ctrl.isCapabilityPartOfProcess(capability.id) }">
                                            <span ng-bind="capability.name"></span>
                                            <span ng-if="ctrl.isCapabilityPartOfProcess(capability.id)">
                                                <a class="clickable" ng-click='ctrl.onCapabilityNodeSelect(capability)'>(focus)</a>
                                            </span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </waltz-section>


    <!-- BOOKMARKS -->
    <waltz-bookmarks-section bookmarks="ctrl.bookmarks"
                             entity-id="{{ ctrl.process.id }}"
                             kind="PROCESS"
                             parent-name="{{ ctrl.process.name }}"
                             source-data-ratings="ctrl.sourceDataRatings">
    </waltz-bookmarks-section>


    <!-- FLOWS -->
    <waltz-data-flows-tabgroup-section ratings="ctrl.sourceDataRatings"
                                       flow-data="ctrl.dataFlows"
                                       on-load-detail="ctrl.loadFlowDetail"
                                       applications="ctrl.applications">

    </waltz-data-flows-tabgroup-section>


    <!-- APPLICATIONS -->
    <waltz-section name="All Participating Applications"
                   icon="desktop"
                   small="( {{ ctrl.applications.length }} )">

            <waltz-section-actions>
                <button class="btn btn-xs waltz-btn-transparent"
                        ng-click="ctrl.visibility.appOverlay = ! ctrl.visibility.appOverlay">
                    <waltz-icon name="map-signs"></waltz-icon>
                </button>
            </waltz-section-actions>

            <waltz-source-data-overlay visible="ctrl.visibility.appOverlay"
                                       ratings="ctrl.sourceDataRatings"
                                       entities="['APPLICATION']">
            </waltz-source-data-overlay>

            <uib-tabset ng-if="ctrl.applications.length">
                <uib-tab heading="Summary">
                    <waltz-app-summary apps="ctrl.applications">
                    </waltz-app-summary>
                </uib-tab>

                <uib-tab select="showTableTab = true"
                         heading="Applications"
                         ng-if="ctrl.applications.length">

                    <br>
                    <div ng-if="showTableTab">
                        <waltz-app-table filter="appQuery"
                                         csv-name="{{ctrl.process.name}}_apps.csv"
                                         applications="ctrl.applications">
                        </waltz-app-table>
                    </div>
                </uib-tab>
            </uib-tabset>

    </waltz-section>


    <!-- COSTS -->
    <waltz-asset-costs-section data="ctrl.assetCostData"
                               on-bucket-select="ctrl.onAssetBucketSelect"
                               csv-name="{{ ctrl.process.name }}_asset_costs.csv"
                               source-data-ratings="ctrl.sourceDataRatings">
    </waltz-asset-costs-section>


</div>