<div>
    <waltz-page-header name="Change Log"
                       small="{{ ctrl.entityRef.name }}">
    </waltz-page-header>

    <waltz-section name="Entries">

        <waltz-section-actions>
            <button ng-click="ctrl.exportChangeLog()"
                    class="btn btn-xs btn-primary"
                    ng-if="ctrl.entries.length > 0">
                <waltz-icon name="cloud-download"></waltz-icon>
                Export
            </button>
        </waltz-section-actions>

        <div ng-if="ctrl.entries.length > 0">
            <waltz-change-log-table entries="ctrl.entries"
                                    on-initialise="ctrl.changeLogTableInitialised">
            </waltz-change-log-table>
        </div>

        <div ng-if="ctrl.entries.length == 0">
            <i class="text-muted">
                No changes yet
            </i>
        </div>
    </waltz-section>

</div>