<span>
    <script type="text/ng-template" id="capabilities/popup-capability-selector-modal.html">
        <div class="modal-header">
            <h3 class="modal-title">Select Function</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <waltz-capability-selector-advanced capabilities="modal.capabilities"
                                                        selected-node="modal.selection"
                                                        options="{ showDescriptions: false }">
                    </waltz-capability-selector-advanced>
                </div>
                <div class="col-md-6">
                    <div ng-show="modal.selection">
                        <h4>
                            {{ modal.selection.name }}
                        </h4>
                        <p>
                            {{ modal.selection.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary"
                    ng-disabled="!modal.selection"
                    type="button"
                    ng-click="modal.ok()">
                OK
            </button>
            <button class="btn btn-warning"
                    type="button"
                    ng-click="modal.cancel()">
                Cancel
            </button>
        </div>
    </script>

    <button type="button" class="btn btn-info" ng-click="ctrl.open('lg')"> ... </button>
</span>