<h4 ng-bind="$ctrl.title"></h4>

<p ng-bind="$ctrl.description"></p>

<h5>Relevant Flows:</h5>

<div ng-show="$ctrl.flows.length > 6">
    <input type="search"
           placeholder="Filter.."
           ng-model="$ctrl.qry"
           class="form-control waltz-search-control">
    <br>
</div>

<div ng-class="{ 'waltz-scroll-region-250' : $ctrl.flows.length > 6 }">
    <table class="table table-condensed small">
        <thead>
        <tr>
            <th>Name</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="flow in $ctrl.flows | filter: $ctrl.qry"
            class="waltz-visibility-parent">
            <td>
                <label>
                    <input type="checkbox"
                           id="flow_${flow.physicalFlow.id}"
                           ng-model="flow.used">
                    <span ng-bind="flow.specification.name">
                    </span>
                </label>
            </td>
            <td>
                <div class="small">
                    <span ng-bind="flow.specification.format | toDisplayName:'dataFormatKind'"></span>
                    ,
                    <span ng-bind="flow.physicalFlow.frequency | toDisplayName:'frequencyKind'"></span>
                    ,
                    <span ng-bind="flow.physicalFlow.transport | toDisplayName:'transportKind'"></span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div waltz-has-role="LOGICAL_DATA_FLOW_EDITOR">
    Can't find what you're looking for?
    Click
    <a class="clickable"
       ng-click="$ctrl.onDismiss()"
       ng-href="{{$ctrl.physicalFlowRegisterUrl}}"
       target="_blank"
       rel="noopener noreferrer">
        here
    </a>
    to register a new physical flow.
</div>

<hr>

<button class="btn btn-success"
        ng-click="$ctrl.update()">
    Update
</button>
<a class='clickable'
   ng-click="$ctrl.onDismiss()">
    Cancel
</a>
