<div>

    <waltz-flow-diagram-measurable-associations ng-if="$ctrl.id"
                                                read-only="false"
                                                diagram-id="$ctrl.id">
    </waltz-flow-diagram-measurable-associations>

    <hr>

    <waltz-flow-diagram-change-initiative-associations ng-if="$ctrl.id"
                                                       read-only="false"
                                                       diagram-id="$ctrl.id">
    </waltz-flow-diagram-change-initiative-associations>

    <strong ng-if="!$ctrl.id">
        Cannot add additional viewpoints until
        the diagram has been saved
    </strong>

    <div class="waltz-popup-actions">
        <a ng-click="$ctrl.onDismiss()"
           class="clickable">
            Done
        </a>
    </div>
</div>