<div class="waltz-flow-diagram-editor">

    <!-- ADD FLOW POPUP -->
    <div class="pop waltz-fade-if"
         ng-if="$ctrl.visibility.logicalFlowPopup">
        <waltz-flow-diagram-add-flow-popup on-dismiss="$ctrl.onDismissPopup"
                                           flows="$ctrl.popup.flows"
                                           node="$ctrl.popup.node"
                                           is-upstream="$ctrl.popup.isUpstream"
                                           command-processor="$ctrl.issueCommands">

        </waltz-flow-diagram-add-flow-popup>
    </div>

    <!-- ANNOTATION POPUP -->
    <div class="pop waltz-fade-if"
         ng-if="$ctrl.visibility.annotationPopup">
        <waltz-flow-diagram-annotation-popup on-dismiss="$ctrl.onDismissPopup"
                                             annotation="$ctrl.popup.annotation"
                                             command-processor="$ctrl.issueCommands">

        </waltz-flow-diagram-annotation-popup>
    </div>


    <!-- EDITOR -->
    <div ng-class="{ 'dim' : $ctrl.visibility.popup }">
        <waltz-flow-diagram nodes="$ctrl.nodes"
                            flows="$ctrl.flows"
                            annotations="$ctrl.annotations"
                            layout="$ctrl.layout"
                            on-initialise="$ctrl.onDiagramInit"
                            context-menus="$ctrl.contextMenus">
        </waltz-flow-diagram>


        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-success"
                        ng-click="$ctrl.doSave()">
                    Save
                </button>
                <pre ng-bind="$ctrl.saveResp | json"></pre>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>

    </div>
</div>
