<div>

    <waltz-flow-diagram-associations ng-if="$ctrl.id"
                                     read-only="false"
                                     diagram-id="$ctrl.id">
    </waltz-flow-diagram-associations>

    <strong ng-if="!$ctrl.id">
        Cannot add additional viewpoints until
        the diagram has been saved
    </strong>

    <div class="waltz-popup-actions">
        <button ng-click="$ctrl.onDismiss()"
                class="btn btn-xs btn-primary">
            Done
        </button>
    </div>
</div>