@import "../../../../style/waltz-popups";

.waltz-flow-diagram-editor {

    position: relative;

    .wfde-pop {
        @extend .waltz-popup;
        //padding: 4px 12px 8px 12px;
        min-width: 40%;
        left: 20px;
        top: 10px;
        z-index: 1000;
    }

    .wfde-dim svg {
        filter: blur(0.8px);
    }
}