<h4 ng-bind="$ctrl.title"></h4>
<p ng-bind="$ctrl.description"></p>
<ul>
    <li ng-repeat="option in $ctrl.options | orderBy: 'entity.name'">
        <span ng-if="option.disabled"
              class="text-muted">
            <waltz-entity-icon-label entity-ref="option.entity"></waltz-entity-icon-label>
        </span>
        <span ng-if="! option.disabled">
            <a ng-click="$ctrl.commandProcessor(option.commands)"
               class='clickable'>
                <waltz-entity-icon-label entity-ref="option.entity"></waltz-entity-icon-label>
            </a>
        </span>
    </li>
</ul>

<hr>

<a class='clickable'
   ng-click="$ctrl.onDismiss()">
    Cancel
</a>
