<h4 ng-bind="$ctrl.title"></h4>
<p ng-bind="$ctrl.description"></p>
<table class="table table-condensed small">
    <tr ng-repeat="flow in $ctrl.flows | orderBy: 'entity.name'">
        <td>
            <label>
                <input type="checkbox"
                       ng-model="flow.used">
                <waltz-entity-icon-label entity-ref="flow.counterpartEntity">
                </waltz-entity-icon-label>
            </label>
        </td>
    </tr>
</table>

<hr>

<button class="btn btn-success"
        ng-click="$ctrl.update()">
    Update
</button>
<a class='clickable'
   ng-click="$ctrl.onDismiss()">
    Cancel
</a>
