<div class="waltz-flow-diagram-editor">

    <!-- ADD FLOW POPUP -->
    <div class="pop waltz-fade-if"
         ng-if="$ctrl.visibility.logicalFlowPopup">
        <h4 ng-bind="$ctrl.popup.title"></h4>
        <p ng-bind="$ctrl.popup.description"></p>
        <ul>
            <li ng-repeat="option in $ctrl.popup.options | orderBy: 'entity.name'">
                <a ng-click="$ctrl.issueCommands(option.commands)"
                   class='clickable'>
                    <waltz-entity-icon-label entity-ref="option.entity"></waltz-entity-icon-label>
                </a>
            </li>
        </ul>

        <hr>

        <a class='clickable'
           ng-click="$ctrl.onDismissPopup()">
            Cancel
        </a>
    </div>

    <!-- ADD ANNOTATION POPUP -->
    <div class="pop waltz-fade-if"
         ng-if="$ctrl.visibility.annotationPopup">
        <h4 ng-bind="$ctrl.popup.title"></h4>
        <p ng-bind="$ctrl.popup.description"></p>
        <div>
            <textarea cols="50"
                      rows="5"
                      placeholder="Description ..."
                      ng-model="$ctrl.popup.note">
            </textarea>
        </div>
        <hr>

        <a class="btn btn-success clickable"
           ng-click="$ctrl.issueCommands($ctrl.popup.mkAddAnnotationCommand($ctrl.popup.note))">
            Add
        </a>
        <a class='clickable'
           ng-click="$ctrl.onDismissPopup()">
            Cancel
        </a>
    </div>


    <!-- EDITOR -->
    <div ng-class="{ 'dim' : $ctrl.visibility.popup }">
        <waltz-flow-diagram nodes="$ctrl.nodes"
                            flows="$ctrl.flows"
                            layout="$ctrl.layout"
                            on-initialise="$ctrl.onDiagramInit"
                            context-menus="$ctrl.contextMenus">
        </waltz-flow-diagram>

        <button class="btn btn-danger" ng-click="$ctrl.getState()">
            Get State
        </button>

        <pre ng-bind="$ctrl.state | json">

        </pre>

    </div>
</div>
