
<div ng-repeat="roadmap in $ctrl.roadmaps">
    <waltz-sub-section>
        <content>
            <div style="padding: 12px">

                <!-- ROADMAP: overview -->
                <h4>
                    <span ng-bind="roadmap.name"></span>
                </h4>

                <br>

                <table class="table table-condensed table-hover small">
                    <colgroup>
                        <col width="30%">
                        <col width="70%">
                    </colgroup>
                    <tr>
                        <td>Name:</td>
                        <td>
                            <waltz-editable-field field-type="text"
                                                  on-save="$ctrl.onSaveRoadmapName"
                                                  item-id="roadmap"
                                                  save-label="Save"
                                                  initial-val="roadmap.name">
                            </waltz-editable-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Dimensions:
                            <p class="help-block small">
                                Column Domain / Row Domain
                            </p>
                        </td>
                        <td>
                            <span ng-bind="roadmap.columnType.name"></span>
                            /
                            <span ng-bind="roadmap.rowType.name"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td>
                            <waltz-editable-field field-type="textarea"
                                                  on-save="$ctrl.onSaveRoadmapDescription"
                                                  item-id="roadmap"
                                                  save-label="Save"
                                                  initial-val="roadmap.description"
                                                  empty-label="No description provided"
                                                  class="text-muted">
                            </waltz-editable-field>
                        </td>
                    </tr>
                </table>

                <hr>

                <!-- SCENARIOS -->
                <table class="small table table-condensed">
                    <colgroup>
                        <col width="30%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="20%">
                        <col width="20%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Scenario Name</th>
                        <th>Target Date</th>
                        <th>Status</th>
                        <th>Lifecycle Status</th>
                        <th>Operations</th>
                        <th>Last modified</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="scenario in $ctrl.scenariosByRoadmapId[roadmap.id] track by scenario.id"
                        class="waltz-visibility-parent">
                        <td>
                            <span uib-popover-template="'wrl-popover.html'"
                                  popover-trigger="mouseenter"
                                  popover-enable="scenario.description"
                                  popover-popup-delay="300"
                                  popover-append-to-body="true">
                                <a ng-click="$ctrl.onSelectScenario(scenario, roadmap)"
                                   class="clickable">
                                    <span ng-bind="scenario.name"></span>
                                </a>
                            </span>
                        </td>
                        <td>
                            <span ng-bind="scenario.effectiveDate">
                            </span>
                        </td>
                        <td>
                            <span class="small"
                                  ng-bind="scenario.scenarioType | toDisplayName:'scenarioType'">
                            </span>
                        </td>
                        <td>
                            <span class="small"
                                  ng-bind="scenario.entityLifecycleStatus | toDisplayName:'entityLifecycleStatus'">
                            </span>
                        </td>
                        <td>
                            <span class="waltz-visibility-child-30">
                                <a ng-click="$ctrl.onCloneScenario(scenario)"
                                   class="clickable">
                                    Clone
                                </a>
                                |
                                <a ng-click="$ctrl.onConfigureScenario(scenario)"
                                   class="clickable">
                                    Configure
                                </a>
                            </span>
                        </td>
                        <td>
                            <waltz-last-updated entity="scenario"
                                                show-label="false">
                            </waltz-last-updated>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td colspan="2">
                            <a ng-click="$ctrl.onAddScenario(roadmap)"
                               class="clickable">
                                <waltz-icon name="plus">
                                </waltz-icon>
                                Add new scenario
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </content>
    </waltz-sub-section>

    <div>
        <hr>

        <a ng-click="$ctrl.onAddRoadmap()"
           class="clickable">
            <waltz-icon name="plus">
            </waltz-icon>
            Add new roadmap
        </a>
    </div>
</div>



<script type="text/ng-template"
        id="wrl-popover.html">
    <div class="small">
        <strong ng-bind="scenario.name"></strong>
        <hr>
        <waltz-markdown text="scenario.description"></waltz-markdown>
    </div>
</script>