<div class="row">
    <div class="col-sm-6">
        <waltz-measurable-rating-tree ratings="$ctrl.ratings"
                                      rating-scheme="$ctrl.ratingScheme"
                                      on-select="$ctrl.onSelect"
                                      measurables="$ctrl.measurables">
        </waltz-measurable-rating-tree>
    </div>
    <div class="col-sm-6"
         style="border-left: 1px solid #eee">

        <div ng-if="$ctrl.selected == null"
             class="waltz-fade-if text-muted">
            Please select an item on the tree to see more detail.
        </div>

        <div ng-if="$ctrl.selected != null"
             class="waltz-fade-if">
            <div>
                <h4>
                    <a class='clickable'
                       style="font-weight: lighter;"
                       ui-sref="main.measurable.view ({ id: $ctrl.selected.measurable.id })">
                        <span ng-bind="$ctrl.selected.measurable.name"></span>
                    </a>
                </h4>

                <div ng-if="$ctrl.selected.measurable.description">
                    <waltz-markdown class="small"
                                    text="$ctrl.selected.measurable.description">
                    </waltz-markdown>
                    <br>
                </div>

                <br>

                <div>
                    <div class="row">
                        <div class="col-sm-3 waltz-display-field-label">
                            Rating
                        </div>
                        <div class="col-sm-9">
                            <waltz-rating-indicator-cell rating="$ctrl.ratingsByCode[$ctrl.selected.rating.rating]"
                                                         show-name="true">
                            </waltz-rating-indicator-cell>
                        </div>
                    </div>
                    <div class="row"
                         ng-if="$ctrl.selected.rating.plannedDate">
                        <div class="col-sm-3 waltz-display-field-label">
                            Planned Date
                        </div>
                        <div class="col-sm-9">
                            <span class="small"
                                  ng-bind="$ctrl.selected.rating.plannedDate || 'No planned date'">
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 waltz-display-field-label">
                            Description
                        </div>
                        <div class="col-sm-9">
                            <span class="small"
                                  ng-bind="$ctrl.selected.rating.description || 'No comment given'">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="pull-right small">
                    <waltz-last-updated entity="$ctrl.selected.rating">
                    </waltz-last-updated>
                </div>
            </div>
        </div>
    </div>
</div>
