<div>
    <waltz-page-header name="Organisational Units"
                       icon="sitemap">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li>Organisational Units</li>
        </ol>
    </waltz-page-header>


    <div class="row">
        <div class="col-md-12">
            <div class="waltz-page-summary waltz-page-summary-attach">
                <blockquote>
                    The structure of the organisational hierarchy.
                    An application is assigned to one of the organisational units and the unit inherits the characteristics of the
                    assigned application. The organisational hierarchy allow applications statistics and capabilities to be
                    aggregated up the tree.
                </blockquote>

                <waltz-svg-diagrams diagrams="ctrl.diagrams"
                                    block-processor="ctrl.blockProcessor">
                </waltz-svg-diagrams>
            </div>
        </div>
    </div>


    <br>


    <div class="row">
        <!-- STATIC PANELS -->
        <div class="col-md-12">
            <waltz-static-panels group-key="HOME.ORG_UNIT">
            </waltz-static-panels>
        </div>
    </div>


    <waltz-section name="Organisational Units"
                   icon="sitemap"
                   id="organisational-units-section">

        <!-- EXPORT -->
        <waltz-section-actions>
            <waltz-data-extract-link name="Export"
                                     extract="org-units"
                                     filename="org-units.csv">
            </waltz-data-extract-link>

            &nbsp;

            <button class="btn btn-xs waltz-btn-transparent"
                    ng-click="ctrl.visibility.sourceDataRatings = ! ctrl.visibility.sourceDataRatings">
                <waltz-icon name="map-signs">
                </waltz-icon>
            </button>
        </waltz-section-actions>


        <waltz-source-data-overlay visible="ctrl.visibility.sourceDataRatings"
                                   entities="['ORG_UNIT']">
        </waltz-source-data-overlay>


        <!-- TREE -->
        <div class="row">

            <div class="col-sm-8">

                <waltz-org-unit-tree tree="ctrl.trees">
                </waltz-org-unit-tree>
                <br>
                <p class="text-muted">
                    The tree below describes the organisational structure.  Each unit
                    in the tree may show a count of the number of applications (blue)
                    and end user applications (green) owned by the unit.  The two numbers
                    show the direct ownership count and the indirect (inherited)
                    count (in parentheses).
                </p>
            </div>

            <div class="col-sm-4">
                <waltz-search clear="ctrl.clearSearch"
                              search="ctrl.doSearch"></waltz-search>
                <div ng-if="ctrl.filteredOrgUnits.length > 0">
                    <table class="table table-condensed table-striped small">
                        <colgroup>
                            <col width="30%">
                            <col width="70%">
                        </colgroup>
                        <tbody>
                        <tr ng-repeat="node in ctrl.filteredOrgUnits">
                            <td>
                                <a ui-sref="main.org-unit.view ({ id: node.id })"
                                   class="waltz-org-unit-name"
                                   ng-bind="node.name">
                                </a>
                            </td>
                            <td>
                                <span class="small"
                                      ng-bind="node.description">
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </waltz-section>

</div>

