<waltz-roadmap-header roadmap-id="$ctrl.roadmapId">
</waltz-roadmap-header>

<br>

<waltz-scenario-list-section roadmap-id="$ctrl.roadmapId">
</waltz-scenario-list-section>

<br>

<waltz-dynamic-section-wrapper section="$ctrl.relatedAppGroupsSection"
                               parent-entity-ref="$ctrl.parentEntityRef">
</waltz-dynamic-section-wrapper>

<br>

<waltz-dynamic-section-wrapper section="$ctrl.relatedOrgUnitSection"
                               parent-entity-ref="$ctrl.parentEntityRef">
</waltz-dynamic-section-wrapper>

<br>

<waltz-dynamic-section-wrapper section="$ctrl.changeLogSection"
                               parent-entity-ref="$ctrl.parentEntityRef">
</waltz-dynamic-section-wrapper>
