<div>
    <div class="row">
        <div class="col-sm-4">
            <waltz-pie-table data="$ctrl.pie.os.data"
                             config="$ctrl.pie.os.config"
                             title="By Operating System">
            </waltz-pie-table>
        </div>

        <div class="col-sm-4">
            <waltz-pie-table data="$ctrl.pie.env.data"
                             config="$ctrl.pie.env.config"
                             title="By Environment">
            </waltz-pie-table>
        </div>

        <div class="col-sm-4">
            <waltz-pie-table data="$ctrl.pie.location.data"
                             config="$ctrl.pie.location.config"
                             title="By Location">
            </waltz-pie-table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <waltz-pie-table data="$ctrl.pie.operatingSystemEndOfLifeStatus.data"
                             config="$ctrl.pie.operatingSystemEndOfLifeStatus.config"
                             title="By Operating System EOL Status">
            </waltz-pie-table>
        </div>

        <div class="col-sm-4">
            <waltz-pie-table data="$ctrl.pie.hardwareEndOfLifeStatus.data"
                             config="$ctrl.pie.hardwareEndOfLifeStatus.config"
                             title="By Hardware EOL Status">
            </waltz-pie-table>
        </div>
    </div>
</div>