

<div>
    <p class="help-block">
        <div ng-if="$ctrl.permissions.edit">
            <span ng-if="$ctrl.mode === 'VIEW'">
                You are currently viewing this scenario.
                <br>
                <a ng-click="$ctrl.mode = 'EDIT'"
                   class="clickable">
                    Switch to edit mode
                </a>
                (also available via context menu).
            </span>

            <span ng-if="$ctrl.mode === 'EDIT'"
                  class="clickable">
                You are currently editing this scenario. Use the context menu to add applications, change ratings and update descriptions.
                <br>
                <a ng-click="$ctrl.mode = 'VIEW'">
                    Switch back to view mode.
                </a>
            </span>
        </div>

    </p>

    <!-- VIZ -->
    <waltz-scenario-diagram rating-scheme-id="$ctrl.scenarioDefn.roadmap.ratingSchemeId"
                            row-data="$ctrl.vizData.rowData"
                            column-headings="$ctrl.vizData.columnHeadings"
                            row-headings="$ctrl.vizData.rowHeadings"
                            handlers="$ctrl.handlers"
                            hidden-axes="$ctrl.hiddenAxes"
                            layout-options="$ctrl.layoutOptions"
                            on-unhide-axis="$ctrl.unhideAxis"
                            on-unhide-all-axes="$ctrl.unhideAllAxes">
    </waltz-scenario-diagram>
</div>


<!-- DIALOG -->
<div ng-if="$ctrl.dialog"
     ng-style="$ctrl.dialog.style"
     style="
        background-color: #fafafa;
        border: 2px solid #ccc;
        border-radius: 3px;
        padding: 6px;
        min-width: 500px;
        z-index: 100">

    <div ng-switch="$ctrl.dialog.type">
        <!-- EDIT CELL -->
        <div ng-switch-when="EDIT_CELL">
            <h4>
                <span>Edit:</span>
                <span ng-bind="$ctrl.dialog.data.node.name"></span>
                <small>
                    <a ng-click="$ctrl.onCloseDialog()"
                       class="clickable">
                        <waltz-icon name="close"></waltz-icon>
                        Close
                    </a>
                </small>
            </h4>
            <p class="help-block">
                Editing application:
                <span ng-bind="$ctrl.dialog.data.node.name"></span>
                in position:
                <span ng-bind="$ctrl.dialog.data.domainCoordinates.column.name"></span>
                /
                <span ng-bind="$ctrl.dialog.data.domainCoordinates.row.name"></span>
            </p>

            <!-- EDIT CELL: widgets -->
            <div class="row">
                <div class="col-sm-6">
                    <p class="help-block">
                        Select a rating for this application:
                    </p>
                    <div class="small">
                        <waltz-rating-picker selected="$ctrl.dialog.workingState.rating"
                                             scheme-id="$ctrl.scenarioDefn.roadmap.ratingSchemeId"
                                             on-select="$ctrl.onRatingSelect">
                        </waltz-rating-picker>
                    </div>

                </div>
                <div class="col-sm-6">
                    <p class="help-block">
                        Adding a comment to a rating will help users to understand why and application
                        has been placed in this state.
                    </p>
                    <textarea ng-model="$ctrl.dialog.workingState.comment" cols="30" rows="6">
                    </textarea>
                </div>
            </div>

            <!-- EDIT CELL : controls -->
            <div>
                <button ng-click="$ctrl.onSaveCell(
                            $ctrl.dialog.data.node,
                            $ctrl.dialog.data.domainCoordinates.column,
                            $ctrl.dialog.data.domainCoordinates.row,
                            $ctrl.dialog.workingState)"
                        class="btn btn-primary btn-sm">
                    Save
                </button>
                <a ng-click="$ctrl.onCloseDialog()"
                   class="clickable">
                    Cancel
                </a>
            </div>

        </div>

        <!-- ADD APPLICATION -->
        <div ng-switch-when="ADD_APPLICATION">
            <h4>
                <span>Add Application</span>
                <small>
                    <a ng-click="$ctrl.onCloseDialog()"
                       class="clickable">
                        <waltz-icon name="close"></waltz-icon>
                        Close
                    </a>
                </small>
            </h4>
            Add application to:
            <table class="waltz-mini-table">
                <tr>
                    <td>Column:</td>
                    <td>
                        <span ng-bind="$ctrl.dialog.column.name"></span>
                    </td>
                </tr>
                <tr>
                    <td>Row:</td>
                    <td>
                        <span ng-bind="$ctrl.dialog.row.name"></span>
                    </td>
                </tr>
            </table>

            <br>

            <div class="waltz-tabs">
                <!-- ADD APP: tab headers -->
                <input type="radio"
                       ng-repeat-start="tab in $ctrl.dialog.tabs"
                       ng-model="$ctrl.dialog.tab"
                       ng-value="tab.value"
                       name="{{tab.name}}"
                       id="{{tab.id + $id}}">
                <label for="{{tab.id + $id}}"
                       ng-bind="tab.name"
                       ng-repeat-end>
                </label>

                <!-- ADD APP: tab content -->
                <div ng-switch="$ctrl.dialog.tab" class="wt-tab wt-active">

                    <!-- ADD APP: pick -->
                    <div ng-switch-when="PICK">
                        <p class="help-block">
                            Select from applications already mentioned
                            in this scenario
                        </p>
                        <div ng-if="$ctrl.dialog.applicationPickList.length === 0">
                            <div class="small alert alert-warning">
                                No additional applications to pick from. Perhaps use
                                <a ng-click="$ctrl.dialog.tab = 'SEARCH'"
                                   class="clickable">
                                    search
                                </a>
                                to add one
                            </div>
                        </div>

                        <div ng-if="$ctrl.dialog.applicationPickList.length > 0">
                            <div ng-class="{'waltz-scroll-region-150': $ctrl.dialog.applicationPickList.length > 10}">
                                <ul>
                                    <li ng-repeat="app in $ctrl.dialog.applicationPickList">
                                        <a ng-click="$ctrl.onAddApplication(app)"
                                           class="clickable">
                                            <span ng-bind="app.name"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <!-- ADD APP: search -->
                    <div ng-switch-when="SEARCH">
                        <p class="help-block">
                            Search for an application using it's name or asset code
                        </p>
                        <waltz-basic-app-selector on-add="$ctrl.onAddApplication"
                                                  on-cancel="$ctrl.onCloseDialog">
                        </waltz-basic-app-selector>
                    </div>
                </div>

            </div>

            <br>

        </div>
    <div>
</div>
