<div>
    <div class="row">
        <div class="col-md-12">
            <waltz-drill-grid-definition-selector on-select-definition="$ctrl.onSelectDefinition"
                                                  selected-definition="$ctrl.selectedDefinition">
            </waltz-drill-grid-definition-selector>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <waltz-loading-notification show="$ctrl.visibility.loading"
                                        name="Loading data">
            </waltz-loading-notification>
            <br>
            <waltz-no-data ng-if="! $ctrl.visibility.chart && ! $ctrl.visibility.loading">
                <message>
                    <strong>No data</strong> to show.
                    <div ng-if="$ctrl.messages.length > 0">
                        <br>
                        <ul>
                            <li ng-repeat="message in $ctrl.messages">
                                <span ng-bind="message"></span>
                            </li>
                        </ul>
                    </div>
                </message>
            </waltz-no-data>

            <div ng-show="$ctrl.visibility.chart && ! $ctrl.visibility.loading">
                <waltz-drill-grid-chart drill-grid="$ctrl.drillGrid">
                </waltz-drill-grid-chart>
            </div>

        </div>
    </div>

</div>
