.idea
target
node_modules
dist
*.iml
*.ipr
*.iws
*.ids
npm-debug.log
*.log
.settings
*/.classpath
*/.factorypath
**/.project
/docs/development/sample/.asciidoctor/diagram
/docs/design/draft/taxonomy_mapping/distinct.svg
/docs/design/draft/taxonomy_mapping/.asciidoctor/diagram/distinct.svg.cache
/docs/design/draft/taxonomy_mapping/merged.svg
/docs/design/draft/taxonomy_mapping/.asciidoctor/diagram/merged.svg.cache
/.run/
/waltz-ng/.vscode/
pom.xml.versionsBackup
/waltz-test-common/screenshots/
/waltz-ng/mocha-test-results.txt
dependency-reduced-pom.xml