<div class="waltz-physical-flow-editor">
    <table class="waltz-field-table"
           style="width: 100%">
        <colgroup>
            <col width="30%">
            <col width="70%">
        </colgroup>
        <tr>
            <td class="wft-label">
                <label>Criticality</label>
            </td>
            <td>
                <waltz-editable-enum initial-val="$ctrl.physicalFlow.criticality"
                                     enum-kind="physicalFlowCriticality"
                                     on-save="$ctrl.onSaveCriticality"
                                     edit-role="LOGICAL_DATA_FLOW_EDITOR">
                </waltz-editable-enum>
            </td>
        </tr>
        <tr>
            <td class="wft-label">
                <label>Transport</label>
            </td>
            <td>
                <waltz-editable-enum initial-val="$ctrl.physicalFlow.transport"
                                     enum-kind="transportKind"
                                     on-save="$ctrl.onSaveTransport"
                                     edit-role="LOGICAL_DATA_FLOW_EDITOR">
                </waltz-editable-enum>
            </td>
        </tr>
        <tr>
            <td class="wft-label">
                <label>Frequency</label>
            </td>
            <td>
                <waltz-editable-enum initial-val="$ctrl.physicalFlow.frequency"
                                     enum-kind="frequencyKind"
                                     on-save="$ctrl.onSaveFrequency"
                                     edit-role="LOGICAL_DATA_FLOW_EDITOR">
                </waltz-editable-enum>
            </td>
        </tr>
        <tr>
            <td class="wft-label">
                <label>Basis Offset</label>
            </td>
            <td>
                <waltz-editable-field on-save="$ctrl.onSaveBasisOffset"
                                      field-type="text"
                                      initial-val="$ctrl.physicalFlow.basisOffset">
                </waltz-editable-field>
            </td>
        </tr>
        <tr>
            <td class="wft-label">
                <label>Description</label>
            </td>
            <td>
                <waltz-editable-field on-save="$ctrl.onSaveDescription"
                                      field-type="textarea"
                                      initial-val="$ctrl.physicalFlow.description">
                </waltz-editable-field>
            </td>
        </tr>
    </table>
</div>