<table class="table table-condensed small">
    <thead>
    <tr>
        <th>Specification Name</th>
        <th>Consumer</th>
        <th>Format</th>
        <th>Transport</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in $ctrl.candidates"
        class="waltz-visibility-parent">
        <td><span ng-bind="c.specification.name"></span></td>
        <td>
            <a ng-click="$ctrl.onRefocus(c.targetRef)"
               class="clickable"
               ng-bind="c.targetRef.name"></a>
        </td>
        <td><span class='text-muted' ng-bind="c.specification.format"></span></td>
        <td><span class='text-muted' ng-bind="c.physicalFlow.transport"></span></td>
        <td>
            <span class="waltz-visibility-child-30">
                <button ng-click='$ctrl.onAdd(c.physicalFlow.id)'
                        class="btn btn-xs btn-primary">
                    Add
                </button>
            </span>
        </td>
    </tr>
    </tbody>
</table>