<div class="waltz-physical-flow-edit-specification">

    <div class="row small"
         ng-if="$ctrl.visibility.search">
        <div class="col-sm-6 col-sm-offset-2">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">
                    <waltz-icon name="search"></waltz-icon>
                </span>
                <input type="search"
                       class="form-control"
                       ng-model="$ctrl.qry"
                       placeholder="Search...">
            </div>
            <br>
        </div>
    </div>

    <div class="wpfes-table">

        <!-- HEADER -->
        <div class="row wpfes-header">
            <div class="col-md-3">Name</div>
            <div class="col-md-2">External Id</div>
            <div class="col-md-2">Format</div>
            <div class="col-md-5">Description</div>
        </div>

        <!-- EXISTING -->
        <div class="row wpfes-existing-row"
             ng-repeat="candidate in $ctrl.candidates | orderBy:'name' | filter:$ctrl.qry"
             ng-class="{
                'wpfes-current': candidate.id == $ctrl.current.id
             }"
             ng-click="$ctrl.select(candidate)"
             uib-popover-template="'wpfes/popup.html'"
             popover-append-to-body="true"
             popover-trigger="mouseenter"
             popover-popup-delay="200"
             ng-mouseenter="$ctrl.mouseEnterSpecRow(candidate)">
            <div class="col-md-3"><span ng-bind="candidate.name"></span></div>
            <div class="col-md-2"><span ng-bind="candidate.externalId"></span></div>
            <div class="col-md-2"><span ng-bind="candidate.format"></span></div>
            <div class="col-md-5"><span ng-bind="candidate.description"></span></div>
        </div>


        <!-- ADD BUTTON -->
        <div class='row'
             ng-if="$ctrl.visibility.showAddButton">
            <div class="col-md-3">
                <a ng-click='$ctrl.showAddNewForm()'
                   class="clickable">
                    <waltz-icon name="plus"></waltz-icon>
                    Add new
                </a>
            </div>
        </div>


        <!-- ADD FORM -->
        <div ng-if="!$ctrl.visibility.showAddButton"
             class="wpfes-addNewForm">

            <!-- ADD FORM FIELDS -->

            <div class="row">

                <div class="col-md-3">
                    <input type="text"
                           ng-model="$ctrl.form.name"
                           ng-change="$ctrl.validateForm()"
                           required="required"
                           placeholder="Name"
                           class="form-control input-sm">
                </div>
                <div class="col-md-2">
                    <input type="text"
                           name="externalId"
                           ng-model="$ctrl.form.externalId"
                           placeholder="External Id"
                           class="form-control input-sm">
                </div>
                <div class="col-md-2">
                    <select ng-model="$ctrl.form.format"
                            ng-change="$ctrl.validateForm()"
                            name="format">
                        <option ng-repeat="format in $ctrl.formatOptions"
                                value="{{format.code}}"
                                ng-bind="format.name">
                        </option>
                    </select>
                </div>
                <div class="col-md-5">
                    <textarea rows="4"
                              name="description"
                              ng-model="$ctrl.form.description"
                              placeholder="Description"
                              class="form-control input-sm">
                    </textarea>
                </div>
            </div>

        </div>

    </div>


    <hr>

    <div ng-if="!$ctrl.visibility.showAddButton">
        <div class="row">
            <div class="col-md-offset-8 col-md-4">
                <button type="submit"
                        class="btn btn-sm btn-primary"
                        ng-click="$ctrl.doAddNew()"
                        ng-disabled="! $ctrl.validation.canSubmit">
                    <waltz-icon name="check"></waltz-icon>
                    Add and select
                </button>
                &nbsp;
                <a class='clickable'
                   ng-click="$ctrl.cancelAddNew()">
                    Cancel
                </a>

                <div ng-if="$ctrl.validation.message"
                     class="wpfes-error"
                     ng-bind="$ctrl.validation.message">
                </div>
            </div>
        </div>

    </div>

    <div ng-if="$ctrl.visibility.showAddButton">
        <div class="row">
            <div class="col-md-offset-8 col-md-4">
                <a class="clickable"
                   ng-click="$ctrl.cancel()">
                    Cancel
                </a>
            </div>
        </div>
    </div>

</div>


<!-- PHYSICAL SPEC DETAILS POPUP -->
<script type="text/ng-template"
        id="wpfes/popup.html">
    <waltz-no-data ng-if="!$ctrl.popup.specDefinitionFields.length > 0">
        <message>No field information for this physical specification</message>
    </waltz-no-data>

    <div ng-if="$ctrl.popup.specDefinitionFields">

        <div>
            Available fields for <strong ng-bind="candidate.name">
                                 </strong>
            <hr>
        </div>

        <table class="table table-condensed table-striped">
            <colgroup>
                <col width="30%">
                <col width="20%">
                <col width="50%">
            </colgroup>
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="field in $ctrl.popup.specDefinitionFields | orderBy:'position'">
                <td>
                    <span ng-bind="field.name">
                    </span>
                </td>
                <td>
                    <span ng-bind="field.type">
                    </span>
                </td>
                <td>
                    <span ng-bind="field.description">
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</script>