.waltz-physical-flow-edit-specification {

    .wpfes-selected {
        background-color: #c5ccde !important;
        font-weight: bolder;
    }


    .wpfes-error {
        font-size: smaller;
        color: #d60000;
    }


    .wpfes-current {
        background-color: #cfdff0 !important;
        font-weight: bolder;
    }


    .wpfes-addNewForm {
        padding-top: 2px;
    }


    .wpfes-addNewForm-actions {
        padding-top: 8px;
    }


    .wpfes-table {
        font-size: smaller;
        padding: 0 32px 0 32px;

        .wpfes-header {
            font-weight: bolder;
            border-bottom: 1px solid #ccc;
            padding-bottom: 2px;
        }

        .wpfes-existing-row {
            &:hover {
                cursor: pointer;
                background-color: #eee;
            }

            padding-bottom: 2px;
        }
    }
}
