<div class="waltz-tabs">
    <!-- TAB HEADERS -->
    <input type="radio"
           xxng-disabled="! tab.measurables"
           value="linked"
           ng-model="$ctrl.tab"
           name="tab"
           id="linked">
    <label class="wt-label"
           for="linked">
        Linked Diagrams
    </label>
    <input type="radio"
           value="overlay"
           ng-model="$ctrl.tab"
           name="tab"
           id="overlay">
    <label class="wt-label"
           for="overlay">
        Overlay Diagrams
    </label>


    <div class="wt-tab wt-active">
        <div ng-if="$ctrl.tab === 'linked'">
            <waltz-linked-diagrams-panel parent-entity-ref="$ctrl.parentEntityRef"></waltz-linked-diagrams-panel>
        </div>
        <div ng-if="$ctrl.tab === 'overlay'">
            <waltz-svelte-component component="$ctrl.AggregateOverlayDiagramPanel"
                                    primary-entity-ref="$ctrl.parentEntityRef">
            </waltz-svelte-component>
        </div>
    </div>

</div>