<div class="waltz-tabs">
    <!-- TAB HEADERS -->
    <input type="radio"
           ng-disabled="$ctrl.isDisabled($ctrl.TABS.linked)"
           ng-value="$ctrl.TABS.linked.id"
           ng-model="$ctrl.tab"
           name="tab"
           id="linked">
    <label class="wt-label"
           for="linked">
        Linked Diagrams
    </label>
    <input type="radio"
           ng-disabled="$ctrl.isDisabled($ctrl.TABS.overlay)"
           ng-value="$ctrl.TABS.overlay.id"
           ng-model="$ctrl.tab"
           name="tab"
           id="overlay">
    <label class="wt-label"
           for="overlay">
        Overlay Diagrams
    </label>
    <input type="radio"
           ng-disabled="$ctrl.isDisabled($ctrl.TABS.entity)"
           ng-value="$ctrl.TABS.entity.id"
           ng-model="$ctrl.tab"
           name="tab"
           id="entity">
    <label class="wt-label"
           for="entity">
        Entity Diagrams
    </label>


    <div class="wt-tab wt-active">
        <div ng-if="$ctrl.tab === $ctrl.TABS.linked.id">
            <waltz-linked-diagrams-panel parent-entity-ref="$ctrl.parentEntityRef"></waltz-linked-diagrams-panel>
        </div>
        <div ng-if="$ctrl.tab === $ctrl.TABS.overlay.id">
            <waltz-svelte-component component="$ctrl.AggregateOverlayDiagramPanel"
                                    primary-entity-ref="$ctrl.parentEntityRef">
            </waltz-svelte-component>
        </div>
        <div ng-if="$ctrl.tab === $ctrl.TABS.entity.id">
            <waltz-svelte-component component="$ctrl.EntityDiagramPanel"
                                    parent-entity-ref="$ctrl.parentEntityRef">
            </waltz-svelte-component>
        </div>
    </div>
</div>