<span>
    <span ng-if="$ctrl.keywords.length == 0">
        <div ng-transclude="empty">
            -
        </div>
    </span>

    <ul ng-if="$ctrl.keywords.length > 0"
        class="waltz-keyword-list">
        <li ng-repeat="tag in $ctrl.keywords | orderBy"
            ng-click="$ctrl.onTagSelect(tag)"
            class="wkl-keyword"
            ng-class="{ 'clickable': $ctrl.onTagSelect }">
            <span ng-bind="tag.name"></span>
        </li>

        <li class="wkl-last waltz-visibility-parent">
            <div ng-transclude="last"
                 class="waltz-visibility-child-30">
            </div>
        </li>
    </ul>
</span>
