<div>
    <div class="row">
        <div class="col-sm-4">
            <div>
                <div class="waltz-paragraph text-muted small">
                    Use this panel to configure this view:
                </div>

                <h5>
                    <waltz-icon name="filter"></waltz-icon>
                    Authoritative Rating
                </h5>

                <div class="waltz-flow-filter-options-overlay waltz-paragraph small"
                     style="padding-bottom: 4px; margin-left: 1em;">
                    Select one of the following ratings:

                    <div>
                        <div>
                            <label>
                                <input type="checkbox"
                                       ng-model='$ctrl.filterOptions.showPrimary'
                                       ng-change="$ctrl.filterChanged()">
                                <waltz-enum-value type="'AuthoritativenessRating'"
                                                  show-icon="false"
                                                  key="'PRIMARY'">
                                </waltz-enum-value>
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox"
                                       ng-model='$ctrl.filterOptions.showSecondary'
                                       ng-change="$ctrl.filterChanged()">
                                <waltz-enum-value type="'AuthoritativenessRating'"
                                                  show-icon="false"
                                                  key="'SECONDARY'">
                                </waltz-enum-value>
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox"
                                       ng-model='$ctrl.filterOptions.showDiscouraged'
                                       ng-change="$ctrl.filterChanged()">
                                <waltz-enum-value type="'AuthoritativenessRating'"
                                                  show-icon="false"
                                                  key="'DISCOURAGED'">
                                </waltz-enum-value>
                            </label>
                        </div>

                        <div>
                            <label style="border-bottom: 1px dotted #ccc; margin-bottom: 4px; padding-bottom: 4px;">
                                <input type="checkbox"
                                       ng-model='$ctrl.filterOptions.showNoOpinion'
                                       ng-change="$ctrl.filterChanged()">
                                <waltz-enum-value type="'AuthoritativenessRating'"
                                                  show-icon="false"
                                                  key="'NO_OPINION'">
                                </waltz-enum-value>
                            </label>
                        </div>

                        <a class="clickable"
                           ng-click="$ctrl.showAll()">
                            <strong>Show All Flows</strong>
                        </a>
                    </div>
                </div>
            </div>

            <div ng-if="$ctrl.selectedApp">
                <hr>
                <h4 ng-bind="$ctrl.selectedApp.name"></h4>

                <a ui-sref="main.app.view ({ id: $ctrl.selectedApp.id })">
                    More &raquo;
                </a>

                <waltz-app-centric-flow-table app="$ctrl.selectedApp"
                                              flows="$ctrl.flowData.flows"
                                              decorators="$ctrl.flowData.decorators"
                                              data-data-types="$ctrl.dataTypes"
                                              on-select="$ctrl.refocusApp">
                </waltz-app-centric-flow-table>
            </div>

        </div>
        <div class="col-sm-8">
            <div ng-if="$ctrl.flowData.entities.length == 0">
                <div class="alert alert-warning">
                    <strong>No data to show</strong> given the current filter options.
                </div>
            </div>


            <div ng-if="$ctrl.flowData.entities.length >= 200 && !$ctrl.visibility.ignoreLimits">
                <div class="alert alert-warning">
                    This graph will have <strong>too many nodes</strong> to render smoothly.
                    Use the configure button too limit the amount of data to show.  Alternatively
                    the data is available via the 'Table' tab.

                    <br>

                    If you still want to see the graph click
                    <a class="clickable" ng-click="$ctrl.visibility.ignoreLimits = true">here</a>
                    - however be aware that your machine may struggle.
                </div>
            </div>

            <div ng-if="$ctrl.flowData.flows.length > 0">
                <div ng-if="$ctrl.flowData.entities.length < 200  || $ctrl.visibility.ignoreLimits"
                     style="border: 1px solid #ccc">
                    <waltz-logical-flow-diagram data="$ctrl.flowData"
                                                tweakers="$ctrl.graphTweakers">
                    </waltz-logical-flow-diagram>
                    <div class="small text-muted">
                        Dragging nodes will pin them.  Double click to unpin.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
