<div>
    <ui-select ng-model="$ctrl.selected"
               on-select="$ctrl.onChange($item, $model)"
               ng-disabled="$ctrl.disabledCondition"
               theme="bootstrap">
        <ui-select-match placeholder="Select a kind of bookmark...">
            <span ng-bind="$ctrl.selected | toDisplayName:'BookmarkKind'"></span>
        </ui-select-match>
        <ui-select-choices repeat="kind in $ctrl.kinds | filter:$select.search">
            <waltz-icon name="{{kind.icon}}"
                        style="display: inline">
            </waltz-icon>
            <span ng-bind="kind.name"></span>
        </ui-select-choices>
    </ui-select>
</div>
