<div class="row waltz-logical-flows-tabgroup">
    <div class="col-md-12">
        <uib-tabset active="active">
            <uib-tab index="0"
                     heading="Summary"
                     select="$ctrl.tabSelected('summary', 0)">
                <div class="row">
                    <div class="col-sm-4">
                        <br>
                        <waltz-flow-cloud-diagram
                            width="300"
                            height="300"
                            stats="$ctrl.stats">
                        </waltz-flow-cloud-diagram>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <waltz-logical-flows-data-type-summary-pane stats="$ctrl.stats">
                        </waltz-logical-flows-data-type-summary-pane>
                    </div>
                </div>
            </uib-tab>

            <!-- GRAPH -->
            <uib-tab index="1"
                     heading="Graph"
                     select="$ctrl.tabSelected('graph', 1)">
                <br>

                <div ng-if="$ctrl.currentTabIndex == 1">
                    <waltz-logical-flows-boingy-graph parent-entity-ref="$ctrl.parentEntityRef">
                    </waltz-logical-flows-boingy-graph>
                </div>

            </uib-tab>

            <!-- TABLE -->
            <uib-tab index="2"
                     heading="Table"
                     select="$ctrl.tabSelected('table', 2)">
                <br>
                <waltz-loading-notification show="$ctrl.visibility.loadingFlows"
                                            name="Loading Flow Data">
                </waltz-loading-notification>
                <div ng-if="$ctrl.currentTabIndex == 2">
                    <div style="height: 300px">
                        <waltz-logical-flow-table flows="$ctrl.flows"
                                                  decorators="$ctrl.decorators"
                                                  on-initialise="$ctrl.onTableInitialise">
                        </waltz-logical-flow-table>
                    </div>
                    <div style="padding: 0.3em; border-top: 1px solid #eee"
                         class="pull-right">
                        <waltz-data-extract-link name="Export"
                                                 styling="link"
                                                 filename="logical-flows.csv"
                                                 extract="logical-flows"
                                                 method="POST"
                                                 request-body="$ctrl.selector">
                        </waltz-data-extract-link>
                    </div>
                </div>

                <div ng-if="$ctrl.filteredFlowData.flows.length == 0 && $ctrl.flows.length > 0">
                    <div class="alert alert-warning">
                        <strong>No data to show</strong> given the current filter options.  Use the
                        configure button above to adjust these options.
                    </div>
                </div>

            </uib-tab>


        </uib-tabset>
    </div>
</div>

<script type="text/ng-template"
        id="wlft-summary-popup.html">
    <div class="small">
        <strong ng-bind="summary.title"></strong>

        <table class="table table-condensed small" style="margin-top: 0.4em">
            <tr ng-repeat="d in summary.summary">
                <td>
                    <span ng-bind="d.key == 'KNOWN' ? 'Known' : 'Unknown'"></span>
                </td>
                <td><span ng-bind="d.count"></span></td>
            </tr>
        </table>
    </div>

</script>