@import "../../style/animations";

.waltz-basic-info-tile {
    width: 100%;
    text-align: center;
    box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 1px;
    border-top: 1px solid #f9f9f4;
    transition: box-shadow ease-in-out $animation-speed;
    margin-bottom: 16px;

    &:hover {
        box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);
    }

    &:hover .wbit-title {
        color: #858585;
    }

    th {
        text-align: center;
    }

    .wbit-description {
        padding: 3px 12px;
    }

    .wbit-title {
        padding-top: 2px;
        padding-left: 8px;
        padding-bottom: 2px;
        font-size: 12px;
        font-weight: 700;
        color: #959595;
        letter-spacing: 1px;
        border-bottom: 1px solid #f9f9f4;
        background: linear-gradient(270deg, rgb(254, 254, 254) 50%, #f9f9f4 100%);
        transition: font-weight ease-in $animation-speed;

        .wbit-sub-title {
            @extend .wss-name;
            font-size: 9px;
        }
    }

    .wbit-content {
        margin: 6px;
    }
}

