<div class="waltz-visibility-parent">
    <div ng-if="! $ctrl.editing">
        <span ng-bind="$ctrl.initialVal"></span>

        <a ng-click="$ctrl.edit()"
                class="btn btn-xs waltz-visibility-child-30">
            <waltz-icon name="pencil"></waltz-icon>
            <span ng-bind="$ctrl.buttonLabel"></span>
        </a>
    </div>

    <div ng-if="$ctrl.editing" style="border-radius: 3px; border: 1px solid #eee; background-color: #fafafa; padding: 10px">

        <div ng-if="$ctrl.fieldType == 'text'">
            <input type="text"
                   ng-model="$ctrl.newVal"
                   class="form-control input-sm">
        </div>

        <div ng-if="$ctrl.fieldType == 'textarea'">
            <textarea ng-model="$ctrl.newVal"
                      class="form-control input-sm">
            </textarea>
        </div>

        <div ng-if="$ctrl.fieldType == 'boolean'">
            <input type="checkbox"
                   ng-model="$ctrl.newVal"
                   class="input-sm"
                   style="height: auto">
        </div>

        <div style="margin-top: 4px">
            <button class="btn btn-xs btn-success"
                    ng-disabled="$ctrl.saving"
                    ng-click="$ctrl.save()">
                <waltz-icon name="check"></waltz-icon>
                Update
            </button>
            <button class="btn btn-xs"
                    ng-click="$ctrl.cancel()"
                    ng-if="!$ctrl.saving">
                <waltz-icon name="times"></waltz-icon>
                Cancel
            </button>
            <span ng-if="$ctrl.saving">
                <waltz-icon name="spinner"
                            spin="true">
                </waltz-icon>
            </span>
            <span ng-if="$ctrl.errorMessage.length > 0"
                  ng-bind="$ctrl.errorMessage"
                  class="waltz-error">
            </span>
        </div>
    </div>
</div>