<div class="waltz-visibility-parent">
    <div ng-if="! $ctrl.editing">
        <span ng-switch="$ctrl.fieldType">
            <span ng-switch-when="person">
                <waltz-entity-link entity-ref="$ctrl.newVal">
                </waltz-entity-link>
            </span>
            <span ng-switch-when="logical-data-element">
                <waltz-entity-link entity-ref="$ctrl.newVal"
                                   icon-placement="none">
                </waltz-entity-link>
            </span>
            <span ng-switch-when="date">
                <span ng-bind="$ctrl.initialVal | date:'{{ $ctrl.dateFormat }}'">
                </span>
            </span>
            <span ng-switch-when="textarea">
                <waltz-markdown text="$ctrl.initialVal">
                </waltz-markdown>
            </span>
            <span ng-switch-default>
                <span ng-bind="$ctrl.initialVal">
                </span>
            </span>
        </span>

        <span ng-bind="$ctrl.emptyLabel"
              ng-if="$ctrl.newVal == null">
        </span>

        <a ng-click="$ctrl.edit()"
           ng-if="$ctrl.editRole"
           waltz-has-role="{{ $ctrl.editRole }}"
           class="btn btn-xs waltz-visibility-child-30">
            <waltz-icon name="pencil"></waltz-icon>
            <span ng-bind="$ctrl.buttonLabel"></span>
        </a>
        <a ng-click="$ctrl.edit()"
           ng-if="! $ctrl.editRole"
                class="btn btn-xs waltz-visibility-child-30">
            <waltz-icon name="pencil"></waltz-icon>
            <span ng-bind="$ctrl.buttonLabel"></span>
        </a>
    </div>

    <div ng-if="$ctrl.editing" style="border-radius: 3px; border: 1px solid #eee; background-color: #fafafa; padding: 10px">

        <div ng-if="$ctrl.fieldType === 'text'">
            <input type="text"
                   ng-model="$ctrl.newVal"
                   class="form-control input-sm">
        </div>

        <div ng-if="$ctrl.fieldType === 'textarea'">
            <textarea ng-model="$ctrl.newVal"
                      class="form-control input-sm">
            </textarea>
        </div>

        <div ng-if="$ctrl.fieldType === 'boolean'">
            <input type="checkbox"
                   ng-model="$ctrl.newVal"
                   class="input-sm"
                   style="height: auto">
        </div>

        <div ng-if="$ctrl.fieldType === 'person'">
            <waltz-entity-selector current-selection="$ctrl.newVal"
                                   on-select="$ctrl.entitySelect"
                                   entity-kinds="['PERSON']"
                                   item-id="$ctrl.itemId">
            </waltz-entity-selector>
        </div>

        <div ng-if="$ctrl.fieldType === 'logical-data-element'">
            <waltz-entity-selector current-selection="$ctrl.newVal"
                                   on-select="$ctrl.entitySelect"
                                   entity-kinds="['LOGICAL_DATA_ELEMENT']"
                                   item-id="$ctrl.itemId"
                                   clearable="true">
            </waltz-entity-selector>
        </div>

        <div ng-if="$ctrl.fieldType === 'date'">
            <waltz-date-picker-form-input place-holder="{{ $ctrl.dateFormat }}"
                                          format="{{ $ctrl.dateFormat }}"
                                          model="$ctrl.newVal">
            </waltz-date-picker-form-input>
        </div>

        <div style="margin-top: 4px">
            <button class="btn btn-xs btn-success"
                    ng-disabled="$ctrl.saving"
                    ng-click="$ctrl.save()">
                <waltz-icon name="check"></waltz-icon>
                <span ng-bind="$ctrl.saveLabel"></span>
            </button>
            <button class="btn btn-xs"
                    ng-click="$ctrl.cancel()"
                    ng-if="!$ctrl.saving">
                <waltz-icon name="times"></waltz-icon>
                Cancel
            </button>
            <span ng-if="$ctrl.saving">
                <waltz-icon name="spinner"
                            spin="true">
                </waltz-icon>
            </span>
            <span ng-if="$ctrl.errorMessage.length > 0"
                  ng-bind="$ctrl.errorMessage"
                  class="waltz-error">
            </span>
        </div>
    </div>
</div>