<div
    style="border-radius: 3px; border: 1px solid rgb(238, 238, 238); background-color: rgb(250, 250, 250); padding: 10px;">

    <tags-input class="bootstrap"
                ng-model="$ctrl.working"
                replace-spaces-with-dashes="false"
                on-tag-added="$ctrl.save()"
                on-tag-removed="$ctrl.save()"
                ng-keydown="$ctrl.onKeyDown($event)"
                placeholder="Edit">

        <auto-complete
            ng-if="$ctrl.autoComplete"
            source="$ctrl.loadExistingTags($query)"
            min-length="0"
            load-on-focus="true"
            load-on-empty="true"
            max-results-to-show="10">
        </auto-complete>

    </tags-input>

    <div style='margin-top: 4px'>
        <button class="btn btn-xs"
                ng-click="$ctrl.onCancel()">
            <waltz-icon name="close"></waltz-icon>
            Close
        </button>
    </div>
</div>