<span>
    <span ng-if="$ctrl.keywords.length == 0">
        <div ng-transclude="empty"></div>
    </span>

    <ul ng-if="$ctrl.keywords.length > 0"
        class="waltz-keyword-list">
        <li ng-repeat="keyword in $ctrl.keywords | orderBy"
            ng-click="$ctrl.onSelect({keyword: keyword})"
            class="wkl-keyword"
            ng-class="{ 'clickable': $ctrl.onSelect }">
            <span ng-bind="keyword"></span>
        </li>

        <li class="wkl-last waltz-visibility-parent">
            <div ng-transclude="last"
                 class="waltz-visibility-child-30">
            </div>
        </li>
    </ul>
</span>
