$waltz-keyword-color: #2e6d8e;
$waltz-keyword-background-color: #e4edf4;
$waltz-keyword-border-color: #c7cfd5;

// -------

.waltz-keyword-list {
    list-style: none;
    padding-left: 0;

    li {
        display: inline-block;
        padding: 2px 4px 2px 4px;
        margin: 1px 6px 1px 0;
        white-space: nowrap;
    }

    .wkl-keyword {
        color: $waltz-keyword-color;
        background: $waltz-keyword-background-color;
        border: 1px solid $waltz-keyword-border-color;
        border-radius: 2px;
    }
}
