@import "../../style/variables";
@import "../../style/util";


.waltz-page-header {

    background-color: $waltz-section-background-color;


    @include waltz-box-shadow();

}


.waltz-page-header.wph-free {
    padding: 6px 6px 6px 16px;
    border-top-left-radius: 10px;
    height: 80px;
    border-top-right-radius: 10px;
    margin-bottom: 12px;
    border: 1px solid $waltz-border-color-lighter;

    h2 {
        margin-top: 6px;
        margin-bottom: 4px;
        @include transition(font-size 0.4s);
    }

    @include transition(height 0.2s);
}



.waltz-page-header.wph-sticky {
    width: 100%;
    height: 30px;
    overflow: hidden;
    position: fixed;
    top: 50px;
    left: 0px;
    z-index: 999;
    border-bottom: 2px solid $waltz-border-color-lighter;

    h2 {
        margin: 4px;
        padding-top: 2px;
        padding-left: 36px;
        font-size: medium;
        display: inline-block;

        @include transition(font-size 0.4s);
    }

    ul {
        float: right;
        display: inline-block;
    }

    @include transition(height 0.4s);


}

