.waltz-pie-segment-table {
    text-align: left;
    min-width: 100%;

    td {
        border: 0px;
        padding: 4px;
    }

    tr {
        border-width: 0 1px;
        border-color: #fff;
        border-style: solid;
    }

    .wpst-total-row {
        border-top: 1px solid #ccc;
    }

    .wpst-number-col {
        text-align: right;
    }

    .wpst-indicator-cell {
        position: relative;
        top: -2px;
        width: 16px;
        border: 1px solid;
        border-radius: 5px;
    }

    .wpst-selected {
        background: #eee;
        border-width: 0 1px;
        border-color: #bbb;
        border-style: solid;
    }
}