<div>
    <div class="row">
        <div class="col-md-11">

            <h4>
                <i>Datatypes sent from:</i>
                <waltz-entity-icon-label entity-ref="$ctrl.flow.source"></waltz-entity-icon-label>
                <i style="padding: 4px"> to:</i>
                <waltz-entity-icon-label entity-ref="$ctrl.flow.target"></waltz-entity-icon-label>
            </h4>

            <!-- DATA TYPE OPTIONS -->
            <waltz-multi-select-tree-control items="$ctrl.allDataTypes"
                                             on-click="$ctrl.toggleTypeChecked"
                                             on-check="$ctrl.typeChecked"
                                             on-uncheck="$ctrl.typeUnchecked"
                                             checked-item-ids="$ctrl.checkedItemIds"
                                             expanded-item-ids="$ctrl.expandedItemIds">
                <strong ng-bind="node.name"
                        uib-popover-template="'wlfte-popup.html'"
                        popover-popup-delay="300"
                        popover-append-to-body="true"
                        popover-trigger="mouseenter">
                </strong>
            </waltz-multi-select-tree-control>

            <!-- ACTIONS -->
            <div class="pull-right">
                <button class="btn btn-success"
                        ng-disabled="! $ctrl.canSave()"
                        ng-click="$ctrl.save()">
                    Apply
                </button>
                <button class="btn btn-danger"
                        ng-click="$ctrl.delete()">
                    Delete
                </button>
                <a href
                   ng-click="$ctrl.cancel()">
                    Cancel
                </a>
            </div>

        </div>
    </div>

    <script type="text/ng-template"
            id="wlfte-popup.html">
        <strong ng-bind="node.name"></strong>
        <p class="small text-muted"
           ng-bind="node.description">
        </p>
        <div class="alert alert-warning small" ng-if="!node.concrete">
            Direct mappings have been disabled for this data type.
            <span ng-if="$ctrl.checkedItemIds.indexOf(node.id) > -1">
                Please remove this mapping by selecting a more specific sub type.
            </span>
        </div>
    </script>
</div>