<div>

    <!-- HEADER -->
    <waltz-page-header icon="user"
                       name="{{ ctrl.person.displayName }}">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li><a ui-sref="main.person">People</a></li>
            <li><span ng-bind="ctrl.person.displayName"></span></li>
        </ol>
    </waltz-page-header>


    <!-- Non visual control to watch for filter changes -->
    <waltz-filter-change-watcher on-filters-changed="ctrl.filtersChanged">
    </waltz-filter-change-watcher>


    <!-- SUMMARY -->
    <waltz-person-summary parent-entity-ref="ctrl.entityRef"
                          filters="ctrl.filters"
                          ng-if="ctrl.entityRef">
    </waltz-person-summary>


    <!-- NAVIGATION -->
    <div class="waltz-page-summary waltz-page-summary-attach">
        <waltz-dynamic-section-navigation available-sections="ctrl.availableSections"
                                          open-sections="ctrl.sections"
                                          on-select="ctrl.addSection"
                                          ng-if="ctrl.entityRef">
        </waltz-dynamic-section-navigation>

        <waltz-no-data ng-if="!ctrl.entityRef">
            <message>No information for this person</message>
        </waltz-no-data>
    </div>

    <br>

    <waltz-dynamic-sections-view sections="ctrl.sections"
                                 parent-entity-ref="ctrl.entityRef"
                                 filters="ctrl.filters"
                                 on-remove="ctrl.removeSection"
                                 ng-if="ctrl.entityRef">
    </waltz-dynamic-sections-view>

</div>