<div>
    <waltz-page-header name="Rating Indicator" small="waltz-rating-indicator">
    </waltz-page-header>

    <waltz-section name="Demo">
        <div ng-init="rating='OFF'">
            <button class='btn' ng-click="rating='PRIMARY'">Primary</button>
            <button class='btn' ng-click="rating='SECONDARY'">Secondary</button>
            <button class='btn' ng-click="rating='OFF'">-none-</button>
        </div>
        <br>
        <waltz-rating-indicator value="{{ rating }}"></waltz-rating-indicator>
    </waltz-section>

    <waltz-section name="Example Code">
        <pre>
&lt;waltz-rating-indicator value="{{rating}}">&lt;/waltz-rating-indicator>
        </pre>
        Where rating = <code>PRIMARY</code>, <code>SECONDARY</code>
    </waltz-section>

</div>
