<div>
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th width="25%">
                                Function
                            </th>
                            <th width="20%">
                                Rating</th>
                            <th width="35%">
                                Usage Comment
                            </th>
                            <th width="20%">
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody ng-if="$ctrl.currentUsage.length === 0">
                        <tr>
                            <td colspan="4">
                                <waltz-icon name="warning"></waltz-icon>
                                No functions registered against this application
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr class="waltz-visibility-parent"
                            ng-repeat="usage in $ctrl.currentUsage | orderBy:'capability.name'">
                            <td>
                                <span class='wce-name'
                                      uib-popover="{{ usage.capability.description }}"
                                      popover-trigger="mouseenter"
                                      popover-placement="right"
                                      ng-bind="usage.capability.name">
                                </span>
                            </td>
                            <td>
                                <waltz-rating-indicator-cell label="usage.rating | toDisplayName:'applicationRating'"
                                                             rating="usage.rating">
                                </waltz-rating-indicator-cell>
                            </td>
                            <td>
                                <span class='small'
                                      ng-bind="usage.description">
                                </span>
                            </td>
                            <td class="waltz-visibility-child-30">
                                <a class="waltz-action-link"
                                   ng-click="$ctrl.showEdit(usage)">
                                    Edit
                                </a>
                                |
                                <a class="waltz-action-link"
                                   ng-click="$ctrl.onRemove(usage)">
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr ng-hide="$ctrl.saving || $ctrl.mode === 'ADD'">
                            <td colspan="3">
                            </td>
                            <td>
                                <a class="clickable"
                                   ng-click="$ctrl.showAddNew()">
                                    <waltz-icon name="plus"></waltz-icon>
                                    Add
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div ng-if="$ctrl.selected != null">
                <waltz-app-capability-usage-editor app-capability="$ctrl.selected"
                                                   capabilities="$ctrl.capabilities"
                                                   current-usage="$ctrl.currentUsage"
                                                   on-save="$ctrl.onSave"
                                                   on-cancel="$ctrl.cancelEdit">
                </waltz-app-capability-usage-editor>
            </div>
        </div>

    </div>


</div>