<div class="wmt-search-region">
    <waltz-icon name="search"
                ng-class="{
                    'wmt-search-active' : $ctrl.searchTerms.length > 0,
                    'wmt-search-inactive' : $ctrl.searchTerms.length == 0
                }">
    </waltz-icon>
    <input type='search'
           class="form-control"
           name="searchTerms"
           ng-model="$ctrl.searchTerms"
           ng-change="$ctrl.searchTermsChanged($ctrl.searchTerms)"
           ng-model-options="{ debounce: 200 }"
           placeholder="Search">
    &nbsp;
    <waltz-icon name="close"
                style="color: darkred"
                ng-if="$ctrl.searchTerms.length > 0"
                class="clickable"
                ng-click="$ctrl.clearSearch()">
    </waltz-icon>
</div>

<treecontrol class="tree-light"
             tree-model="$ctrl.hierarchy"
             options="$ctrl.treeOptions"
             expanded-nodes="$ctrl.expandedNodes"
             order-by="'-name'">
    <span uib-popover-template="'wmt/measurable-popup.html'"
          popover-append-to-body="true"
          popover-placement="right"
          popover-trigger="mouseenter click"
          popover-enable="node.totalCount > 0 || node.description"
          popover-popup-delay="200"
          ng-class="{ 'text-muted': node.rating == null }"
          class="no-overflow">
        <span ng-if="$ctrl.onSelect"
              class="clickable"
              ng-click="$ctrl.onSelect(node)">
            <span ng-include="'wmt/measurable-node.html'"></span>
        </span>
        <a ng-if="!$ctrl.onSelect"
           ui-state="$ctrl.linkToState"
           ui-state-params="{id: node.id }">
            <span ng-include="'wmt/measurable-node.html'"></span>
        </a>
    </span>
</treecontrol>


<!-- SUB-COMPONENTS -->

<!-- DESCRIPTION POPUP -->
<script type="text/ng-template"
        id="wmt/measurable-popup.html">
    <div class="small">
        <waltz-markdown text="node.description"></waltz-markdown>
        <div ng-if="node.totalCount > 0" class="small text-muted">
            <hr>
            <span ng-bind="node.totalCount"></span> applications
        </div>
    </div>
</script>

<!-- NODE CONTENT -->
<script type="text/ng-template"
        id="wmt/measurable-node.html">
    <span ng-class="{ 'italics' : ! node.concrete }"
          ng-bind="node.name">
    </span>
    <span class="wmt-bar-chart"
          ng-if="node.totalCount > 0"
          ng-style="{width: $ctrl.chartScale(node.totalCount) + 'px'}">
    </span>
</script>