<div>
    Show flows for data type:
    <select ng-model="ctrl.types.selected"
            ng-change="ctrl.show(ctrl.types.selected)">
        <option value="ALL">
            All
        </option>
        <option ng-repeat="type in ctrl.types.available | orderBy"
                value="{{ type }}">
            {{ type | toDisplayName:'dataType' }}
        </option>
    </select>

    <hr/>

    <waltz-data-flow-diagram data="ctrl.currentData"
                             tweakers="ctrl.tweakers">
    </waltz-data-flow-diagram>

</div>
