<div>
    <treecontrol class="tree-light"
                 tree-model="ctrl.tree"
                 order-by="name"
                 expanded-nodes="ctrl.expandedNodes"
                 on-selection="ctrl.onNodeSelect(node)"
                 options="ctrl.treeOptions">
            <span class="waltz-visibility-parent">

                <strong>
                    <span ng-if="ctrl.hasOwnApps(node)"
                          ng-bind="node.name">
                    </span>
                    <i ng-bind="node.name"
                       ng-if="! ctrl.hasOwnApps(node)">
                    </i>
                </strong>

                <a ui-sref="main.org-unit.view ({id: node.id })">

                    <span class="waltz-visibility-child-50">
                        <span ng-if="ctrl.hasAnyApps(node)"
                              class="small waltz-app-tally-count"
                              title="Number of applications">

                            <span ng-if="ctrl.hasOwnApps(node)">
                                <span ng-bind="node.appCount"></span>
                            </span>

                            <i ng-if="ctrl.hasInheritedApps(node)">
                                (<span ng-bind="node.totalAppCount"></span>)
                            </i>
                        </span>
                    </span>
                    &nbsp;
                    <span class="waltz-visibility-child-50">
                        <span ng-if="ctrl.hasAnyEndUserApps(node)"
                              class="small waltz-end-user-app-tally-count"
                              title="Number of applications">

                            <span ng-if="ctrl.hasOwnEndUserApps(node)">
                                <span ng-bind="node.endUserAppCount"></span>
                            </span>

                            <i ng-if="ctrl.hasInheritedEndUserApps(node)">
                                (<span ng-bind="node.totalEndUserAppCount"></span>)
                            </i>
                        </span>
                    </span>
                    &nbsp;
                    <strong class="waltz-visibility-child-30">
                            Show &raquo;
                    </strong>
                </a>
            </span>
    </treecontrol>
</div>