<div class="waltz-non-auth-sources-table">
    <div class="row">
        <div class="col-md-12">
            <div ng-class="{'waltz-scroll-region-350': $ctrl.nonAuthSources.length > 11 }">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Data Type</th>
                        <th>Application</th>
                        <th>Consumers</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="group in $ctrl.nonAuthSourcesTable">
                    <tr ng-repeat="source in group.values"
                        class="waltz-visibility-parent">
                        <td>
                            <span ng-class="{ 'waltz-visibility-child-30': !$first }">
                                <waltz-entity-link entity-ref="source.dataType"></waltz-entity-link>
                            </span>
                        </td>
                        <td>
                            <waltz-entity-link entity-ref="source.source"></waltz-entity-link>
                        </td>
                        <td>
                            <span ng-bind="source.count"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
