<div>
    <uib-tabset ng-if="$ctrl.specDefinition.def"
                active="1">

        <!-- GENERAL -->
        <uib-tab index="0"
                 heading="General">
            <div class="row">
                <br>
                <div class="col-sm-2 waltz-display-field-label">
                    Version
                </div>
                <div class="col-sm-10">
                    <span ng-bind="$ctrl.specDefinition.def.version"></span>
                    <span ng-if="$ctrl.specDefinition.def.status === 'ACTIVE'">
                        - <i>Latest</i>
                    </span>
                    <div waltz-has-role="LOGICAL_DATA_FLOW_EDITOR">
                        <div class="btn-group"
                             uib-dropdown
                             is-open="status.isopen">
                            <span ng-if="$ctrl.selectableDefinitions.length > 0">
                                -
                                <a class="clickable"
                                   uib-dropdown-toggle>
                                    link to a different version <span class="caret"></span>
                                </a>
                            </span>
                            <ul class="dropdown-menu"
                                uib-dropdown-menu
                                role="menu">
                                <li ng-repeat="def in $ctrl.selectableDefinitions | orderBy: 'createdAt':true"
                                    role="menuitem">
                                    <a class="clickable"
                                       ng-click="$ctrl.definitionSelected(def)">
                                        <span ng-bind="def.version"></span>
                                        -
                                        <span ng-bind="def.status | toDisplayName: 'releaseLifecycleStatus'"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <br>
                <div class="col-sm-2 waltz-display-field-label">
                    Status
                </div>
                <div class="col-sm-4">
                    <span ng-bind="$ctrl.specDefinition.def.status | toDisplayName: 'releaseLifecycleStatus'"></span>
                </div>
                <div class="col-sm-2 waltz-display-field-label">
                    Type
                </div>
                <div class="col-sm-4">
                    <span ng-bind="$ctrl.specDefinition.def.type | toDisplayName: 'physicalSpecDefinitionType'"></span>
                </div>
            </div>

            <div class="row"
                 style="margin-bottom:20px;">
                <br>
                <div class="col-sm-2 waltz-display-field-label">
                    Created By
                </div>
                <div class="col-sm-4">
                    <span ng-bind="$ctrl.specDefinition.def.createdBy"></span>,
                    <waltz-from-now timestamp="$ctrl.specDefinition.def.createdAt">
                    </waltz-from-now>
                </div>
                <div class="col-sm-2 waltz-display-field-label">
                    Updated By
                </div>
                <div class="col-sm-4">
                    <span ng-bind="$ctrl.specDefinition.def.lastUpdatedBy"></span>,
                    <waltz-from-now timestamp="$ctrl.specDefinition.def.lastUpdatedAt">
                    </waltz-from-now>
                </div>
            </div>
        </uib-tab>

        <!-- FIELDS -->
        <uib-tab index="1"
                 heading="Fields">
            <br>
            <table class="table table-condensed table-striped">
                <colgroup>
                    <col width="27%">
                    <col width="7%">
                    <col width="33%">
                    <col width="33%">
                </colgroup>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Logical Element</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="field in $ctrl.specDefinition.fields | orderBy:'position'">
                    <td>
                        <span ng-bind="field.name">
                        </span>
                    </td>
                    <td>
                        <span ng-bind="field.type">
                        </span>
                    </td>
                    <td>
                        <waltz-editable-field on-save="$ctrl.updateDescription"
                                              field-type="textarea"
                                              initial-val="field.description"
                                              item-id="field.id">
                        </waltz-editable-field>
                    </td>
                    <td>
                        <waltz-editable-field on-save="$ctrl.updateLogicalElement"
                                              field-type="logical-data-element"
                                              initial-val="$ctrl.logicalDataElementsById[field.logicalDataElementId]"
                                              item-id="field.id">
                        </waltz-editable-field>
                    </td>
                </tr>
                </tbody>
            </table>
        </uib-tab>

        <!-- SAMPLE FILE -->
        <uib-tab index="2"
                 heading="Sample File">
            <br>
            <div ng-if="$ctrl.specDefinition.sampleFile">
                <div class="row">
                    <div class="col-sm-2 waltz-display-field-label">
                        Name
                    </div>
                    <div class="col-sm-4">
                        <span ng-bind="$ctrl.specDefinition.sampleFile.name"></span>
                    </div>
                </div>

                <div class="row">
                    <br>
                    <div class="col-sm-2 waltz-display-field-label">
                        Sample Data
                    </div>
                    <div class="col-sm-10">
                        <div ng-bind="$ctrl.specDefinition.sampleFile.fileData"
                             class="waltz-scroll-region-350"
                             style="white-space: pre;font-family: monospace">
                        </div>
                    </div>
                </div>
            </div>

            <waltz-no-data ng-if="! $ctrl.specDefinition.sampleFile">
                <message>
                    <strong>No sample file</strong> uploaded for this physical specification definition.
                </message>
            </waltz-no-data>
        </uib-tab>
    </uib-tabset>

    <waltz-no-data ng-if="! $ctrl.specDefinition.def">
        <message>
            <div ng-transclude="noDataMessage"></div>
        </message>
    </waltz-no-data>
</div>