$outer-node-fill: #f0fff1;

.waltz-related-measurables-viz {
    text {
        filter: url('#waltz-outline'); // defined in common-svg-defs
    }
    circle {
        filter: url('#waltz-glow'); // defined in common-svg-defs
        stroke-width: 1.4;
    }
    .wrmv-outer-node {

        &.wrmv-selected {
            circle {
                stroke-width: 8;
            }
        }

        &:hover:not(.wrmv-selected) {
            cursor: pointer;
            circle {
                stroke-width: 2;
            }
        }

        &.has-relationships {
            circle {
                stroke: #9ed18f;
                fill: $outer-node-fill;
                &:hover {
                    fill: darken($outer-node-fill, 1.8)
                }
            }
        }

        &.no-relationships {
            circle {
                stroke: #999;
                fill: #fafafa;
            }
            text {
                fill: #666;
            }
        }
        .detail {
            font-size: small;
        }
    }

    .wrmv-center-node {
        .name {
        }
        .detail {
            font-size: small;
            fill: #666;
        }
        circle {
            stroke: #8997a1;
            fill: #fafafa;
        }
        &:hover {
            cursor: pointer;
        }
    }

}
