<span class="waltz-entity-icon-label"
      uib-popover-template="$ctrl.popoverTemplate"
      popover-trigger="{{$ctrl.trigger}}"
      popover-enable="$ctrl.tooltipPlacement !== 'none'"
      popover-popup-delay="{{$ctrl.popoverDelay}}"
      popover-append-to-body="true"
      popover-placement="{{ $ctrl.tooltipPlacement }}" >
    <waltz-icon fixed-width="true"
                name="{{ $ctrl.entityRef.kind | toIconName:'entity' }}"
                ng-if="$ctrl.iconPlacement === 'left'"
                style="color: #332b23;">
    </waltz-icon>

    <span data-testid="entity-name"
          ng-class="{
            'weil-entity-removed': $ctrl.entityRef.entityLifecycleStatus === 'REMOVED',
            'weil-entity-pending': $ctrl.entityRef.entityLifecycleStatus === 'PENDING'
          }">
        <span ng-bind="$ctrl.entityRef.name"
              ng-if="$ctrl.entityRef.name">
        </span>
        <span ng-if="!$ctrl.entityRef.name">-</span>
    </span>

    <span data-testid="entity-external-id"
          ng-if="$ctrl.showExternalId && $ctrl.entityRef.externalId"
          ng-bind="$ctrl.entityRef.externalId"
          class="small text-muted">
    </span>

    <waltz-icon fixed-width="true"
                name="{{ $ctrl.entityRef.kind | toIconName:'entity' }}"
                ng-if="$ctrl.iconPlacement === 'right'"
                style="color: #332b23;">
    </waltz-icon>

</span>


<script type="text/ng-template"
        id="weil-popover-basic">
    <div>
        <div class="weil-description">
            <div class="weil-description-fade">
            </div>
            <waltz-markdown text="$ctrl.entityRef.description"></waltz-markdown>
        </div>
        <div ng-if="$ctrl.entityRef.entityLifecycleStatus"
             class="small"
             style="padding-top: 12px">
            <table class="table table-condensed">
                <tr>
                    <td><span class="text-muted">Status</span></td>
                    <td><span ng-bind="$ctrl.entityRef.entityLifecycleStatus | toDisplayName:'entityLifecycleStatus'"></span></td>
                </tr>
                <tr ng-repeat="item in $ctrl.additionalDisplayData">
                    <td><span class="text-muted" ng-bind="item.name"></span></td>
                    <td><span ng-bind="item.value"></span></td>
                </tr>
            </table>
        </div>
    </div>
</script>


<!-- CUSTOM -->
<script type="text/ng-template"
        id="weil-popover-custom">
    <div ng-init="$ctrl.lazyLoad()"
         style="overflow-wrap: break-word"
         class="small">
        <div ng-if="!$ctrl.ready">Loading...</div>
        <div ng-if="$ctrl.ready">
            <h5>
                <span ng-bind="$ctrl.entity.name"></span>
            </h5>

            <div style="margin-left: 12px;  margin-bottom: 6px;"
                 ng-if="$ctrl.imageUrl">
                <img height="100"
                     onerror="this.src=genericAvatarDataUrl;"
                     ng-src="{{$ctrl.imageUrl}}">
            </div>

            <table class="table small table-condensed">
                <tr ng-repeat="prop in $ctrl.props">
                    <td>
                    <span class="text-muted"
                          ng-bind="prop.name">
                    </span>
                    </td>
                    <td>
                    <span ng-bind="prop.value">
                    </span>
                    </td>
                </tr>
                <tr ng-repeat="item in $ctrl.additionalDisplayData">
                    <td><span class="text-muted" ng-bind="item.name"></span></td>
                    <td><span ng-bind="item.value"></span></td>
                </tr>
            </table>

            <div class="weil-description">
                <div class="weil-description-fade">
                </div>
                <waltz-markdown text="$ctrl.entity.description"></waltz-markdown>
            </div>

        </div>
    </div>
</script>