.waltz-entity-icon-label {
    .weil-entity-removed {
        font-style: italic;
        color: #AAA;
        text-decoration: line-through rgba(125, 125, 125, 0.3);
    }
    .weil-entity-pending {
        color: #ba632d;
    }
}