<span uib-popover="{{ $ctrl.entityRef.description }}"
      popover-trigger="mouseenter"
      popover-append-to-body="true"
      popover-placement="{{ $ctrl.tooltipPlacement }}" >
    <waltz-icon fixed-width="true"
                name="{{ $ctrl.entityRef.kind | toIconName:'entity' }}"
                ng-if="$ctrl.iconPlacement === 'left'"
                style="color: #332b23;">
    </waltz-icon>

    <span ng-bind="$ctrl.entityRef.name"></span>

    <waltz-icon fixed-width="true"
                name="{{ $ctrl.entityRef.kind | toIconName:'entity' }}"
                ng-if="$ctrl.iconPlacement === 'right'"
                style="color: #332b23;">
    </waltz-icon>

    <span ng-if="$ctrl.entityRef.entityLifecycleStatus !== 'ACTIVE'"
          class="label label-default"
          style="padding-bottom: 0.1em; font-size: 9px"
          ng-bind="$ctrl.entityRef.entityLifecycleStatus | toDisplayName:'entityLifecycleStatus'">
    </span>
</span>