<waltz-basic-info-tile name="Complexity"
                       class="clickable"
                       description="{{$ctrl.stats.length == 0
                            ? 'No complexity scores found'
                            : 'Complexity score summaries.  Click to open related section'}}"
                       waltz-jump-to="app-complexity-summary-section"
                       icon="sort-numeric-asc">

    <div ng-if="$ctrl.stats.length == 0">
        -
    </div>

    <div ng-if="$ctrl.stats.length > 0">
        <table class="table-condensed table small">
            <colgroup>
                <col width="40%"/>
                <col width="20%"/>
                <col width="20%"/>
                <col width="20%"/>
            </colgroup>
            <thead>
            <tr>
                <th><span class="pull-left">Kind</span></th>
                <th title="A sum of the complexities">Total</th>
                <th title="The mean value of the complexities">Avg</th>
                <th title="The population standard deviation of the complexities">SD</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stat in $ctrl.stats"
                ng-style="{ 'font-weight': stat.complexityKind.isDefault ? 'bold': 'none'}"
                uib-popover="{{stat.complexityKind.description}}"
                popover-popup-delay="300"
                popover-append-to-body="true"
                popover-placement="right"
                popover-trigger="mouseenter">
                <td>
                        <span class="pull-left"
                              ng-bind="stat.complexityKind.name">
                        </span>
                </td>
                <td><span ng-bind="stat.total | toFixed:2"></span></td>
                <td><span ng-bind="stat.average | toFixed:2"></span></td>
                <td><span ng-bind="stat.standardDeviation | toFixed:2"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

</waltz-basic-info-tile>