.waltz-asset-cost-graph {

    .wacg-amount {
        fill: #b3e5ca;
        stroke: black;
        // opacity: is calculated by js (proportional to num of amounts)
    }

    .wacg-hover {
        fill: #94e5bc;
        stroke: black;
        opacity: 1;
    }

    .wacg-selected {
        fill: #3da36f;
        stroke: white;
        opacity: 1;
    }

    .wacg-axis {
        font-weight: 100;
        fill: grey;

        path {
            stroke-width: 0.6;
            fill: none;
            stroke: grey;
        }
    }
}
