.d3-context-menu {
    position: absolute;
    display: none;
    background-color: #f2f2f2;
    border-radius: 4px;

    font-family: Arial, sans-serif;
    font-size: 14px;
    min-width: 150px;
    border: 1px solid #d4d4d4;

    z-index:1200;

    ul {
        list-style-type: none;
        margin: 4px 0px;
        padding: 0px;
        cursor: default;

        li {
            padding: 4px 16px;

            &:hover {
                background-color: #4677f8;
                color: #fefefe;
            }
        }

    }
}
