<waltz-multi-select-tree-control items="$ctrl.allDataTypes"
                                 on-click="$ctrl.toggleTypeChecked"
                                 on-check="$ctrl.typeChecked"
                                 on-uncheck="$ctrl.typeUnchecked"
                                 checked-item-ids="$ctrl.checkedItemIds"
                                 expanded-item-ids="$ctrl.expandedItemIds">

        <strong uib-popover-template="'wdtus-popup.html'"
                popover-trigger="mouseenter"
                popover-popup-delay="400"
                popover-append-to-body="true"
                ng-style="$ctrl.isNonConcreteAndSelected(node) && {'color': 'darkred', 'font-style': 'italic'}"
                ng-bind="node.name">
        </strong>
</waltz-multi-select-tree-control>

<script type="text/ng-template"
        id="wdtus-popup.html">
    <strong ng-bind="node.name"></strong>
    <p class="small text-muted"
       ng-bind="node.description">
    </p>
    <div class="alert alert-warning small" ng-if="!node.concrete">
        Direct mappings have been disabled for this data type.
        <span ng-if="$ctrl.checkedItemIds.indexOf(node.id) > -1">
            <span ng-if="$ctrl.hasAnyChild(node)">
                Please remove this mapping by selecting a more specific sub type.
            </span>
            <span ng-if="!$ctrl.hasAnyChild(node)">
                Click to remove this mapping.
            </span>
        </span>
    </div>
</script>
