<div>

    <waltz-page-header icon="desktop"
                       name="{{ ctrl.app.name }}"
                       small="{{ ctrl.app.assetCode }}">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li>Applications</li>
            <li><span ng-bind="ctrl.app.name"></span></li>
        </ol>
    </waltz-page-header>


    <!-- OVERVIEW -->
    <waltz-app-overview parent-entity-ref="ctrl.parentEntityRef">
    </waltz-app-overview>


    <!-- NAVIGATION -->
    <div class="waltz-page-summary waltz-page-summary-attach">
        <waltz-dynamic-section-navigation>
        </waltz-dynamic-section-navigation>
    </div>

    <br>

    <waltz-dynamic-sections-view parent-entity-ref="ctrl.parentEntityRef">
    </waltz-dynamic-sections-view>

</div>
