<div>
    <div class="wdtt-search-region">
        <waltz-icon name="search"
                    ng-class="{
                    'wdtt-search-active' : $ctrl.searchTerms.length > 0,
                    'wdtt-search-inactive' : $ctrl.searchTerms.length == 0
                }">
        </waltz-icon>
        <input type='search'
               class="form-control"
               name="searchTerms"
               ng-model="$ctrl.searchTerms"
               ng-change="$ctrl.searchTermsChanged($ctrl.searchTerms)"
               ng-model-options="{ debounce: 200 }"
               placeholder="Search">
        &nbsp;
        <waltz-icon name="close"
                    style="color: darkred"
                    ng-if="$ctrl.searchTerms.length > 0"
                    class="clickable"
                    ng-click="$ctrl.clearSearch()">
        </waltz-icon>
    </div>


    <treecontrol class="tree-light"
                 tree-model="$ctrl.hierarchy"
                 order-by="'-name'"
                 expanded-nodes="$ctrl.expandedNodes"
                 options="$ctrl.treeOptions">
            <span class="waltz-visibility-parent">

                <a ui-sref="main.data-type.view ({id: node.id })"
                   uib-popover-template="'wdtt-popover.html'"
                   popover-trigger="mouseenter"
                   popover-popup-delay="300"
                   popover-append-to-body="true">
                    <strong ng-bind="node.name">
                    </strong>
                </a>
                <waltz-rag-line class='waltz-visibility-child-50'
                                 scores="node.cumulativeCounts"
                                 rating-scheme-items="$ctrl.ratingSchemeItems"
                                 style="padding-left: 20px;"
                                 range="[0, $ctrl.maxTotal]">
                </waltz-rag-line>

                <div class="small" style="padding-left: 5em;" ng-hide="true">
                    <strong>Direct</strong><pre ng-bind="node.directCounts | json"></pre>
                    <strong>Cumulative</strong><pre ng-bind="node.cumulativeCounts | json"></pre>
                </div>
            </span>
    </treecontrol>

    <script type="text/ng-template"
            id="wdtt-popover.html">
        <strong ng-bind="node.name"></strong>
        <p class="small text-muted"
           ng-bind="node.description">
        </p>
        <div class="small">
            <table class="table table-condensed small">
                <thead>
                <tr>
                    <th>Flow Ratings</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span ng-bind="'PRIMARY'| toDisplayName: 'AuthoritativenessRating'"></span>
                    </td>
                    <td>
                        <span ng-bind="node.cumulativeCounts.G"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span ng-bind="'SECONDARY'| toDisplayName: 'AuthoritativenessRating'"></span>
                    </td>
                    <td>
                        <span ng-bind="node.cumulativeCounts.A"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span ng-bind="'DISCOURAGED'| toDisplayName: 'AuthoritativenessRating'"></span>
                    </td>
                    <td>
                        <span ng-bind="node.cumulativeCounts.R"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span ng-bind="'NO_OPINION'| toDisplayName: 'AuthoritativenessRating'"></span>
                    </td>
                    <td>
                        <span ng-bind="node.cumulativeCounts.Z"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </script>
</div>