<div>
    <div class="text-muted small"
         style="margin-bottom: 15px">
        <div ng-if="$ctrl.editor === 'TABULAR'">
            <span>
                Please add values for dropdown options
            </span>
            <a class="clickable pull-right"
               ng-click="$ctrl.showBulkEditor()">
                bulk editor
                <waltz-icon name="folder-o"></waltz-icon>
            </a>
        </div>

        <div ng-if="$ctrl.editor === 'BULK'">
            <span>
                Please add values for dropdown options, each option on a separate line
            </span>
            <a class="clickable pull-right"
               ng-click="$ctrl.showTabularEditor()">
                tabular editor
                <waltz-icon name="table"></waltz-icon>
            </a>
        </div>
    </div>


    <table class="table table-condensed"
           ng-if="$ctrl.editor === 'TABULAR'">
        <tbody>
        <tr ng-repeat="entry in $ctrl.entries | orderBy:'position'"
            class="waltz-visibility-parent">
            <td>
                <waltz-editable-field on-save="$ctrl.updateValue"
                                      field-type="text"
                                      initial-val="entry.value"
                                      item-id="entry.id">
                </waltz-editable-field>
            </td>
            <td>
                <a ng-click="$ctrl.removeEntry(entry)"
                   class="btn btn-xs waltz-visibility-child-30">
                    <waltz-icon name="trash-o"></waltz-icon>
                    Delete
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary btn-xs"
                        ng-if="$ctrl.creatingEntry === false"
                        ng-click="$ctrl.startNewEntry()">
                    Add
                </button>
                <div ng-if="$ctrl.creatingEntry === true">
                    <input type="text"
                           ng-model="$ctrl.newEntry.value"
                           class="form-control input-sm">
                </div>
            </td>
            <td>
                <button class="btn btn-success btn-xs"
                        ng-if="$ctrl.creatingEntry === true"
                        ng-click="$ctrl.saveNewEntry($ctrl.newEntry)">
                    Save
                </button>
                <button class="btn btn-default btn-xs"
                        ng-if="$ctrl.creatingEntry === true"
                        ng-click="$ctrl.cancelNewEntry()">
                    Cancel
                </button>
            </td>
        </tr>
        </tbody>
    </table>


    <textarea ng-if="$ctrl.editor === 'BULK'"
              rows="8"
              cols="95"
              ng-model="$ctrl.bulkEntriesString"
              ng-model-options="{debounce: 300}"
              ng-change="$ctrl.bulkEntriesChanged()">
    </textarea>
</div>