<div class="wmt-search-region">
    <waltz-icon name="search"
                ng-class="{
                    'wmt-search-active' : $ctrl.searchTerms.length > 0,
                    'wmt-search-inactive' : $ctrl.searchTerms.length == 0
                }">
    </waltz-icon>
    <input type='search'
           class="form-control"
           name="searchTerms"
           ng-model="$ctrl.searchTerms"
           ng-change="$ctrl.searchTermsChanged($ctrl.searchTerms)"
           ng-model-options="{ debounce: 200 }"
           placeholder="Search">
    &nbsp;
    <waltz-icon name="close"
                style="color: darkred"
                ng-if="$ctrl.searchTerms.length > 0"
                class="clickable"
                ng-click="$ctrl.clearSearch()">
    </waltz-icon>

</div>


<div ng-class="$ctrl.containerClass"
     ng-attr-tabindex="{{$ctrl.onKeypress ? 1 : undefined}}"
     ng-keydown="$ctrl.onKeypress($event)">
    <treecontrol class="tree-light"

                 tree-model="$ctrl.hierarchy"
                 expanded-nodes="$ctrl.expandedNodes"
                 options="$ctrl.treeOptions"
                 on-selection="$ctrl.onSelect(node, $ctrl.ratingsByMeasurable[node.id])"
                 order-by="'-name'">

        <span ng-if="node.concrete">
            <waltz-rating-indicator-cell rating="$ctrl.ratingsByMeasurable[node.id].rating">
            </waltz-rating-indicator-cell>
        </span>

        <span ng-if="! node.concrete">
            <waltz-icon name='genderless'>
            </waltz-icon>
        </span>

        <span ng-attr-title="{{ node.description }}"
              ng-class="{ 'text-muted': $ctrl.ratingsByMeasurable[node.id].rating == null }"
              class="no-overflow">
            <span ng-bind="node.name"
                  ng-class="{ 'italics' : ! node.concrete }">
            </span>
        </span>

    </treecontrol>
</div>