<div>

    <div class="row">
        <div class="col-md-11">

            <h4>
                <span ng-bind="ctrl.title"></span>
            </h4>

            <!-- DATA TYPE OPTIONS -->
            <ul class="list-unstyled">
                <li ng-repeat="option in ctrl.workingTypes | orderBy:'name'">
                    <span>
                        <input type="checkbox"
                               ng-model="option.selected"
                               ng-change="ctrl.onChange()">
                        <span ng-style="{'font-weight': (option.selected ? 'bold' : 'none') }"
                              ng-bind="option.name">
                        </span>
                    </span>
                    <span class="text-muted small"
                          ng-bind="option.description">
                    </span>
                </li>
            </ul>

            <div class="pull-right">
                <!-- ACTIONS -->
                <button class="btn btn-success"
                        ng-click="ctrl.save()">
                    Apply
                </button>
                <a href
                   ng-click="ctrl.cancel()">
                    Cancel
                </a>

            </div>

        </div>
    </div>
</div>