<div class="waltz-flow-filter-options">

    <h5>
        <waltz-icon name="flask"></waltz-icon>
        Data Types
        <small>Filter</small>
    </h5>

    <hr>
    <div ng-if="!$ctrl.visibility.tree">
        Showing all flows for all data types.
        <br>
        <a class='clickable'
           ng-click="$ctrl.onShowTree()">
            Select specific data types
        </a>
    </div>
    <div ng-if="$ctrl.visibility.tree">
        <treecontrol class="tree-light small"
                     tree-model="$ctrl.hierarchy"
                     order-by="'-name'"
                     options="$ctrl.treeOptions">
            <span uib-popover="{{node.description}}"
                  popover-trigger="mouseenter"
                  popover-popup-delay="400"
                  popover-append-to-body="true"
                  class="waltz-visibility-parent">
                <span ng-bind="node.name"
                      ng-style="{ 'font-style': node.isUsed ? 'normal' : 'italic' }"
                      ng-click="$ctrl.onSelectType(node.id)">
                </span>
            </span>
        </treecontrol>

        <br>

        Alternatively,
            <a class='clickable'
               ng-click="$ctrl.onShowAll()">
                show all.
            </a>
    </div>

    <hr>


    <h5>
        <waltz-icon name="filter"></waltz-icon>
        Scope
        <small>Filter</small>
    </h5>

    <div class="waltz-paragraph small" style="padding-bottom: 4px;">
        Select one of the following scopes:

        <div class="wffo-scopes">
            <label>
                <input type="radio"
                       ng-change="$ctrl.notifyChanges()"
                       ng-model='$ctrl.selectedScope'
                       value="INTRA">
                Intra -
                <span class="text-muted">
                    Only show flows between applications in this group
                </span>
            </label>

            <label>
                <input type="radio"
                       ng-model='$ctrl.selectedScope'
                       ng-change="$ctrl.notifyChanges()"
                       value="INBOUND">
                Inbound -
                <span class="text-muted">
                    Show flows originating from outside this group
                </span>
            </label>

            <label>
                <input type="radio"
                       ng-model='$ctrl.selectedScope'
                       ng-change="$ctrl.notifyChanges()"
                       value="OUTBOUND">
                Outbound -
                <span class="text-muted">
                    Show flows going to applications outside this group
                </span>
            </label>

            <label>
                <input type="radio"
                       ng-model='$ctrl.selectedScope'
                       ng-change="$ctrl.notifyChanges()"
                       value="ALL">
                All -
                <span class="text-muted">
                    Show all flows
                </span>
            </label>
        </div>
    </div>

</div>