<div class="waltz-attestation-confirmation">

    <div class="wac-header">
        <span class="wac-declaration">
            You are attesting that the
            <waltz-attested-kind run="$ctrl.run"
                                 class="wac-entity">
            </waltz-attested-kind>
            for
            <span ng-bind="$ctrl.instance.parentEntity.name"
                  class="wac-entity">
            </span> are correct.
        </span>

        <span style="padding-left: 30px">
            <a class="btn btn-success btn-sm"
               ng-click="$ctrl.confirm($ctrl.instance)">
                Confirm
            </a>
            <a ng-click="$ctrl.cancel()"
               class="clickable">
                Cancel
            </a>
        </span>
    </div>

    <div class="wac-content">
        <ng-transclude></ng-transclude>
    </div>

</div>