<div class="waltz-rating-picker"
     tabindex="1"
     ng-keydown="$ctrl.onKeypress($event)"
     ng-style="$ctrl.pickerStyle">

    <div ng-repeat="option in $ctrl.options track by option.rating"
         class="wrp-option">
        <input type="radio"
               value="{{ option.rating }}"
               ng-model='$ctrl.selected'
               ng-disabled="$ctrl.editDisabled"
               ng-change="$ctrl.onSelect(option.rating)"
               id="wrp-inp-{{ option.rating }}-{{ $id }}">
        <label for="wrp-inp-{{ option.rating }}-{{ $id }}"
               ng-style="{ 'background-color': option.color, color: option.foregroundColor }"
               ng-bind="option.name"
               class="clickable">
        </label>
        <div class="small text-muted"
             ng-if="option.description"
             ng-bind="option.description">
        </div>
    </div>
</div>