<div class="waltz-rating-picker">
    <div class="input-group">
        <label class="rating-strategic"
               ng-class="{'selected': $ctrl.selected === 'G'}">
            <input type="radio"
                   name="rating"
                   value="G"
                   ng-model="$ctrl.selected"
                   ng-change="$ctrl.select($ctrl.selected)">
            Good fit
        </label>

        <label class="rating-with-issues"
               ng-class="{'selected': $ctrl.selected === 'A'}">
            <input type="radio"
                   name="rating"
                   value="A"
                   ng-model="$ctrl.selected"
                   ng-change="$ctrl.select($ctrl.selected)">
            Partial fit
        </label>

        <label class="rating-non-strategic"
               ng-class="{'selected': $ctrl.selected === 'R'}">
            <input type="radio"
                   name="rating"
                   value="R"
                   ng-model="$ctrl.selected"
                   ng-change="$ctrl.select($ctrl.selected)">
            Poor fit
        </label>

        <label class="rating-none"
               ng-class="{'selected': $ctrl.selected === 'Z'}">
            <input type="radio"
                   name="rating"
                   value="Z"
                   ng-model="$ctrl.selected"
                   ng-change="$ctrl.select($ctrl.selected)">
            Unknown
        </label>
    </div>
</div>