@import "../../../../style/variables";


.waltz-rating-picker {

    .wrp-option {
        margin-bottom: 6px;
        label {
            transition: opacity 300ms;
            min-width: 200px;
            border-radius: 3px;
            padding: 6px 6px 6px 12px;
            opacity: 0.6;
            border: 1px solid;
        }

        input {
            display: none;

            &:checked + label {
                opacity: 1;

                &::before {
                    padding-left: 10px;
                    padding-right: 10px;
                    content: '\f00c';
                    font-family: 'FontAwesome';
                }
            }
        }

    }

    .rating-G {
        background-color: $waltz-green;
        color: #fff;
    }

    .rating-A {
        background-color: $waltz-amber;
        color: #fff;
    }

    .rating-R {
        background-color: $waltz-red;
        color: #fff;
    }

    .rating-Z {
        background-color: $waltz-grey;
        color: $waltz-font-color;
    }
}



