<div>
    <table class="table table-condensed table-striped table-hover">
        <colgroup>
            <col width="20%">
            <col width="10%">
            <col width="35%">
            <col width="35%">
        </colgroup>
        <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>Description</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ac in $ctrl.items | orderBy:'capability.name'">
            <td>
                <waltz-icon name="star"
                            style="color: goldenrod"
                            ng-if="ac.primary">
                </waltz-icon>
                <a ui-sref="main.capability.view ({id: ac.capability.id})">
                <span ng-if="ac.primary"
                      style="font-weight: bolder"
                      ng-bind="ac.capability.name">
                </span>
                    <span ng-if="! ac.primary"
                          ng-bind="ac.capability.name">
                </span>
                </a>
            </td>
            <td>
               <waltz-rating-indicator-cell rating="ac.rating"
                                            label="ac.rating | toDisplayName:'applicationRating'">
               </waltz-rating-indicator-cell>
            </td>
            <td>
                <span ng-bind="ac.capability.description"></span>
            </td>
            <td>
                <span ng-bind="ac.description"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
