<!--
  ~  This file is part of Waltz.
  ~
  ~  Waltz is free software: you can redistribute it and/or modify
  ~  it under the terms of the GNU General Public License as published by
  ~  the Free Software Foundation, either version 3 of the License, or
  ~  (at your option) any later version.
  ~
  ~  Waltz is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~  along with Waltz.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<div>
    <!-- HEADER -->
    <waltz-page-header name="{{ ctrl.viewData.orgUnit.name }}"
                       icon="sitemap"
                       small="{{ ctrl.viewData.orgUnit.kind | toDisplayName:'orgUnitKind' }}">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li><a ui-sref="main.org-units.list">Organisational Units</a></li>
            <li><span ng-bind="ctrl.viewData.orgUnit.name"></span></li>
        </ol>
    </waltz-page-header>


    <!-- OVERVIEW -->
    <waltz-org-unit-overview parent="ctrl.viewData.immediateHierarchy.parent"
                             all-units="ctrl.viewData.orgUnits"
                             unit-id="ctrl.viewData.orgUnit.id"
                             apps="ctrl.viewData.apps"
                             flows="ctrl.viewData.dataFlows"
                             ratings="ctrl.viewData.capabilityRatings"
                             costs="ctrl.viewData.assetCostData.stats"
                             server-stats="ctrl.viewData.techStats.serverStats"
                             complexity="ctrl.viewData.complexity">
    </waltz-org-unit-overview>

    <hr/>


    <!-- COMPLEXITY -->
    <waltz-complexity-section complexity="ctrl.viewData.complexity"
                              apps="ctrl.viewData.apps">
    </waltz-complexity-section>


    <!-- PEOPLE -->
    <waltz-involved-people-section
        id="people-section"
        involvements="ctrl.viewData.involvements">
    </waltz-involved-people-section>


    <!-- CAPABILITIES -->
    <waltz-section name="Application Capability Ratings"
                   id="ratings-section"
                   icon="puzzle-piece">

        <waltz-section-actions xng-if="ctrl.ratings.groups.length > 0">
            <button class='btn btn-xs btn-primary' ng-click="ctrl.ratings.actions.expandAll()">
                <waltz-icon name="plus-square"></waltz-icon> Expand All
            </button>
            <button class='btn btn-xs btn-primary' ng-click="ctrl.ratings.actions.collapseAll()">
                <waltz-icon name="minus-square"></waltz-icon> Collapse All
            </button>
        </waltz-section-actions>

        <div ng-if="ctrl.ratings.groups.length > 0">
            <waltz-rating-groups measurables='ctrl.ratings.measurables'
                                 groups="ctrl.ratings.groups"
                                 tweakers="ctrl.ratings.tweakers"></waltz-rating-groups>

            <p class="text-muted small" style="margin-top: 32px">
                This section shows capabilities performed by applications within this organisational unit.
            </p>
        </div>

        <div ng-if="ctrl.ratings.groups.length == 0" class="alert alert-warning">
            There are no rated capabilities for any member of this group.
        </div>
    </waltz-section>


    <!-- FLOWS -->
    <waltz-section name="Logical Data Flows"
                   id="flows-section">

        <waltz-section-actions >
            <a waltz-has-role="ORGUNIT_EDITOR"
               ng-if="ctrl.showAuthSourceEditBtn"
               ui-sref="main.auth-sources.edit (ctrl.entityRef)"
               class="btn btn-xs btn-primary">
                Edit
            </a>
        </waltz-section-actions>

        <uib-tabset>

            <!-- BOINGY GRAPH -->
            <uib-tab select="shownBoingyGraph = true">
                <uib-tab-heading>
                    Logical Data Flows
                </uib-tab-heading>

                <br>

                <div ng-if="shownBoingyGraph && ctrl.viewData.dataFlows.flows.length > 0 && ctrl.viewData.dataFlows.flows.length < 800">
                    <waltz-org-unit-flow-viz entities="ctrl.viewData.dataFlows.entities"
                                             flows="ctrl.viewData.dataFlows.flows">
                    </waltz-org-unit-flow-viz>
                    <div class="small text-muted">
                        Dragging nodes will pin them.  Double click to unpin.  If an application is gray
                        it is not a member of this organisational unit.
                    </div>
                </div>

                <div ng-if="ctrl.viewData.dataFlows.flows.length >= 800">
                    <div class="alert alert-danger">
                        <strong>Too many to flows to draw</strong>
                    </div>
                </div>


                <div ng-if="ctrl.viewData.dataFlows.flows.length == 0">
                    <div class="alert alert-warning">
                        <strong>No Flows</strong>
                        have been registered involving applications from
                        <span ng-bind="ctrl.viewData.orgUnit.name"></span>.
                    </div>
                </div>
            </uib-tab>

            <!-- RATED FLOWS -->
            <uib-tab select="shownRatedFlows = true">
                <uib-tab-heading>
                    Rated Flows
                </uib-tab-heading>

                <div class="row" ng-if="shownRatedFlows && ctrl.viewData.ratedFlows.root.flowsByAppThenTypeThenRating.length > 0">
                    <div class="col-md-8">
                        <waltz-expanded-rated-flow-chart data="ctrl.viewData.ratedFlows.root"
                                                         event-dispatcher="ctrl.eventDispatcher">

                        </waltz-expanded-rated-flow-chart>
                    </div>
                    <div class="col-md-4">
                        <waltz-rated-flow-detail style="margin-top: 120px"
                                                 event-dispatcher="ctrl.eventDispatcher">
                        </waltz-rated-flow-detail>
                    </div>
                </div>

                <div ng-if="ctrl.viewData.ratedFlows.root.flowsByAppThenTypeThenRating.length == 0"
                     class="alert alert-warning">
                    No inbound data flows registered for this organisational unit
                </div>

                <div class="row"
                     ng-if="shownRatedFlows && ctrl.viewData.ratedFlows.root.children.length > 0">
                    <div class="col-md-8">
                        <hr>

                        <div>
                            <h4 class="text-center">
                                Child Organisational Units
                            </h4>
                            <waltz-summary-rated-flow-chart data="ctrl.viewData.ratedFlows.root"
                                                            event-dispatcher="ctrl.eventDispatcher" >
                            </waltz-summary-rated-flow-chart>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <waltz-rated-flow-summary-detail style="margin-top: 170px"
                                                         event-dispatcher="ctrl.eventDispatcher">
                        </waltz-rated-flow-summary-detail>
                    </div>
                </div>

                <div class="row" style="padding-top: 12px;">
                    <div class="col-md-12">

                        <div class="small text-muted">
                            This diagram shows the data types sent to applications in the group.  If a cell is
                            coloured <span style="color: red">red</span> it indicates that the application is
                            taking data from a non-approved source.  If a cell is
                            <span style="color: green">green</span> or <span style="background-color: yellow">yellow</span> it uses
                            primary or secondary sources.
                        </div>
                    </div>
                </div>

            </uib-tab>

            <!-- AUTH SOURCES -->
            <uib-tab select="ctrl.showAuthSourceEditBtn = true"
                     deselect="ctrl.showAuthSourceEditBtn = false">
                <uib-tab-heading>
                    Authoritative Sources
                </uib-tab-heading>

                <div ng-show="! ctrl.viewData.authSources | isEmpty">
                    <waltz-auth-sources-table org-unit-id="ctrl.viewData.orgUnit.id"
                                              org-units="ctrl.viewData.orgUnits"
                                              auth-sources="ctrl.viewData.authSources">
                    </waltz-auth-sources-table>
                </div>

                <div ng-show="ctrl.viewData.authSources | isEmpty"
                     class="alert alert-warning">
                    <strong>No Authoritative Sources</strong>
                    have been defined for this Organisational Unit.
                </div>

                <div class="small text-muted">
                    This section shows the authoritative sources for data types.  A source can be declared locally to this
                    organisational unit or declared by a <i>parent</i> organisational unit.  An authoritative source
                    consists of the data type, the source application (it's owning unit is shown in parenthesis) and a rating
                    of either primary or secondary.
                </div>

            </uib-tab>

        </uib-tabset>

    </waltz-section>


    <!-- TECHNOLOGIES -->
    <waltz-section name="Technologies">
        <waltz-group-technology-summary stats="ctrl.viewData.techStats">
        </waltz-group-technology-summary>
    </waltz-section>


    <!-- COSTS -->
    <waltz-asset-costs-section data="ctrl.viewData.assetCostData"
                               on-bucket-select="ctrl.onAssetBucketSelect"
                               csv-name="asset_costs.csv">
    </waltz-asset-costs-section>


    <!-- APPS -->
    <waltz-section name="Applications"
                   id="apps-section"
                   small="({{ ctrl.viewData.apps.length }})"
                   icon="desktop">

        <div ng-if="ctrl.viewData.apps.length">

            <waltz-app-table filter="appQuery"
                             applications="ctrl.viewData.apps"></waltz-app-table>
        </div>

        <div class="alert-warning alert"
             ng-if="ctrl.viewData.apps.length == 0">
            <strong>No application </strong>
            have yet been registered against unit:
            <span ng-bind="ctrl.unit.name"></span>.
        </div>
    </waltz-section>


    <!-- EUC -->
    <waltz-section id="euc-section"
                   name="End User Applications"
                   icon="table"
                   small="({{ctrl.viewData.endUserApps.length}})">
        <waltz-end-user-app-table end-user-apps="ctrl.viewData.endUserApps">
        </waltz-end-user-app-table>
    </waltz-section>


    <!-- CHANGE_LOG -->
    <waltz-change-log-section entries="ctrl.viewData.logEntries">
    </waltz-change-log-section>
</div>
