<div>

    <!-- LIST -->
    <waltz-pending-taxonomy-changes-list pending-changes="$ctrl.pendingChanges"
                                         on-select="$ctrl.onSelectPendingChange">
    </waltz-pending-taxonomy-changes-list>


    <div ng-if="$ctrl.selectedPendingChange">
        <waltz-taxonomy-change-command-info change="$ctrl.selectedPendingChange">
        </waltz-taxonomy-change-command-info>
    </div>


    <div ng-if="$ctrl.preview">
        <waltz-taxonomy-change-command-preview preview="$ctrl.preview">
        </waltz-taxonomy-change-command-preview>

        <button class="btn btn-sm"
                ng-class="$ctrl.submitButtonClass">
            Execute now
        </button>
    </div>

</div>
