<div class="waltz-search-control">
    <div class="input-group">
        <input type="text"
               ng-model="$ctrl.query"
               ng-model-options="$ctrl.options"
               placeholder="{{$ctrl.placeholderText}}"
               class="form-control">

        <div class="input-group-addon">
            <waltz-icon name="times"
                        style="color: #c5341b; cursor: pointer;"
                        ng-if="$ctrl.query.length > 1"
                        ng-click="$ctrl.query = ''">
            </waltz-icon>
            <waltz-icon name="search"></waltz-icon>
        </div>
    </div>
</div>