<div class="waltz-page-summary waltz-page-summary-attach">
    <div class="row">
        <div class="col-sm-2 waltz-display-field-label">
            Description
        </div>
        <div class="col-sm-10 text-muted">
            <waltz-markdown text="$ctrl.measurable.description">
            </waltz-markdown>
            <waltz-entity-named-notes-panel parent-entity-ref="$ctrl.entityRef">
            </waltz-entity-named-notes-panel>
        </div>
    </div>


    <!-- APP SUMMARY STATS -->
    <div ng-if="$ctrl.applications.length > 0">
        <hr>
        <div class="row" ng-if="$ctrl.applications.length > 0">
            <div class="col-sm-4">
                <waltz-basic-info-tile name="App Stats"

                                       icon="rocket">

                    <div style="font-size: large;"
                         waltz-jump-to="costs-section">
                        Cost: <span ng-bind="$ctrl.portfolioCostStr"></span>
                    </div>
                    <div style="font-size: large;"
                         waltz-jump-to="complexity-section">
                        Complexity:
                        <span ng-bind="$ctrl.complexitySummary.cumulativeScore | toFixed:1"></span>
                    </div>
                    <div style="font-size: large;"
                         ng-if="$ctrl.enrichedServerStats.total > 0"
                         waltz-jump-to="technologies-section">
                        Servers #:
                        <span ng-bind="$ctrl.enrichedServerStats.total"></span>
                    </div>
                </waltz-basic-info-tile>
            </div>

            <div class="col-sm-4">
                <waltz-apps-by-investment-pie applications="$ctrl.applications"
                                              size="70">
                </waltz-apps-by-investment-pie>
            </div>

            <div class="col-sm-4">
                <waltz-basic-info-tile name="Relationships"
                                       waltz-jump-to="related-measurables"
                                       icon="link">
                    <div ng-repeat="category in $ctrl.relationshipStats"
                         style="font-size: large;">
                        <span ng-bind="category.name"></span>:
                        <span ng-bind="category.count"></span>
                    </div>
                </waltz-basic-info-tile>
            </div>
        </div>
    </div>

    <hr>

    <!-- NAV -->
    <div class="row"
         style="padding: 1em">
        <div class="col-md-8">
            <waltz-immediate-hierarchy-navigator parents="$ctrl.parentRefs"
                                                 children="$ctrl.childRefs">
            </waltz-immediate-hierarchy-navigator>
        </div>
    </div>

</div>