<div class="row waltz-related-measurables-panel"
     ng-if="$ctrl.relationships.length == 0 && ! $ctrl.showAnyway">
    <div class="col-sm-12">
        <waltz-no-data>
            <message>
                <div>
                    No explicit relationships defined to other viewpoints.
                </div>
                <div waltz-has-role="CAPABILITY_EDITOR">
                    <div>
                        <waltz-icon name="warning"></waltz-icon>
                        <strong>You</strong> have permission to create relationships.
                        <a ng-click="$ctrl.showAnyway = true"
                           class="clickable">
                            Show this
                        </a>
                        section to make changes.
                    </div>
                </div>
            </message>
        </waltz-no-data>
    </div>
</div>
<div class="row waltz-related-measurables-panel"
     ng-if="$ctrl.relationships.length > 0 || $ctrl.showAnyway">
    <div class="col-sm-5">
        <!-- VISUALISATION -->
        <waltz-related-measurables-viz relationships="$ctrl.relationships"
                                       on-category-select="$ctrl.selectCategory"
                                       on-category-clear="$ctrl.clearCategory"
                                       parent-entity-ref="$ctrl.parentEntityRef">
        </waltz-related-measurables-viz>
    </div>

    <div class="col-sm-7">
        <!-- DETAIL -->
        <div ng-if="$ctrl.gridData.length > 0"
             class="waltz-fade-if small">

            <div ng-if="$ctrl.selectedCategory">
                <h4>
                    Selected Category:
                    <span ng-bind="$ctrl.selectedCategory.name"></span>
                    <a class='clickable pull-right'
                       ng-click="$ctrl.clearCategory()">
                        (x)
                    </a>
                </h4>
            </div>

            <!-- DETAIL MODE CHANGER -->
            <div ng-if="$ctrl.visibility.detailModeChanger">
                Show as
                <span ng-if="$ctrl.visibility.detailMode === 'table'">
                    table or
                    <a ng-click="$ctrl.onChangeDetailMode('tree')"
                       class="clickable">
                        tree
                    </a>
                </span>
                <span ng-if="$ctrl.visibility.detailMode === 'tree'">
                    <a ng-click="$ctrl.onChangeDetailMode('table')"
                       class="clickable">
                        table
                    </a>
                    or tree
                </span>
            </div>

            <!-- TREE DETAIL MODE -->
            <span ng-if="$ctrl.visibility.detailMode === 'tree'"
                  style="padding: 8px">
                <waltz-related-measurables-tree parent-entity-ref="$ctrl.parentEntityRef"
                                                category="$ctrl.selectedCategory.ref">
                </waltz-related-measurables-tree>
            </span>

            <!-- TABLE DETAIL MODE -->
            <span ng-if="$ctrl.visibility.detailMode === 'table'">
                <waltz-related-measurables-table rows="$ctrl.gridData"
                                                 on-row-select="$ctrl.selectRow"
                                                 selected-row="$ctrl.selectedRow">
                </waltz-related-measurables-table>

                <div ng-if="$ctrl.selectedCategory && !$ctrl.visibility.editor && !$ctrl.selectedRow"
                     class="waltz-fade-if">
                    Select a category or relationship to make changes.
                </div>

                <!-- SELECTED RELATIONSHIP -->
                <div ng-if="$ctrl.selectedRow && ! $ctrl.visibility.editor"
                     class="waltz-fade-if">
                    <hr>

                    <waltz-related-measurable-item-view item="$ctrl.selectedRow"
                                                        on-dismiss="$ctrl.clearRowSelection"
                                                        on-edit="$ctrl.updateExistingRelationship"
                                                        on-remove="$ctrl.removeRelationship">
                    </waltz-related-measurable-item-view>

                </div>
            </span>
        </div>

        <!-- NO DATA -->
        <div ng-if="$ctrl.gridData.length == 0 "
             class="waltz-fade-if">
            <waltz-no-data>
                <message>
                    <strong>No relationships</strong>
                    have been defined.
                </message>
            </waltz-no-data>
        </div>

        <!-- SELECTED CATEGORY -->
        <div ng-if="!$ctrl.visibility.editor && !$ctrl.selectedRow && $ctrl.selectedCategory">
            <br>

            <!-- ADD -->
            <div waltz-has-role="CAPABILITY_EDITOR">
                <a class="clickable"
                   ng-click="$ctrl.beginNewRelationship()">
                    Add new relationship...
                </a>
            </div>
        </div>

        <div ng-if="$ctrl.visibility.createEditor"
             class="waltz-fade-if">
            <hr>
            <waltz-create-related-measurable-editor parent-entity-ref="$ctrl.parentEntityRef"
                                                    type="$ctrl.selectedCategory"
                                                    on-cancel="$ctrl.cancelEditor"
                                                    on-refresh="$ctrl.refresh">
            </waltz-create-related-measurable-editor>
        </div>

        <div ng-if="$ctrl.visibility.updateEditor"
             class="waltz-fade-if">
            <hr>
            <waltz-update-related-measurable-editor relationship="$ctrl.selectedRow.relationship"
                                                    on-cancel="$ctrl.cancelEditor"
                                                    on-refresh="$ctrl.refresh">
            </waltz-update-related-measurable-editor>
        </div>

    </div>
</div>
