<div>

    <form name="specDefForm"
          class="form-horizontal"
          role="form"
          novalidate>
        <div class="form-group">
            <label for="version"
                   class="col-sm-3 control-label">
                Version <span class="text-danger">*</span>
            </label>
            <div class="col-sm-9">
                <input type="text"
                       id="version"
                       maxlength="64"
                       required
                       class="form-control"
                       placeholder="Version of this specification definition"
                       ng-model="$ctrl.specDefinition.def.version">
                </input>
            </div>
        </div>

        <div class="form-group">
            <label for="delimiter"
                   class="col-sm-3 control-label">
                Delimiter <span class="text-danger">*</span>
            </label>
            <div class="col-sm-9">
                <select id='delimiter'
                        ng-model="$ctrl.specDefinition.def.delimiter">
                    <option ng-value="'&#9;'" selected>Tab</option>
                    <option ng-value="','">Comma ( , )</option>
                    <option ng-value="'|'">Pipe ( | )</option>
                    <option ng-value="';'">Semicolon ( ; )</option>
                    <option ng-value="':'">Colon ( : )</option>
                    <option ng-value="'#'">Hash ( # )</option>
                    <option ng-value="'?'">Other</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"
                   for="status">
                Status <span class="text-danger">*</span>
            </label>
            <div class="col-sm-9">
                <select id="status"
                        ng-model="$ctrl.specDefinition.def.status">
                    <option ng-value="'ACTIVE'" selected>
                        Active (will mark any currently active versions as deprecated)
                    </option>
                    <option ng-value="'DRAFT'">
                        Draft (use for future releases)
                    </option>
                    <option ng-value="'DEPRECATED'">
                        Deprecated (use to document historic versions)
                    </option>
                </select>
            </div>
        </div>



        <div class="form-group">
            <div class="col-sm-3"
                 style="text-align: right">
                <label for="fields"
                       class="control-label">
                    Fields <span class="text-danger">*</span>
                </label>
                <div class="help-block">
                    Enter <b>tab</b> separated field data (one per line) in the following format:
                    <br>
                    <code>Name    Type    Description</code>
                    <br>
                    Allowed values for 'Type' are:
                    <br>
                    DATE, DECIMAL, INTEGER, STRING, BOOLEAN, ENUM
                    <br>
                    <b>Example:</b>
                    <pre style="font-size: xx-small; text-align: left">
Field1&#9;INTEGER&#9;description for field 1
Field2&#9;DATE&#9;description for field 2
                    </pre>

                </div>
            </div>
            <div class="col-sm-9">
                <textarea id="fields"
                          required
                          class="form-control"
                          placeholder="Enter your field definitions here.  You can simply cut n' paste from a spreadsheet"
                          ng-model="$ctrl.specDefFields.rawData"
                          ng-model-options="{ debounce: 250 }"
                          ng-change="$ctrl.preview()"
                          rows="10">
                </textarea>

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                Fields
            </label>
            <div class="col-sm-9">
                <table class="table table-condensed">
                    <colgroup>
                        <col width="20%">
                        <col width="10%">
                        <col width="25%">
                        <col width="15%">
                        <col width="30%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Logical Element</th>
                        <th>Errors</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="fieldData in $ctrl.specDefFields.parsedData | orderBy:'position'">
                        <td>
                            <span ng-bind="fieldData.field.name">
                            </span>
                        </td>
                        <td>
                            <span ng-bind="fieldData.field.type">
                            </span>
                        </td>
                        <td>
                            <span ng-bind="fieldData.field.description">
                            </span>
                        </td>
                        <td>
                            <waltz-entity-selector item-id="fieldData.field.position"
                                                   on-select="$ctrl.onSelectorEntitySelect"
                                                   entity-kinds="['LOGICAL_DATA_ELEMENT']">
                            </waltz-entity-selector>
                        </td>
                        <td ng-class="{ 'bg-danger' : fieldData.errors.length > 0 }">
                            <div ng-repeat="error in fieldData.errors">
                                <span ng-bind="error"></span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3"
                 style="text-align: right">
                <label for="sampleData"
                       class="control-label">
                    Sample Data
                </label>
            </div>
            <div class="col-sm-9">
                <textarea id="sampleData"
                          class="form-control"
                          placeholder="Enter sample data for this definition here.  Confidential data should be obfuscated."
                          ng-model="$ctrl.specDefinition.sampleData"
                          rows="5">
                </textarea>
            </div>
        </div>

        <div class="form-group" style="padding-top: 10px">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button"
                        ng-disabled="specDefForm.$invalid || $ctrl.specDefFields.hasErrors"
                        ng-click="$ctrl.submit()"
                        class="btn btn-success">
                    Submit
                </button>
                &nbsp;
                <a class="clickable"
                   ng-click="$ctrl.onCancel()">
                    <span>Cancel</span>
                </a>
            </div>
        </div>
    </form>
</div>