<div>
    <div class="row">
        <div class="col-sm-6">
            <waltz-measurable-ratings-browser rating-tallies="$ctrl.ratingTallies"
                                              measurables="$ctrl.measurables"
                                              categories="$ctrl.measurableCategories"
                                              scroll-height="500"
                                              on-select="$ctrl.onSelect"
                                              on-category-select="$ctrl.onCategorySelect">
            </waltz-measurable-ratings-browser>

        </div>
        <div class="col-sm-6">
            <div ng-if="$ctrl.activeCategory" style="padding-top: 8px">
                <p class="text-muted">
                    <waltz-markdown text="$ctrl.activeCategory.description"></waltz-markdown>
                </p>
                <hr>
            </div>
            <waltz-loading-notification show="$ctrl.visibility.loading"
                                        style="padding-top: 54px;"
                                        name="Loading">
            </waltz-loading-notification>

            <div ng-if="$ctrl.visibility.ratingDetail && $ctrl.tableData"
                 class="waltz-fade-if">
                <strong>
                    <a ng-bind="$ctrl.selectedMeasurable.name"
                       ui-sref="main.measurable.view ({ id: $ctrl.selectedMeasurable.id })">
                    </a>
                </strong>
                <p class="text-muted">
                    <waltz-markdown text="$ctrl.selectedMeasurable.description"></waltz-markdown>
                </p>

                <waltz-grid-with-search column-defs="$ctrl.columnDefs"
                                        entries="$ctrl.tableData"
                                        searchPlaceholderText="Search"
                                        exportFilename="ratings.csv">
                </waltz-grid-with-search>

            </div>
        </div>
    </div>

</div>
