<div>
    <div class="row">
        <div class="col-sm-2">
            <label>
                Name
            </label>
        </div>
        <div class="col-sm-6">
            <span ng-bind="$ctrl.actor.name">
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <label>
                Description
            </label>
        </div>
        <div class="col-sm-10">
            <span ng-bind="$ctrl.actor.description">
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <waltz-entity-named-notes-panel parent-entity-ref="$ctrl.entityRef">
            </waltz-entity-named-notes-panel>
        </div>
    </div>
</div>