<div>
    <div ng-if="$ctrl.visibility.servers">
        <h4 style="padding-left:32px">
            <waltz-icon name="server">
            </waltz-icon>
            Servers
        </h4>
        <div class="row">
            <div class="col-sm-4">
                <waltz-pie-table data="$ctrl.serverStats.operatingSystem"
                                 config="$ctrl.pieConfig.operatingSystem"
                                 title="By Operating System">
                </waltz-pie-table>
            </div>

            <div class="col-sm-4">
                <waltz-pie-table data="$ctrl.serverStats.environment"
                                 config="$ctrl.pieConfig.environment"
                                 title="By Environment">
                </waltz-pie-table>
            </div>

            <div class="col-sm-4">
                <waltz-pie-table data="$ctrl.serverStats.location"
                                 config="$ctrl.pieConfig.location"
                                 title="By Location">
                </waltz-pie-table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <waltz-pie-table data="$ctrl.serverStats.operatingSystemEndOfLifeStatus"
                                 config="$ctrl.pieConfig.endOfLifeStatus"
                                 title="By Operating System EOL Status">
                </waltz-pie-table>
            </div>

            <div class="col-sm-4">
                <waltz-pie-table data="$ctrl.serverStats.hardwareEndOfLifeStatus"
                                 config="$ctrl.pieConfig.endOfLifeStatus"
                                 title="By Hardware EOL Status">
                </waltz-pie-table>
            </div>
        </div>
    </div>

    <div ng-if="$ctrl.visibility.databases"
         style="border-top: 2px dotted #ddd;">
        <h4 style="padding-left:32px; padding-top: 16px;">
            <waltz-icon name="database">
            </waltz-icon>
            Databases
        </h4>
        <div class="row"
             style="padding-top: 8px;">

            <div class="col-sm-4">
                <waltz-pie-table data="$ctrl.databaseStats.vendor"
                                 config="$ctrl.pieConfig.vendor"
                                 title="By Vendor">
                </waltz-pie-table>
            </div>

            <div class="col-sm-4">
                <waltz-pie-table data="$ctrl.databaseStats.environment"
                                 config="$ctrl.pieConfig.environment"
                                 title="By Environment">
                </waltz-pie-table>
            </div>

            <div class="col-sm-4">
                <waltz-pie-table data="$ctrl.databaseStats.endOfLifeStatus"
                                 config="$ctrl.pieConfig.endOfLifeStatus"
                                 title="By EOL Status">
                </waltz-pie-table>
            </div>
        </div>
    </div>

    <div ng-if="$ctrl.visibility.software"
         style="border-top: 2px dotted #ddd;">
        <h4 style="padding-left:32px; padding-top: 16px;">
            <waltz-icon name="leaf">
            </waltz-icon>
            Software
        </h4>
        <div class="row"
             style="padding-top: 8px;"
             ng-if="$ctrl.visibility.software">
            <div class="col-sm-4">
                <waltz-pie-table data="$ctrl.softwareStats.vendor"
                                 config="$ctrl.pieConfig.vendor"
                                 title="By Vendor">
                </waltz-pie-table>
            </div>

            <div class="col-sm-4">
                <waltz-pie-table data="$ctrl.softwareStats.maturity"
                                 config="$ctrl.pieConfig.maturity"
                                 title="By Maturity">
                </waltz-pie-table>
            </div>
        </div>
    </div>
</div>