<div>
    <div class="waltz-scroll-region"
         ng-style="{ 'max-height': $ctrl.options.maxHeight || '300px' }">
        <treecontrol class="tree-light"
                     tree-model="$ctrl.treeData"
                     options="$ctrl.treeOptions"
                     order-by="'-name'"
                     expanded-nodes="$ctrl.expandedNodes"
                     on-selection="$ctrl.onNodeSelect(node)"
                     filter-expression="$ctrl.filterExpression"
                     selected-node="$ctrl.selectedNode">

            <span title="{{ node.description }}"
                  ng-dblclick="$ctrl.toggleExpansion(node)"
                  class="no-overflow">
                <span ng-bind="node.name"></span>

                <span class="small text-muted"
                      ng-if="$ctrl.options.showDescriptions"
                      ng-bind="node.description">
                </span>
            </span>

        </treecontrol>
    </div>

    <p class="waltz-paragraph small text-muted">
        <a class="clickable" ng-click="$ctrl.collapseAll()">
            Collapse all</a>
        nodes.
    </p>

</div>
