<waltz-section name="Specification Definitions"
               small="( {{ $ctrl.specDefinitions.length }} )"
               icon="file-code-o"
               id="specification-definition-section">

    <waltz-section-actions>
        <div waltz-has-role="LOGICAL_DATA_FLOW_EDITOR">
            <div class="btn-group"
                 uib-dropdown
                 is-open="status.isopen">
                <button type="button"
                        class="btn btn-xs btn-primary"
                        ng-click="$ctrl.showCreateSpecDefinition()"
                        ng-disabled="$ctrl.selectableSpecDefinitions.length == 0">
                    Add New Definition
                </button>
            </div>
        </div>
    </waltz-section-actions>

    <div ng-if="$ctrl.specDefinitionCreate.creating"
         class="waltz-fade-if">
        <waltz-physical-spec-definition-create-panel status="$ctrl.specDefinitionCreate.status"
                                                     on-submit="$ctrl.createSpecDefinition"
                                                     on-cancel="$ctrl.hideCreateSpecDefinition">
        </waltz-physical-spec-definition-create-panel>
    </div>

    <div ng-if="! $ctrl.specDefinitionCreate.creating"
         class="waltz-fade-if">
        <div class="row"
             ng-if="$ctrl.specDefinitions.length > 0">
            <div class="col-sm-4">
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>Version</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="def in $ctrl.specDefinitions | orderBy: 'createdAt':true"
                        class="clickable waltz-visibility-parent"
                        ng-class="{ 'waltz-highlighted-row' : def.id === $ctrl.selectedSpecDefinition.def.id }"
                        ng-click="$ctrl.selectSpecDefinition(def)">
                        <td>
                            <a ng-bind="def.version">
                            </a>
                        </td>
                        <td>
                                <span ng-bind="def.status | toDisplayName:'releaseLifecycleStatus'">
                                </span>
                        </td>
                        <td>
                            <a ng-if="def.status === 'DEPRECATED' || def.status === 'DRAFT'"
                               ng-click="$ctrl.activateSpec(def)"
                               class="btn btn-xs waltz-visibility-child-30">
                                <waltz-icon name="check"></waltz-icon>
                                <span class="small">activate</span>
                            </a>
                            <a ng-if="def.status === 'DEPRECATED'"
                               ng-click="$ctrl.markSpecObsolete(def)"
                               class="btn btn-xs waltz-visibility-child-30">
                                <waltz-icon name="archive"></waltz-icon>
                                <span class="small">mark obsolete</span>
                            </a>
                            <a ng-if="def.status === 'DRAFT'"
                               ng-click="$ctrl.deleteSpec(def)"
                               class="btn btn-xs waltz-visibility-child-30">
                                <waltz-icon name="trash-o"></waltz-icon>
                                <span class="small">delete</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-8"
                 ng-if="$ctrl.selectedSpecDefinition.def">
                <waltz-physical-spec-definition-panel spec-definition="$ctrl.selectedSpecDefinition"
                                                      logical-data-elements="$ctrl.logicalDataElements"
                                                      default-active-tab-index="0"
                                                      on-update-field-description="$ctrl.updateFieldDescription"
                                                      on-update-logical-data-element="$ctrl.updateLogicalDataElement">
                    <no-data-message>
                        <strong>No definitions</strong> for this physical specification.
                    </no-data-message>
                </waltz-physical-spec-definition-panel>
            </div>
        </div>

        <waltz-no-data ng-if="$ctrl.specDefinitions.length == 0">
            <message>
                <strong>No definitions</strong> for this physical specification.
            </message>
        </waltz-no-data>
    </div>
</waltz-section>