
<div class="row"
     ng-if="$ctrl.applications.length > 0">
    <div class="col-md-6">
        <waltz-pie-table data="$ctrl.summaryData.logical"
                         config="$ctrl.config"
                         name="Logical Flow Attestation summary for Applications">
        </waltz-pie-table>
    </div>
    <div class="col-md-6">
        <waltz-pie-table data="$ctrl.summaryData.physical"
                         config="$ctrl.config"
                         name="Physical Flow Attestation summary for Applications">
        </waltz-pie-table>
    </div>
</div>
<div class="row" ng-if="$ctrl.applications.length === 0">
    <div class="col-md-12">
        <waltz-no-data >
            <message>
                <strong>No applications</strong> associated.
            </message>
        </waltz-no-data>
    </div>
</div>