<div class="waltz-page-summary waltz-page-summary-attach">
    <span class="waltz-section-actions" ng-if="$ctrl.appGroup">
        <a ng-if="$ctrl.editable"
           ui-sref="main.app-group.edit ({ id:$ctrl.appGroup.id })"
           class="btn btn-xs btn-primary wsa-action">
            <waltz-icon name="edit"></waltz-icon>
            Edit Group
        </a>
        <waltz-subscription-buttons subscription-status="$ctrl.subscriptionStatus"
                                    on-subscribe="$ctrl.onSubscribe"
                                    on-unsubscribe="$ctrl.onUnsubscribe">
        </waltz-subscription-buttons>
    </span>

    <div class="row">
        <div class="col-sm-12">

            <div  ng-if="$ctrl.appGroup">
                <div style="font-size: larger; border-bottom: 2px dotted #eee; padding: 6px"
                     class="waltz-paragraph"
                     ng-bind="$ctrl.appGroup.description">
                </div>


                <div class="row">
                    <div class="col-sm-4">
                        <waltz-apps-by-investment-pie applications="$ctrl.applications"
                                                      size="70">
                        </waltz-apps-by-investment-pie>
                    </div>

                    <div class="col-sm-4">
                        <waltz-apps-by-lifecycle-phase-pie applications="$ctrl.applications"
                                                           size="70">
                        </waltz-apps-by-lifecycle-phase-pie>
                    </div>

                    <div class="col-sm-4">
                        <waltz-basic-info-tile waltz-jump-to="logical-flows-section"
                                               icon="random"
                                               name="Logical Data Flows">
                            <waltz-flow-cloud-diagram
                                width="230"
                                height="180"
                                stats="$ctrl.flowStats">
                            </waltz-flow-cloud-diagram>
                        </waltz-basic-info-tile>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <waltz-basic-info-tile name="Portfolio Cost"
                                               description="Cumulative value of infra and app dev costs"
                                               waltz-jump-to="costs-section"
                                               icon="money">
                            <span style="font-size: x-large;">
                                <waltz-currency-amount amount="$ctrl.totalCost.amount"
                                                       simplify="true">
                                </waltz-currency-amount>
                            </span>
                        </waltz-basic-info-tile>
                    </div>
                    <div class="col-sm-4">
                        <waltz-basic-info-tile name="Complexity"
                                               description="Derived from capabilities, connections and servers"
                                               class="clickable"
                                               waltz-jump-to="complexity-section"
                                               icon="rocket">
                            <div style="font-size: x-large;">
                                &Sigma;
                                <span ng-bind="$ctrl.complexitySummary.cumulativeScore | toFixed:1"></span>
                            </div>
                            <div class="small text-muted">
                                <span ng-bind="$ctrl.complexitySummary.averageScore | toFixed:2"></span>
                                per app
                            </div>
                        </waltz-basic-info-tile>

                    </div>
                    <div class="col-sm-4">
                        <waltz-basic-info-tile name="Servers"
                                               class="clickable"
                                               description="Number of servers supporting this group"
                                               waltz-jump-to="servers-section"
                                               icon="server">
                            <div>
                                <div style="font-size: x-large;">
                                    #
                                    <span ng-bind="$ctrl.enrichedServerStats.total"></span>
                                </div>
                                <div class="small text-muted">
                                    <span ng-bind="$ctrl.enrichedServerStats.virtualPercentage"></span>
                                    % virtual
                                </div>
                            </div>
                        </waltz-basic-info-tile>

                    </div>
                </div>
            </div>
            <waltz-no-data ng-if="!$ctrl.appGroup">
                <message>No information for this app group</message>
            </waltz-no-data>
        </div>
    </div>
    <div class="small text-muted"
         ng-if="$ctrl.owners.length > 0">
        &nbsp;
        <div class="pull-right">
            <strong>Group Owner/s:</strong>
            <span ng-repeat="owner in $ctrl.owners">
                <span ng-bind="owner.userId"></span>
                &nbsp;
            </span>
        </div>
    </div>
</div>

