<div class="row">
</div>
<div class="row">
    <div class="col-md-12 waltz-tree-filter">
        Selected data types
        <span ng-if="!$ctrl.selectedItems.length" class="wtf-filter-item">All</span>
        <span ng-repeat="selectedItem in $ctrl.selectedItems" class="wtf-filter-item">
            <span ng-bind="selectedItem.name"></span><waltz-icon class="wtf-filter-delete clickable" name="close"
                                                                 ng-click="$ctrl.removeSelected(selectedItem.id)"></waltz-icon>
        </span>
        [<a ng-click="$ctrl.toggleTreeSelector()"><span><waltz-icon name="arrow-up" ng-if="$ctrl.editMode"></waltz-icon><waltz-icon
        name="arrow-down" ng-if="!$ctrl.editMode"></waltz-icon></span></a>]
    </div>
</div>
<div class="row" style="padding-top: 0.7em;" ng-if="$ctrl.editMode">
    <div class="col-md-6">
        <waltz-search-control on-query="$ctrl.doSearch"
                              min-characters='2'
                              delay="200"
                              placeholderText="Search Data Types">
        </waltz-search-control>
    </div>
    <div class="col-md-12" style="text-align: left">
        <treecontrol class="tree-light waltz-tree-filter"
                     tree-model="$ctrl.hierarchy"
                     order-by="'-name'"
                     options="$ctrl.treeOptions"
                     expanded-nodes="$ctrl.expandedNodes">
            <span ng-if="node.concrete"
                ng-click="$ctrl.onSelect(node)">
                <span class="clickable"
                      ng-bind="node.name"
                      uib-popover="{{node.description}}"
                      popover-append-to-body="true"
                      popover-placement="right"
                      popover-trigger="mouseenter">
                </span>
            </span>
            <waltz-icon name="close" ng-if="$ctrl.isSelected(node)" ng-click="$ctrl.removeSelected(node.id)"></waltz-icon>
            <span ng-if="!node.concrete"
                  ng-bind="node.name"
                  style="cursor: not-allowed"
                  uib-popover="{{node.description}}"
                  popover-append-to-body="true"
                  popover-placement="right"
                  popover-trigger="mouseenter">
            </span>
        </treecontrol>
    </div>
</div>
