<div>
    <waltz-page-header name="Register Logical Data Flows"
                       small="{{ ctrl.app.name }}">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li>
                <a ui-sref="main.app.view ({id: ctrl.app.id})">
                    <span ng-bind="ctrl.app.name"></span>
                </a>
            </li>
            <li>Register Logical Data Flows</li>
        </ol>
    </waltz-page-header>


    <div class="waltz-page-summary waltz-page-summary-attach">

        <div class="row">
            <div class="col-md-12">
                <!-- SLOPE DIAGRAM -->
                <waltz-source-and-target-graph entity-ref="ctrl.entityRef"
                                               logical-flows="ctrl.flows"
                                               decorators="ctrl.dataFlowDecorators"
                                               tweakers="ctrl.flowTweakers">
                </waltz-source-and-target-graph>
            </div>
        </div>

        <hr>


        <form name="dataFlowForm"
              novalidate
              ng-submit="ctrl.submit()">

            <!-- ACTIONS -->
            <div class="row">
                <div class="col-sm-5">
                    <div class="alert"
                         style="background-color: #f5f5f5; border-radius: 10px;">
                        <ul class="small">
                            <li>
                                Update Sources and Targets
                                <ul>
                                    <li>
                                        Click on an the name of the application above to edit
                                        the types of data in use
                                    </li>
                                    <li>
                                        To remove an application deselect all of it's
                                        associated data types
                                    </li>
                                </ul>
                            </li>

                            <li>
                                Add Applications
                                <ul>
                                    <li>
                                        <a class="clickable"
                                           ng-click="ctrl.setMode('addSource')">
                                            Add an <strong>upstream</strong> source
                                        </a>
                                    </li>
                                    <li>
                                        <a class="clickable"
                                           ng-click="ctrl.setMode('addTarget')">
                                            Add a <strong>downstream</strong> target
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>

                        <hr>

                        <p class="waltz-paragraph small" style="margin-left: 26px" >
                            Go back to
                            <a ng-bind='ctrl.app.name' ui-sref="main.app.view ({ id: ctrl.app.id })"></a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div ng-if="ctrl.mode === 'addSource'">
                        <h4>
                            <waltz-icon name="arrow-up">
                            </waltz-icon>
                            Add Upstream Source
                        </h4>
                        <waltz-basic-app-selector on-add="ctrl.addSource"
                                                  on-cancel="ctrl.cancel">

                        </waltz-basic-app-selector>
                        <div class="small text-muted waltz-paragraph">
                            Applications which
                            <i ng-bind="ctrl.app.name"></i>
                            either pulls or receives data from are known as upstream sources.
                        </div>
                    </div>

                    <div ng-if="ctrl.mode === 'addTarget'">
                        <h4>
                            <waltz-icon name="arrow-down">
                            </waltz-icon>
                            Add Downstream Target
                        </h4>
                        <waltz-basic-app-selector on-add="ctrl.addTarget"
                                                  on-cancel="ctrl.cancel">
                        </waltz-basic-app-selector>
                        <div class="small text-muted waltz-paragraph">
                            Applications which either receive or pull data from
                            <i ng-bind="ctrl.app.name"></i>
                            are known as downstream targets.
                        </div>
                    </div>

                    <div ng-if="ctrl.mode === 'editCounterpart'">
                        <waltz-logical-flow-type-editor flow="ctrl.selectedFlow"
                                                        decorators="ctrl.selectedDecorators"
                                                        all-data-types="ctrl.dataTypes"
                                                        on-cancel="ctrl.cancel"
                                                        on-save="ctrl.updateFlow"
                                                        on-delete="ctrl.deleteFlow"
                                                        on-dirty="ctrl.setDirtyChange">
                        </waltz-logical-flow-type-editor>
                    </div>

                    <div ng-if="ctrl.mode === 'editDataTypeUsage'">
                        <waltz-app-data-type-usage-editor primary-entity="ctrl.app"
                                                          type="ctrl.selectedDataType"
                                                          on-save="ctrl.saveUsages"
                                                          on-cancel="ctrl.cancel"
                                                          usages="ctrl.selectedUsages">
                        </waltz-app-data-type-usage-editor>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>


