<div ng-if="$ctrl.visibility.loading">
    <waltz-icon name="spinner" spin="true"></waltz-icon>
    Loading
</div>

<div ng-if="! $ctrl.visibility.loading">
    <!-- SUMMARY -->
    <div ng-if="$ctrl.visibility.summary">
        <h4>
            <span ng-bind="$ctrl.selectedDefinition.name"></span>
            <span class="small" style="margin-left: 2em;">
                <a ng-click="$ctrl.switchToChoicePicker()"
                   class="clickable">
                    <waltz-icon name="exchange"></waltz-icon>
                    Change dimensions
                </a>
            </span>
        </h4>

        <div class="small">
            <waltz-markdown text="$ctrl.selectedDefinition.description">
            </waltz-markdown>
        </div>

    </div>

    <!-- CHOICES -->
    <div ng-if="$ctrl.visibility.choicePicker">
        <ul class="list-unstyled">
            <li ng-repeat="definition in $ctrl.definitions">
                <waltz-toggle state="definition.id == $ctrl.selectedDefinition.id"
                              on-toggle="$ctrl.onOptionSelect(definition)">
                </waltz-toggle>
                <span ng-bind="definition.name"
                      class="clickable"
                      ng-click="$ctrl.onOptionSelect(definition)">
                </span>

                <span uib-popover-template="'wdgds/desc-popup.html'"
                      popover-class="waltz-popover-wide"
                      popover-append-to-body="true"
                      popover-placement="right"
                      popover-trigger="outsideClick">
                    <a class="clickable">
                        <waltz-icon name="info-circle">
                        </waltz-icon>
                    </a>
                </span>

            </li>
        </ul>
        <div>
            <a class='small clickable'
               ng-click="$ctrl.switchToManualPicker()">
                <waltz-icon name="wrench"></waltz-icon>
                Configure
            </a>
        </div>
    </div>


    <!-- CONFIGURE -->
    <div ng-if="$ctrl.visibility.manualPicker">
        <p class="text-muted">
            Select dimensions
        </p>
        <div class="row">
            <div class="col-md-3">
                Columns (X):
            </div>
            <div class="col-md-9">
                <select ng-model="$ctrl.selectedDefinition.xAxis"
                        ng-change="$ctrl.onAxisChange()"
                        ng-options="option.name for option in $ctrl.axisOptions track by option.id">
                </select>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                Rows Groups (Y):
            </div>
            <div class="col-md-9">
                <select ng-model="$ctrl.selectedDefinition.yAxis"
                        ng-change="$ctrl.onAxisChange()"
                        ng-options="option.name for option in $ctrl.axisOptions track by option.id">
                </select>
            </div>
        </div>

        <div ng-if="$ctrl.definitions.length > 0">
            <a class='small clickable'
               ng-click="$ctrl.switchToSummary()">
                <waltz-icon name="check"></waltz-icon>
                Done
            </a>
        </div>
    </div>


    <div ng-if="$ctrl.messages.length > 0">
        <hr>
        <div class="alert alert-warning">
            <ul>
                <li ng-repeat="message in $ctrl.messages">
                    <span ng-bind="message"></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- DESCRIPTION POPUP -->
<script type="text/ng-template"
        id="wdgds/desc-popup.html">
    <div>
        <waltz-markdown text="definition.description"></waltz-markdown>
    </div>
</script>