<div ng-class="$ctrl.containerClass">
    <treecontrol class="tree-light"
                 tree-model="$ctrl.treeData"
                 options="$ctrl.treeOptions"
                 on-selection="$ctrl.onSelect(node)"
                 order-by="'-name'">
                    <span title="{{ node.description }}"
                          style="display: inline-block; width: 90%; padding: 0; margin: 0;"
                          ng-class="{ 'text-muted': $ctrl.ratingsMap[node.id].total.total == 0 }"
                          class="no-overflow waltz-visibility-parent">
                        <span class="clickable">
                            <span ng-bind="node.externalId"></span>
                        </span>
                        -
                        <span ng-bind="node.name"
                              class="waltz-visibility-child-90"
                              ng-class="{ 'italics' : ! node.concrete }">
                        </span>
                        <span ng-bind="node.kind | toDisplayName:'changeInitiative' "
                              class="waltz-visibility-child-90 small text-muted"
                              ng-class="{ 'italics' : ! node.concrete }">
                        </span>
                    </span>
    </treecontrol>
</div>
