<p class="input-group">
    <input id="{{$ctrl.id}}"
           type="text"
           class="form-control"
           placeholder="{{$ctrl.placeHolder}}"
           ng-model="$ctrl.model"
           ng-model-options="{timezone: 'utc'}"
           ng-required="$ctrl.required"
           ng-change="$ctrl.valueChanged()"
           uib-datepicker-popup="{{$ctrl.format}}"
           is-open="$ctrl.datePickerOpened"
           datepicker-options="$ctrl.dateOptions"
           close-text="Close"/>
    <span class="input-group-btn">
        <button type="button"
                class="btn btn-default"
                style="padding-bottom: 7px;"
                ng-click="$ctrl.datePickerOpen()">
            <waltz-icon name="calendar"/>
        </button>
    </span>
</p>