<waltz-section name="Functions"
               icon="puzzle-piece"
               id="functions-processes-section">

    <waltz-section-actions>
        <a waltz-has-role="RATING_EDITOR"
           ui-sref='main.app-capability.edit ({id: $ctrl.app.id})'
           ng-if="$ctrl.activeTab == 0"
           class="btn btn-xs btn-primary">
            Edit
        </a>
        <button class="btn btn-xs waltz-btn-transparent"
                ng-click="$ctrl.visibility.overlay = ! $ctrl.visibility.overlay">
            <waltz-icon name="map-signs"></waltz-icon>
        </button>
    </waltz-section-actions>

    <waltz-source-data-overlay visible="$ctrl.visibility.overlay"
                               ratings="$ctrl.sourceDataRatings"
                               entities="['APP_CAPABILITY', 'PROCESS']">
    </waltz-source-data-overlay>


    <waltz-app-capability-section app-capabilities="$ctrl.appCapabilities"
                                  capabilities="$ctrl.capabilities">
    </waltz-app-capability-section>
</waltz-section>