<div>
    <!-- ACTIONS -->
    <waltz-section-actions ng-if="$ctrl.editable">
        <button ng-click="$ctrl.onEdit(true)"
                class="btn btn-xs btn-primary"
                ng-if="$ctrl.mode === 'view'">
            Edit
        </button>

        <button ng-click="$ctrl.onCancel(true)"
                class="btn btn-xs btn-info"
                ng-if="$ctrl.mode === 'edit'">
            View
        </button>
    </waltz-section-actions>

    <div class="row">
        <div class="col-md-12">
            <div ng-if="$ctrl.relationships.length > 0">
                <table class="table table-condensed small table-hover">
                    <colgroup>
                        <col width="35%">
                        <col width="50%">
                        <col width="15%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>
                            <span ng-if="$ctrl.mode === 'edit'">
                                Actions
                            </span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="rel in $ctrl.relationships"
                        class="waltz-visibility-parent">
                        <td>
                            <span ng-if="$ctrl.mode === 'edit'">
                                <span ng-bind="rel.counterpart.name"></span>
                            </span>
                            <span ng-if="$ctrl.mode === 'view'">
                                <a ui-sref="main.org-unit.view ({id: rel.counterpart.id})"
                                   class="clickable">
                                    <span ng-bind="rel.counterpart.name"></span>
                                </a>
                            </span>
                        </td>
                        <td>
                            <span ng-bind="rel.counterpart.description | limitTo: 50"></span>
                        </td>

                        <!-- EDIT (REMOVE) -->
                        <td>
                            <span ng-if="$ctrl.mode === 'edit'">
                                <a ng-click="$ctrl.onRemove(rel.relationship)"
                                   class="waltz-visibility-child-30 clickable">
                                    Remove
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <!-- ADD -->
            <div ng-if="$ctrl.mode === 'edit'">
                <div class="help-block">
                    Add related Organisation Units by searching for them here.
                </div>
                <waltz-entity-selector on-select="$ctrl.onSelected"
                                       current-selection="$ctrl.currentlySelected"
                                       entity-kinds="['ORG_UNIT']"
                                       selection-filter="$ctrl.selectionFilter">
                </waltz-entity-selector>

                <a class="btn btn-primary"
                   ng-click="$ctrl.onAdd()">
                    Add
                </a>
            </div>


            <!-- NO DATA -->
            <waltz-no-data ng-if="$ctrl.relationships.length == 0 && $ctrl.mode == 'view'">
                <message>
                    <strong>No Organisational Units have been associated with this
                        <span ng-bind="::$ctrl.parentEntityRef.kind | toDisplayName:'entity'"></span>
                    </strong>
                </message>
            </waltz-no-data>

        </div>
    </div>
</div>
