.waltz-rated-flow-summary-table {
    .primary {
        fill: #3cd32f;
    }

    .secondary {
        fill: #d3c433;
    }

    .discouraged {
        fill: #d33035;
    }

    .no-opinion {
        fill: #6d6b70;
    }

}