<div class="row">
    <div class="col-md-7">
        <waltz-rated-flow-summary-table rated-flows="$ctrl.ratedFlows"
                                        apps="$ctrl.apps"
                                        org-unit-id="$ctrl.orgUnitId"
                                        on-click="$ctrl.onTableClick">
        </waltz-rated-flow-summary-table>
    </div>
    <div class="col-md-5">
        <waltz-rated-flow-summary-info-cell ng-if="$ctrl.selectedBucket.type == 'CELL'"
                                            applications="$ctrl.selectedBucket.applications"
                                            type="$ctrl.selectedBucket.dataType"
                                            flows="$ctrl.selectedBucket.flows"
                                            org-unit-id="$ctrl.orgUnitId"
                                            rating="$ctrl.selectedBucket.rating">
        </waltz-rated-flow-summary-info-cell>
    </div>
</div>
