<div class="waltz-rated-flow-summary-table">
    <table class="table table-condensed">
        <colgroup>
            <col width="15%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="5%">
        </colgroup>
        <thead>
        <tr>
            <th>Data Type</th>
            <th ng-click="$ctrl.columnClick($event, 'PRIMARY')">Primary</th>
            <th ng-click="$ctrl.columnClick($event, 'SECONDARY')">Secondary</th>
            <th ng-click="$ctrl.columnClick($event, 'DISCOURAGED')">Discouraged</th>
            <th ng-click="$ctrl.columnClick($event, 'NO_OPINION')">No Opinion</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(dataType, scores) in $ctrl.summary"
            ng-click="$ctrl.rowClick($event, dataType)">
            <td>
                <span ng-bind="dataType | toDisplayName:'dataType'">
                </span>
            </td>
            <td>
                <waltz-rated-flow-summary-cell scores="scores['PRIMARY']"
                                               type="dataType"
                                               largest-bucket="$ctrl.maxBucketSizes[dataType]"
                                               ng-click="$ctrl.cellClick($event, dataType, 'PRIMARY')"
                                               class="primary clickable">
                </waltz-rated-flow-summary-cell>
            </td>
            <td>
                <waltz-rated-flow-summary-cell scores="scores['SECONDARY']"
                                               type="dataType"
                                               largest-bucket="$ctrl.maxBucketSizes[dataType]"
                                               ng-click="$ctrl.cellClick($event, dataType, 'SECONDARY')"
                                               class="secondary clickable">
                </waltz-rated-flow-summary-cell>
            </td>
            <td>
                <waltz-rated-flow-summary-cell scores="scores['DISCOURAGED']"
                                               type="dataType"
                                               largest-bucket="$ctrl.maxBucketSizes[dataType]"
                                               ng-click="$ctrl.cellClick($event, dataType, 'DISCOURAGED')"
                                               class="discouraged clickable">
                </waltz-rated-flow-summary-cell>
            </td>
            <td>
                <waltz-rated-flow-summary-cell scores="scores['NO_OPINION']"
                                               type="dataType"
                                               largest-bucket="$ctrl.maxBucketSizes[dataType]"
                                               ng-click="$ctrl.cellClick($event, dataType, 'NO_OPINION')"
                                               class="no-opinion clickable">
                </waltz-rated-flow-summary-cell>
            </td>
            <td>
                <span class='small text-muted'
                      ng-bind="$ctrl.totals[dataType]">
                </span>
            </td>

        </tr>
        </tbody>
    </table>
</div>