<div>

    <div class="row"
         ng-if="$ctrl.produces.length > 0">

        <div class="col-md-12">
            <h4>Produces</h4>

            <div class="row"
                 ng-if="$ctrl.produces.length > 10">

                <br>

                <div class="col-md-6">
                    <waltz-search-control min-characters="3"
                                          delay="250"
                                          on-query="$ctrl.filterProduces"
                                          placeholder-text="Search producers...">
                    </waltz-search-control>
                </div>
            </div>

            <br>

            <waltz-grid column-defs="$ctrl.produceColumnDefs"
                        row-data="$ctrl.filteredProduces"
                        on-initialise="$ctrl.onProducesGridInitialise"
                        class="small">
            </waltz-grid>
        </div>
    </div>


    <div class="row"
         ng-if="$ctrl.consumes.length > 0">

        <br>

        <div class="col-md-12">
            <h4>Consumes</h4>

            <div class="row"
                 ng-if="$ctrl.consumes.length > 10">
                <br>
                <div class="col-md-6">
                    <waltz-search-control min-characters="3"
                                          delay="250"
                                          on-query="$ctrl.filterConsumes"
                                          placeholder-text="Search consumers...">
                    </waltz-search-control>
                </div>
            </div>

            <br>

            <waltz-grid column-defs="$ctrl.consumeColumnDefs"
                        row-data="$ctrl.filteredConsumes"
                        on-initialise="$ctrl.onConsumesGridInitialise"
                        class="small">
            </waltz-grid>
        </div>
    </div>


    <div ng-if="$ctrl.produces.length == 0 && $ctrl.consumes.length == 0"
         class="alert alert-warning">
        <strong>No Physical Flow</strong> detail available for this application
    </div>


    <div class="row"
         ng-hide="$ctrl.unusedSpecifications | isEmpty">

        <br>

        <div class="col-md-12">
            <h4>Unused Specifications</h4>
            <small class="text-muted">
                Specifications which have been registered, but are not sent to any consumers.
            </small>

            <br><br>

            <waltz-grid column-defs="$ctrl.unusedSpecificationsColumnDefs"
                        row-data="$ctrl.unusedSpecifications"
                        on-initialise="$ctrl.onUnusedSpecificationsGridInitialise"
                        class="small">
            </waltz-grid>
        </div>
    </div>
</div>