<div>


    <div class="row" ng-if="$ctrl.appCapability.capabilityId > 0">
        <h4>
            Edit rating for <span ng-bind="$ctrl.workingCopy.capability.name"></span>
        </h4>

        <hr>
    </div>


    <div class="row" ng-if="! $ctrl.appCapability.capabilityId">
        <h4>
            New capability and rating
        </h4>

        <hr>

        <div class="col-md-2">
            Function:
        </div>
        <div class="col-md-10">
            <div ng-if="$ctrl.workingCopy.capability != null">
                <span ng-bind="$ctrl.workingCopy.capability.name"
                      style="padding-right: 16px;">
                </span>
                <a class="clickable"
                   ng-click="$ctrl.visibility.capabilitySelector = true">
                    <waltz-icon name="pencil-square-o"></waltz-icon>
                    Change
                </a>

                <div class="small text-muted"
                     ng-bind="$ctrl.workingCopy.capability.description"></div>
            </div>

            <div ng-if="$ctrl.visibility.capabilitySelector">

                <waltz-capability-tree capabilities="$ctrl.capabilities"
                                       disabled-node-ids="$ctrl.usedCapabilityIds"
                                       node-select="$ctrl.onNodeSelect"
                                       options="{ showDescriptions: false }"
                                       selected-node="$ctrl.selectedCapability">
                </waltz-capability-tree>
            </div>

            <br>
        </div>

    </div>


    <div class="row">
        <div class="col-md-2">
            Rating:
        </div>
        <div class="col-md-10">
            <waltz-rating-picker selected="$ctrl.workingCopy.rating"
                                 on-select="$ctrl.selectRating">

            </waltz-rating-picker>
        </div>
    </div>


    <br>


    <div class="row">
        <div class="col-md-2">
            Comments:
        </div>
        <div class="col-md-10">
            <textarea rows="5"
                      style="width: 100%"
                      ng-model="$ctrl.workingCopy.description">
            </textarea>
        </div>
    </div>


    <hr>


    <div class="row">
        <div class="col-md-offset-8 col-md-4">
            <button class="btn btn-primary"
                    ng-disabled="!$ctrl.canSave()"
                    type="button"
                    ng-click="$ctrl.save()">
                Save
            </button>
            <a class="clickable"
               ng-click="$ctrl.cancel()">
                Cancel
            </a>
        </div>
    </div>


</div>