<style>
    .cell-inherited {
        opacity: 0.4;
    }

    .cell-inherited:hover {
        opacity: 0.8;
    }

    .col-titles, .row-titles {
        font-size: smaller;
    }

    .cell-override {
        pointer-events: none;
    }

    .pending-override {
        opacity: 1;
    }

    .existing-override {
        opacity: 1;
    }

</style>

<svg class="no-text-select">
    <defs>
        <filter id="filter1" x="0" y="0">
            <feOffset result="offOut"rrr
                      in="SourceAlpha"
                      dx="-5"
                      dy="-5" />
            <feGaussianBlur result="blurOut"
                            in="offOut"
                            stdDeviation="3" />
            <feBlend in="SourceGraphic"
                     in2="blurOut"
                     mode="normal" />
        </filter>
    </defs>
    <g class="main">
        <g class="row-titles"></g>
        <g class="col-titles"></g>
    </g>

</svg>