<div>

    <!-- HEADER -->
    <waltz-page-header name="{{ ctrl.specification.name }}"
                       small="{{ ctrl.specification.owningEntity.name }} &rarr; {{ ctrl.physicalFlow.target.name }}"
                       icon="qrcode">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li>
                <waltz-entity-link entity-ref="ctrl.specification.owningEntity"></waltz-entity-link>
            </li>
            <li ng-bind="ctrl.specification.name"></li>
        </ol>
    </waltz-page-header>


    <div class="waltz-page-summary waltz-page-summary-attach">
        <waltz-section-actions>
            <button waltz-has-role="LOGICAL_DATA_FLOW_EDITOR"
                    class="btn btn-xs btn-danger"
                    ng-disabled="! (ctrl.mentions | isEmpty)"
                    uib-popover="This flow cannot be deleted as it is being used in a lineage"
                    popover-trigger="mouseenter"
                    popover-enable="{{ ! (ctrl.mentions | isEmpty) }}"
                    ng-click="ctrl.deleteFlow()">
                Delete
            </button>
        </waltz-section-actions>

        <waltz-physical-flow-overview physical-flow="ctrl.physicalFlow"
                                      specification="ctrl.specification">
        </waltz-physical-flow-overview>
    </div>

    <br>

    <!-- LINEAGE -->
    <waltz-section name="Lineage"
                   small="Contributing flows"
                   id="lineage-section">

        <div class="waltz-section-actions">
            <div waltz-has-role="LINEAGE_EDITOR">
                <a ui-sref="main.physical-flow-lineage.edit ({id: ctrl.physicalFlow.id})"
                   class="btn btn-xs btn-primary">
                    <waltz-icon name="edit"></waltz-icon>
                    <span ng-if="ctrl.lineage.length == 0">
                        Create Lineage
                    </span>
                    <span ng-if="ctrl.lineage.length > 0">
                        Edit Lineage
                    </span>
                </a>
            </div>

            <button type="button"
                    ng-disabled="ctrl.lineage.length == 0 "
                    ng-click="ctrl.exportLineage()"
                    class="btn btn-xs btn-primary">
                Export
            </button>
        </div>


        <div ng-if="ctrl.lineage.length > 0">

            <!-- BOINGY -->

            <div class="row" >
                <div class="col-sm-8"
                     style="border-right: 1px solid #eee;">
                    <waltz-data-flow-diagram data="ctrl.graph.data"
                                             tweakers="ctrl.graph.tweakers">
                    </waltz-data-flow-diagram>
                </div>
                <div class="col-md-4"
                     ng-if="ctrl.selected.entity">
                    <h4>
                        <waltz-entity-icon-label entity-ref="ctrl.selected.entity">
                        </waltz-entity-icon-label>
                        <small>Flows</small>
                    </h4>

                    <div ng-if="ctrl.selected.incoming.length > 0">
                        <h5>Incoming</h5>
                        <table class="table table-condensed small table-hover">
                            <thead>
                            <tr>
                                <th style="width: 60%">Name</th>
                                <th style="width: 40%">Source</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="r in ctrl.selected.incoming | orderBy:['specification.name', 'sourceEntity.name']"
                                uib-popover-html="ctrl.preparePopover(r)"
                                popover-trigger="mouseenter"
                                popover-placement="left">
                                <td class="force-wrap">
                                    <span ng-bind="r.specification.name"></span>
                                </td>
                                <td class="force-wrap">
                                    <waltz-entity-icon-label ng-click="ctrl.selectEntity(r.sourceEntity)"
                                                             class="waltz-action-link"
                                                             entity-ref="r.sourceEntity">
                                    </waltz-entity-icon-label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div ng-if="ctrl.selected.outgoing.length > 0">
                        <h5>Outgoing</h5>
                        <table class="table table-condensed small table-hover">
                            <thead>
                            <tr>
                                <th style="width: 60%">Name</th>
                                <th style="width: 40%">Target</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="r in ctrl.selected.outgoing | orderBy:['specification.name', 'targetEntity.name']"
                                uib-popover-html="ctrl.preparePopover(r)"
                                popover-trigger="mouseenter"
                                popover-placement="left">
                                <td class="force-wrap">
                                    <span ng-bind="r.specification.name"></span>
                                </td>
                                <td class="force-wrap">
                                    <waltz-entity-icon-label ng-click="ctrl.selectEntity(r.targetEntity)"
                                                             class="waltz-action-link"
                                                             entity-ref="r.targetEntity">
                                    </waltz-entity-icon-label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <hr>

            <!-- TABLE -->

            <div class="row" >
                <div class="col-sm-12">
                    <waltz-physical-flow-lineage-panel lineage="ctrl.lineage"
                                                       on-initialise="ctrl.onLineagePanelInitialise">
                    </waltz-physical-flow-lineage-panel>
                </div>
            </div>

        </div>

        <div ng-if="ctrl.lineage.length == 0">
            <div class="row" >
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        <strong>No lineage</strong> defined for this flow.
                    </div>
                </div>
            </div>
        </div>
    </waltz-section>



    <!-- MENTIONS -->
    <waltz-section name="Mentions"
                   small="as a contributor to other flows"
                   id="mentions-section">

        <div class="waltz-section-actions">
            <button type="button"
                    ng-disabled="ctrl.mentions.length == 0 "
                    ng-click="ctrl.exportMentions()"
                    class="btn btn-xs btn-primary">
                Export
            </button>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div ng-if="ctrl.mentions.length > 0">
                    <waltz-physical-specification-mentions mentions="ctrl.mentions"
                                                           on-initialise="ctrl.onMentionsPanelInitialise">
                    </waltz-physical-specification-mentions>
                </div>
                <div class="alert alert-warning"
                     ng-if="ctrl.mentions.length == 0">
                    <strong>No mentions.</strong> This flow has not been mentioned as a contributor to any other flow.
                </div>

            </div>
        </div>

    </waltz-section>


    <!-- BOOKMARKS -->
    <waltz-bookmarks-section bookmarks="ctrl.bookmarks"
                             entity-id="{{ ctrl.specification.id }}"
                             kind="PHYSICAL_SPECIFICATION"
                             parent-name="{{ ctrl.specification.name }}">
    </waltz-bookmarks-section>

</div>