<div class="waltz-non-auth-sources-panel">

    <div class="row">
        <div class="col-sm-4">
            <table class="table table-condensed">
                <colgroup>
                    <col width="85%">
                    <col width="15%">
                </colgroup>
                <thead>
                <tr>
                    <th colspan="2">
                        Data Type
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="group in $ctrl.groupedNonAuthSources"
                    class="wnso-category clickable"
                    ng-class="{
                        'wnasp-selected': $ctrl.selectedGroup.dataType.id === group.dataType.id
                    }"
                    ng-click="$ctrl.selectedGroup = group">
                    <td>
                        <span ng-bind="group.dataType.name">
                        </span>
                    </td>
                    <td>
                        <span class="small"
                              ng-bind="group.sources.length">
                        </span>
                    </td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><span ng-bind="$ctrl.totalCount"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <div ng-class="{'waltz-scroll-region-600': $ctrl.selectedGroup.sources.length > 20 }"
                 ng-if="$ctrl.selectedGroup">
                <table class="table table-condensed">
                    <colgroup>
                        <col width="80%">
                        <col width="20%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Application</th>
                        <th>Consumers</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="source in $ctrl.selectedGroup.sources">
                        <td>
                            <waltz-entity-link entity-ref="source.sourceReference"></waltz-entity-link>
                        </td>
                        <td>
                            <span ng-bind="source.count"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
