<waltz-section name="Flow Diagrams"
               small="( {{ $ctrl.flowDiagrams.length }} )"
               icon="picture-o"
               id="specification-flow-diagram-section">

    <waltz-section-actions>
        <div waltz-has-role="LOGICAL_DATA_FLOW_EDITOR">
                <span ng-if="! $ctrl.visibility.editor"
                      class="waltz-fade-if">
                    <button class="btn btn-xs btn-primary"
                            ng-click="$ctrl.showCreateDiagram()">
                        Create
                    </button>
                </span>
            <span ng-if="$ctrl.visibility.editor"
                  class="waltz-fade-if">
                <button class="btn btn-xs btn-success"
                        ng-click="$ctrl.saveFlowDiagram()">
                    Save
                </button>
                &nbsp;
                <a class="clickable"
                   ng-click="$ctrl.dismissCreateDiagram()">
                    Cancel
                </a>
            </span>
        </div>
    </waltz-section-actions>

    <div ng-if="! $ctrl.visibility.editor"
         class="waltz-fade-if">
        <div ng-if="$ctrl.flowDiagrams.length > 0">
            <waltz-flow-diagrams-panel flow-diagrams="$ctrl.flowDiagrams"
                                       flow-diagram-entities="$ctrl.flowDiagramEntities">
            </waltz-flow-diagrams-panel>
        </div>

        <waltz-no-data ng-if="$ctrl.flowDiagrams.length == 0">
            <message>
                <strong>No flow diagrams</strong> for this physical specification.
            </message>
        </waltz-no-data>
    </div>

    <div ng-if="$ctrl.visibility.editor"
         class="waltz-fade-if">
        <waltz-flow-diagram-editor on-cancel="$ctrl.dismissCreateDiagram">
        </waltz-flow-diagram-editor>
    </div>

</waltz-section>