<waltz-section name="Flow Diagrams"
               small="( {{ $ctrl.flowDiagrams.length }} )"
               icon="picture-o"
               id="specification-flow-diagram-section">

    <waltz-section-actions>
        <div waltz-has-role="LOGICAL_DATA_FLOW_EDITOR">
        </div>
    </waltz-section-actions>

    <div ng-if="! $ctrl.visibility.editor"
         class="waltz-fade-if">
        <div ng-if="$ctrl.flowDiagrams.length > 0">
            <waltz-flow-diagrams-panel flow-diagrams="$ctrl.flowDiagrams"
                                       flow-diagram-entities="$ctrl.flowDiagramEntities"
                                       create-diagram-commands="$ctrl.createDiagramCommands"
                                       reload="$ctrl.reload">
            </waltz-flow-diagrams-panel>
        </div>

        <waltz-no-data ng-if="$ctrl.flowDiagrams.length == 0">
            <message>
                <strong>No flow diagrams</strong> for this physical specification.
            </message>
        </waltz-no-data>
    </div>

</waltz-section>