<div class="row">

    <div class="col-sm-4">
        <waltz-pie-table data="$ctrl.pieData.vendor"
                         config="$ctrl.pieConfig.vendor"
                         title="By Vendor">
        </waltz-pie-table>
    </div>

    <div class="col-sm-4">
        <waltz-pie-table data="$ctrl.pieData.environment"
                         config="$ctrl.pieConfig.environment"
                         title="By Environment">
        </waltz-pie-table>
    </div>

    <div class="col-sm-4">
        <waltz-pie-table data="$ctrl.pieData.endOfLifeStatus"
                         config="$ctrl.pieConfig.endOfLifeStatus"
                         title="By EOL Status">
        </waltz-pie-table>
    </div>

</div>