<div>
    <div class="row">
        <div class="col-md-offset-7 col-md-5">
            <waltz-overlay-panel name="Configuration"
                                 icon="cogs"
                                 visible="ctrl.capabilitySelectorVisible">


                <div class="waltz-paragraph">
                    Use the tree control below to include or exclude
                    capabilities from the visualisation and to select
                    the 'colouring' strategy.
                </div>

                <hr>

                <h5>
                    <waltz-icon name="paint-brush"></waltz-icon>
                    Colouring Strategy
                </h5>

                <span class="small">Colour by: </span>
                <waltz-rating-color-strategy-options selected-strategy="ctrl.colorStrategy">

                </waltz-rating-color-strategy-options>

                <div class="waltz-paragraph small text-muted">
                    The colouring strategy determines which rating measures will be used by the visualization.
                    The predefined 'worst' and 'best' values will look at all measures and select accordingly.
                </div>

                <hr>

                <h5>
                    <waltz-icon name="filter"></waltz-icon>
                    Filter Capabilities
                </h5>



                <div class="waltz-paragraph small" style="padding-bottom: 4px;">
                    Use the tree control below to include or exclude
                    capabilities from the visualisation
                </div>


                <waltz-capability-multi-selector capabilities="ctrl.capabilities"
                                                 selected-nodes="ctrl.selectedNodes"
                                                 initially-selected-ids="ctrl.initiallySelectedIds"
                                                 explicit-capability-ids="ctrl.explicitCapabilityIds">
                </waltz-capability-multi-selector>

                <div class="waltz-paragraph small text-muted">
                    The ticks and crosses can be used to select/deselect all items. Grey items indicate capabilities which
                    are not being directly used but are 'parents' of capabilities that have
                    been explicitly used.
                </div>
            </waltz-overlay-panel>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div ng-if="ctrl.selectedNodes.length == 0 || ctrl.applications.length == 0">
                <div class="alert alert-info">
                    Nothing to show
                </div>
            </div>
            <div ng-if="ctrl.selectedNodes.length > 0 && ctrl.applications.length > 0">
                <waltz-app-rating-table applications="ctrl.applications"
                                        capabilities="ctrl.selectedNodes"
                                        ratings="ctrl.ratings"
                                        color-strategy="ctrl.colorStrategy">
                </waltz-app-rating-table>
            </div>


        </div>
    </div>
</div>
