<div class="row"
     ng-if="$ctrl.produces.length > 0">

    <div class="col-md-12">
        <h4>Produces</h4>

        <div class="input-group waltz-input-group col-md-6"
             ng-if="$ctrl.produces.length > 10">
            <input type="text"
                   ng-model="$ctrl.producesQuery"
                   ng-model-options="{debounce: 250}"
                   placeholder="Search..."
                   class="form-control">

            <div class="input-group-addon">
                <waltz-icon name="search"></waltz-icon>
            </div>
        </div>

        <table class="table table-condensed table-striped table-hover small">
            <thead>
            <tr>
                <th width="20%">Name</th>
                <th width="7%">Ext. Id</th>
                <th width="15%">Receiver/s</th>
                <th width="8%">Format</th>
                <th width="8%">Transport</th>
                <th width="8%">Frequency</th>
                <th width="30%">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in $ctrl.filteredProduces"
                class="waltz-visibility-parent">
                <td>
                    <a ui-sref="main.physical-data-article.view ({ id: p.article.id })">
                        <span ng-class="{ 'waltz-visibility-child-40' : !p.firstArticle}"
                              ng-bind="p.article.name"></span>
                    </a>
                </td>
                <td>
                    <span ng-class="{ 'waltz-visibility-child-40' : !p.firstArticle}"
                          ng-bind="p.article.externalId"></span>

                </td>
                <td>
                    <a ui-sref="main.app.view ({ id: p.logicalFlow.target.id })">
                        <span ng-bind="p.logicalFlow.target.name">
                        </span>
                    </a>
                </td>
                <td>
                    <span ng-class="{ 'waltz-visibility-child-40' : !p.firstArticle}"
                          ng-bind="p.article.format"></span>
                </td>
                <td>
                    <span ng-bind="p.physicalFlow.transport"></span>
                </td>
                <td>
                    <span ng-bind="p.physicalFlow.frequency"></span>
                </td>
                <td>
                    <span ng-class="{ 'waltz-visibility-child-40' : !p.firstArticle}"
                          ng-bind="p.article.description | limitTo:100"></span>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row"
     ng-hide="$ctrl.consumes | isEmpty">
    <div class="col-md-12">
        <h4>Consumes</h4>
        <div class="input-group waltz-input-group col-md-6"
             ng-if="$ctrl.consumes.length > 10">
            <input type="text"
                   ng-model="$ctrl.consumesQuery"
                   ng-model-options="{debounce: 250}"
                   placeholder="Search..."
                   class="form-control">

            <div class="input-group-addon">
                <waltz-icon name="search"></waltz-icon>
            </div>
        </div>
        <table class="table table-condensed table-striped table-hover small">
            <thead>
            <tr>
                <th width="15%">Source Application</th>
                <th width="20%">Name</th>
                <th width="10%">Ext. Id</th>
                <th width="10%">Format</th>
                <th width="10%">Transport</th>
                <th width="10%">Frequency</th>
                <th width="25%">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in $ctrl.filteredConsumes"
                class="waltz-visibility-parent">
                <td>
                    <span>
                        <a ui-sref="main.app.view ({ id: c.logicalFlow.source.id })"
                           ng-class="{ 'waltz-visibility-child-40' : !c.firstSource}">
                            <span ng-bind="c.logicalFlow.source.name">
                            </span>
                        </a>
                    </span>
                </td>
                <td>
                    <a ui-sref="main.physical-data-article.view ({ id: c.article.id })">
                        <span ng-bind="c.article.name"></span>
                    </a>
                </td>
                <td>
                    <span ng-bind="c.article.externalId"></span>
                </td>
                <td>
                    <span ng-bind="c.article.format"></span>
                </td>
                <td>
                    <span ng-bind="c.physicalFlow.transport"></span>
                </td>
                <td>
                    <span ng-bind="c.physicalFlow.frequency"></span>
                </td>
                <td>
                    <span ng-bind="c.article.description"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
