<div>

    <!-- HEADER -->
    <waltz-page-header name="{{ ctrl.specification.name }}"
                       small="Physical Specification"
                       icon="qrcode">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li>
                <waltz-entity-link entity-ref="{
                        id: ctrl.owningEntity.id,
                        kind: 'APPLICATION',
                        name: ctrl.owningEntity.name }">
                </waltz-entity-link>
            </li>
            <li ng-bind="ctrl.specification.name"></li>
        </ol>
    </waltz-page-header>


    <div class="waltz-page-summary waltz-page-summary-attach">
        <waltz-physical-specification-overview owning-entity="ctrl.owningEntity"
                                               specification="ctrl.specification"
                                               organisational-unit="ctrl.organisationalUnit">
        </waltz-physical-specification-overview>
    </div>

    <br>


    <!-- SPEC DEFINITIONS -->
    <waltz-section name="Definitions"
                   small="( {{ ctrl.specDefinitions.length }} )"
                   icon="file-code-o"
                   id="specification-definition-section">

        <waltz-section-actions>
            <div waltz-has-role="LOGICAL_DATA_FLOW_EDITOR">
                <div class="btn-group"
                     uib-dropdown
                     is-open="status.isopen">
                    <button type="button"
                            class="btn btn-xs btn-primary"
                            uib-dropdown-toggle
                            ng-disabled="ctrl.selectableSpecDefinitions.length == 0">
                        Add New <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu"
                        uib-dropdown-menu
                        role="menu">
                        <li role="menuitem">
                            <a class="clickable"
                               ng-click="ctrl.showCreateSpecDefinition('ACTIVE')">
                                Active - <i>Current</i>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a class="clickable"
                               ng-click="ctrl.showCreateSpecDefinition('DRAFT')">
                                Draft - <i>Future</i>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a class="clickable"
                               ng-click="ctrl.showCreateSpecDefinition('DEPRECATED')">
                                Deprecated - <i>Historic</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </waltz-section-actions>

        <waltz-physical-spec-definition-create-panel ng-if="ctrl.specDefinitionCreate.creating"
                                                     status="ctrl.specDefinitionCreate.status"
                                                     on-submit="ctrl.createSpecDefinition"
                                                     on-cancel="ctrl.hideCreateSpecDefinition">
        </waltz-physical-spec-definition-create-panel>

        <div class="row"
             ng-if="ctrl.specDefinitions.length > 0">
            <div class="col-sm-4">
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>Version</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="def in ctrl.specDefinitions | orderBy: 'createdAt':true">
                        <td>
                            <a ng-bind="def.version"
                               ng-click="ctrl.selectSpecDefinition(def)"
                               class="clickable">
                            </a>
                        </td>
                        <td>
                            <span ng-bind="def.status | toDisplayName:'releaseLifecycleStatus'">
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-8"
                 ng-if="ctrl.selectedSpecDefinition.def">
                <waltz-physical-spec-definition-panel spec-definition="ctrl.selectedSpecDefinition"
                                                      default-active-tab-index="0">
                </waltz-physical-spec-definition-panel>
            </div>
        </div>

        <waltz-no-data ng-if="ctrl.specDefinitions.length == 0">
            <message>
                <strong>No definitions</strong> for this physical specification.
            </message>
        </waltz-no-data>
    </waltz-section>


    <!-- BOOKMARKS -->
    <waltz-bookmarks-section bookmarks="ctrl.bookmarks"
                             entity-id="{{ ctrl.specification.id }}"
                             kind="PHYSICAL_SPECIFICATION"
                             parent-name="{{ ctrl.specification.name }}">
    </waltz-bookmarks-section>

</div>