<div>

    <!-- HEADER -->
    <waltz-page-header name="{{ ctrl.specification.name }}"
                       small="Physical Specification"
                       icon="qrcode">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li>
                <a ui-sref="main.app.view ({ id: ctrl.owningApp.id })">
                    <span ng-bind="ctrl.owningEntity.name"></span>
                </a>
            </li>
            <li ng-bind="ctrl.specification.name"></li>
        </ol>
    </waltz-page-header>


    <div class="waltz-page-summary waltz-page-summary-attach">
        <waltz-physical-specification-overview owning-entity="ctrl.owningEntity"
                                               specification="ctrl.specification"
                                               organisational-unit="ctrl.organisationalUnit">
        </waltz-physical-specification-overview>
    </div>

    <br>

    <!-- CONSUMERS -->
    <waltz-section name="Consumers" small="Physical Flows">
         <waltz-physical-specification-consumers physical-flows="ctrl.physicalFlows"
                                                 on-flow-select="ctrl.onFlowSelect">
         </waltz-physical-specification-consumers>


        <div ng-if="ctrl.selectedFlow != null">
            <div class="row">
                <hr>
                <div class="col-md-12">
                    <div class="alert alert-info"><h3>Lineage Report</h3></div>
                </div>
            </div>


            <div class="row" ng-if="ctrl.selectedFlow.mentions.length > 0">
                <hr>
                <div class="col-md-12">
                    <waltz-physical-specification-mentions></waltz-physical-specification-mentions>
                </div>
            </div>
        </div>

        <pre>{{ ctrl.selectedFlow | json }}</pre>


    </waltz-section>


    <!-- BOOKMARKS -->
    <waltz-bookmarks-section bookmarks="ctrl.bookmarks"
                             entity-id="{{ ctrl.specification.id }}"
                             kind="PHYSICAL_SPECIFICATION"
                             parent-name="{{ ctrl.specification.name }}">
    </waltz-bookmarks-section>

</div>