
<!-- NO DATA -->
<div ng-if="$ctrl.diagrams.length === 0">
    <waltz-no-data>
        <message>
            <p>
                <strong>
                    No diagrams
                </strong>
                have been associated
            </p>
            <div ng-include="'weds-make-new-diagram.html'"></div>
        </message>
    </waltz-no-data>
</div>


<!-- LIST (unless showing flow diagram) -->
<div ng-if="$ctrl.diagrams.length > 0">
    <div ng-if="$ctrl.selectedDiagram.type !== 'Flow'">
        <!-- SEARCH -->
        <div class="row small"
             ng-if="$ctrl.diagrams.length > 10">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                <span class="input-group-addon">
                    <waltz-icon name="search"></waltz-icon>
                </span>
                    <input type="search"
                           class="form-control"
                           ng-model="$ctrl.qry"
                           placeholder="Search...">
                </div>
                <br>
            </div>
        </div>

        <!-- TABLE -->
        <div ng-class="{'waltz-scroll-region-300' : $ctrl.diagrams.length > 10}">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Last Modified</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="diagram in $ctrl.diagrams | filter:$ctrl.qry track by diagram.id"
                    ng-class="{ 'waltz-highlighted-row' : diagram.name === $ctrl.selectedDiagram.name }"
                    class="waltz-animate-repeat">
                    <td>
                        <!-- NAME -->
                        <!-- if the diagram has a corresponding ui state go to it -->
                        <a ng-if="diagram.uiState"
                           ui-sref="{{diagram.uiState}} ({id: diagram.ref.id })">
                            <waltz-icon name="{{ diagram.icon }}"></waltz-icon>
                            <span uib-popover-template="'weds-popover'"
                                  popover-trigger="mouseenter"
                                  popover-append-to-body="true"
                                  popover-enable="diagram.description"
                                  popover-placement="right"
                                  ng-bind="diagram.name">
                            </span>
                        </a>
                        <!-- if the diagram does not have a corresponding ui state assume the JS will handle it -->
                        <a ng-if="!diagram.uiState"
                           ng-click="$ctrl.onDiagramSelect(diagram)"
                           class="clickable">
                            <waltz-icon name="{{ diagram.icon }}"></waltz-icon>
                            <span uib-popover-template="'weds-popover'"
                                  popover-trigger="mouseenter"
                                  popover-append-to-body="true"
                                  popover-enable="diagram.description"
                                  popover-placement="right"
                                  ng-bind="diagram.name">
                            </span>
                        </a>
                    </td>
                    <td>
                        <span ng-bind="diagram.type"></span>
                    </td>
                    <td>
                        <span class="small">
                            <waltz-last-updated entity="diagram">
                            </waltz-last-updated>
                        </span>
                    </td>
                    <td>
                        <!-- ACTIONS -->
                        <div waltz-has-role="LINEAGE_EDITOR">
                            <span ng-repeat="action in diagram.actions">
                                <a ng-click="action.execute(diagram)"
                                   class="clickable">
                                    <waltz-icon name="{{ action.icon }}"></waltz-icon>
                                    <span ng-bind="action.name"></span>
                                    <span ng-if="!$last"> | </span>
                                </a>
                            </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-include="'weds-make-new-diagram.html'"></div>
    </div>
</div>


<!-- ENTITY SVG DIAGRAM -->
<div ng-if="$ctrl.selectedDiagram.type === 'Generic'">
    <hr>
    <h4>
        <span ng-bind="$ctrl.selectedDiagram.name"></span>
        <small>
            <a class="clickable" ng-click="$ctrl.onDiagramDismiss()">
                ( Dismiss )
            </a>
        </small>
    </h4>

    <waltz-entity-svg-diagram-viewer svg="$ctrl.selectedDiagram.svg">
    </waltz-entity-svg-diagram-viewer>
    <waltz-markdown text="$ctrl.selectedDiagram.description">
    </waltz-markdown>
</div>


<!-- MAKE NEW DIAGRAM (template) -->
<script type="text/ng-template"
        id="weds-make-new-diagram.html">
    <p ng-if="$ctrl.visibility.makeNew">
        <span waltz-has-role="LINEAGE_EDITOR">
            <a ng-click="$ctrl.onMakeNewFlowDiagram()"
               class="clickable">
                <waltz-icon name="plus"></waltz-icon>
                Create new flow diagram
                <waltz-icon name="random"></waltz-icon>
            </a>
        </span>
    </p>
</script>


<script type="text/ng-template"
        id="weds-popover">
    <waltz-markdown text="diagram.description"></waltz-markdown>
</script>