{
  "extends": "",
  "env": {
    "browser": true,
    "node": false,
    "mocha": true
  },
  "rules": {
//    "react/jsx-uses-react": 2,
//    "react/jsx-uses-vars": 2,
//    "react/react-in-jsx-scope": 2,
    // Temporarirly disabled due to a possible bug in babel-eslint (todomvc example)
    "block-scoped-var": 0,
    // Temporarily disabled for test/* until babel/babel-eslint#33 is resolved
    "padded-blocks": 0,
    "no-console": 0,
    "new-cap": 1,
    "indent": [2, 4, { "SwitchCase": 1 }],
    "no-else-return" : 0,
    "comma-dangle": 0,
    "quotes": ["warn", "double"]
  },
  "plugins": [
//        "airbnb"
  ],
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "__PORT__" : true
  },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": false,
            "modules": true,
            "experimentalObjectRestSpread": true
        }
    }
}
