<!DOCTYPE html>
<html style="overflow-x: hidden; /* Disable horizontal scroll */"
      lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" >
    <meta charset="utf-8">
    <base href="/" />
    <title><%=htmlWebpackPlugin.options.title || 'Waltz'%></title>
    <!--<% if (htmlWebpackPlugin.files.favicon) { %>-->
    <link rel="icon" href="<%=htmlWebpackPlugin.files.favicon%>">

    <!--<% } %>-->

    <script src="api/oauthdetails"></script>
    <style type="text/css">
        @keyframes waltz-splash-scale {
            0% { fill: #000 }
            50% { fill: #8e8e8d }
            100% { fill: #000 }
        }

        .waltz-splash-item {
            animation: waltz-splash-scale 1.5s ease infinite;
        }

        .waltz-splash-item-2 {
            animation-delay: .2s;
        }

        .waltz-splash-item-3 {
            animation-delay: .4s;
        }

        .waltz-splash-item-4 {
            animation-delay: .6s;
        }

        .waltz-splash-item-5 {
            animation-delay: .8s;
        }
    </style>

    <script type="text/javascript">
        (function() {
            // CustomEvent shim for IE11
            if (typeof window.CustomEvent === 'function') {
                // shim not required
                return false
            }

            function CustomEvent(event, params) {
                params = params || { bubbles: false, cancelable: false, detail: undefined }
                var evt = document.createEvent('CustomEvent')
                evt.initCustomEvent(event, params.bubbles, params.cancelable, params.detail)
                return evt
            }

            CustomEvent.prototype = window.Event.prototype

            window.CustomEvent = CustomEvent
        })();

        document.addEventListener("DOMContentLoaded", function(event) {
            var loadingElem = document.getElementById("page-loading");
            loadingElem.parentNode.removeChild(loadingElem);
            var appElem = document.getElementById("waltz-app");
            appElem.style.display = "block";
        });
    </script>

</head>

<body ng-app="waltz.app"
      ng-strict-di>


    <div id="page-loading">
        <div style="position: fixed; left: 50%; top: 50%; margin-top: -122px; margin-left: -150px;">
            <?xml version="1.0" encoding="utf-8"?>
            <svg version="1.1"
                 id="Layer_1"
                 xmlns="http://www.w3.org/2000/svg"
                 x="0px"
                 y="0px"
                 width="300px"
                 height="245px"
                 viewBox="0 0 600 490"
                 xml:space="preserve">
                <g>
                    <g>
                        <path class="waltz-splash-item waltz-splash-item-1"
                              d="M35.7,461.7L65.8,387L96,461.7l24.5-69.8h11.2l-35.7,98l-30.1-75l-30.1,75L0,391.9h11.2L35.7,461.7z"/>
                        <path class="waltz-splash-item waltz-splash-item-2"
                              d="M193.6,458.6L182.3,485H171l43-97.6l41.9,97.6h-11.5l-11-26.4H193.6z M213.7,411.6l-15.9,37.3h31.5L213.7,411.6z"/>
                        <path class="waltz-splash-item waltz-splash-item-3"
                              d="M325.7,475.4H372v9.6h-56.7v-93.1h10.4L325.7,475.4L325.7,475.4z"/>
                        <path class="waltz-splash-item waltz-splash-item-4"
                              d="M451.7,485h-10.4v-83.5h-27.6v-9.6h65.9v9.6h-27.9V485z"/>
                        <path class="waltz-splash-item waltz-splash-item-5"
                              d="M598.6,475.4v9.6h-66.7l50.8-83.5h-44.3v-9.6H600l-50.9,83.5H598.6z"/>
                    </g>
                    <g>
                        <path class="waltz-splash-item waltz-splash-item-1"
                              d="M147,270.8L62.9,115.4c-2.2,1.8-4.7,3.1-7.4,4l84.1,155.4C141.8,273,144.3,271.7,147,270.8z"/>
                        <path class="waltz-splash-item waltz-splash-item-2"
                              d="M322.2,148.8L167.9,274.9c2.2,1.8,4,4,5.3,6.5l154.3-126.1C325.4,153.5,323.6,151.3,322.2,148.8z"/>
                        <path class="waltz-splash-item waltz-splash-item-3"
                              d="M409.2,231.2L357.4,154c-2,2-4.4,3.6-7,4.7l51.9,77.2C404.3,233.9,406.6,232.3,409.2,231.2z"/>
                        <path class="waltz-splash-item waltz-splash-item-4"
                              d="M542.9,42.8L425.8,230.9c2.7,1,5.1,2.5,7.1,4.5L550,47.2C547.4,46.2,545,44.7,542.9,42.8z"/>
                        <g>
                            <path class="waltz-splash-item waltz-splash-item-1" d="M48.8,80.3c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18S38.9,80.3,48.8,80.3 M48.8,71.9c-14.6,0-26.4,11.8-26.4,26.4
                                s11.8,26.4,26.4,26.4s26.4-11.8,26.4-26.4S63.4,71.9,48.8,71.9L48.8,71.9z"/>
                        </g>
                        <g>
                            <path class="waltz-splash-item waltz-splash-item-2" d="M153.7,274c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18S143.8,274,153.7,274 M153.7,265.6
                                c-14.6,0-26.4,11.8-26.4,26.4s11.8,26.4,26.4,26.4s26.4-11.8,26.4-26.4C180.1,277.4,168.3,265.6,153.7,265.6L153.7,265.6z"/>
                        </g>
                        <g>
                            <path class="waltz-splash-item waltz-splash-item-3" d="M341.7,120.3c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18S331.8,120.3,341.7,120.3 M341.7,111.9
                                c-14.6,0-26.4,11.8-26.4,26.4c0,14.6,11.8,26.4,26.4,26.4s26.4-11.8,26.4-26.4S356.3,111.9,341.7,111.9L341.7,111.9z"/>
                        </g>
                        <g>
                            <path class="waltz-splash-item waltz-splash-item-4" d="M417.9,233.6c9.9,0,18,8.1,18,18c0,9.9-8.1,18-18,18s-18-8.1-18-18C399.9,241.7,408,233.6,417.9,233.6 M417.9,225.2
                                c-14.6,0-26.4,11.8-26.4,26.4c0,14.6,11.8,26.4,26.4,26.4s26.4-11.8,26.4-26.4C444.3,237,432.5,225.2,417.9,225.2L417.9,225.2z"
                            />
                        </g>
                        <g>
                            <path class="waltz-splash-item waltz-splash-item-5" d="M558,8.6c9.9,0,18,8.1,18,18s-8.1,18-18,18s-18-8.1-18-18S548.1,8.6,558,8.6 M558,0.2c-14.6,0-26.4,11.8-26.4,26.4
                                S543.4,53,558,53c14.6,0,26.4-11.8,26.4-26.4S572.6,0.2,558,0.2L558,0.2z"/>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>



    <div ui-view="all"
         id="waltz-app">

        <waltz-svelte-page>

        </waltz-svelte-page>


        <div style="padding-bottom: 60px">
            <!-- prevents page jumping caused by collapsing header -->
        </div>
    </div>

    <waltz-common-svg-defs></waltz-common-svg-defs>
</body>
<footer>
    <p>Waltz With Java17</p>
</footer>
</html>
