<div>
    <h4>Directly related
        <span ng-bind="$ctrl.selectedCategory.name"></span> items:
    </h4>
    <br>
    <div class="wmt-search-region">
        <waltz-icon name="search"
                    ng-class="{
                    'wmt-search-active' : $ctrl.searchTerms.length > 0,
                    'wmt-search-inactive' : $ctrl.searchTerms.length == 0
                }">
        </waltz-icon>
        <input type='search'
               class="form-control"
               name="searchTerms"
               autocomplete="off"
               ng-model="$ctrl.searchTerms"
               ng-change="$ctrl.searchTermsChanged($ctrl.searchTerms)"
               ng-model-options="{ debounce: 200 }"
               placeholder="Search">
        &nbsp;
        <waltz-icon name="close"
                    style="color: darkred"
                    ng-if="$ctrl.searchTerms.length > 0"
                    class="clickable"
                    ng-click="$ctrl.clearSearch()">
        </waltz-icon>
    </div>
    <treecontrol class="tree-light"
                 tree-model="$ctrl.hierarchy"
                 options="$ctrl.treeOptions"
                 expanded-nodes="$ctrl.expandedNodes"
                 order-by="'-name'">
        <span class="no-overflow">
            <a ui-state="$ctrl.linkToState"
               ui-state-params="{id: node.id }">
                <span ng-class=" {'italics' : ! node.concrete}">
                    <waltz-entity-icon-label entity-ref="node"
                                             additional-display-data="[
                                             { name:'Org Unit', value: (node.orgUnit != null) ? node.orgUnit.name : 'n/a' }] "
                                             icon-placement="none"
                                             tooltip-placement="right"
                                             ng-style="{ 'font-weight': node.direct ? 'bold' : 'none'}">
                    </waltz-entity-icon-label>
                </span>
            </a>
        </span>
    </treecontrol>
    <span>
        <br>
        <a ng-if="!$ctrl.displayFullTree"
           ng-click="$ctrl.showAll()"
           class="clickable small">
            Show all
        </a>
    </span>
</div>
