<div>
    <waltz-overlay-panel name="Source Data"
                         small="Ratings & Freshness"
                         icon="map-signs"
                         visible="$ctrl.visible">
        <div ng-if="$ctrl.filteredRatings.length > 0">
            <waltz-source-data-info ratings="$ctrl.filteredRatings">
            </waltz-source-data-info>
        </div>
        <waltz-no-data ng-if="$ctrl.filteredRatings.length == 0">
            <message>
                <strong>No data source ratings</strong>
            </message>
        </waltz-no-data>
        <small class="text-muted small pull-right">
            Source Data Ratings are used to indicate confidence levels across aspects of the data sets being
            presented.
        </small>
    </waltz-overlay-panel>
</div>