<div>

    <h4>Explicit Relationships</h4>
    <waltz-related-measurables-panel parent-entity-ref="$ctrl.parentEntityRef">
    </waltz-related-measurables-panel>

    <h4>Implicit Relationships</h4>
    <p class="text-muted">
        Implicit relationships are derived by looking at other viewpoints associated
        to applications aligned to this viewpoint.
    </p>
    <div class="row"
         ng-if="$ctrl.relatedMeasurables.length < 2">
        <div class="col-sm-12">
            <waltz-no-data>
                <message>
                    <strong>No related viewpoints found.</strong>
                </message>
            </waltz-no-data>

        </div>
    </div>

    <div class="row"
         ng-if="$ctrl.relatedMeasurables.length > 1">
        <div class="col-sm-7">
            <waltz-measurable-ratings-browser rating-tallies="$ctrl.stats"
                                              measurables="$ctrl.relatedMeasurables"
                                              categories="$ctrl.categories"
                                              on-select="$ctrl.onSelect"
                                              scroll-height="400">
            </waltz-measurable-ratings-browser>
        </div>

        <div class="col-sm-5">
            <div ng-if="$ctrl.selectedMeasurable"
                 class="waltz-fade-if"
                 style="padding-top: 4em">
                <h4>
                    <span ng-bind="$ctrl.selectedMeasurable.name">
                    </span>
                    <small ng-bind="$ctrl.selectedMeasurable.categoryId | toDisplayName:'measurableCategory'">
                    </small>
                </h4>

                <p ng-bind="$ctrl.selectedMeasurable.description"></p>
                <a ui-sref="main.measurable.view ({ id: $ctrl.selectedMeasurable.id })">
                    More &raquo;
                </a>
            </div>
        </div>
    </div>

    <div class="row"
         ng-if="$ctrl.relatedMeasurables.length > 1">
        <div class="col-sm-12">
            <br>
            <p class="text-muted small">
                The tree above shows correlations between this item and others.  The small barchart
                below each tree node shows how many applications exhibit the viewpoint in addition
                to this viewpoint.  The colors of the barchart indicated the relative rating counts.
            </p>
        </div>
    </div>

</div>
