.w-table {
    display: table;
    width: 100%;
    border-collapse: collapse
}

.w-row {
    display: table-row;
    width: 100%;
    padding-bottom: 10px;
}


.w-body {
    display: table-row-group;
}


.w-cell {
    display: table-cell;
    text-align: center;

    &:hover {
        background-color: rgba(240,240,240,0.8);

    }
}


.w-header {
    display: table-row-group;
    .w-row {
        display: table-row;
        border-bottom: 1px solid red;
        padding-botton: 12px;
        border-bottom: 1px solid blue;
    }

    .w-header-cell {
        text-align: center;
    }
}


.w-body {
    .w-header-cell {
        text-align: center;
    }

    .w-row {
        border-bottom: 1px solid red;
    }
}


.w-header-cell {
    font-weight: bolder;
    background-color: #fafafa;
}

