<div>
    <div class="row">
        <div class="col-md-12">
            <waltz-auth-sources-navigator-chart navigator="$ctrl.chartNavigator"
                                                chart="$ctrl.chart">
            </waltz-auth-sources-navigator-chart>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p class="help-block">
                This chart shows data types and their declared authoritative sources on the left against
                viewpoints (<em ng-bind="$ctrl.categoriesById[$ctrl.categoryId].name"></em>)
                along the top of the chart.  A row of grey boxes indicates that the
                authoritative source has no mappings against any of the elements comprising the viewpoint
                (<em ng-bind="$ctrl.categoriesById[$ctrl.categoryId].name"></em>).
            </p>
        </div>
        <div class="col-md-4">
            <label>Switch viewpoint</label>
            <div>
                <select ng-model="$ctrl.category"
                        ng-change="$ctrl.onCategoryChange()"
                        ng-options="category.name for category in $ctrl.categories track by category.id">
                </select>
            </div>
        </div>

    </div>
</div>
