<div class="row">
    <div class="col-sm-7"
         style="padding: 6px">
        <waltz-entity-statistic-history-chart options='$ctrl.options'
                                              points="$ctrl.points">
        </waltz-entity-statistic-history-chart>
    </div>
    <div class="col-sm-5">
        <h4 ng-bind="$ctrl.selected.lastUpdatedAt"></h4>
        <table class="table table-condensed small">
            <thead>
            <tr>
                <th></th>
                <th>Outcome</th>
                <th>Count</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in $ctrl.selected.tallies">
                <td>
                    <waltz-icon name="square"
                                ng-style="$ctrl.styles[row.id]"></waltz-icon>
                </td>
                <td>
                    <span ng-bind="row.id"></span>
                </td>
                <td>
                    <span ng-bind="row.count"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>