<div class="container-fluid">
    <div class="row"
         tabindex="1"
         ng-keydown="$ctrl.onKeypress($event)">
        <style>
            .side-scroller {
                overflow-y: hidden;
                overflow-x: auto;
            }
        </style>
        <div class="col-md-9">
            <div class="side-scroller">
                <waltz-perspective-grid existing-overrides="$ctrl.existingOverrides"
                                        pending-overrides="$ctrl.pendingOverrides"
                                        perspective-definition="$ctrl.perspectiveDefinition"
                                        measurables="$ctrl.measurables"
                                        measurable-ratings="$ctrl.measurableRatings"
                                        handlers="$ctrl.handlers">
                </waltz-perspective-grid>
            </div>
        </div>
        <div class="col-md-3">
            <br><br>
            <waltz-rating-picker selected="$ctrl.activeRating"
                                 rating-scheme-id="$ctrl.perspectiveDefinition.ratingSchemeId"
                                 on-select="$ctrl.onRatingSelect">
            </waltz-rating-picker>

            <hr>

            <button class="btn btn-primary"
                    ng-click="$ctrl.apply();">
                Apply
            </button>

            <a class='clickable'
               ng-hide="$ctrl.pendingOverrides | isEmpty"
               ng-click="$ctrl.undo()">
                Undo Changes
            </a>
        </div>
    </div>

</div>

