<div class="row">
    <style>
        .side-scroller {
            overflow-y: hidden;
            overflow-x: auto;
        }
    </style>
    <div class="col-md-9">
        <div class="side-scroller">
            <waltz-perspective-grid existing-overrides="$ctrl.existingOverrides"
                                    pending-overrides="$ctrl.pendingOverrides"
                                    perspective-definition="$ctrl.perspectiveDefinition"
                                    measurables="$ctrl.measurables"
                                    measurable-ratings="$ctrl.measurableRatings"
                                    handlers="$ctrl.handlers">
            </waltz-perspective-grid>
        </div>
    </div>
    <div class="col-md-3">
        <br><br>
        <waltz-rating-picker selected="$ctrl.activeRating"
                             on-select="$ctrl.onRatingSelect">
        </waltz-rating-picker>

        <hr>

        <button class="btn btn-primary"
                ng-click="$ctrl.apply();">
            Apply
        </button>

        <a class='clickable'
           ng-hide="$ctrl.pendingOverrides | isEmpty"
           ng-click="$ctrl.undo()">
            Undo Changes
        </a>
    </div>
</div>
