<div class="waltz-physical-flow-edit-target-entity">

    <h4>
        Pick a target

        <span class="target-picker">
            <span>
                <input type="radio"
                       value="APPLICATION"
                       ng-model="$ctrl.entityKind">
                <waltz-icon name="desktop"></waltz-icon>
                Application
            </span>

            <span>
                <input
                    type="radio"
                    value="ACTOR"
                    ng-model="$ctrl.entityKind">
                <waltz-icon name="user-circle"></waltz-icon>
                Actor
            </span>

        </span>
        for this flow:
    </h4>

    <br>

    <div ng-if="$ctrl.entityKind === 'APPLICATION'">

        <waltz-basic-app-selector on-add="$ctrl.addApp"
                                  on-cancel="$ctrl.cancelApp"
                                  on-select="$ctrl.selectApp">

        </waltz-basic-app-selector>
        <div class="small text-muted waltz-paragraph">
            as a target for this physical flow
        </div>
        <strong ng-if="$ctrl.appDuplicate" style="color: red">
            <mark>
                <span ng-bind="$ctrl.owningEntity.name"></span>
            </mark>
            is already a Source of this flow and cannot also be a Target
        </strong>
    </div>


    <div ng-if="$ctrl.entityKind === 'ACTOR'">
        <waltz-basic-actor-selector on-add="$ctrl.addActor"
                                    on-cancel="$ctrl.cancelActor"
                                    all-actors="$ctrl.allActors"
                                    on-select="$ctrl.selectActor">

        </waltz-basic-actor-selector>
        <div class="small text-muted waltz-paragraph">
            as a target for this physical flow
        </div>
        <strong ng-if="$ctrl.actorDuplicate" style="color: red">
            <mark><span ng-bind="$ctrl.owningEntity.name"></span></mark> is already a Source of this flow and cannot also be a Target
        </strong>
    </div>

</div>