<div class="waltz-physical-flow-edit-target-entity">

    <div class="row">
        <div class="col-md-6"
             style="border-right: 1px solid #ccc">
            <h4>
                Select from existing targets or...
            </h4>

            <ul class="list-unstyled"
                style="margin-left: 16px"
                ng-if="$ctrl.existingTargets.length > 0">
                <li ng-repeat="target in $ctrl.existingTargets | orderBy:'name'">
                    <a ng-click="$ctrl.onChange(target)"
                       class="clickable">
                        <waltz-icon name="{{ target.kind == 'APPLICATION' ? 'desktop' : 'user-circle' }}"></waltz-icon>
                        <span ng-bind="target.name"></span>
                    </a>
                </li>
            </ul>

        </div>

        <div class="col-md-6">
            <h4>
                ...alternatively, select a new target

                <a ng-click="$ctrl.searchEntityKind = 'APPLICATION'"
                   class="clickable waltz-action-link">
                    <waltz-icon name="desktop"></waltz-icon>
                    Application
                </a>

                or

                <a ng-click="$ctrl.searchEntityKind = 'ACTOR'"
                   class="clickable waltz-action-link">
                    <waltz-icon name="user-circle"></waltz-icon>
                    Actor
                </a>
            </h4>

            <br>

            <div ng-if="$ctrl.searchEntityKind === 'APPLICATION'">

                <waltz-basic-app-selector on-add="$ctrl.addApp"
                                          on-cancel="$ctrl.cancel"
                                          on-select="$ctrl.selectApp">

                </waltz-basic-app-selector>
                <div class="small text-muted waltz-paragraph">
                    as a target for this physical flow
                </div>
                <strong ng-if="$ctrl.appDuplicate" style="color: red">
                    <span ng-bind="$ctrl.owningEntity.name"></span> -
                    is already a Source of this flow and cannot also be a Target
                </strong>
            </div>


            <div ng-if="$ctrl.searchEntityKind === 'ACTOR'">
                <waltz-basic-actor-selector on-add="$ctrl.addActor"
                                            on-cancel="$ctrl.cancel"
                                            all-actors="$ctrl.allActors"
                                            on-select="$ctrl.selectActor">
                </waltz-basic-actor-selector>
                <div class="small text-muted waltz-paragraph">
                    as a target for this physical flow
                </div>
                <strong ng-if="$ctrl.actorDuplicate" style="color: red">
                    <span ng-bind="$ctrl.owningEntity.name"></span> -
                    is already a Source of this flow and cannot also be a Target
                </strong>
            </div>

        </div>
    </div>



</div>