
<div>
    <!-- NO DATA -->

    <div ng-switch="$ctrl.visibility.mode">

        <div ng-switch-when="LOADING">
            <waltz-loading-notification name="Loading roadmaps">
            </waltz-loading-notification>
        </div>


        <div ng-switch-when="LIST">
            <waltz-no-data ng-if="! $ctrl.roadmaps">
                <message>
                    <strong>No Roadmaps</strong> associated with this entity
                </message>
            </waltz-no-data>

            <waltz-roadmaps-list roadmaps="$ctrl.roadmaps"
                                 scenarios="$ctrl.scenarios"
                                 on-add-roadmap="$ctrl.onAddRoadmap"
                                 on-add-scenario="$ctrl.onAddScenario"
                                 on-select-scenario="$ctrl.onSelectScenario"
                                 on-clone-scenario="$ctrl.onCloneScenario"
                                 on-save-roadmap-description="$ctrl.onSaveRoadmapDescription"
                                 on-save-roadmap-name="$ctrl.onSaveRoadmapName"
                                 on-configure-scenario="$ctrl.onConfigureScenario">
            </waltz-roadmaps-list>


            <p class="help-block">
                Roadmaps are used to show future scenarios....
            </p>
        </div>


        <!-- SCENARIO: configure -->
        <div ng-switch-when="CONFIGURE_SCENARIO">
            <waltz-roadmap-scenario-config scenario-id="$ctrl.selectedScenario.id"
                                           on-save-scenario-description="$ctrl.onSaveScenarioDescription"
                                           on-save-scenario-name="$ctrl.onSaveScenarioName"
                                           on-save-scenario-effective-date="$ctrl.onSaveScenarioEffectiveDate"
                                           on-save-scenario-status="$ctrl.onSaveScenarioStatus"
                                           on-add-axis-item="$ctrl.onAddAxisItem"
                                           on-remove-axis-item="$ctrl.onRemoveAxisItem"
                                           on-remove-axis-item="$ctrl.onRemoveAxisItem"
                                           on-reposition-axis-items="$ctrl.onRepositionAxisItems"
                                           on-cancel="$ctrl.onCancel">
            </waltz-roadmap-scenario-config>
        </div>


        <!-- SCENARIO: add -->
        <div ng-switch-when="ADD_SCENARIO">
            <h1>Add scenario</h1>

            <a ng-click="$ctrl.onCancel()"
               class="clickable">
                Cancel
            </a>
        </div>


        <!-- ROADMAP: add -->
        <div ng-switch-when="ADD_ROADMAP">
            <h1>Add roadmap</h1>
            <a ng-click="$ctrl.onCancel()"
               class="clickable">
                Cancel
            </a>
        </div>


        <!-- SCENARIO: view -->
        <div ng-switch-when="VIEW_SCENARIO">
            <waltz-roadmap-scenario-diagram scenario-id="$ctrl.selectedScenario.id"
                                            on-cancel="$ctrl.onCancel">
            </waltz-roadmap-scenario-diagram>
        </div>

    </div>

</div>