<div>
    <div class="waltz-dynamic-section-header">

        <div class="waltz-visibility-parent waltz-dynamic-section-header-title">
            <span class="waltz-visibility-child-30 clickable"
                  ng-click="$ctrl.onRemove($ctrl.section)"
                  ng-if="$ctrl.onRemove"
                  title="Close">
                <waltz-icon name="times">
                </waltz-icon>
            </span>
            <span ng-if="$ctrl.onRemove == null">
                <waltz-icon fixed-width="true"></waltz-icon>
            </span>

            <span>
                <waltz-icon name="{{ $ctrl.section.icon }}"></waltz-icon>
                <span ng-bind="$ctrl.section.name"></span>
            </span>
        </div>
    </div>

    <div class="container-fluid waltz-dynamic-section-body">
        <ng-transclude></ng-transclude>
    </div>

</div>
