<div>
    <waltz-section icon='code-fork'
                   name="Related Processes"
                   id="processes-section">

        <waltz-source-data-section-addon ratings="ctrl.sourceDataRatings"
                                         entities="['PROCESS']">
        </waltz-source-data-section-addon>

        <div ng-if="ctrl.processes.length > 0">
            <table class="table table-condensed small">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="process in ctrl.processes">
                    <td>
                        <a ui-sref="main.process.view ({ id: process.id })">
                            <span ng-bind="process.name"></span>
                        </a>
                    </td>
                    <td>
                        <span ng-bind="process.description"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="ctrl.processes.length == 0">
            <div class="alert alert-warning">
                <strong>No associated processes</strong>
            </div>
        </div>

    </waltz-section>

</div>