<div >
    <div style="width: 30%; margin: 1%; border-radius: 6px; padding: 0 1% 0 1%; display: inline-block; vertical-align: top; background-color: #f5f5f5"
         ng-repeat="dataTypeGroup in ctrl.consolidatedUsages">
        <h5 style='border-bottom: 1px dotted #ccc; padding-bottom: 3px;' ng-bind="dataTypeGroup.key | toDisplayName:'dataType'"></h5>
        <div class="small">
            <i class='text-muted'
               ng-bind="dataTypeGroup.key | toDescription:'dataType'"></i>
            <ul style="padding-top: 6px"
                class="list-unstyled">
                <li ng-repeat="usage in dataTypeGroup.values"
                    style="margin-top: 3px">
                    <div class='text-nowrap'>
                        <waltz-icon name="{{ usage.usageKind | toIconName:'usageKind' }}"></waltz-icon>
                        <strong ng-bind="usage.usageKind | toDisplayName:'usageKind'"></strong>
                    </div>
                    <div ng-if="usage.description.length > 0"
                         style="padding-left: 12px; padding-bottom: 3px"
                         class="small text-muted"
                         ng-bind="usage.description">
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>


