<div>
    <div ng-if="$ctrl.visibility === 'FORM'">
        <form name="specDefCreateForm"
              class="form-horizontal"
              role="form"
              novalidate>

            <div class="form-group">
                <div class="col-sm-2">
                    <label for="fields"
                           class="control-label">
                        Fields
                    </label>
                    <div class="help-block">
                        Enter <b>tab</b> separated field data (one per line) in the following format:
                        <br>
                        <code>Name    Type    Description</code>
                        <br>
                        Allowed values for 'Type' are:
                        <br>
                        DATE, DECIMAL, INTEGER, STRING, BOOLEAN
                        <br>
                        <b>Example:</b>
                        <pre style="font-size: xx-small;">
Field1&#9;INTEGER&#9;description for field 1
Field2&#9;DATE&#9;description for field 2
                        </pre>

                    </div>
                </div>
                <div class="col-sm-10">
                <textarea id="fields"
                          required
                          class="form-control"
                          placeholder="Paste your field definitions here.  You can simply cut n' paste from a spreadsheet"
                          ng-model="$ctrl.specDefFields.rawData"
                          rows="12">
                </textarea>
                </div>
            </div>

            <div class="form-group" style="padding-top: 10px">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button"
                            ng-disabled="specDefCreateForm.$invalid"
                            ng-click="$ctrl.preview()"
                            class="btn btn-warning">
                        Preview
                    </button>
                    &nbsp;
                    <a class="clickable"
                       ng-click="$ctrl.onCancel()">
                        <span>Cancel</span>
                    </a>
                </div>
            </div>
        </form>
    </div>

    <div ng-if="$ctrl.visibility === 'PREVIEW'">
        <form name="specDefPreviewForm"
              class="form-horizontal"
              role="form"
              novalidate>
            <div class="form-group">
                <label for="version"
                       class="col-sm-2 control-label">
                    Version
                </label>
                <div class="col-sm-10">
                    <input type="text"
                           id="version"
                           maxlength="64"
                           required
                           class="form-control"
                           placeholder="Version of this specification definition"
                           ng-model="$ctrl.specDefinition.def.version">
                    </input>
                </div>
            </div>

            <div class="form-group">
                <label for="delimiter"
                       class="col-sm-2 control-label">
                    Delimiter
                </label>
                <div class="col-sm-10">
                    <select id='delimiter'
                            ng-model="$ctrl.specDefinition.def.delimiter">
                        <option ng-value="'&#9;'" selected>Tab</option>
                        <option ng-value="','">Comma ( , )</option>
                        <option ng-value="'|'">Pipe ( | )</option>
                        <option ng-value="';'">Semicolon ( ; )</option>
                        <option ng-value="':'">Colon ( : )</option>
                        <option ng-value="'#'">Hash ( # )</option>
                        <option ng-value="'?'">Other</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Status
                </label>
                <div class="col-sm-10">
                    <span ng-bind="$ctrl.specDefinition.def.status | toDisplayName: 'releaseLifecycleStatus'"
                          style="margin-top: 20px;"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Fields
                </label>
                <div class="col-sm-10">
                    <table class="table table-condensed">
                        <colgroup>
                            <col width="20%">
                            <col width="10%">
                            <col width="30%">
                            <col width="40%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Errors</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="fieldData in $ctrl.specDefFields.parsedData | orderBy:'position'">
                            <td>
                                <span ng-bind="fieldData.field.name">
                                </span>
                            </td>
                            <td>
                                <span ng-bind="fieldData.field.type">
                                </span>
                            </td>
                            <td>
                                <span ng-bind="fieldData.field.description">
                                </span>
                            </td>
                            <td ng-class="{ 'bg-danger' : fieldData.errors.length > 0 }">
                                <div ng-repeat="error in fieldData.errors">
                                    <span ng-bind="error"></span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group" style="padding-top: 10px">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button"
                            ng-disabled="specDefPreviewForm.$invalid || $ctrl.specDefFields.hasErrors"
                            ng-click="$ctrl.submit()"
                            class="btn btn-success">
                        Submit
                    </button>
                    &nbsp;
                    <a class="clickable"
                       ng-click="$ctrl.showForm()">
                        <span>Back</span>
                    </a>
                    &nbsp;
                    <a class="clickable"
                       ng-click="$ctrl.onCancel()">
                        <span>Cancel</span>
                    </a>
                </div>
            </div>
        </form>
    </div>

    <hr>
</div>