<div class="waltz-page-summary waltz-page-summary-attach">


    <div class="row">

        <div class="col-sm-12">
            <div ng-if="$ctrl.orgUnit">
                <div class="row">
                    <div class="col-sm-2 waltz-display-field-label">
                        Description
                    </div>
                    <div class="col-sm-10 text-muted">
                        <waltz-markdown text="$ctrl.orgUnit.description"
                                        ng-if="$ctrl.orgUnit.description">
                        </waltz-markdown>
                        <span ng-if="!$ctrl.orgUnit.description">
                            Description not provided
                        </span>
                    </div>
                </div>

                <hr>

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-sm-4">
                            <waltz-apps-by-investment-pie applications="$ctrl.apps"
                                                          size="70">
                            </waltz-apps-by-investment-pie>
                        </div>

                        <div class="col-sm-4">
                            <waltz-apps-by-lifecycle-phase-pie applications="$ctrl.apps"
                                                               size="70">
                            </waltz-apps-by-lifecycle-phase-pie>
                        </div>

                        <div class="col-sm-4">
                            <waltz-basic-info-tile waltz-jump-to="logical-flows-section"
                                                   icon="random"
                                                   name="Logical Data Flows">
                                <waltz-flow-cloud-diagram
                                    width="230"
                                    height="180"
                                    stats="$ctrl.flowStats">
                                </waltz-flow-cloud-diagram>
                            </waltz-basic-info-tile>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <waltz-basic-info-tile name="Portfolio Cost"
                                                   description="Cumulative value of infra and app dev costs"
                                                   waltz-jump-to="costs-section"
                                                   icon="money">
                                <span style="font-size: x-large;">
                                    <waltz-currency-amount amount="$ctrl.totalCost.amount"
                                                           simplify="true">
                                    </waltz-currency-amount>
                                </span>
                            </waltz-basic-info-tile>
                        </div>
                        <div class="col-sm-4">
                            <waltz-basic-info-tile name="Complexity"
                                                   description="Derived from functions, connections and servers"
                                                   class="clickable"
                                                   waltz-jump-to="complexity-section"
                                                   icon="rocket">
                                <div style="font-size: x-large;">
                                    &Sigma;
                                    <span ng-bind="$ctrl.complexitySummary.cumulativeScore | toFixed:1">
                                    </span>
                                </div>
                                <div class="small text-muted">
                                    <span ng-bind="$ctrl.complexitySummary.averageScore | toFixed:2">
                                    </span>
                                    per app
                                </div>
                            </waltz-basic-info-tile>

                        </div>
                        <div class="col-sm-4">
                            <waltz-basic-info-tile name="Servers"
                                                   description="Number of servers supporting this org unit"
                                                   icon="server">
                                <div>
                                    <div style="font-size: x-large;">
                                        # <span ng-bind="$ctrl.enrichedServerStats.total"></span>
                                    </div>
                                    <div class="small text-muted">
                                        <span ng-bind="$ctrl.enrichedServerStats.virtualPercentage"></span>% virtual
                                    </div>
                                </div>
                            </waltz-basic-info-tile>

                        </div>

                    </div>
                </div>

                <hr>

                <!-- NAV -->
                <div class="row"
                     style="padding: 1em" ng-if="$ctrl.orgUnit">
                    <div class="col-md-4">
                        <strong>Parents</strong>
                        <waltz-entity-link-list list="$ctrl.parentOrgUnits">
                        </waltz-entity-link-list>
                    </div>

                    <div class="col-md-8">
                        <div ng-if="$ctrl.childOrgUnits.length > 0">
                            <strong>
                                Children
                            </strong>
                            <a class='clickable'
                               style="font-weight: lighter"
                               ng-if="$ctrl.visibility.childDisplayMode == 'TREE'"
                               ng-click="$ctrl.visibility.childDisplayMode = 'LIST'">
                                (switch to list)
                            </a>
                            <a class='clickable'
                               style="font-weight: lighter"
                               ng-if="$ctrl.visibility.childDisplayMode == 'LIST'"
                               ng-click="$ctrl.visibility.childDisplayMode = 'TREE'">
                                (switch to tree)
                            </a>
                            <div ng-if="$ctrl.visibility.childDisplayMode == 'LIST'">
                                <waltz-entity-link-list list="$ctrl.childOrgUnits">
                                </waltz-entity-link-list>
                            </div>

                            <div ng-if="$ctrl.visibility.childDisplayMode == 'TREE'">
                                <waltz-org-unit-tree tree="$ctrl.descendantOrgUnitTree"
                                                     on-selection="$ctrl.nodeSelected">
                                </waltz-org-unit-tree>
                            </div>
                        </div>

                    </div>
                </div>
        </div>
            <waltz-no-data ng-if="!$ctrl.orgUnit">
                <message>No information for this organisation unit</message>
            </waltz-no-data>
        </div>
    </div>

</div>
