
/** from: https://gist.github.com/garyharan/957284 **/
@mixin waltz-box-shadow() {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(47,53,68,1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(47,53,68,1);
    box-shadow: 0px 1px 2px 0px rgba(47,53,68,0.25);
}


@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}