$waltz-border-color: #9a99ad;
$waltz-border-color-lighter: lighten($waltz-border-color, 20%);
$waltz-background-color: #e4e7f0;
$waltz-section-background-color: #f0f3fa;  // section header bars etc
$waltz-font-color: #332b23;
$waltz-link-color: #2c369d;
$waltz-section-font-color: #332b23;
$waltz-field-label-color: lighten($waltz-font-color, 20%);

$waltz-navbar-background-color: #2f3544;



$navbar-default-color:             white;
$navbar-default-bg:                #2f3544;
$navbar-default-border:            darken($navbar-default-bg, 6.5%);

$navbar-default-link-color:                #ddd;
$navbar-default-link-hover-color:          #fff;

$waltz-amber: #ff7f0e;
$waltz-green: #2ca02c;
$waltz-red: #d62728;
$waltz-grey: #eee;
$waltz-blue: #28a1b6;

$waltz-blue-background: #d4e0f7;
$waltz-green-background: #dff1d2;
$waltz-amber-background: #fcf2d7;
$waltz-red-background: #f2d7d7;
$waltz-grey-background: #f5f5f5;
$waltz-actor-background: #ede5ee;

$waltz-selected-item-bg-color: #e2ffd9;

$text-muted: lighten($waltz-font-color, 30%);

$border-radius-small: 1px;
$border-radius-base: 2px;
$border-radius-large: 3px;
$font-size-base: 14px;

$panel-default-heading-bg: $waltz-section-background-color;
$panel-heading-padding: 6px;
$panel-default-border: $waltz-border-color;
$panel-border-radius: 3px;

$blockquote-border-color: none;
$blockquote-font-size: ($font-size-base * 1.1);
$input-border-focus: $waltz-border-color;
$popover-title-bg: $waltz-section-background-color;
$navbar-default-link-active-bg: #202636;
$navbar-default-link-active-color: #fff;


$grid-gutter-width: 60px !default;