@import "variables";


.waltz-scroll-region {
    width: 100%;
    overflow: auto;
    border: 1px solid lighten($waltz-border-color, 25);
    border-radius: 2px;
    padding: 6px;
}


@mixin waltz-scroll-region($height) {
    .waltz-scroll-region-#{$height} {
        @extend .waltz-scroll-region;
        height: #{$height}px;
    }
}


@include waltz-scroll-region(100);
@include waltz-scroll-region(150);
@include waltz-scroll-region(200);
@include waltz-scroll-region(250);
@include waltz-scroll-region(300);
@include waltz-scroll-region(350);
@include waltz-scroll-region(400);
@include waltz-scroll-region(500);
@include waltz-scroll-region(600);
@include waltz-scroll-region(700);