@import "./variables";

.waltz-field-table {
    tr {
        margin-left: 2px;
    }
    .wft-label {
        vertical-align: top;
        color: $waltz-field-label-color;
        font-weight: lighter;
        padding-right: 12px;
    }

    .wft-danger {
        background-color: #ffe4dd;
        border: 1px solid #ffb1a6;
    }
}

