<div class="waltz-dynamic-sections-view">
    <div ng-repeat="section in $ctrl.sections track by section.id"
         class='waltz-animate-repeat'>
        <waltz-dynamic-section-wrapper section="section"
                                       on-remove="$ctrl.onRemove"
                                       parent-entity-ref="$ctrl.parentEntityRef">
        </waltz-dynamic-section-wrapper>
    </div>

    <div ng-if="$ctrl.sections.length == 0" class="wdsv-arrow_box">
        <h3 style="text-align: center">No Sections</h3>
        <p style="text-align: center">Use the options above to show sections.</p>
    </div>
</div>

