<waltz-page-header name="Licence Management"
                   small="List"
                   icon="id-card-o">

    <ol class="waltz-breadcrumbs">
        <li>
            <a ui-sref="main">
                Home
            </a>
        </li>
        <li>Licence Management</li>
    </ol>
</waltz-page-header>


<div class="row">
    <div class="col-md-12">
        <div class="waltz-page-summary waltz-page-summary-attach">
            <blockquote>
                This is the list of licences that are applicable to applications based on
                their usage of software components and libraries either open or closed source.

                The approval status of a licence is a confirmation of it's suitability for use within
                the organisation.  Applications that use unapproved licences may be a risk unless previously exempted.
            </blockquote>

            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>Licence</th>
                    <th>Status</th>
                    <th style="text-align: center"># Applications</th>
                    <th>Last updated</th>
                </tr>
                <tbody ng-repeat="licence in $ctrl.list">
                <tr>
                    <td>
                            <span uib-popover-template="'wrl-r-popover.html'"
                                  popover-trigger="mouseenter"
                                  popover-enable="licence.description"
                                  popover-popup-delay="300"
                                  popover-append-to-body="true">
                                <a ui-sref="main.licence.view ({id: licence.id})">
                                    <span ng-bind="licence.name"></span>
                                    <span ng-if="licence.externalId">
                                        (<span ng-bind="licence.externalId"></span>)
                                    </span>
                                </a>
                            </span>
                    </td>
                    <td>
                        <span ng-bind="licence.approvalStatus | toDisplayName:'approvalStatus'"></span>
                    </td>
                    <td style="text-align: center">
                        <span ng-if="$ctrl.appCountsByLicenceId[licence.id]">
                            <span ng-bind="$ctrl.appCountsByLicenceId[licence.id].count">
                            </span>
                            applications
                        </span>

                        <span ng-if="!$ctrl.appCountsByLicenceId[licence.id]">
                            -
                        </span>
                    </td>
                    <td>
                        <waltz-last-updated entity="licence"
                                            show-label="false">
                        </waltz-last-updated>
                    </td>
                </tr>
                </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>


<script type="text/ng-template"
        id="wrl-r-popover.html">
    <div class="small">
        <strong ng-bind="licence.name"></strong>
        <hr>
        <waltz-markdown text="licence.description"></waltz-markdown>
    </div>
</script>


<script type="text/ng-template"
        id="wrl-s-popover.html">
    <div class="small">
        <strong ng-bind="s.name"></strong>
        <hr>
        <waltz-markdown text="s.description"></waltz-markdown>
    </div>
</script>
