<ul class="nav navbar-nav navbar-left navbar-item">
    <li ng-if="$ctrl.visibleCategory"
        ui-sref-active="navbar-selected"
        ng-class="{'navbar-selected': $ctrl.showDropdown}">
        <a ui-sref="main.measurable-category.list ({id: $ctrl.visibleCategory.id})"
           class="btn-split">
            <waltz-icon size="lg"
                        name="puzzle-piece">
            </waltz-icon>
            <span class="navbar-title"
                  ng-bind="$ctrl.visibleCategory.name"></span>
        </a>
        <button class="btn-split-toggle"
                ng-click="$ctrl.toggleVisibility()">
            <waltz-icon name="caret-down"></waltz-icon>
        </button>
        <ul class="dropdown-menu dropdown-menu-items split-toggle-dropdown"
            ng-style="{ display: $ctrl.showDropdown ? 'block' : 'none'}">
            <li ng-repeat="category in $ctrl.categories">
                <a ui-sref="main.measurable-category.list ({id: category.id})"
                   ng-click="$ctrl.selectCategory(category.id)">
                    <waltz-icon name="puzzle-piece"></waltz-icon>
                    <span ng-bind="category.name"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>