<div class="row">
    <div class="col-md-11">
        <h4>
            <waltz-icon name="dot-circle-o"></waltz-icon>
            Update data type usage
            <small ng-bind='$ctrl.type.name'></small>
        </h4>

        <p class="small text-muted waltz-paragraph">
            Describe how this application uses this data type.
        </p>

        <table class="table table-condensed small waltz-app-type-usage-editor">
            <thead>
            <tr>
                <th>Usage</th>
                <th>Y/N</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in $ctrl.usageRows">
                <td>
                    <span uib-popover-html="row.nameDescription"
                          popover-append-to-body="true"
                          popover-trigger="mouseenter"
                          ng-bind="row.displayName"></span>
                </td>
                <td uib-popover-html="row.readOnlyDescription"
                    popover-append-to-body="true"
                    popover-trigger="mouseenter">
                    <input type="checkbox"
                           ng-model="row.selected"
                           ng-disabled="row.readOnly">
                </td>
                <td>
                    <span ng-if="row.description.length > 0 || row.selected">
                        <textarea rows="2"
                                  cols="30"
                                  placeholder="Description"
                                  ng-model="row.description">
                        </textarea>
                    </span>
                    <span ng-if="! row.description">
                        -
                    </span>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="pull-right">
            <!-- ACTIONS -->
            <button class="btn btn-success"
                    ng-click="$ctrl.save()">
                Apply
            </button>
            <a href
               ng-click="$ctrl.cancel()">
                Cancel
            </a>
        </div>
    </div>
</div>