<div class="waltz-rated-summary-table">
    <table class="table table-condensed">
        <colgroup>
            <col width="15%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="5%">
        </colgroup>
        <thead>
        <tr>
            <th>Data Type</th>
            <th ng-click="$ctrl.columnClick($event, 'PRIMARY')">
                <waltz-enum-value type="'AuthoritativenessRating'"
                                  show-icon="false"
                                  key="'PRIMARY'">
                </waltz-enum-value>
            </th>
            <th ng-click="$ctrl.columnClick($event, 'SECONDARY')">
                <waltz-enum-value type="'AuthoritativenessRating'"
                                  show-icon="false"
                                  key="'SECONDARY'">
                </waltz-enum-value>
            </th>
            <th ng-click="$ctrl.columnClick($event, 'DISCOURAGED')">
                <waltz-enum-value type="'AuthoritativenessRating'"
                                  show-icon="false"
                                  key="'DISCOURAGED'">
                </waltz-enum-value>
            </th>
            <th ng-click="$ctrl.columnClick($event, 'NO_OPINION')">
                <waltz-enum-value type="'AuthoritativenessRating'"
                                  show-icon="false"
                                  key="'NO_OPINION'">
                </waltz-enum-value>
            </th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="decorator in $ctrl.decorators"
            ng-click="$ctrl.rowClick($event, decorator)">
            <td>
                <span ng-bind="decorator.name">
                </span>
            </td>
            <td>
                <span ng-if="$ctrl.totalCounts.get(decorator.id).get('PRIMARY') > 0">
                    <waltz-rated-summary-cell direct-count="$ctrl.directCounts.get(decorator.id).get('PRIMARY')"
                                              total-count="$ctrl.totalCounts.get(decorator.id).get('PRIMARY')"
                                              rating="'PRIMARY'"
                                              max-count="$ctrl.maxCounts.get(decorator.id)"
                                              decorator="decorator"
                                              ng-click="$ctrl.cellClick($event, decorator, 'PRIMARY')"
                                              class="wrst-primary clickable">
                    </waltz-rated-summary-cell>
                </span>
            </td>
            <td>
                <span ng-if="$ctrl.totalCounts.get(decorator.id).get('SECONDARY') > 0">
                    <waltz-rated-summary-cell direct-count="$ctrl.directCounts.get(decorator.id).get('SECONDARY')"
                                              total-count="$ctrl.totalCounts.get(decorator.id).get('SECONDARY')"
                                              rating="'PRIMARY'"
                                              max-count="$ctrl.maxCounts.get(decorator.id)"
                                              decorator="decorator"
                                              ng-click="$ctrl.cellClick($event, decorator, 'SECONDARY')"
                                              class="wrst-secondary clickable">
                    </waltz-rated-summary-cell>
                </span>
            </td>
            <td>
                <span ng-if="$ctrl.totalCounts.get(decorator.id).get('DISCOURAGED') > 0">
                    <waltz-rated-summary-cell direct-count="$ctrl.directCounts.get(decorator.id).get('DISCOURAGED')"
                                              total-count="$ctrl.totalCounts.get(decorator.id).get('DISCOURAGED')"
                                              rating="'PRIMARY'"
                                              max-count="$ctrl.maxCounts.get(decorator.id)"
                                              decorator="decorator"
                                              ng-click="$ctrl.cellClick($event, decorator, 'DISCOURAGED')"
                                              class="wrst-discouraged clickable">
                    </waltz-rated-summary-cell>
                </span>
            </td>
            <td>
                <span ng-if="$ctrl.totalCounts.get(decorator.id).get('NO_OPINION') > 0">
                    <waltz-rated-summary-cell direct-count="$ctrl.directCounts.get(decorator.id).get('NO_OPINION')"
                                              total-count="$ctrl.totalCounts.get(decorator.id).get('NO_OPINION')"
                                              rating="'PRIMARY'"
                                              max-count="$ctrl.maxCounts.get(decorator.id)"
                                              decorator="decorator"
                                              ng-click="$ctrl.cellClick($event, decorator, 'NO_OPINION')"
                                              class="wrst-no-opinion clickable">
                    </waltz-rated-summary-cell>
                </span>
            </td>
            <td>
                <span class='small text-muted'
                      ng-bind="$ctrl.maxCounts.get(decorator.id)">
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>