.waltz-rated-summary-table {
    .wrst-primary {
        fill: #3cd32f;
    }

    .wrst-secondary {
        fill: #d3c433;
    }

    .wrst-discouraged {
        fill: #d33035;
    }

    .wrst-no-opinion {
        fill: #6d6b70;
    }
}