<waltz-change-set-overview parent-entity-ref="$ctrl.parentEntityRef">
</waltz-change-set-overview>

<br>

<waltz-change-unit-section parent-entity-ref="$ctrl.parentEntityRef">
</waltz-change-unit-section>

<br>

<waltz-dynamic-section-wrapper section="$ctrl.involvedPeopleSection"
                               parent-entity-ref="$ctrl.parentEntityRef">
</waltz-dynamic-section-wrapper>

<br>

<waltz-dynamic-section-wrapper section="$ctrl.bookmarkSection"
                               parent-entity-ref="$ctrl.parentEntityRef">
</waltz-dynamic-section-wrapper>

<br>

<waltz-dynamic-section-wrapper section="$ctrl.changeLogSection"
                               parent-entity-ref="$ctrl.parentEntityRef">
</waltz-dynamic-section-wrapper>
