<div>
    <table class="table table-condensed table-hover small">
        <thead>
        <tr>
            <th>Specification</th>
            <th>From</th>
            <th>To</th>
            <th>Format</th>
            <th>Transport</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="flow in $ctrl.lineage | orderBy:'specification.name'">
            <td>
                <a ui-sref="main.physical-specification.view ({ id: flow.specification.id })"
                   ng-bind="flow.specification.name">
                </a>
            </td>
            <td>
                <waltz-entity-link entity-ref="flow.sourceEntity"></waltz-entity-link>
            </td>
            <td>
                <waltz-entity-link entity-ref="flow.targetEntity"></waltz-entity-link>
            </td>
            <td><span ng-bind="flow.specification.format"></span></td>
            <td><span ng-bind="flow.flow.transport"></span></td>
            <td><span ng-bind="flow.flow.description"></span></td>
        </tr>
        </tbody>
    </table>
</div>
