<div>
    <waltz-page-header name="{{ ctrl.statistic.definition.name }}"
                       small="Indicator"
                       icon="pie-chart">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li>
                <a ui-sref="main.person.view ({ empId: ctrl.person.employeeId })"
                   ng-bind="ctrl.person.displayName">
                </a>
            </li>
            <li>Indicators</li>
            <li ng-bind="ctrl.statistic.definition.name"></li>
        </ol>
    </waltz-page-header>

    <div class="waltz-page-summary waltz-page-summary-attach">

        <div class="row">
            <!-- SUMMARY -->
            <div class="col-md-8"
                 style="border-right: 2px solid #eee">
                <waltz-entity-statistic-detail-panel definition='ctrl.statistic.definition'
                                                     summary="ctrl.statistic.summary"
                                                     values="ctrl.statistic.values">
                </waltz-entity-statistic-detail-panel>
            </div>

            <!-- NAV -->
            <div class="col-md-4" >
                <h4>
                    <span ng-bind="ctrl.parentRef.kind | toDisplayName:'entity'"></span>
                    <small>Selector</small>
                </h4>

                <table class="table table-condensed small">
                    <!-- MANAGERS -->
                    <tbody ng-if="ctrl.managers.length > 0">
                    <tr ng-repeat="manager in ctrl.managers">
                        <td>
                            <span ng-if="$first">
                                Managers
                            </span>
                        </td>
                        <td>
                            <a ng-click="ctrl.onSelectPerson(manager)"
                               class="clickable">
                                <span ng-bind="manager.displayName"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <!-- PEERS -->
                    <tbody ng-if="ctrl.peers.length > 0">
                    <tr ng-repeat="peer in ctrl.peers">
                        <td>
                            <a ng-click="ctrl.onSelectPerson(peer)"
                               class="clickable">
                                <span ng-if="$first">
                                    Peers
                                </span>
                            </a>
                        </td>
                        <td>
                            <span ng-bind="peer.displayName"></span>
                        </td>
                    </tr>
                    </tbody>
                    <!-- DIRECTS -->
                    <tbody ng-if="ctrl.directs.length > 0">
                    <tr ng-repeat="direct in ctrl.directs">
                        <td>
                            <span ng-if="$first">Directs</span>
                        </td>
                        <td>
                            <a ng-click="ctrl.onSelectPerson(direct)"
                               class="clickable">
                                <span ng-bind="direct.displayName"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <p class="waltz-paragraph small text-muted"
                   style="padding-top: 12px">
                    Select a person listed above to change the vantage point you are viewing
                    this statistic from.
                </p>
            </div>

        </div>

        <hr>

        <div class="row">
            <!-- RELATED -->
            <div class="col-md-12">
                <h3>Related Indicators</h3>
                <waltz-related-entity-statistics-summaries definitions='ctrl.relatedDefinitions'
                                                           parent-ref="ctrl.parentRef"
                                                           summaries="ctrl.summaries">
                </waltz-related-entity-statistics-summaries>
            </div>
        </div>

    </div>

</div>
