<waltz-software-package-overview parent-entity-ref="$ctrl.parentEntityRef">
</waltz-software-package-overview>


<br>

<waltz-dynamic-section-wrapper section="$ctrl.entityNamedNotesSection"
                               parent-entity-ref="$ctrl.parentEntityRef">
</waltz-dynamic-section-wrapper>

<br>

<waltz-dynamic-section-wrapper section="$ctrl.appsSection"
                               parent-entity-ref="$ctrl.parentEntityRef">
</waltz-dynamic-section-wrapper>

<br>

<waltz-dynamic-section-wrapper section="$ctrl.licenceSection"
                               parent-entity-ref="$ctrl.parentEntityRef">
</waltz-dynamic-section-wrapper>

<br>

<waltz-dynamic-section-wrapper section="$ctrl.entityStatisticSection"
                               parent-entity-ref="$ctrl.parentEntityRef">
</waltz-dynamic-section-wrapper>

<br>

<waltz-dynamic-section-wrapper section="$ctrl.bookmarkSection"
                               parent-entity-ref="$ctrl.parentEntityRef">
</waltz-dynamic-section-wrapper>

<br>

<waltz-dynamic-section-wrapper section="$ctrl.changeLogSection"
                               parent-entity-ref="$ctrl.parentEntityRef">
</waltz-dynamic-section-wrapper>
