.attestation-instance-list-user-view {

    .ailuv-run {
        border-radius: $border-radius-base;
        margin-top: 0.7em;
        padding: 0.8em;
        background: $waltz-section-background-color;
    }

}