@import "../../../style/_variables";
@import "../../../style/_util";


.waltz-page-header {
    background-color: $waltz-section-background-color;
    @include waltz-box-shadow();
}


.waltz-page-header.wph-free {
    padding: 6px 6px 6px 16px;
    border-top-left-radius: 10px;
    height: 80px;
    border-top-right-radius: 10px;
    margin-bottom: 12px;
    border: 1px solid $waltz-border-color-lighter;

    h2 {
        margin-top: 6px;
        margin-bottom: 4px;
    }
}


.waltz-page-header.wph-sticky {
    width: 100%;
    height: 30px;
    overflow: hidden;
    position: fixed;
    top: 50px;
    left: 0px;
    z-index: 999;
    border-bottom: 2px solid $waltz-border-color-lighter;
    opacity: 0;
    pointer-events: none;

    h2 {
        margin: 4px;
        padding-top: 2px;
        padding-left: 36px;
        font-size: medium;
        display: inline-block;
    }

    ul {
        float: right;
        display: inline-block;
    }


    @include transition(opacity 0.2s);
}

.waltz-page-header.wph-sticky.wph-sticky-visible {
    opacity: 1;

    cursor: pointer;
    pointer-events: all;
    @include transition(opacity 0.2s);
}