@import "../../../style/util";
@import "../../../style/variables";

.waltz-nav-search-results {
    top: 52px;
    right: 100px;
    position: absolute;
    background-color: #fafafa;
    width:70%;
    border: 1px solid #ccc;
    @include waltz-box-shadow();

    .wnsr-main {
        margin: 10px;
        padding-right: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        height: 80vh;
    }

    .wnsr-category {
        transition: background-color 300ms;
    }

    .wnsr-selected {
        background-color: $waltz-selected-item-bg-color;
    }
}

