@import "../../../style/util";


.waltz-nav-search-panel {
    top: 52px;
    right: 100px;
    position: absolute;
    background-color: #fafafa;
    width:75%;
    border: 1px solid #ccc;
    @include waltz-box-shadow();

    .wns-results {
        margin: 10px;
        padding-right: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        height: 70vh
    }
}

