<div class="waltz-nav-search-overlay waltz-fade-if"
     ng-if="$ctrl.visible"
     tabindex="100">

    <div class="wnso-main">
        <!-- Dismiss -->
        <small class="pull-right">
            <a class="clickable"
               ng-click="$ctrl.dismiss()">
                <waltz-icon name="close"></waltz-icon>
            </a>
        </small>

        <!-- Search Control -->
        <div class="wnso-search-region">
            <waltz-icon name="search"
                        ng-class="{
                    'wnso-search-active' : $ctrl.query.length > 0,
                    'wnso-search-inactive' : $ctrl.query.length == 0
                }">
            </waltz-icon>
            <input type='search'
                   class="form-control"
                   ng-model="$ctrl.query"
                   ng-model-options="{ debounce: 250 }"
                   ng-change="$ctrl.doSearch()"
                   autocomplete="off"
                   autofocus="autofocus"
                   placeholder="Search"
                   ng-keydown="$ctrl.onKeypress($event)" />
        </div>

        <div class="row">

            <!-- FILTERS -->
            <div class="col-sm-4">
                <table class="table table-condensed">
                    <colgroup>
                        <col width="85%">
                        <col width="15%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th colspan="2">
                                Filter
                            </th>
                        </tr>
                    </thead>
                    <tr ng-repeat="category in $ctrl.categories"
                        class="wnso-category"
                        ng-class="{
                            'clickable' : $ctrl.results[category].length > 0,
                            'wnso-selected': $ctrl.selectedCategory === category
                        }"
                        ng-click="$ctrl.toggleCategory(category)">
                        <td>
                            <span ng-class="{'text-muted' : ! $ctrl.results[category].length > 0}">
                                <waltz-icon fixed-width="true"
                                            name="{{ category | toIconName:'entity' }}">
                                </waltz-icon>
                                <span ng-bind="category | toDisplayName:'entity'"></span>
                            </span>
                        </td>
                        <td>
                        <span ng-if="$ctrl.results[category].length > 0"
                              class="small"
                              ng-bind="$ctrl.results[category].length">
                        </span>
                        </td>
                    </tr>
                </table>
            </div>


            <!-- RESULTS -->
            <div class="col-sm-8">
                <table class="table table-condensed table-striped table-hover">
                    <thead>
                    <tr>
                        <th colspan="2">
                            Results

                            <waltz-toggle class="pull-right"
                                          state="$ctrl.showActiveOnly"
                                          on-toggle="$ctrl.toggleActiveOnly()"
                                          label-on="Active only"
                                          label-off="Active only">
                            </waltz-toggle>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="category in $ctrl.categories"
                           class="waltz-fade-if"
                           ng-if="$ctrl.selectedCategory === category || $ctrl.selectedCategory === null">
                    <tr ng-repeat="item in $ctrl.results[category]">
                        <td>
                            <waltz-entity-link tooltip-placement="right"
                                               ng-click="$ctrl.dismiss()"
                                               entity-ref="item">
                            </waltz-entity-link>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>

        </div>

    </div>

</div>
