@mixin waltz-color-box-shadow($rgba) {
    -webkit-box-shadow: 0px 0px 4px 6px $rgba;
    -moz-box-shadow: 0px 0px 4px 6px $rgba;
    box-shadow: 0px 0px 4px 6px $rgba;
}


.waltz-physical-flow-edit-overview {
    .wpfeo-highlight-on-hover:hover {
        background-color: #eeeeee;
    }

    .wpfeo-okay {
        padding: 10px;
        border-radius: 3px;
        @include waltz-color-box-shadow(rgba(158, 220, 169, 0.37));
    }

    .wpfeo-missing {
        padding: 10px;
        border-radius: 3px;
        @include waltz-color-box-shadow(rgba(219,41,86,0.3));
    }
}