@import "../../style/variables";

.wcv-application-rating-R {
    background-color: $waltz-red-background;
}

.wcv-application-rating-A {
    background-color: $waltz-amber-background;
}

.wcv-application-rating-G {
    background-color: $waltz-green-background;
}

.wcv-application-rating-Z {
    background-color: $waltz-grey-background;
}

