<table class="table table-condensed table-hover">
    <colgroup>
        <col width="30%">
        <col width="70%">
    </colgroup>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="ac in ctrl.items | orderBy:'capability.name'">
        <td>
            <waltz-icon name="star"
                        style="color: goldenrod"
                        ng-if="ac.primary"></waltz-icon>
            <a ui-sref="main.capability.view ({id: ac.capability.id})">
                <span ng-if="ac.primary" style="font-weight: bolder">
                    {{ ac.capability.name }}
                </span>
                <span ng-if="! ac.primary">
                     {{ ac.capability.name }}
                </span>
            </a>
        </td>
        <td>
            {{ ac.capability.description }}
        </td>
    </tr>
    </tbody>
</table>
