<div class="waltz-physical-flow-overview"
     ng-class="{
        'ws-inactive': $ctrl.physicalFlow.entityLifecycleStatus ==='REMOVED',
        'ws-draft': $ctrl.physicalFlow.entityLifecycleStatus ==='PENDING',
     }">
    <div class="row">
        <!--SOURCE-->
        <div class="col-sm-4">
            <div style="padding-top: 12px">
                <waltz-physical-flow-overview-node node="$ctrl.logicalFlow.source"
                                                   criticality-mismatch="$ctrl.hasCriticalityMismatch"
                                                   participants="$ctrl.participants.SOURCE">
                </waltz-physical-flow-overview-node>
            </div>
        </div>
        <!--FLOW DETAIL-->
        <div class="col-sm-4">
            <div class="wpfo-flow-arrow">
                &rarr;
            </div>
            <div class="wpfo-flow-detail">
                <table class="waltz-field-table small">
                    <tr>
                        <td class="wft-label">
                                <span>
                                    Criticality:
                                </span>
                        </td>
                        <td>
                            <waltz-enum-value type="'physicalFlowCriticality'"
                                              key="$ctrl.physicalFlow.criticality"
                                              show-icon="false"
                                              show-popover="false">
                            </waltz-enum-value>
                        </td>
                    </tr>
                    <tr>
                        <td class="wft-label">
                                <span>
                                    Transport:
                                </span>
                        </td>
                        <td>
                            <span ng-bind="$ctrl.physicalFlow.transport | toDisplayName:'TransportKind'"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--TARGET-->
        <div class="col-sm-4">
            <div style="padding-top: 12px">
                <waltz-physical-flow-overview-node node="$ctrl.logicalFlow.target"
                                                   participants="$ctrl.participants.TARGET">
                </waltz-physical-flow-overview-node>
            </div>
        </div>
    </div>

    <br>


    <div class="small">
        <div class="row">
            <div class="col-sm-2 waltz-display-field-label">
                Frequency:
            </div>
            <div class="col-sm-10">
                <span ng-bind="$ctrl.physicalFlow.frequency | toDisplayName:'frequencyKind'"></span>
                <waltz-enum-value type="'FreshnessIndicator'"
                                   key="$ctrl.physicalFlow.freshnessIndicator"
                                   show-icon="true"
                                   show-popover="false">
                </waltz-enum-value>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 waltz-display-field-label">
                Basis Offset:
            </div>
            <div class="col-sm-10">
                <span ng-bind="$ctrl.physicalFlow.basisOffset | toBasisOffset"></span>
            </div>
        </div>

        <!-- Entity Enum -->
        <waltz-entity-enum parent-entity-ref="$ctrl.parentEntityRef">
        </waltz-entity-enum>


        <div class="row" ng-if="$ctrl.physicalFlow.description">
            <div class="col-sm-2 waltz-display-field-label">
                Description
            </div>
            <div class="col-sm-10">
                <waltz-markdown text="$ctrl.physicalFlow.description">
                </waltz-markdown>
            </div>
        </div>
    </div>


    <hr>

    <!--SPECIFICATION-->
    <div class="row">
        <div class="col-md-12">
            <table class="waltz-field-table small">
                <colgroup>
                    <col width="30%">
                    <col width="70%">
                </colgroup>
                <tbody>
                <tr>
                    <td class="wft-label">
                        <span>Specification Name:</span>
                    </td>
                    <td>
                        <waltz-entity-link entity-ref="{
                                id: $ctrl.specification.id,
                                kind:'PHYSICAL_SPECIFICATION',
                                name: $ctrl.specification.name
                            }">
                        </waltz-entity-link>
                    </td>
                </tr>
                <tr>
                    <td class="wft-label">
                        <span>Specification Description:</span>
                    </td>
                    <td>
                        <span ng-bind="$ctrl.specification.description"></span>
                    </td>
                </tr>
                <tr>
                    <td class="wft-label">
                        <span>Format:</span>
                    </td>
                    <td>
                        <span ng-bind="$ctrl.specification.format | toDisplayName:'dataFormatKind'"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>