.waltz-physical-flow-overview {

    .wpfo-specification-col {
        .wpfo-specification-title {
            font-size: larger;
        }

        >div {
            background-color: #f5f5f5;
            border-radius: 4px;
            padding: 6px;
            border: 1px solid #ddd
        }
    }

    .wpfo-flow-arrow {
        text-align: center;
        font-size: xx-large;
    }

    .wpfo-flow-detail {
        align: center;

        table {
            margin: 0 auto;
        }
    }

}

