<div class="waltz-entity-statistic-summary-card">
    <div ng-if="!($ctrl.pie.data | isEmpty)">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-5">
                <h5>
                    <span ng-bind="$ctrl.definition.name">
                    </span>
                </h5>
                <div class='small'>
                    <span ng-bind="$ctrl.definition.category | toDisplayName:'entityStatistic'">
                    </span>
                </div>
                <a class='clickable small'
                   title="Refocus on this statistic"
                   ng-click="$ctrl.goToStatistic($ctrl.definition)">
                    Explore &raquo;
                </a>
            </div>
            <div class="col-sm-6 text-center">
                <waltz-pie data="$ctrl.pie.data"
                           config="$ctrl.pie.config">
                </waltz-pie>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <waltz-pie-segment-table data="$ctrl.pie.data"
                                         config="$ctrl.pie.config"
                                         headings="$ctrl.tableHeadings">
                </waltz-pie-segment-table>
            </div>
        </div>
    </div>

    <div ng-if="$ctrl.pie.data | isEmpty">
        <div class="row">
            <div class="col-sm-12">
                <waltz-no-data>
                    <message>
                        <strong>No data points</strong> available.
                        <a class='clickable small'
                           title="Refocus on this statistic"
                           ng-if="! ($ctrl.definition.children | isEmpty)"
                           ng-click="$ctrl.goToStatistic($ctrl.definition)">
                            Explore &raquo;
                        </a>
                    </message>
                </waltz-no-data>
            </div>
        </div>
    </div>
</div>