<!--
  ~  This file is part of Waltz.
  ~
  ~  Waltz is free software: you can redistribute it and/or modify
  ~  it under the terms of the GNU General Public License as published by
  ~  the Free Software Foundation, either version 3 of the License, or
  ~  (at your option) any later version.
  ~
  ~  Waltz is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~  along with Waltz.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<div>
    <!-- HEADER -->
    <waltz-page-header name="{{ ctrl.groupDetail.appGroup.name }}"
                       icon="object-group"
                       small="{{ ctrl.groupDetail.appGroup.kind }}">
    </waltz-page-header>


    <!-- SUMMARY -->
    <waltz-app-group-summary applications="ctrl.applications"
                             asset-costs="ctrl.assetCostData.stats"
                             complexity="ctrl.complexity"
                             server-stats="ctrl.techStats.serverStats"
                             app-group="ctrl.groupDetail.appGroup"
                             flows="ctrl.dataFlows.stats"
                             editable="ctrl.isGroupEditable()">
    </waltz-app-group-summary>

    <hr>


    <!-- CAPABILITY RATINGS -->
    <waltz-section name='Capability Ratings'
                   small="{{ ctrl.ratingColorStrategy.name }}"
                   ng-init="ctrl.capabilitySelectorVisible = false">
        <waltz-section-actions>
            <a ng-click='ctrl.capabilitySelectorVisible = !ctrl.capabilitySelectorVisible'
               class="btn btn-xs btn-primary">
                <waltz-icon name="cogs"></waltz-icon>
                Configure
            </a>
        </waltz-section-actions>
        <waltz-multi-app-rating-viewer applications="ctrl.applications"
                                       capabilities="ctrl.capabilities"
                                       ratings="ctrl.ratings"
                                       color-strategy="ctrl.ratingColorStrategy"
                                       capability-selector-visible="ctrl.capabilitySelectorVisible"
                                       initially-selected-ids="ctrl.initiallySelectedIds"
                                       explicit-capability-ids="ctrl.explicitCapabilityIds">
        </waltz-multi-app-rating-viewer>
    </waltz-section>


    <!-- FLOWS -->
    <waltz-section name="Logical Data Flows"
                   icon="random">
        <waltz-data-flows-tabgroup flow-data="ctrl.dataFlows"
                                   on-load-detail="ctrl.loadFlowDetail"
                                   options="ctrl.flowOptions">
        </waltz-data-flows-tabgroup>
    </waltz-section>


    <!-- TECHNOLOGIES -->
    <waltz-section name="Technologies">
        <waltz-group-technology-summary stats="ctrl.techStats">
        </waltz-group-technology-summary>
    </waltz-section>


    <!-- COSTS -->
    <waltz-asset-costs-section data='ctrl.assetCostData'
                               on-bucket-select="ctrl.onAssetBucketSelect">
    </waltz-asset-costs-section>


    <!-- BOOKMARKS -->
    <waltz-bookmarks-section bookmarks="ctrl.bookmarks"
                             kind="APP_GROUP"
                             entity-id="{{ ctrl.groupDetail.appGroup.id }}"
                             parent-name="{{ ctrl.groupDetail.appGroup.name }}">
    </waltz-bookmarks-section>


    <!-- APPS -->
    <waltz-section name="Applications"
                   id="apps-section"
                   small="({{ ctrl.applications.length }})"
                   icon="desktop">

        <div ng-if="ctrl.applications">
            <waltz-app-table filter="appQuery"
                             csv-name="{{ ctrl.groupDetail.appGroup.name }}_applications.csv"
                             applications="ctrl.applications"></waltz-app-table>
        </div>

        <div class="alert-warning alert"
             ng-if="ctrl.applications.length == 0">
            <strong>No application </strong>
            have yet been registered this group,
            <span ng-bind="ctrl.groupDetail.appGroup.name"></span>.
        </div>
    </waltz-section>

</div>