<div>

    <!-- HEADER -->
    <waltz-page-header name="{{ ctrl.groupDetail.appGroup.name }}"
                       icon="object-group"
                       small="{{ ctrl.groupDetail.appGroup.kind }}">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li>App Group</li>
            <li><span ng-bind="ctrl.groupDetail.appGroup.name"></span></li>
        </ol>

    </waltz-page-header>


    <!-- SUMMARY -->
    <waltz-app-group-summary class='waltz-page-summary-attach'
                             applications="ctrl.applications"
                             total-cost="ctrl.assetCostData.total"
                             complexity="ctrl.complexity"
                             server-stats="ctrl.techStats.serverStats"
                             app-group="ctrl.groupDetail.appGroup"
                             flows="ctrl.dataFlows.stats"
                             editable="ctrl.isGroupEditable()">
    </waltz-app-group-summary>


    <!-- CHANGE INITIATIVES -->
    <waltz-section name="Change Initiatives"
                   icon="paper-plane-o"
                   id="change-initiatives-section">

        <waltz-section-actions>
            <button class="btn btn-xs waltz-btn-transparent"
                    ng-click="ctrl.visibility.changeInitiativeOverlay = ! ctrl.visibility.changeInitiativeOverlay">
                <waltz-icon name="map-signs"></waltz-icon>
            </button>
        </waltz-section-actions>

        <waltz-source-data-overlay visible="ctrl.visibility.changeInitiativeOverlay"
                                   ratings="ctrl.sourceDataRatings"
                                   entities="['CHANGE_INITIATIVE']">
        </waltz-source-data-overlay>


        <waltz-change-initiative-table ng-if='ctrl.changeInitiatives.length > 0'
                                       list="ctrl.changeInitiatives">
        </waltz-change-initiative-table>

        <waltz-no-data ng-if="ctrl.changeInitiatives.length == 0">
            <message>
                This group has not been associated to any Change Initiatives
            </message>
        </waltz-no-data>

    </waltz-section>


    <!-- CAPABILITIES -->
    <waltz-rating-explorer-section applications="ctrl.applications"
                                   app-capabilities="ctrl.appCapabilities"
                                   capabilities="ctrl.capabilities"
                                   source-data-ratings="ctrl.sourceDataRatings"
                                   id="ratings-explorer-section">
    </waltz-rating-explorer-section>


    <!-- FLOWS -->
    <waltz-logical-flows-tabgroup-section ratings="ctrl.sourceDataRatings"
                                          flow-data="ctrl.dataFlows"
                                          on-load-detail="ctrl.loadFlowDetail"
                                          applications="ctrl.applications">
    </waltz-logical-flows-tabgroup-section>


    <!--LINEAGE REPORTS-->
    <waltz-lineage-reports-section lineage-reports="ctrl.lineageReports">
    </waltz-lineage-reports-section>


    <!-- AUTH SOURCES -->
    <waltz-section name="Authoritative Sources"
                   id="auth-flows-section">
        <waltz-rated-flow-summary-panel apps="ctrl.applications"
                                        entity-reference="ctrl.entityRef"
                                        flow-data="ctrl.dataFlows"
                                        on-load-detail="ctrl.loadFlowDetail">
        </waltz-rated-flow-summary-panel>

        <waltz-no-data ng-if="ctrl.dataFlows.stats.flowCounts.inbound == 0">
            <message>
                No inbound data flows registered for this organisational unit
            </message>
        </waltz-no-data>

        <div class="row" style="padding-top: 12px;">
            <div class="col-md-12">

                <div class="small text-muted">
                    This diagram summarises the data types sent to applications in this group.
                </div>
            </div>
        </div>
    </waltz-section>


    <!-- APPS -->
    <waltz-apps-section apps="ctrl.applications"
                        source-data-ratings="ctrl.sourceDataRatings">
    </waltz-apps-section>


    <!-- INDICATORS -->
    <waltz-entity-statistic-summary-section name="Indicators"
                                            definitions="ctrl.entityStatisticDefinitions"
                                            parent-ref="ctrl.entityRef">
    </waltz-entity-statistic-summary-section>


    <!-- TECHNOLOGIES -->
    <waltz-section name="Technologies"
                   id="technologies-section">

        <waltz-section-actions>
            <button class="btn btn-xs waltz-btn-transparent"
                    ng-click="ctrl.visibility.techOverlay = ! ctrl.visibility.techOverlay">
                <waltz-icon name="map-signs"></waltz-icon>
            </button>
        </waltz-section-actions>

        <waltz-source-data-overlay visible="ctrl.visibility.techOverlay"
                                   ratings="ctrl.sourceDataRatings"
                                   entities="['SERVER', 'DATABASE', 'SOFTWARE']">
        </waltz-source-data-overlay>

        <waltz-group-technology-summary stats="ctrl.techStats">
        </waltz-group-technology-summary>
    </waltz-section>


    <!-- COSTS -->
    <waltz-asset-costs-section cost-view='ctrl.assetCostData'
                               source-data-ratings="ctrl.sourceDataRatings"
                               load-all="ctrl.loadAllCosts">
    </waltz-asset-costs-section>


    <!-- BOOKMARKS -->
    <waltz-bookmarks-section bookmarks="ctrl.bookmarks"
                             kind="APP_GROUP"
                             source-data-ratings="ctrl.sourceDataRatings"
                             entity-id="{{ ctrl.groupDetail.appGroup.id }}"
                             parent-name="{{ ctrl.groupDetail.appGroup.name }}">
    </waltz-bookmarks-section>


    <!-- CHANGE_LOG -->
    <waltz-change-log-section entries="ctrl.changeLogs">
    </waltz-change-log-section>

</div>