<div>
    <div class="row">
        <div class="col-md-11">

            <h4>
                Datatypes sent from:
                <span style="font-style: italic"
                      ng-bind="$ctrl.flow.source.name"></span>
                to:
                <span style="font-style: italic"
                      ng-bind="$ctrl.flow.target.name"></span>
            </h4>

            <!-- DATA TYPE OPTIONS -->
            <ul class="list-unstyled">
                <li ng-repeat="option in $ctrl.workingTypes | orderBy:'name'">
                    <span>
                        <input type="checkbox"
                               id="wdfte-{{option.id}}"
                               ng-model="option.selected"
                               ng-change="$ctrl.onChange()">

                        <label ng-style="{'font-weight': (option.selected ? 'bold' : 'none') }"
                               for="wdfte-{{option.id}}"
                               ng-bind="option.name">
                        </label>
                    </span>
                    <span class="text-muted small"
                          ng-bind="option.description">
                    </span>
                </li>
            </ul>

            <!-- ACTIONS -->
            <div class="pull-right">
                <button class="btn btn-success"
                        ng-disabled="! $ctrl.canSave()"
                        ng-click="$ctrl.save()">
                    Apply
                </button>
                <button class="btn btn-danger"
                        ng-click="$ctrl.delete()">
                    Delete
                </button>
                <a href
                   ng-click="$ctrl.cancel()">
                    Cancel
                </a>
            </div>

        </div>
    </div>
</div>