<div class="ui-grid-cell-contents"
     ng-switch="$ctrl.change.changeType">
     <span ng-switch-when="ADD_CHILD"
           ng-bind="$ctrl.change.params.name">
     </span>
     <span ng-switch-when="UPDATE_DESCRIPTION"
           ng-bind="$ctrl.change.params.description">
     </span>
     <span ng-switch-when="MOVE">
         To: <span ng-bind="$ctrl.change.params.destinationName"></span>
     </span>
     <span ng-switch-when="MERGE">
         Into: <span ng-bind="$ctrl.change.params.targetName"></span>
     </span>
     <span ng-switch-default>
        -
     </span>
</div>