<div style="padding-top: 10px; padding-bottom: 10px;"
     class="waltz-visibility-parent">

    <!-- PAN/ZOOM BTN -->
    <button class="btn btn-default btn-xs waltz-visibility-child-30"
            ng-class="{
                'waltz-visibility-child-30': !$ctrl.zoomEnabled,
                'waltz-visibility-child-50': $ctrl.zoomEnabled,
                'btn-default': !$ctrl.zoomEnabled,
                'btn-success': $ctrl.zoomEnabled
            }"
            uib-popover="Drag background to pan, use wheel to zoom in/out"
            popover-enable="$ctrl.zoomEnabled"
            popover-trigger="mouseenter"
            popover-placement="top"
            popover-append-to-body="true"
            ng-click="$ctrl.zoomEnabled ? $ctrl.disableZoom() : $ctrl.enableZoom()">
        <span ng-bind="$ctrl.zoomEnabled ? 'Disable' : 'Enable'"></span> Pan & Zoom
    </button>

    <!-- RESET BTN -->
    <button class="btn btn-default btn-xs waltz-visibility-child-30"
            uib-popover="Reset pan and zoom"
            popover-trigger="mouseenter"
            popover-placement="top"
            popover-append-to-body="true"
            ng-click="$ctrl.resetZoom()">
        Reset
    </button>

    <!-- EXPORT BTN -->
    <waltz-data-extract-link name="Export SVG"
                             styling="button"
                             format="SVG"
                             class="waltz-visibility-child-30"
                             extract="nav-aid/{{$ctrl.diagram.id}}">
    </waltz-data-extract-link>
</div>

<!-- SVG goes here -->