<span ng-repeat="summary in $ctrl.summaries" class="woanp-notification-wrapper">
    <a ui-sref="{{summary.uiStateName}}"
       class="woanp-notification clickable">
        <waltz-icon name="{{summary.icon}}"></waltz-icon>
        <span ng-bind="summary.label"></span>
        <span ng-if="summary.count === 0">
            <span class="woanp-zero-badge">
                <waltz-icon name="check"></waltz-icon>
            </span>
        </span>
        <span ng-if="summary.count > 0">
            <span class="woanp-count-badge"
                  ng-bind="summary.count">
            </span>
        </span>
    </a>
</span>
