.waltz-rated-flow-summary-table {
    .primary rect {
        fill: #3cd32f;
    }

    .secondary rect {
        fill: #d3c433;
    }

    .discouraged rect {
        fill: #d33035;
    }

    .no-opinion rect {
        fill: #6d6b70;
    }

    .stack-1 {
        opacity: 0.4;
    }
}