<div>

    <uib-tabset active="active">
        <uib-tab index="0"
                 heading="Summary">
            <div class="row">
                <div class="col-sm-4">
                    <br>
                    <waltz-flow-cloud-diagram
                        width="100%"
                        stats="ctrl.flowData.stats">
                    </waltz-flow-cloud-diagram>
                </div>
                <div class="col-md-8">
                    <br>
                    <h4>Data Categories</h4>
                    <table class="table table-condensed small table-striped">
                        <thead>
                        <tr>
                            <th>Category</th>
                            <th>Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in ctrl.flowData.stats.dataTypeCounts">
                            <td>{{ row.id }}</td>
                            <td>{{ row.count }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </uib-tab>

        <!-- GRAPH -->
        <uib-tab index="1"
                 heading="Graph"
                 select="ctrl.loadDetail(); ctrl.boingyEverShown = true">
            <br>
            <waltz-loading-notification show="ctrl.flowData.loadingFlows"
                                        name="Loading Flow Data">
            </waltz-loading-notification>
            <div ng-if="ctrl.boingyEverShown && ctrl.flowData.flows.length > 0">
                <waltz-org-unit-flow-viz entities="ctrl.entities"
                                         flows="ctrl.flowData.flows"
                                         tweakers="ctrl.options.graphTweakers">
                </waltz-org-unit-flow-viz>
                <div class="small text-muted">
                    Dragging nodes will pin them.  Double click to unpin.  If an application is gray
                    it is not a member of this group.
                </div>
            </div>

        </uib-tab>

        <!-- TABLE -->
        <uib-tab index="2"
                 heading="Table"
                 select="ctrl.loadDetail()">
            <br>
            <waltz-loading-notification show="ctrl.flowData.loadingFlows"
                                        name="Loading Flow Data">
            </waltz-loading-notification>
            <div ng-if="ctrl.flowData.flows.length >0"
                 class="waltz-scroll-region"
                 style="height: 300px">
                <table class="table table-condensed table-striped small">
                    <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Categories</th>
                    </tr>
                    </thead>
                    <tbody class="small">
                    <tr ng-repeat="flow in ctrl.condensedFlows">
                        <td>
                            <a ui-sref="main.app.view ({id: flow.source.id })">
                                <span ng-class="{ italics : flow.groupMembership.source }"
                                      ng-bind="flow.source.name"></span>
                            </a>
                        </td>
                        <td>
                            <a ui-sref="main.app.view ({id: flow.target.id })">
                                <span ng-class="{ italics : flow.groupMembership.target }"
                                      ng-bind="flow.target.name">
                                </span>
                            </a>
                        </td>
                        <td>
                            <waltz-keyword-list class="small"
                                                keywords="flow.categories">
                            </waltz-keyword-list>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </uib-tab>

    </uib-tabset>

</div>
