<div>
    <waltz-section name="Data Flows" icon="random" small="( {{flows.length}} )">


        <waltz-section-actions>
            <a ui-sref='main.data-flow.registration ({id: selfId})' class="btn btn-xs btn-primary">Edit</a>
        </waltz-section-actions>



        <div class="alert alert-warning" ng-if="flows.length == 0">
            <strong>
                No Data Flows
            </strong>
            registered for this application.  Add one
            <a ui-sref='main.data-flow.registration ({id: selfId})'>here</a>.
        </div>

        <div  ng-if="flows.length > 0">

            <waltz-app-data-flow-diagram incoming="ctrl.incoming"
                                         outgoing="ctrl.outgoing"
                                         sources="ctrl.sources"
                                         targets="ctrl.targets"
                                         tweakers="ctrl.tweakers"
                                         types="ctrl.flowTypes"></waltz-app-data-flow-diagram>
        </div>

        <p class="text-muted small">
            Diagram detailing the applications data types (Middle)
            from the sending system (LHS)
            to the receiving system on the (RHS).
            <!--The systems interactions can be highlighted to indicate
            the same data flowing across an organisation or whether the interaction is strategic or not.-->
        </p>
    </waltz-section>

</div>

