<div class="btn-group"
     uib-dropdown>

    <button type="button"
            class="btn btn-xs btn-primary"
            uib-dropdown-toggle>
        <waltz-icon name="cloud-download"></waltz-icon>
        Export <span class="caret"></span>
    </button>
    <ul class="dropdown-menu"
        uib-dropdown-menu
        style="min-width: 50px;"
        role="menu">
        <li role="menuitem">
            <a href=""
               ng-click="$ctrl.exportProduces()"
               class="small">
                <waltz-icon name="download"></waltz-icon>
                Produces
            </a>
        </li>
        <li role="menuitem">
            <a href=""
               ng-click="$ctrl.exportConsumes()"
               class="small">
                <waltz-icon name="download"></waltz-icon>
                Consumes
            </a>
        </li>
        <li role="menuitem">
            <a href=""
               ng-click="$ctrl.exportUnused()"
               class="small">
                <waltz-icon name="download"></waltz-icon>
                Unused
            </a>
        </li>
    </ul>
</div>
