/*
 *  This file is part of Waltz.
 *
 *  Waltz is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Waltz is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Waltz.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
@import "../../../../style/variables";

.waltz-complexity-bar-chart {
    .wcbc-bar {
        rect {
            transition: opacity 0.2s linear;
            transition: fill 0.2s linear;
            opacity: 0.75;
            cursor: pointer;
        }

        text {
            transition: fill 0.2s linear;
            fill: lighten($waltz-font-color, 20);
            font-size: 0.75em;
            cursor: pointer;
        }
    }

    .wcbc-bar:hover {
        rect {
            fill: rgb(198, 220, 249);
            opacity: 1;
        }

        text {
            fill: $waltz-font-color;
            opacity: 1;
        }
    }

    path.domain {
        stroke: #ccc;
    }

    .tick line{
        stroke: #ccc;
    }
}


