<div class="waltz-auth-sources-table">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Data Type</th>
            <th>Authoritativeness</th>
            <th>Application</th>
        </tr>
        </thead>
        <tbody ng-repeat="(dataType, sources) in ctrl.authSources">
        <tr ng-repeat="source in sources"
            ng-class="{
                    'direct' : source.parentReference.id == ctrl.orgUnitId,
                    'indirect' : source.parentReference.id != ctrl.orgUnitId,
                }">
            <td><span ng-if='$first' ng-bind="dataType | toDisplayName:'dataType'"></span></td>
            <td>
                <span>
                    <waltz-rating-indicator value="{{source.rating}}"></waltz-rating-indicator>
                    <span>
                        {{source.rating|toDisplayName:'rating'}}
                    </span>
                    <span ng-if="source.parentReference.id != ctrl.orgUnitId" class="small">
                        (Declared by: {{ctrl.lookupOrgUnitName(source.parentReference.id)}})
                    </span>
                </span>
            </td>
            <td>
                <a ui-sref="main.app.view ({id: source.applicationReference.id})">
                    {{source.applicationReference.name}}
                </a>
                <small>
                    ( {{source.appOrgUnitReference.name}} )
                </small>
            </td>
        </tr>
        </tbody>
    </table>
</div>
