<style>
    .waltz-info-block {
        border-bottom: 1px solid #ccc;
        padding: 2px 5px 2px 5px;
        margin-bottom: 2px;
        font-size: x-small;
    }

    .waltz-info-block:hover {
        background-color: #f6f6f6;
    }

    .waltz-info-block.active {
        background-color: #fdfdfd;
    }
</style>


<div class='row'
     ng-switch="$ctrl.visibility.mode">
    <div class="col-sm-12">
        <div ng-switch-when="BROWSE">
            <waltz-flow-diagrams-panel-browse parent-entity-ref="$ctrl.parentEntityRef"
                                              can-create="$ctrl.canCreate"
                                              on-create-diagram="$ctrl.onCreateDiagram"
                                              on-select-diagram="$ctrl.onSelectDiagram"
                                              on-clone-diagram="$ctrl.onCloneDiagram"
                                              on-edit-diagram="$ctrl.onEditDiagram">
            </waltz-flow-diagrams-panel-browse>
        </div>
        <div ng-switch-when="VIEW">
            <waltz-flow-diagrams-panel-view parent-entity-ref="$ctrl.selected.diagramRef"
                                            on-edit-diagram="$ctrl.onEditDiagram"
                                            on-dismiss-diagram="$ctrl.onDiagramDismiss">
            </waltz-flow-diagrams-panel-view>
        </div>
        <div ng-switch-when="EDIT">
            <waltz-flow-diagram-editor parent-entity-ref="$ctrl.selected.diagramRef"
                                       on-cancel="$ctrl.onDiagramDismiss">
            </waltz-flow-diagram-editor>
        </div>
    </div>
</div>



