<waltz-sub-section ng-if="$ctrl.keyPeople.length > 0" name="Key People" ng-click="$ctrl.onSelect()">
    <content>
        <div class="waltz-sub-section-content">
            <div ng-switch="$ctrl.mode" style="padding: 5px 0">
                    <div  style="min-height: 1px;">
                        <table class="table table-condensed small" width="100%">
                            <colgroup>
                                <col width="30%">
                                <col width="70%">
                            </colgroup>
                            <tr ng-repeat="item in $ctrl.keyPeople">
                                <td>
                                    <span ng-bind="item.rolesDisplayName"></span>
                                </td>
                                <td>
                                    <div>
                                        <span ng-repeat="p in item.person">
                                        <a ui-sref="main.person.view ({empId: p.person.employeeId})"
                                           ng-bind="p.person.displayName"></a> -
                                        <a href="mailto:{{p.person.email}}">
                                            <waltz-icon name="envelope-o"></waltz-icon>
                                        </a>
                                            <font ng-show="!$last">, </font>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
    </content>
</waltz-sub-section>