<div>

    <waltz-page-header name="Data Types"
                       small="search"
                       icon="qrcode">

        <ol class="waltz-breadcrumbs">
            <li>
                <a ui-sref="main">
                    Home
                </a>
            </li>
            <li>Data Types</li>
        </ol>
    </waltz-page-header>


    <div class="row">
        <div class="col-md-12">
            <div class="waltz-page-summary waltz-page-summary-attach">
                <blockquote>
                    Data Types describe what items of significance to the business are captured,
                    consumed or produced by applications.
                </blockquote>

                <waltz-svg-diagrams diagrams="ctrl.diagrams"
                                    block-processor="ctrl.blockProcessor">
                                    block-processor="ctrl.blockProcessor">
                </waltz-svg-diagrams>
            </div>
        </div>
    </div>

    <br>


    <!-- STATIC PANELS -->
    <div class="row"
         ng-if="ctrl.panels.length > 0">
        <div class="col-sm-12">
            <waltz-static-panels panels="ctrl.panels">
            </waltz-static-panels>
        </div>
    </div>


    <!-- TREE -->
    <waltz-section name="Data Types" small="All">
        <div class="row">
            <div class="col-sm-8">
                <waltz-data-type-tree trees="ctrl.trees"
                                      on-selection="ctrl.nodeSelected">
                </waltz-data-type-tree>
            </div>
            <div class="col-sm-4">
                <div ng-if="ctrl.selectedNode"
                     class="waltz-detail-callout">
                    <h3>
                        <span ng-bind="ctrl.selectedNode.name"></span>
                        <small class="pull-right clickable">
                            <waltz-icon name="times"
                                        ng-click="ctrl.selectedNode = null">
                            </waltz-icon>
                        </small>
                    </h3>

                    <h4 ng-if="ctrl.selectedNode.dataFlowCount > 0">
                        <span ng-bind="ctrl.selectedNode.dataFlowCount"></span>
                        Data Flows/s
                    </h4>

                    <h5 ng-if="ctrl.selectedNode.totalDataFlowCount > 0">
                        <span ng-bind="ctrl.selectedNode.totalDataFlowCount">
                        </span>
                        Data Flows (incl. sub-types)
                    </h5>

                    <hr>

                    <div class="small waltz-paragraph"
                         ng-bind="ctrl.selectedNode.description">
                    </div>

                    <a ui-sref="main.data-type.view ({ id: ctrl.selectedNode.id })">
                        Show &raquo;
                    </a>

                    <br>
                </div>
            </div>
        </div>
    </waltz-section>

</div>