<div>
    <!-- HEADER -->
    <waltz-page-header name="{{ ctrl.dataType.name }}"
                       small="Data Type"
                       icon="qrcode">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li><a ui-sref="main.data-type.list">Data Types</a></li>
            <li ng-bind="ctrl.dataType.name"></li>
        </ol>
    </waltz-page-header>


    <!-- SUMMARY -->
    <waltz-data-type-overview parent="ctrl.viewData.immediateHierarchy.parent"
                              all-data-types="ctrl.viewData.dataTypes"
                              data-data-type-id="ctrl.viewData.dataType.id"
                              apps="ctrl.viewData.apps"
                              flows="ctrl.viewData.dataFlowTallies"
                              costs="ctrl.viewData.assetCostData.stats"
                              server-stats="ctrl.viewData.techStats.serverStats"
                              complexity="ctrl.viewData.complexity"
                              usage-stats="ctrl.viewData.usageStats"
                              data-data-flow-tallies="ctrl.viewData.dataFlowTallies.dataTypeCounts">
    </waltz-data-type-overview>


    <!-- FLOWS -->
    <waltz-data-type-flows-tabgroup-section ratings="ctrl.viewData.sourceDataRatings"
                                            flow-data="ctrl.viewData.dataFlows"
                                            on-load-detail="ctrl.loadFlowDetail"
                                            applications="ctrl.viewData.apps">

    </waltz-data-type-flows-tabgroup-section>


    <!-- AUTH SOURCES -->
    <waltz-section name="Authoritative Sources"
                   icon="shield">
        <waltz-auth-sources-list auth-sources="ctrl.viewData.authSources"
                                 org-units="ctrl.viewData.orgUnits"
                                 ng-if="ctrl.viewData.authSources.length > 0">
        </waltz-auth-sources-list>

        <div class="alert alert-warning"
             ng-if="ctrl.viewData.authSources.length === 0">
            <strong>
                No Authoritative Sources declared by any Organisational Units
            </strong>
        </div>
    </waltz-section>

    <!-- INDICATORS -->
    <waltz-entity-statistic-summary-section name="Indicators"
                                            definitions="ctrl.viewData.entityStatisticDefinitions"
                                            parent-ref="ctrl.entityRef">
    </waltz-entity-statistic-summary-section>


    <!-- COSTS -->
    <waltz-asset-costs-section data="ctrl.viewData.assetCostData"
                               source-data-ratings="ctrl.viewData.sourceDataRatings"
                               on-bucket-select="ctrl.onAssetBucketSelect"
                               csv-name="asset_costs.csv">
    </waltz-asset-costs-section>


    <!-- BOOKMARKS -->
    <waltz-bookmarks-section bookmarks="ctrl.viewData.bookmarks"
                             entity-id="{{ ctrl.viewData.dataType.id }}"
                             kind="DATA_TYPE"
                             parent-name="{{ ctrl.viewData.orgUnit.name }}"
                             source-data-ratings="ctrl.viewData.sourceDataRatings">
    </waltz-bookmarks-section>


    <!-- CHANGE_LOG -->
    <waltz-change-log-section entries="ctrl.viewData.logEntries">
    </waltz-change-log-section>


</div>