<div>

    <waltz-page-header name="Data"
                       small="search"
                       icon="qrcode">

        <ol class="waltz-breadcrumbs">
            <li>
                <a ui-sref="main">
                    Home
                </a>
            </li>
            <li>Data</li>
        </ol>
    </waltz-page-header>


    <div class="row">
        <div class="col-md-12">
            <div class="waltz-page-summary waltz-page-summary-attach">
                <blockquote>
                    Data describes what items of significance to the business are captured,
                    consumed or produced by applications.
                </blockquote>

                <waltz-svg-diagrams diagrams="ctrl.diagrams"
                                    block-processor="ctrl.blockProcessor">
                </waltz-svg-diagrams>
            </div>
        </div>
    </div>

    <br>


    <!-- STATIC PANELS -->
    <div class="row"
         ng-if="ctrl.panels.length > 0">
        <div class="col-sm-12">
            <waltz-static-panels panels="ctrl.panels">
            </waltz-static-panels>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <!-- TREE -->
            <waltz-section name="Data"
                           icon="qrcode"
                           small="Types"
                           id="data-types-tree-section">
                <waltz-data-type-tree trees="ctrl.trees"
                                      on-selection="ctrl.nodeSelected">
                </waltz-data-type-tree>
            </waltz-section>
        </div>

        <div class="col-md-8">
            <!--LINEAGE REPORTS-->
            <waltz-section name="Lineage Reports"
                           icon="exchange"
                           id="lineage-reports-section">
                <waltz-section-actions>
                    <button ng-click="ctrl.exportLineageReports()"
                            class="btn btn-xs btn-primary"
                            ng-if="ctrl.lineageReports.length > 0">
                        <waltz-icon name="cloud-download"></waltz-icon>
                        Export
                    </button>
                </waltz-section-actions>

                <waltz-physical-flow-table lineage="ctrl.lineageReports"
                                           on-initialise="ctrl.flowTableInitialised"
                                           ng-if="ctrl.lineageReports.length > 0">
                </waltz-physical-flow-table>

                <waltz-no-data ng-if="ctrl.lineageReports.length == 0">
                    <message>
                        <strong>No Lineage Reports</strong> have been defined
                    </message>
                </waltz-no-data>
            </waltz-section>
        </div>

    </div>

</div>