<div>
    <!-- HEADER -->
    <waltz-page-header name="{{ ctrl.dataType.name }}"
                       small="Data Type"
                       tour="ctrl.tour"
                       icon="qrcode">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li><a ui-sref="main.data-type.list">Data</a></li>
            <li ng-bind="ctrl.dataType.name"></li>
        </ol>
    </waltz-page-header>


    <!-- SUMMARY -->
    <waltz-data-type-overview parent="ctrl.viewData.immediateHierarchy.parent"
                              all-data-types="ctrl.viewData.dataTypes"
                              data-data-type-id="ctrl.viewData.dataType.id"
                              apps="ctrl.viewData.apps"
                              usage-stats="ctrl.flowData.stats">
    </waltz-data-type-overview>


    <!-- AUTH SOURCES -->
    <waltz-section name="Authoritative Sources"
                   id="authoritative-sources-section"
                   icon="shield">
        <waltz-auth-sources-list auth-sources="ctrl.viewData.authSources"
                                 org-units="ctrl.viewData.orgUnits"
                                 consumers="ctrl.viewData.authSourceConsumers"
                                 ng-if="ctrl.viewData.authSources.length > 0">
        </waltz-auth-sources-list>

        <div class="alert alert-warning"
             ng-if="ctrl.viewData.authSources.length === 0">
            <strong>
                No Authoritative Sources declared by any Organisational Units
            </strong>
        </div>
    </waltz-section>


    <!-- FLOWS -->
    <waltz-rated-flow-boingy-graph data="ctrl.flowData"
                                   type-id="ctrl.dataType.id"
                                   data-data-types="ctrl.viewData.dataTypes">
    </waltz-rated-flow-boingy-graph>


    <!-- NON AUTH SOURCES -->
    <waltz-section name="Non Authoritative Sources"
                   id="non-authoritative-sources-section"
                   icon="asterisk">
        <waltz-non-auth-sources-list distributors="ctrl.flowDistributors"
                                     consumers="ctrl.viewData.allConsumers"
                                     data-data-types="ctrl.viewData.dataTypes"
                                     ng-if="ctrl.getObjectLength(ctrl.flowDistributors) > 0">
        </waltz-non-auth-sources-list>

        <div class="alert alert-warning"
             ng-if="ctrl.getObjectLength(ctrl.flowDistributors) === 0">
            <strong>
                No Non-Authoritative Sources distributing data
            </strong>
        </div>
    </waltz-section>


    <!-- ORIGINATORS -->
    <waltz-data-type-originators flow-originators="ctrl.flowOriginators">

    </waltz-data-type-originators>


    <!-- BOOKMARKS -->
    <waltz-bookmarks-section bookmarks="ctrl.viewData.bookmarks"
                             entity-id="{{ ctrl.viewData.dataType.id }}"
                             kind="DATA_TYPE"
                             parent-name="{{ ctrl.viewData.dataType.name }}"
                             source-data-ratings="ctrl.viewData.sourceDataRatings">
    </waltz-bookmarks-section>


    <!-- CHANGE_LOG -->
    <waltz-change-log-section entries="ctrl.viewData.logEntries">
    </waltz-change-log-section>


</div>