<style>
    .wtcci-value-cell {
        border: 1px solid #f5f5f5;
        background: #fafafa;
        min-height: 1.2em;
        margin-bottom: 2px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <span>Type</span>
        </div>
        <div class="col-sm-8 wtcci-value-cell">
            <span ng-bind="$ctrl.change.changeType"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <span>Status</span>
        </div>
        <div class="col-sm-8 wtcci-value-cell">
            <span ng-bind="$ctrl.change.status"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <span>Created By</span>
        </div>
        <div class="col-sm-8 wtcci-value-cell">
            <span ng-bind="$ctrl.change.createdBy"></span>
            ( <span ng-bind="$ctrl.change.createdAt"></span> )
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <span>Primary reference</span>
        </div>
        <div class="col-sm-8 wtcci-value-cell">
            <span ng-bind="$ctrl.change.primaryReference.name"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <span>Parameters</span>
        </div>
        <div class="col-sm-8 wtcci-value-cell">
            <pre ng-bind="$ctrl.change.params | json"></pre>
        </div>
    </div>
</div>
