.waltz-static-panel {

    .wsp-chromeless {
        margin-bottom: 20px;

        > h3 {
            margin-top: 0px;
        }
    }


    .wsp-minimal-border {
        border: 1px solid $waltz-border-color-lighter;
        border-radius: 2px;
        padding: 0.6em;

        > h3 {
            margin-top: 0px;
        }
    }
}