<waltz-sub-section name="Assessments">
    <content>
        <div class="waltz-sub-section-content">
            <div ng-switch="$ctrl.mode" style="padding: 5px 0">
                <div ng-switch-when="LIST">
                    <waltz-assessment-rating-list assessments="$ctrl.assessments"
                                                  on-select="$ctrl.onSelect">
                    </waltz-assessment-rating-list>
                </div>
                <div ng-switch-when="VIEW">
                    <waltz-assessment-editor assessment="$ctrl.selectedAssessment"
                                             on-save="$ctrl.onSave"
                                             on-close="$ctrl.onClose"
                                             on-remove="$ctrl.onRemove">
                    </waltz-assessment-editor>

                </div>
            </div>
        </div>
    </content>
</waltz-sub-section>