<div class="waltz-perspective-rating-panel">

    <style>
        .side-scroller {
            overflow-y: hidden;
            overflow-x: auto;
        }
    </style>


    <div class="row"
         ng-if="$ctrl.hasNoPerspectiveRatings() && ! $ctrl.showAnyway">
        <div class="col-sm-12">
            <waltz-no-data>
                <message>
                    <div>
                        No perspective ratings defined.
                    </div>
                    <div waltz-has-role="RATING_EDITOR">
                        <div>
                            <waltz-icon name="warning"></waltz-icon>
                            <strong>You</strong> have permission to edit perspective ratings.
                            <a ng-click="$ctrl.showAnyway = true"
                               class="clickable">
                                Show this
                            </a>
                            section to view perspective ratings.
                        </div>
                    </div>
                </message>
            </waltz-no-data>
        </div>
    </div>

    <div class="row"
         ng-if="!$ctrl.hasNoPerspectiveRatings() > 0 || $ctrl.showAnyway">

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Perspectives</h4>
                    <div class="text-muted">
                        Perspective ratings are overrides that show how a particular application's rating on a viewpoint
                        may change when viewed in conjunction with a secondary viewpoint.
                    </div>
                </div>
            </div>

            <br>

            <div class="waltz-tabs">
                <input type="radio"
                       ng-repeat-start="pb in $ctrl.perspectiveBlocks | orderBy:'name'"
                       ng-model="$ctrl.selectedPerspectiveBlock"
                       ng-value="pb"
                       ng-disabled="!$ctrl.hasMeasurables(pb)"
                       name="tab"
                       id="{{ pb.definition.id + '_' +$id}}">

                <label for="{{ pb.definition.id + '_' +$id}}"
                       ng-repeat-end
                       ng-bind="pb.definition.name">
                </label>

                <div ng-repeat="block in $ctrl.perspectiveBlocks | orderBy:'name'"
                     ng-class="{ 'wt-active': $ctrl.selectedPerspectiveBlock === block }"
                     class="wt-tab">

                    <div class="row">
                        <div class="col-sm-3">
                            <div>
                                <p class="small text-muted"
                                   ng-bind="$ctrl.selectedPerspectiveBlock.definition.description"></p>
                            </div>

                            <hr>
                            <div ng-if="$ctrl.selectedPerspectiveBlock">
                                <div>
                                    <h6>Layers</h6>
                                    <div class="small">
                                        <waltz-toggle label-on='Show implied ratings'
                                                      label-off='Show implied ratings'
                                                      icon-on='toggle-on'
                                                      icon-off='toggle-off'
                                                      on-toggle='$ctrl.selectedPerspectiveBlock.showImplied = !$ctrl.selectedPerspectiveBlock.showImplied'
                                                      state='$ctrl.selectedPerspectiveBlock.showImplied'>
                                        </waltz-toggle>
                                    </div>
                                    <div class="help-block small small">
                                        Toggle visibility of implied ratings.
                                    </div>
                                </div>

                                <hr>

                                <div>
                                    <a ng-if="$ctrl.hasMeasurables($ctrl.selectedPerspectiveBlock)"
                                       waltz-has-role="RATING_EDITOR"
                                       class="btn btn-xs btn-primary"
                                       ui-sref="main.perspective.rating-edit ({
                                    entityKind: $ctrl.parentEntityRef.kind,
                                    entityId: $ctrl.parentEntityRef.id,
                                    perspectiveId: $ctrl.selectedPerspectiveBlock.definition.id
                               })">
                                        Edit
                                    </a>

                                </div>

                            </div>
                        </div>

                        <div class="col-sm-9">
                            <div class="side-scroller"
                                 ng-if="$ctrl.selectedPerspectiveBlock === block">
                                <div>
                                    <waltz-perspective-grid ng-if="$ctrl.hasMeasurables(block) &&
                                                                $ctrl.hasPerspectiveOverrides($ctrl.selectedPerspectiveBlock)"
                                                            existing-overrides="block.overrides"
                                                            hide-implied="!block.showImplied"
                                                            pending-overrides="[]"
                                                            perspective-definition="block.definition"
                                                            measurables="$ctrl.measurables"
                                                            measurable-ratings="$ctrl.measurableRatings">
                                    </waltz-perspective-grid>
                                    <waltz-no-data ng-if="!$ctrl.hasMeasurables(block)">
                                        <message>
                                            <div>
                                                Ratings are not supplied for this perspective
                                            </div>
                                        </message>
                                    </waltz-no-data>
                                    <waltz-no-data ng-if="$ctrl.hasMeasurables(block) && !$ctrl.hasPerspectiveOverrides($ctrl.selectedPerspectiveBlock)">
                                        <message>
                                            <div>
                                                No rating overrides exist for this perspective
                                            </div>
                                        </message>
                                    </waltz-no-data>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

</div>
