<waltz-page-header name="{{ $ctrl.roadmap.name }}"
                   icon="road"
                   small="Roadmap">
    <ol class="waltz-breadcrumbs">
        <li><a ui-sref="main">Home</a></li>
        <li>Roadmaps</li>
        <li><span ng-bind="$ctrl.roadmap.name"></span></li>
    </ol>
</waltz-page-header>

<div class="waltz-page-summary waltz-page-summary-attach">

    <!-- NO DATA -->

    <div ng-switch="$ctrl.visibility.mode">

        <div ng-switch-when="LOADING">
            <waltz-loading-notification name="Loading roadmap">
            </waltz-loading-notification>
        </div>

        <div ng-switch-when="VIEW">
            <!-- name -->
            <div class="row">
                <div class="col-sm-3">
                    <label>Name:</label>
                </div>
                <div class="col-sm-9">
                    <waltz-editable-field field-type="text"
                                          on-save="$ctrl.onSaveRoadmapName"
                                          item-id="$ctrl.roadmap"
                                          save-label="Save"
                                          edit-role="SCENARIO_ADMIN"
                                          initial-val="$ctrl.roadmap.name">
                    </waltz-editable-field>
                </div>
            </div>  <!-- /name -->

            <!-- dimensions -->
            <div class="row">
                <div class="col-sm-3">
                    <label>Dimensions:</label>
                </div>
                <div class="col-sm-9">
                    <div>
                        <span ng-bind="$ctrl.roadmap.columnType.name"></span>
                        /
                        <span ng-bind="$ctrl.roadmap.rowType.name"></span>
                    </div>
                    <p class="help-block small">
                        Column Domain / Row Domain
                    </p>
                </div>
            </div>  <!-- /dimensions -->

            <!-- description -->
            <div class="row">
                <div class="col-sm-3">
                    <label>Description:</label>
                </div>
                <div class="col-sm-9">
                    <waltz-editable-field field-type="textarea"
                                          on-save="$ctrl.onSaveRoadmapDescription"
                                          item-id="$ctrl.roadmap"
                                          save-label="Save"
                                          initial-val="$ctrl.roadmap.description"
                                          empty-label="No description provided"
                                          edit-role="SCENARIO_ADMIN"
                                          class="text-muted">
                    </waltz-editable-field>
                </div>
            </div> <!-- /desc -->

        </div>
    </div>

</div>
