<div class="waltz-assessment-rating-panel">
    <div class="row">
        <div class="col-md-12">
            <table class="waltz-field-table"
                   style="width: 100%">
                <colgroup>
                    <col width="30%">
                    <col width="70%">
                </colgroup>
                <tbody>
                    <tr ng-repeat="def in $ctrl.enrichedAssessmentDefinitions">
                        <td class="wft-label">
                            <span ng-bind="def.name"></span>
                            <span ng-if="def.externalId">
                                (<span ng-bind="def.externalId"> </span>)
                            </span>
                        </td>
                        <td>
                            <span ng-if="def.rating"
                                  uib-popover-template="'ado-popover.html'"
                                  popover-placement="right"
                                  popover-trigger="mouseenter"
                                  popover-popup-delay="300"
                                  popover-append-to-body="true">
                                <waltz-rating-indicator-cell rating="def.ratingItem">
                                </waltz-rating-indicator-cell>
                                <span ng-bind="def.ratingItem.name">
                                </span>
                            </span>
                            <span ng-if="!def.rating">
                                N/A
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template"
        id="ado-popover.html">
    <div>
        <div>
            <div>
                <strong ng-bind="def.ratingItem.name"></strong>
            </div>
            <span ng-bind="def.rating.description"
                   class="text-muted">
            </span>
        </div>

        <br>

        <div class="small">
            <waltz-last-updated entity="def.rating">
            </waltz-last-updated>
        </div>
    </div>
</script>