<div class="row">
    <div class="col-md-9">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Application</th>
                <th>Data Type</th>
                <th>Consumers</th>
            </tr>
            </thead>
            <tbody >
            <tr ng-repeat="source in $ctrl.nonAuthSources">
                <td>
                    <a ng-bind="source.name"
                       ui-sref="main.app.view( { id: source.id })">
                    </a>
                </td>
                <td>
                    <a ng-bind="source.dataType.code | toDisplayName:'dataType'"
                       ui-sref="main.data-type.code ({ code: source.dataType.code })">
                    </a>
                </td>
                <td>
                    <a ng-click="$ctrl.showDetail(source)" class="clickable">
                        <span class="label"
                              ng-class="{
                                'label-danger':source.consumers.length > 0,
                                'label-success':source.consumers.length == 0
                                }"
                              ng-bind="source.consumers.length">
                        </span>
                    </a>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <div ng-if="$ctrl.selected != null">
            <h5>Detail</h5>
            <p class="small">
                Application
                <mark ng-bind="$ctrl.selected.name"></mark>
                has not been declared Authoritative by any organisational unit.
            </p>

            <h5>Consumers</h5>
            <div class="waltz-scroll-region" style="height:200px">
                <ul class="list-unstyled small">
                    <li ng-repeat="consumer in $ctrl.selected.consumers">
                        <a ui-sref="main.app.view ({id: consumer.target.id })"
                           ng-bind="consumer.target.name"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-if="$ctrl.selected == null">
            <h5>About</h5>
            <p class="small text-muted">
                This section lists any sources that have not been declared
                authoritative for this data type.  Click on the consumer count to see a list of
                the consumers.
            </p>
        </div>
    </div>

</div>