<h5>
    <waltz-icon name="puzzle-piece"></waltz-icon>
    Associated Viewpoints
</h5>
<div class="small">
    <!-- CURRENT ASSOCIATIONS -->
    <table class="table table-condensed small"
           style="background-color: white">
        <!-- IF NONE -->
        <tr ng-if="$ctrl.associatedMeasurables.length == 0">
            <td colspan="2">No associated viewpoints</td>
        </tr>

        <!-- LIST -->
        <tbody>
        <tr ng-repeat="measurable in $ctrl.associatedMeasurables">
            <td>
                <a ng-if="$ctrl.readOnly"
                   class="clickable"
                   ui-sref="main.measurable.view ({id: measurable.id })"
                   ng-bind="measurable.name">
                </a>
                <div ng-if="!$ctrl.readOnly"
                     ng-bind="measurable.name"></div>
                <div class="small text-muted"
                     ng-bind="measurable.categoryId | toDisplayName:'measurableCategory'">
                </div>
            </td>
            <td ng-if="!$ctrl.readOnly">
                <a ng-click="$ctrl.onRemove(measurable)"
                   class="clickable">
                    <waltz-icon name="trash"
                                title="remove"></waltz-icon>
                </a>
            </td>
        </tr>
        </tbody>


        <!-- FOOTER-->
        <tfoot ng-hide="$ctrl.readOnly || $ctrl.visibility.suggestions || $ctrl.visibility.search">
        <tr>
            <td colspan="2">
                <a class="clickable"
                   ng-click="$ctrl.onShowSuggestions()">
                    <waltz-icon name="plus"></waltz-icon>
                    Add
                </a>
            </td>
        </tr>
        </tfoot>

    </table>

    <!-- ADD NEW -->
    <div>

        <div ng-if="$ctrl.visibility.suggestions"
             class="waltz-fade-if">
            <!-- ADD NEW VIA SUGGESTED -->
            <small>
                The following viewpoints are suggestions based upon actual usage
                by applications in this diagram.  Select one to add an explicit
                association.
            </small>

            <br>

            <div class="waltz-scroll-region-200"
                 style="background-color: white">
                <table class="table small table-condensed" >
                    <tr ng-repeat="suggestion in $ctrl.suggestedMeasurables">
                        <td>
                            <a ng-bind="suggestion.name"
                               ng-click="$ctrl.onAdd(suggestion)"
                               class="clickable"></a>
                            <div class="small text-muted"
                                 ng-bind="suggestion.categoryId | toDisplayName:'measurableCategory'">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <br>

            <div class="small">
                Can't find what you are looking for ?  Try
                <a class="clickable"
                   ng-click="$ctrl.onShowSearch()">
                    searching...
                </a>
            </div>

        </div>

        <div ng-if="$ctrl.visibility.search"
             class="waltz-fade-if">
            <!-- ADD NEW VIA SEARCH -->

            <input type="search"
                   class="form-control form-search input-sm"
                   placeholder="Search..."
                   ng-model="searchQry"
                   ng-model-options="{ debounce: 200 }"
                   ng-change="$ctrl.doSearch(searchQry, searchCategory)">

            <div ng-if="$ctrl.searchResults.length > 0"
                 ng-class="{ 'waltz-scroll-region-200' : $ctrl.searchResults.length > 10 }"
                 class="waltz-fade-if">
                <table class="table small table-condensed">
                    <tr ng-repeat="result in $ctrl.searchResults">
                        <td>
                            <a ng-bind="result.name"
                               ng-click="$ctrl.onAdd(result)"
                               class="clickable"></a>
                            <div class="small text-muted"
                                 ng-bind="result.categoryId | toDisplayName:'measurableCategory'">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div>

                <br>

                <small>
                    Restrict your search results to a particular category using the drop down selection below.
                </small>

                <br>

                <select class='form-control input-sm'
                        ng-model="searchCategory"
                        ng-change="$ctrl.doSearch(searchQry, searchCategory)"
                        ng-options="x as x.name for x in $ctrl.categories">
                </select>

            </div>
            <br>

            <small>
                Go back to the
                <a class="clickable"
                   ng-click="$ctrl.onShowSuggestions()">
                    suggestions
                </a>
            </small>

        </div>
    </div>

</div>


