<div>
    <table class="table table-condensed small">
        <colgroup>
            <col width="30%">
            <col width="70%">
        </colgroup>
        <!-- name -->
        <tr>
            <td>Name:</td>
            <td>
                <waltz-editable-field field-type="text"
                                      on-save="$ctrl.onSaveName"
                                      item-id="$ctrl.scenario"
                                      save-label="Save"
                                      initial-val="$ctrl.scenario.name">
                </waltz-editable-field>
            </td>
        </tr>

        <!-- effective date -->
        <tr>
            <td>Effective Date:</td>
            <td>
                <waltz-editable-field field-type="date"
                                      on-save="$ctrl.onSaveEffectiveDate"
                                      item-id="$ctrl.scenario"
                                      save-label="Save"
                                      initial-val="$ctrl.scenario.effectiveDate">
                </waltz-editable-field>
            </td>
        </tr>


        <!-- scenario status -->
        <tr>
            <td>Scenario Type:</td>
            <td>
                <waltz-editable-enum enum-kind="scenarioType"
                                     on-save="$ctrl.onSaveScenarioType"
                                     ctx="$ctrl.scenario"
                                     save-label="Save"
                                     initial-val="$ctrl.scenario.scenarioType">
                </waltz-editable-enum>
            </td>
        </tr>

        <!-- cols -->
        <tr>
            <td>
                Columns:
                <p class="help-block">
                    ( <span ng-bind="$ctrl.roadmap.columnType.id | toDisplayName:'measurableCategory'"></span> )
                </p>
            </td>
            <td>
                <waltz-roadmap-scenario-axis-config axis-domain="$ctrl.roadmap.columnType"
                                                    axis-orientation="COLUMN"
                                                    scenario-id="$ctrl.scenario.id"
                                                    on-add-axis-item="$ctrl.onAddAxisItem"
                                                    on-remove-axis-item="$ctrl.onRemoveAxisItem"
                                                    on-reposition-axis-items="$ctrl.onRepositionAxisItems">
                </waltz-roadmap-scenario-axis-config>
            </td>
        </tr>

        <!-- rows -->
        <tr>
            <td>
                Rows:
                <p class="help-block">
                    ( <span ng-bind="$ctrl.roadmap.rowType.id | toDisplayName:'measurableCategory'"></span> )
                </p>
            </td>
            <td>
                <waltz-roadmap-scenario-axis-config axis-domain="$ctrl.roadmap.rowType"
                                                    axis-orientation="ROW"
                                                    scenario-id="$ctrl.scenario.id"
                                                    on-add-axis-item="$ctrl.onAddAxisItem"
                                                    on-remove-axis-item="$ctrl.onRemoveAxisItem"
                                                    on-reposition-axis-items="$ctrl.onRepositionAxisItems">
                </waltz-roadmap-scenario-axis-config>
            </td>
        </tr>

        <!-- desc -->
        <tr>
            <td>Description:</td>
            <td>
                <waltz-editable-field field-type="textarea"
                                      on-save="$ctrl.onSaveDescription"
                                      item-id="$ctrl.scenario"
                                      save-label="Save"
                                      initial-val="$ctrl.scenario.description"
                                      empty-label="No description provided"
                                      class="text-muted">
                </waltz-editable-field>
            </td>
        </tr>
    </table>

</div>
