<div class="row">
    <div class="col-sm-4 waltz-display-field-label">
        Name
    </div>
    <div class="col-sm-8">
        <span ng-bind="$ctrl.measurable.name"></span>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 waltz-display-field-label">
        External Id
    </div>
    <div class="col-sm-8">
        <span ng-bind="$ctrl.measurable.externalId"></span>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 waltz-display-field-label">
        Concrete
    </div>
    <div class="col-sm-8">
        <waltz-toggle state="$ctrl.measurable.concrete"
                      read-only="true"
                      label-on="Concrete"
                      label-off="Not concrete">
        </waltz-toggle>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 waltz-display-field-label">
        Description
    </div>
    <div class="col-sm-8">
        <waltz-markdown ng-if="$ctrl.measurable.description"
                        text="$ctrl.measurable.description">
        </waltz-markdown>
        <span ng-if="!$ctrl.measurable.description">
            Description not provided
        </span>
    </div>
</div>