<waltz-section icon='shield'
               data-testid="flow-classification-rule-list"
               name="Flow Classification Rules">

    <div class="waltz-section-actions">
        <div ng-if="$ctrl.viewMode==='LIST'">
            <waltz-data-extract-link name="Export"
                                     styling="button"
                                     extract="flow-classification-rule/all"
                                     method="GET">
            </waltz-data-extract-link>
        </div>
    </div>

    <waltz-static-panels render-mode='minimal-border'
                         group-key='SECTION.AUTH_SOURCES.ABOUT'>
    </waltz-static-panels>

    <br>

    <div class="row">
        <waltz-svelte-component component="$ctrl.FlowClassificationRulesPanel"
                                primary-entity-ref="{kind: 'ALL', id: 1}">
        </waltz-svelte-component>
    </div>

</waltz-section>