<div>
    <!-- HEADER -->
    <waltz-page-header icon="user" name="{{ ctrl.person.displayName }}">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li><a ui-sref="main.person">People</a></li>
            <li>{{ ctrl.person.displayName }}</li>
        </ol>
    </waltz-page-header>


    <!-- SUMMARY -->
    <waltz-person-summary person="ctrl.person"
                          asset-costs="ctrl.assetCostData.stats"
                          managers="ctrl.managers"
                          complexity="ctrl.complexity"
                          server-stats="ctrl.techStats.serverStats"
                          directs="ctrl.directs"
                          applications="ctrl.apps"
                          flows="ctrl.dataFlows.stats">

    </waltz-person-summary>


    <!-- CHANGE INITIATIVES -->
    <waltz-section name="Change Initiatives"
                   icon="paper-plane-o">

        <waltz-source-data-section-addon ratings="ctrl.sourceDataRatings"
                                         entities="['CHANGE_INITIATIVE', 'INVOLVEMENT']">
        </waltz-source-data-section-addon>

        <waltz-change-initiative-table ng-if='ctrl.changeInitiatives.length > 0'
                                       list="ctrl.changeInitiatives">
        </waltz-change-initiative-table>

        <div class="alert alert-warning" ng-if="ctrl.changeInitiatives.length == 0">
            <strong>This person is not associated with any Change Initiatives</strong>
        </div>

    </waltz-section>


    <!-- APPS -->
    <div ng-if="ctrl.hasInvolvements">

        <waltz-section icon="desktop"
                       name="Application Portfolio">

            <waltz-source-data-section-addon ratings="ctrl.sourceDataRatings"
                                             entities="['APPLICATION', 'END_USER_APPLICATION', 'INVOLVEMENT']">
            </waltz-source-data-section-addon>

            <uib-tabset>

                <uib-tab heading="Summary">
                    <waltz-app-summary has-app-involvements="ctrl.hasAppInvolvements"
                                       has-end-user-app-involvements="ctrl.hasEndUserAppInvolvements"
                                       charts="ctrl.charts">
                    </waltz-app-summary>
                </uib-tab>


                <uib-tab select="showDirectTab = true"
                         heading="Direct"
                         ng-if="ctrl.combinedAppInvolvements.direct.length > 0">

                    <div ng-if="showDirectTab">
                        <h4> Direct Involvements </h4>
                        <waltz-app-table applications="ctrl.combinedAppInvolvements.direct">
                        </waltz-app-table>
                    </div>

                </uib-tab>


                <uib-tab select="showOversightTab=true"
                         heading="Oversight"
                         ng-if="ctrl.combinedAppInvolvements.indirect.length > 0">

                    <div ng-if="showOversightTab">
                        <h4> Oversight Involvements <small>(Inferred via direct reports)</small></h4>
                        <waltz-app-table applications="ctrl.combinedAppInvolvements.indirect">
                        </waltz-app-table>
                    </div>

                </uib-tab>

            </uib-tabset>

        </waltz-section>
    </div>


    <!-- COMPLEXITY -->
    <waltz-complexity-section complexity="ctrl.complexity"
                              apps="ctrl.apps">
    </waltz-complexity-section>


    <!-- FLOWS -->
    <waltz-data-flows-tabgroup-section ratings="ctrl.sourceDataRatings"
                                       flow-data="ctrl.dataFlows"
                                       on-load-detail="ctrl.loadFlowDetail"
                                       applications="ctrl.apps">

    </waltz-data-flows-tabgroup-section>


    <!-- TECHNOLOGIES -->
    <waltz-section name="Technologies">

        <waltz-source-data-section-addon ratings="ctrl.sourceDataRatings"
                                         entities="['SERVER', 'DATABASE', 'SOFTWARE']">
        </waltz-source-data-section-addon>

        <waltz-group-technology-summary stats="ctrl.techStats">
        </waltz-group-technology-summary>
    </waltz-section>


    <!-- COSTS -->
    <waltz-asset-costs-section data="ctrl.assetCostData"
                               on-bucket-select="ctrl.onAssetBucketSelect"
                               source-data-ratings="ctrl.sourceDataRatings">
    </waltz-asset-costs-section>

</div>