<div>

    <!-- HEADER -->
    <waltz-page-header name="{{ ctrl.actor.name }}"
                       small="Actor"
                       icon="user-circle">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            </li>
            <li ng-bind="ctrl.actor.name"></li>
        </ol>
    </waltz-page-header>


    <div class="waltz-page-summary waltz-page-summary-attach">
        <waltz-actor-overview actor="ctrl.actor"></waltz-actor-overview>
    </div>


    <br>


    <waltz-section name="Physical Flows">

        <waltz-section-actions>
            <a class="btn btn-xs btn-primary"
               ui-sref="main.physical-flow.registration ({ kind: 'ACTOR', id: ctrl.actor.id })"
               waltz-has-role="LOGICAL_DATA_FLOW_EDITOR">
                Register
            </a>

            <div class="btn-group"
                 uib-dropdown>

                <button type="button"
                        ng-disabled="ctrl.physicalFlowsProducesCount == 0
                                        && ctrl.physicalFlowsConsumesCount == 0
                                        && ctrl.physicalFlowsUnusedSpecificationsCount == 0"
                        class="btn btn-xs btn-primary"
                        uib-dropdown-toggle>
                    Export <span class="caret"></span>
                </button>
                <ul class="dropdown-menu"
                    uib-dropdown-menu
                    style="min-width: 50px;"
                    role="menu">
                    <li role="menuitem">
                        <a href=""
                           ng-click="ctrl.exportPhysicalFlowProduces()"
                           ng-hide="ctrl.physicalFlowsProducesCount == 0"
                           class="small">
                            <waltz-icon name="download"></waltz-icon>
                            Produces
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href=""
                           ng-click="ctrl.exportPhysicalFlowConsumes()"
                           ng-hide="ctrl.physicalFlowsConsumesCount == 0"
                           class="small">
                            <waltz-icon name="download"></waltz-icon>
                            Consumes
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href=""
                           ng-click="ctrl.exportPhysicalFlowUnusedSpecifications()"
                           ng-hide="ctrl.physicalFlowsUnusedSpecificationsCount == 0"
                           class="small">
                            <waltz-icon name="download"></waltz-icon>
                            Unused
                        </a>
                    </li>
                </ul>
            </div>

        </waltz-section-actions>

        <waltz-physical-data-section specifications="ctrl.physicalSpecifications"
                                     on-initialise="ctrl.onPhysicalFlowsInitialise"
                                     on-change="ctrl.onPhysicalFlowsChange"
                                     physical-flows="ctrl.physicalFlows">
        </waltz-physical-data-section>

    </waltz-section>


    <!-- CHANGE LOG -->
    <waltz-change-log-section entries="ctrl.log"
                              entity-reference="ctrl.entityRef">
    </waltz-change-log-section>

</div>