waltz-allocation-entity-panel {
    .waep-table {
        margin: 6px;

        .row {
            padding-top: 2px;
            padding-bottom: 2px;
        }
        .waep-header {
            background-color: #fafafa;
            font-weight: bolder;
        }

        .waep-body {
            border-top: 1px solid #f5f5f5;
        }


        .waep-op-cell {
            padding-right: 0;
        }

        .waep-disabled-action {
            @extend .text-muted;
            padding-left: 20px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-right: 3px;
        }


    }

    .waep-edit-bar {
        padding-top: 6px;
        text-align: center;
    }

}