<!-- BLURB -->
<div class="row">
    <div class="col-sm-12">
        <h3 ng-bind="$ctrl.scheme.name"></h3>
        <waltz-markdown text="$ctrl.scheme.description"></waltz-markdown>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-12">
        <h4>
            <waltz-icon name="thumb-tack"></waltz-icon>
            Fixed Allocations
            <small>
                <span ng-bind="$ctrl.fixedTotal | number:1"></span>%
            </small>
        </h4>

        <waltz-no-data ng-if="$ctrl.fixedAllocations.length == 0">
            <message>No fixed allocations</message>
        </waltz-no-data>

        <div ng-if="$ctrl.fixedAllocations.length > 0">
            <table class="table table-condensed">
                <colgroup>
                    <col width="40%">
                    <col width="20%">
                    <col width="40%">
                </colgroup>
                <thead>
                <tr>
                    <th>Measurable</th>
                    <th>Allocation</th>
                    <th>Operations</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in $ctrl.fixedAllocations">
                    <td>
                        <span ng-bind="d.measurable.name"></span>
                    </td>
                    <td>
                        <span ng-if="!d.working.editing">
                            <span ng-bind="d.allocation.percentage | number:1 "></span>%
                        </span>
                        <span ng-if="d.working.editing">
                            <input type="number"
                                   min="0"
                                   max="100"
                                   ng-model="d.working.percentage">
                        </span>
                    </td>
                    <td>
                        <span ng-if="d.working.editing">
                            <a ng-click="$ctrl.setEditable(d, false)">Cancel</a>
                            |
                            <span ng-if="d.working.percentage != d.allocation.percentage">
                                <a ng-click="$ctrl.onUpdatePercentage(d)"
                                   class="clickable">
                                    Save percentage
                                </a>
                            </span>
                            <span ng-if="d.working.percentage == d.allocation.percentage">
                                <span class="text-muted">Save percentage</span>
                            </span>
                        </span>
                        <span ng-if="!d.working.editing">
                            <a ng-click="$ctrl.setEditable(d, true)">Edit percentage</a>
                        </span>
                        |
                        <a ng-click="$ctrl.onUpdateType(d, 'FLOATING')" class="clickable">To Float </a>

                    </td>
                </tr></tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4>
            Floating Allocations
            <small>
                <span ng-bind="$ctrl.floatingTotal | number:1"></span>%
            </small>
        </h4>


        <waltz-no-data ng-if="$ctrl.floatingAllocations.length == 0">
            <message>No floating allocations</message>
        </waltz-no-data>

        <div ng-if="$ctrl.floatingAllocations.length > 0">
            <table class="table table-condensed">
                <colgroup>
                    <col width="40%">
                    <col width="20%">
                    <col width="40%">
                </colgroup>
                <thead>
                <tr>
                    <th>Measurable</th>
                    <th><i>Allocation</i></th>
                    <th>Operations</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in $ctrl.floatingAllocations">
                    <td><span ng-bind="d.measurable.name"></span></td>
                    <td><i><span ng-bind="d.allocation.percentage | number:1 "></span>%</i></td>
                    <td><a ng-click="$ctrl.onUpdateType(d, 'FIXED')" class="clickable">To Fixed</a></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

