<!-- BLURB -->
<div class="row">
    <div class="col-sm-12">
        <h3 ng-bind="$ctrl.scheme.name"></h3>
        <waltz-markdown text="$ctrl.scheme.description"></waltz-markdown>
    </div>
</div>

<br>

<div class="row" style="border-bottom: 2px solid #fafafa">
    <div class="col-md-6">
        <h4>
            <waltz-icon name="thumb-tack"></waltz-icon>
            Fixed Allocations
            <small>
                <span ng-bind="$ctrl.fixedTotal | number:1"></span>%
            </small>
        </h4>

        <waltz-no-data ng-if="$ctrl.fixedAllocations.length == 0">
            <message>No fixed allocations</message>
        </waltz-no-data>

        <!-- FIXEDs -->
        <div ng-if="$ctrl.fixedAllocations.length > 0"
             class="waep-table">
            <div class="row waep-header">
                <div class="col-sm-5">
                    Measurable
                </div>
                <div class="col-sm-4">
                    Allocation
                </div>
                <div class="col-sm-3"
                     ng-if="$ctrl.editing">
                    Operations
                </div>
            </div>
            <div class="row waep-body"
                 ng-repeat="d in $ctrl.fixedAllocations">
                <div class="col-sm-5">
                    <span ng-bind="d.measurable.name"></span>
                    <span ng-if="d.working.dirty">*</span>
                </div>
                <div class="col-sm-4">
                    <span ng-if="!$ctrl.editing">
                        <span ng-bind="d.allocation.percentage | number:1 "></span>%
                    </span>
                    <span ng-if="$ctrl.editing">
                        <div class="form-group"
                             uib-popover="{{d.working.message}}"
                             popover-enable="d.working.status !== 'OK'"
                             popover-trigger="mouseenter"
                             popover-popup-delay="400"
                             popover-append-to-body="true"
                             ng-class="{
                                'has-success': d.working.status === 'OK',
                                'has-warning': d.working.status === 'WARN',
                                'has-error': d.working.status === 'FAIL'
                             }">
                            <input type="number"
                                   class="form-control input-sm"
                                   ng-change="$ctrl.onPercentageChange()"
                                   ng-model="d.working.percentage">
                            <span class="glyphicon form-control-feedback"
                                  ng-class="{
                                    'glyphicon-ok': d.working.status === 'OK',
                                    'glyphicon-warning-sign': d.working.status === 'WARN',
                                    'glyphicon-remove': d.working.status === 'FAIL',
                                  }"
                                  aria-hidden="true"/>
                        </div>
                    </span>
                </div>
                <div class="col-sm-3 waep-op-cell"
                     ng-if="$ctrl.editing">

                    <!-- Split button -->
                    <div class="btn-group" uib-dropdown>
                        <button id="split-button"
                                type="button"
                                ng-click="$ctrl.onUpdateType(d, 'FLOATING')"
                                class="btn btn-default btn-xs">
                            To float
                        </button>
                        <button type="button"
                                class="btn btn-default btn-xs"
                                uib-dropdown-toggle>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu"
                            uib-dropdown-menu
                            role="menu">
                            <li role="menuitem">
                                <a class="clickable"
                                   ng-click="$ctrl.onGrabFloat(d)"
                                   ng-if="$ctrl.floatingTotal !== 0">
                                    Grab float
                                </a>
                                <div ng-if="$ctrl.floatingTotal === 0"
                                      class="waep-disabled-action">
                                    Grab float
                                </div>
                            </li>
                            <li role="menuitem"><a href="#">Zero and distribute</a></li>
                            <li role="menuitem"><a href="#">Grab enough</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h4>
            Floating Allocations
            <small>
                <span ng-bind="$ctrl.floatingTotal | number:1"></span>%
            </small>
        </h4>

        <waltz-no-data ng-if="$ctrl.floatingAllocations.length == 0">
            <message>No floating allocations</message>
        </waltz-no-data>

        <!-- FLOATs -->
        <div ng-if="$ctrl.floatingAllocations.length > 0"
             class="waep-table">
            <div class="row waep-header">
                <div class="col-sm-5">
                    Measurable
                </div>
                <div class="col-sm-4">
                    <i>Allocation</i>
                </div>
                <div class="col-sm-3"
                     ng-if="$ctrl.editing">
                    Operations
                </div>
            </div>
            <div class="row waep-body"
                 ng-repeat="d in $ctrl.floatingAllocations">
                <div class="col-sm-5">
                    <span ng-bind="d.measurable.name"></span>
                </div>
                <div class="col-sm-4">
                    <i><span ng-bind="d.working.percentage | number:1"></span></i>
                    %
                </div>
                <div class="col-sm-3"
                     ng-if="$ctrl.editing">
                    <a ng-click="$ctrl.onUpdateType(d, 'FIXED')"
                       class="clickable">
                        To Fixed
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="waep-edit-bar">
    <div class="row">
        <div class="col-sm-12">
            <span ng-if="!$ctrl.editing">
                <a ng-click="$ctrl.setEditable(true)"
                   class="clickable">
                    Edit percentages
                </a>
            </span>

            <span ng-if="$ctrl.editing"
                  class="clickable">
                <a ng-click="$ctrl.onCancel()">
                    Cancel
                </a>
                |

                <a ng-if="$ctrl.saveEnabled"
                   ng-click="$ctrl.onUpdatePercentages()"
                   class="clickable">
                    Save percentages
                </a>

                <span ng-if="!$ctrl.saveEnabled" class="text-muted">
                    Save percentages
                </span>

                |

                <a ng-click="$ctrl.showingHelp = ! $ctrl.showingHelp"
                   class="clickable">
                    Help
                </a>
            </span>
        </div>
    </div>
</div>

<div class="row"
     ng-if="$ctrl.editing && $ctrl.showingHelp">
    <div class="col-md-12">
        <p>How to use this editor</p>
        <table class="table table-condensed small">
            <thead>
            <tr>
                <th>Operation</th>
                <th>Description</th>
            </tr>
            </thead>
            <tr>
                <td>To Float</td>
                <td>To float does some stuff</td>
            </tr>
            <tr>
                <td>To Fixed</td>
                <td>To fixed does some other stuff</td>
            </tr>
            <tr>
                <td>Grab float</td>
                <td>Takes unallocated stuff</td>
            </tr>
        </table>

    </div>
</div>
