<div>
    <div class="row">
        <div class="col-sm-2 waltz-display-field-label">
            Owner:
        </div>
        <div class="col-sm-4">
            <a ui-sref="main.app.view ({ id: $ctrl.owningEntity.id })">
                <span ng-bind="$ctrl.owningEntity.name"></span>
            </a>
        </div>

        <div class="col-sm-2 waltz-display-field-label">
            Organisational Unit:
        </div>
        <div class="col-sm-4">
            <a ui-sref="main.org-unit.view ({ id: $ctrl.organisationalUnit.id })">
                <span ng-bind="$ctrl.organisationalUnit.name"></span>
            </a>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-2 waltz-display-field-label">
            Format:
        </div>
        <div class="col-sm-4">
            <span ng-bind="$ctrl.specification.format"></span>
        </div>

        <div class="col-sm-2 waltz-display-field-label">
            External Id:
        </div>
        <div class="col-sm-4">
            <span ng-bind="$ctrl.specification.externalId"></span>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-2 waltz-display-field-label">
            Description:
        </div>
        <div class="col-sm-10">
            <span ng-bind="$ctrl.specification.description"></span>
        </div>
    </div>
</div>