<div class="waltz-bulk-logical-flow-parser">

    <div class="text-center">
        <waltz-loading-notification show="$ctrl.loading"
                                    name="Loading">
        </waltz-loading-notification>
    </div>


    <!-- Errors -->
    <div ng-if="$ctrl.errorMessage">
        <div>
            <p>Could not parse input data</p>

            <p>
                <span class="text-danger"
                      ng-bind="$ctrl.errorMessage">
                </span>
            </p>

            <p>Please go back and check input data and mappings.</p>
        </div>
    </div>


    <!-- Results -->
    <div ng-if="$ctrl.parsedData.length > 0">

        <!-- Summary -->
        <div>
            <h4>Summary</h4>
            <div ng-if="!$ctrl.summary.errors"
                 class="text-success">
                <p>
                    <span ng-bind="$ctrl.summary.total"></span> physical flows parsed,
                    <span ng-bind="$ctrl.summary.newFlows"></span> physical flows are
                    <a class="clickable wbas-inline-link"
                       ng-click="$ctrl.applyFilter('NEW')">new</a>
                    and
                    <span ng-bind="$ctrl.summary.existingFlows"></span> already
                    <a class="clickable wbas-inline-link"
                       ng-click="$ctrl.applyFilter('EXISTING')">exist</a>.
                    <a class="clickable"
                       ng-if="$ctrl.filterCriteria"
                       ng-click="$ctrl.applyFilter(null)">
                        show all
                    </a>
                </p>
                <p>
                    Ready to save these flows? Click next upload these flows.
                </p>
            </div>

            <div ng-if="$ctrl.summary.errors > 0"
                 class="text-danger">
                <span ng-bind="$ctrl.summary.errors"></span>
                <a class="clickable wbas-inline-link"
                   ng-click="$ctrl.applyFilter('ERROR')">
                    error<span ng-if="$ctrl.summary.errors > 1">s</span>
                </a>
                found in the imported data.

                Please review below and correct and re-upload file.

                <a class="clickable"
                   ng-if="$ctrl.filterCriteria"
                   ng-click="$ctrl.applyFilter(null)">
                    show all
                </a>

                <div class="pull-right">
                    <a class="clickable"
                       ng-click="$ctrl.exportParseErrors()">
                        <waltz-icon name="cloud-download"></waltz-icon>
                        Export errors
                    </a>
                </div>
            </div>
        </div>

        <br>

        <!-- Grid -->
        <waltz-grid-with-search ng-if="$ctrl.filteredData.length > 0"
                                scope-provider="$ctrl"
                                column-defs="$ctrl.columnDefs"
                                entries="$ctrl.filteredData"
                                searchPlaceholderText="Search"
                                on-initialise="$ctrl.onGridInitialise">
        </waltz-grid-with-search>

    </div>

</div>