@import "../../../../style/variables";

$annotation-color: #a4a2a6;
$flow-color: #8d8899;
$flow-color-pending: lighten($waltz-blue, 20);

@mixin wfd-flow($state, $color) {
    .wfd-flow-#{$state} {
        .wfd-flow-arrow {
            stroke: $color;
            stroke-dasharray: 1 4;
        }

        .wfd-flow-arrow-head {
            stroke-dasharray: 2;
            stroke: $color;
            fill: lighten($color, 30);
        }

        .wfd-flow-bucket {
            fill: #{$color};

            circle {
                fill: #fff;
                stroke: $color;
                stroke-dasharray: 2;
            }

            &:hover circle {
                stroke-opacity: 1;
                stroke: $color;
                cursor: pointer;
            }
        }
    }
}


.waltz-flow-diagram {
    path {
        shape-rendering: auto;
    }

    .wfd-active {
        opacity: 0.8 !important;
        path {
            stroke-width: 1.5;
        }
    }


    .wfd-flow-arrow {
        stroke: $flow-color;
        fill: none;
    }

    .wfd-flow-arrow-head {
        stroke: $flow-color;
        fill: #ccc;
    }

    @include wfd-flow('removed', $flow-color);
    @include wfd-flow('pending', $flow-color-pending);

    .wfd-node {
        @extend .no-text-select;
        opacity: 0.9;
        transition: opacity 300ms;
        &,.wfd-title {
            font-size: xx-small;
            fill: $waltz-font-color;
        }
        &:hover {
            cursor: move;
            path {
                stroke: #999;
            }
        }

    }

    .wfd-subject {
        path {
            fill: #fff1dc;
            stroke: #ffe26f;
        }
    }

    .wfd-annotation {

        &:hover circle {
            stroke-opacity: 1;
            stroke: darken($annotation-color, 20);
            cursor: move;
        }

        circle {
            fill: none;
            stroke: #ccc;
            stroke-opacity: 0;
            transition: stroke-opacity 600ms;
            stroke-dasharray: 5,4;
            pointer-events: visible;
        }

        path {
            fill: none;
            stroke: $annotation-color;
            stroke-dasharray: 2,2;
        }

        text {
            font-size: 0.6em;
            fill: darken($annotation-color, 20);
        }
    }

    .wfd-flow-bucket {
        @extend .no-text-select;
        circle {
            fill: #fff;
            stroke: #ccc;
        }

        &:hover circle {
            stroke-opacity: 1;
            stroke: darken($annotation-color, 20);
            cursor: pointer;
        }
    }
}

