<div>

    <style>
        div.waltz-user-log-scroll {
            height: 400px;
            width: 100%;
            overflow: auto;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 8px;
        }
    </style>

    <waltz-page-header icon="list-ul" name="User Logs">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li><a ui-sref="main.system.list">System Admin</a></li>
            <li>User Logs</li>
        </ol>
    </waltz-page-header>


    <div class='waltz-page-summary waltz-page-summary-attach'>
        <h3> Select User </h3>
        <form class="form-inline">
            <div class="form-group">
                <label>Search</label>
                <input type="search"
                       class="form-control"
                       placeholder="Username"
                       ng-model="ctrl.userName"
                       ng-change="ctrl.onChange(ctrl.userName)"
                       ng-model-options="{debounce: 300}">
            </div>
        </form>



        <div ng-if="ctrl.userName">
            <hr>

            <div>
                <h4>
                    Audit Log
                    <small ng-bind="ctrl.userName"></small>
                </h4>

                <waltz-grid-with-search ng-if="ctrl.changeLogs.length > 0"
                                        column-defs="ctrl.changeLogColumnDefs"
                                        entries="ctrl.changeLogs"
                                        search-placeholder-text="Search audit log...">
                </waltz-grid-with-search>

                <waltz-no-data ng-if="ctrl.changeLogs.length == 0">
                    <message>
                        No audit logs
                    </message>
                </waltz-no-data>
            </div>


            <div>
                <hr>

                <h4>
                    Access Log
                    <small ng-bind="ctrl.userName"></small>
                </h4>


                <waltz-grid-with-search ng-if="ctrl.accesslogs.length > 0"
                                        column-defs="ctrl.accessLogColumnDefs"
                                        entries="ctrl.accesslogs"
                                        search-placeholder-text="Search access log...">
                </waltz-grid-with-search>

                <waltz-no-data ng-if="ctrl.accesslogs.length == 0">
                    <message>
                        No Access logs
                    </message>
                </waltz-no-data>
            </div>
        </div>
    </div>

</div>


