<div>
    <style>
        div.waltz-user-admin-scroll {
            height: 300px;
            width: 100%;
            overflow: auto;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 8px;
        }

        .waltz-user-admin-selected {
            background-color: #eee;
        }
    </style>

    <waltz-page-header icon="users"
                       name="User Management">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li><a ui-sref="main.system.list">System Admin</a></li>
            <li>User Management</li>
        </ol>
    </waltz-page-header>


    <div class='waltz-page-summary waltz-page-summary-attach'>
        <form class="form-inline">
            <div class="form-group">
                <label>Search</label>
                <input type="search"
                       class="form-control"
                       placeholder="Filter by username/role...."
                       ng-model="userFilterQuery"
                       ng-model-options="{debounce: 300}"
                       ng-minlength="3">
                <div class="text-danger"
                     ng-if="ctrl.users.length > ctrl.numAllowedWithoutFilter && !userFilterQuery">
                    <br>
                    Too many results, please enter at least 3 characters to filter
                </div>
            </div>
        </form>
        <hr>
        <div class="waltz-user-admin-scroll">
            <table class="table table-condensed table-striped table-hover small">
                <thead>
                <tr>
                    <th>User Name</th>
                    <th ng-repeat="role in ctrl.roles">
                        <span ng-bind="role.name">
                        </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in ctrl.users | orderBy:'userName' | filter:userFilterQuery"
                    ng-if="ctrl.users.length <= ctrl.numAllowedWithoutFilter || userFilterQuery"
                    ng-click="ctrl.userSelected(user)"
                    ng-class="{ 'waltz-user-admin-selected' : user == ctrl.selectedUser }">
                    <td>
                        <a class="clickable" ng-bind="user.userName">
                        </a>
                    </td>
                    <td align="left" ng-repeat="role in ctrl.roles">
                        <span ng-if='ctrl.hasRole(user, role.key)'>
                            <waltz-icon name='check'></waltz-icon>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-top: 6px">
            Select a user from the above list
            <i>or</i>
            add a <a class="clickable" ng-click="ctrl.addUserSelected()">new user</a>.
        </div>

        <div ng-if="ctrl.selectedUser">
            <hr>
            <h3>
                <span ng-bind="ctrl.selectedUser.userName"></span>
                <small>User</small>
            </h3>

            <form class="form-horizontal"
                  ng-submit="ctrl.updateUser(ctrl.selectedUser, ctrl.roleSelections, ctrl.newPassword1, ctrl.newPassword2)">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Permissions</label>
                    <div class="col-sm-10">
                        <table class="table table-condensed table-hover">
                            <colgroup>
                                <col width="5%">
                                <col width="40%">
                                <col width="55%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>
                                    <a ng-click="ctrl.selectAll()" class="clickable">
                                        <waltz-icon name="plus" fixed-width="true"></waltz-icon>
                                    </a>
                                    /
                                    <a ng-click="ctrl.deselectAll()" class="clickable">
                                        <waltz-icon name="minus" fixed-width="true"></waltz-icon>
                                    </a>

                                </th>
                                <th>Role</th>
                                <th>Desc</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="role in ctrl.roles">
                                <td>
                                    <input type="checkbox"
                                           ng-model="ctrl.roleSelections[role.key]">
                                </td>
                                <td>
                                    <div ng-bind="role.name"></div>
                                </td>
                                <td>
                                    <p class="help-block"
                                       ng-bind="role.description">
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Reset Password
                    </label>
                    <div class="col-sm-10">
                        <input type="password"
                               class="form-control"
                               ng-model="ctrl.newPassword1"
                               placeholder="New password">
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Re-type Password
                    </label>
                    <div class="col-sm-10">
                        <input type="password"
                               class="form-control"
                               ng-model="ctrl.newPassword2"
                               placeholder="New password">
                        <p class="help-block">Leave both blank to preserve existing password</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit"
                                class="btn btn-success">
                            Save Changes
                        </button>
                        <button class="btn btn-danger"
                                type="button"
                                ng-click="ctrl.deleteUser(ctrl.selectedUser)">
                            Delete
                        </button>
                        <a class="clickable" ng-click="ctrl.dismiss()">
                            Dismiss
                        </a>
                    </div>
                </div>
            </form>
        </div>

        <div ng-if="ctrl.newUser">
            <hr>
            <h3>New User <small>Registration</small></h3>
            <form class="form-horizontal" ng-submit="ctrl.registerUser(ctrl.newUser)">
                <div class="form-group">
                    <label class="col-sm-2 control-label">User Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" ng-model="ctrl.newUser.userName" placeholder="User name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Password
                    </label>
                    <div class="col-sm-10">
                        <input type="password"
                               class="form-control"
                               ng-model="ctrl.newUser.password"
                               placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit"
                                class="btn btn-success"
                                ng-disabled="! ctrl.isValidNewUser(ctrl.newUser)">
                            Register
                        </button>
                        <a class="clickable" ng-click="ctrl.dismiss()">
                            Cancel
                        </a>
                    </div>
                </div>
            </form>
        </div>


        <div class="alert alert-danger"
             ng-if="ctrl.lastError">
            <strong ng-bind="ctrl.lastError.id">
            </strong>
            <span ng-bind="ctrl.lastError.message">
            </span>
            <br>
            <a class="clickable" ng-click="ctrl.lastError = null">
                Clear
                <waltz-icon name="times"></waltz-icon>
            </a>
        </div>
    </div>



</div>


