<waltz-licence-overview parent-entity-ref="$ctrl.parentEntityRef">
</waltz-licence-overview>

<br>

<waltz-dynamic-section-wrapper section="$ctrl.entityNamedNotesSection"
                               parent-entity-ref="$ctrl.parentEntityRef">
</waltz-dynamic-section-wrapper>

<br>

<waltz-dynamic-section-wrapper section="$ctrl.appsSection"
                               parent-entity-ref="$ctrl.parentEntityRef">
</waltz-dynamic-section-wrapper>

<br>

<waltz-dynamic-section-wrapper section="$ctrl.softwarePackagesSection"
                               parent-entity-ref="$ctrl.parentEntityRef">
</waltz-dynamic-section-wrapper>

<br>

<waltz-dynamic-section-wrapper section="$ctrl.bookmarkSection"
                               parent-entity-ref="$ctrl.parentEntityRef">
</waltz-dynamic-section-wrapper>

<br>

<waltz-dynamic-section-wrapper section="$ctrl.changeLogSection"
                               parent-entity-ref="$ctrl.parentEntityRef">
</waltz-dynamic-section-wrapper>
