<div>
    <waltz-section icon="bookmark-o"
                   name="Bookmarks"
                   small="( {{$ctrl.bookmarks.length}} )"
                   id="bookmarks-section"
                   class="waltz-bookmark-section">
        <waltz-section-actions>
            <a waltz-has-role="BOOKMARK_EDITOR"
               ui-sref="main.bookmarks.edit ({ entityId: $ctrl.parentEntityRef.id, kind: $ctrl.parentEntityRef.kind, parentName:$ctrl.parentEntityRef.name })"
               class="btn btn-xs btn-primary">
                Edit
            </a>
            <button class="btn btn-xs waltz-btn-transparent"
                    ng-click="$ctrl.sourceDataOverlay = ! $ctrl.sourceDataOverlay">
                <waltz-icon name="map-signs"></waltz-icon>
            </button>
        </waltz-section-actions>

        <waltz-source-data-overlay visible="$ctrl.sourceDataOverlay"
                                   entities="['BOOKMARK']">
        </waltz-source-data-overlay>

        <div class="row"
             ng-if="$ctrl.bookmarks.length > 0">

            <div class="col-md-3"
                 ng-if="$ctrl.showFilter">
                <waltz-bookmark-kinds bookmarks="$ctrl.bookmarks"
                                      on-select="$ctrl.selectBookmarkKind">
                </waltz-bookmark-kinds>
            </div>

            <div ng-class="{
                        'col-md-9': $ctrl.showFilter,
                        'col-md-12': !$ctrl.showFilter
                    }">
                    <table class="table table-condensed wbs-bookmark-table">
                        <colgroup>
                            <col width="10%">
                            <col width="70%">
                            <col width="20%">
                        </colgroup>

                    <tbody ng-repeat="bookmarksByKind in $ctrl.filteredBookmarks | orderBy:'kind' ">
                        <tr ng-repeat="bookmark in bookmarksByKind.bookmarks"
                            class="waltz-visibility-parent">
                            <td style="vertical-align:middle; text-align: center; width: 10%">
                                <waltz-icon name="{{ bookmark.kind | toIconName:'BookmarkKind' }}"
                                            size="lg">
                                </waltz-icon>
                            </td>
                            <td>
                                <waltz-icon ng-if='bookmark.isPrimary'
                                            name="star">
                                </waltz-icon>
                                <waltz-icon ng-if='!bookmark.isPrimary'
                                            class="text-muted"
                                            name="star-o">
                                </waltz-icon>
                                <waltz-external-link title="{{ bookmark.title }}"
                                                     url="{{ bookmark.url }}"
                                                     show-url="true">
                                </waltz-external-link>
                                <div>

                                    <div ng-if="bookmark.description"
                                         class="text-muted small">
                                        <span ng-bind="bookmark.description">
                                        </span>
                                    </div>

                                    <div ng-if="!bookmark.description"
                                         class="text-muted small">
                                        <i>No description provided</i>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="small waltz-visibility-child-30">
                                    Last updated:
                                    <div>
                                        <span ng-bind="bookmark.lastUpdatedBy"></span>
                                        ,
                                        <waltz-from-now timestamp="bookmark.lastUpdatedAt"></waltz-from-now>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <waltz-no-data ng-if="$ctrl.bookmarks.length == 0">
            <message>
                <strong>No bookmarks</strong>
                for this
                <span ng-bind="$ctrl.parentEntityRef.kind | toDisplayName:'entity' | lowercase">
                </span>
            </message>
        </waltz-no-data>
    </waltz-section>
</div>

