<div>
    <waltz-section-actions>
        <a waltz-has-role="BOOKMARK_EDITOR"
           ng-if="!$ctrl.visibility.editor"
           ng-click="$ctrl.visibility.editor = true"
           class="btn btn-xs btn-primary">
            Edit
        </a>
        <a waltz-has-role="BOOKMARK_EDITOR"
           ng-if="$ctrl.visibility.editor"
           ng-click="$ctrl.visibility.editor = false"
           class="btn btn-xs btn-info">
            Done
        </a>
        <button class="btn btn-xs waltz-btn-transparent"
                ng-click="$ctrl.sourceDataOverlay = ! $ctrl.sourceDataOverlay">
            <waltz-icon name="map-signs"></waltz-icon>
        </button>
    </waltz-section-actions>

    <waltz-source-data-overlay visible="$ctrl.sourceDataOverlay"
                               entities="['BOOKMARK']">
    </waltz-source-data-overlay>

    <div ng-if="! $ctrl.visibility.editor">
        <waltz-bookmarks-view-panel bookmarks="$ctrl.bookmarks"
                                    parent-entity-ref="$ctrl.parentEntityRef">
        </waltz-bookmarks-view-panel>
    </div>

    <div ng-if="$ctrl.visibility.editor">
        <waltz-bookmarks-edit-panel bookmarks="$ctrl.bookmarks"
                                    parent-entity-ref="$ctrl.parentEntityRef"
                                    on-reload="$ctrl.onReload"
                                    on-dismiss="$ctrl.onDismiss">
        </waltz-bookmarks-edit-panel>
    </div>
</div>

