.waltz-asset-costs-graph {
    .wacg-bar {
        rect {
            opacity: 0.85;
            cursor: pointer;
        }

        text {
            opacity: 0.85;
            font-size: 0.75em;
        }
    }

    .wacg-bar:hover {
        rect {
            opacity: 1;
        }

        text {
            opacity: 1;
        }
    }
}

