<div>
    <waltz-section-actions>
        <button class="btn btn-xs waltz-btn-transparent"
                ng-click="$ctrl.sourceDataOverlay = ! $ctrl.sourceDataOverlay">
            <waltz-icon name="map-signs"></waltz-icon>
        </button>
    </waltz-section-actions>

    <waltz-source-data-overlay visible="$ctrl.sourceDataOverlay"
                               entities="['ASSET_COST']">
    </waltz-source-data-overlay>

    <div ng-if="$ctrl.topCosts.length === 0">
        <waltz-no-data>
            <message>
                <strong>No associated costs found.</strong>
            </message>
        </waltz-no-data>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <uib-tabset ng-if="$ctrl.topCosts.length > 0">
                <!-- TOP 10 -->
                <uib-tab select="$ctrl.showSummary()">
                    <uib-tab-heading>
                        Top 10
                    </uib-tab-heading>

                    <br >

                    <div class="row">
                        <div class="col-sm-9">
                            <div ng-if="$ctrl.visibility.summary">
                                <waltz-asset-costs-graph costs="$ctrl.topCosts"
                                                         style="width: 95%"
                                                         on-select="$ctrl.onSummarySelect">
                                </waltz-asset-costs-graph>
                            </div>
                        </div>

                        <div class="col-sm-3"
                             style="border-left: 1px solid #eee">

                            <!-- STATIC PANEL -->
                            <div ng-if="! $ctrl.summarySelection"
                                 class="waltz-fade-if">
                                <waltz-static-panels group-key='SECTION.ASSET_COSTS.ABOUT'
                                                     class="small"
                                                     render-mode="minimal-border">
                                </waltz-static-panels>
                            </div>

                            <!-- SUMMARY SECTION -->
                            <div ng-if="$ctrl.summarySelection"
                                 class="waltz-fade-if">
                                    <h5>
                                        <a class='clickable'
                                           title="Go to application"
                                           ui-sref="main.app.view ({ id: $ctrl.summarySelection.entityRef.id })">
                                            <span ng-bind="$ctrl.summarySelection.entityRef.name"></span>
                                        </a>
                                        <a class="clickable"
                                           title="Dismiss"
                                           ng-click="$ctrl.summarySelection = null">
                                            <span class="pull-right">x</span>
                                        </a>
                                    </h5>

                                <hr>

                                <table class="table table-condensed table-striped small">
                                    <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>
                                            <div align="right">
                                                Amount
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in $ctrl.summarySelection.costTable | orderBy:'type'">
                                        <td>
                                            <span ng-bind="row.type"></span>
                                        </td>
                                        <td align="right">
                                            <waltz-currency-amount amount="row.amount">
                                            </waltz-currency-amount>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Total</strong>
                                        </td>
                                        <td align="right">
                                            <waltz-currency-amount amount="$ctrl.summarySelection.total">
                                            </waltz-currency-amount>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>
                </uib-tab>

                <!-- ALL -->
                <uib-tab select="$ctrl.showDetail()">
                    <uib-tab-heading>
                        All Data
                    </uib-tab-heading>

                    <br>

                    <div ng-if="$ctrl.visibility.detail">
                        <div ng-if="$ctrl.allCosts.length > 0">
                            <waltz-asset-cost-table options='{
                                                        showAppName: true,
                                                        showAssetCode: false
                                                    }'
                                                    csv-name='{{ $ctrl.csvName }}'
                                                    costs='$ctrl.allCosts'>
                            </waltz-asset-cost-table>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>

</div>
