<div>

    <waltz-page-header name="Application Registration"></waltz-page-header>

    <div class="row">
        <div class="col-md-7">
            <waltz-section name="Registration Form">
                <form ng-submit="ctrl.onSubmit()"
                      name="ctrl.form"
                      novalidate>
                    <formly-form form="ctrl.form"
                                 model="ctrl.model"
                                 fields="ctrl.fields">

                        <button type="submit"
                                class="btn btn-success"
                                style="margin-left: 12px"
                                ng-disabled="ctrl.form.$invalid">
                            Register
                        </button>

                    </formly-form>

                </form>
            </waltz-section>
        </div>
        <div class="col-md-5">
            <div ng-if="ctrl.registrations.length > 0">
                <waltz-section name="Recent Registrations">

                    <table class="table table-condensed">

                        <tr ng-repeat="registration in ctrl.registrations"
                            ng-class="{ 'bg-success' : registration.success, 'danger' : ! registration.success }"
                            ng-include="registration.success ? 'applications/app-registration-success.frag' : 'applications/app-registration-failure.frag'">
                        </tr>

                    </table>

                </waltz-section>
            </div>
        </div>
    </div>





    <script type="text/ng-template"
            id="applications/app-registration-success.frag">
        <td>
            <waltz-icon name="check"></waltz-icon>
            <a ui-sref="main.app.view ({ id: registration.app.id })">
                <strong>
                    {{ registration.app.name }}
                </strong>
            </a>
        </td>
        <td>
            {{ registration.app.kind | toDisplayName:'applicationKind' }}
        </td>
        <td>
            {{ registration.app.lifecyclePhase | toDisplayName:'lifecyclePhase' }}
        </td>
        <td>
            <a ui-sref="main.org-unit.view ({ id: registration.app.organisationalUnit.id })">
                {{ registration.app.organisationalUnit.name }}
            </a>
        </td>
    </script>

    <script type="text/ng-template"
            id="applications/app-registration-failure.frag">
        <td>
            <waltz-icon name="close"></waltz-icon>
            <strong>
                {{ registration.app.name }}
            </strong>
        </td>
        <td colspan="3">
            <span class="text-muted">
                {{ registration.message }}
            </span>
        </td>
    </script>

</div>
