<label>Data Types</label>
<div ng-if="$ctrl.specDataTypes.length > 0">
    <ul class="waltz-keyword-list small">
        <li ng-repeat="specDataType in $ctrl.specDataTypes"
            class="wkl-keyword">
            <span ng-bind="specDataType.dataTypeId  | toDisplayName:'dataType'">
            </span>
        </li>
    </ul>
    <br>
</div>

<waltz-no-data ng-if="$ctrl.specDataTypes.length === 0">
    <message><strong>No Data Types</strong> registered against this physical specification</message>
</waltz-no-data>