<waltz-section name="Data Types"
               small="( {{ $ctrl.originalSelectedItemIds.length }} )"
               icon="qrcode"
               id="specification-data-types-section">

    <waltz-section-actions>
        <div waltz-has-role="LOGICAL_DATA_FLOW_EDITOR">
            <button type="button"
                    class="btn btn-xs btn-primary"
                    ng-if="! $ctrl.editing"
                    ng-click="$ctrl.startEdit()">
                Edit
            </button>
        </div>
    </waltz-section-actions>

    <div ng-if="$ctrl.editing">
        <waltz-multi-select-tree-control items="$ctrl.allDataTypes"
                                         on-click="$ctrl.toggleTypeChecked"
                                         on-check="$ctrl.typeChecked"
                                         on-uncheck="$ctrl.typeUnchecked"
                                         checked-item-ids="$ctrl.checkedItemIds"
                                         expanded-item-ids="$ctrl.expandedItemIds">
            <strong ng-bind="node.name">
            </strong>
            <span class="text-muted small"
                  ng-bind="node.description">
            </span>
        </waltz-multi-select-tree-control>

        <!-- ACTIONS -->
        <br>
        <div style="padding-left: 40px;">
            <button class="btn btn-sm btn-success"
                    ng-click="$ctrl.save()">
                Save
            </button>
            <a class="clickable"
               ng-click="$ctrl.cancel()">
                Cancel
            </a>
        </div>
    </div>

    <div ng-if="! $ctrl.editing">
        <waltz-physical-spec-data-type-list parent-entity-ref="$ctrl.parentEntityRef">
        </waltz-physical-spec-data-type-list>
    </div>

</waltz-section>