<div>

    <waltz-page-header name="Playpen"
                       small="2"
                       icon="rocket">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li>Playpen</li>
        </ol>
    </waltz-page-header>


    <waltz-section name="Physical Flow Uploader">
        <button class="btn"
                ng-click="ctrl.generate()">
            Generate
        </button>
    </waltz-section>


    <waltz-section name="upload">
        <waltz-bulk-physical-flow-uploader flow-commands="ctrl.uploadCmds"
                                           on-initialise="ctrl.uploaderInitialised"
                                           on-upload-complete="ctrl.uploadComplete">
        </waltz-bulk-physical-flow-uploader>
    </waltz-section>


    <waltz-section name="parser">
        <button class="btn"
                ng-click="ctrl.validate()">
            Validate
        </button>

        <waltz-bulk-physical-flow-parser column-mappings="ctrl.columnMappings"
                                         source-data="ctrl.sourceData"
                                         on-initialise="ctrl.parserInitialised"
                                         on-parse-complete="ctrl.parseComplete">
        </waltz-bulk-physical-flow-parser>
    </waltz-section>


    <waltz-section name="loader">
        <waltz-spreadsheet-loader on-spreadsheet-loaded="ctrl.spreadsheetLoaded">
        </waltz-spreadsheet-loader>
    </waltz-section>


    <!--
    <waltz-section name="upload">
        <waltz-bulk-logical-flow-uploader flows="ctrl.newFlows"
                                          on-upload-complete="ctrl.uploadComplete">
        </waltz-bulk-logical-flow-uploader>
    </waltz-section>

    <waltz-section name="parser">
        <waltz-bulk-logical-flow-parser column-mappings="ctrl.columnMappings"
                                        source-data="ctrl.sourceData"
                                        on-parse-complete="ctrl.parseComplete">
        </waltz-bulk-logical-flow-parser>
    </waltz-section>

    <waltz-section name="mapper">
        <waltz-column-mapper source-columns="ctrl.sourceColumns"
                             target-columns="ctrl.targetColumns"
                             on-change="ctrl.onMappingsChanged">
        </waltz-column-mapper>
    </waltz-section>
    -->
</div>
