<!-- VIEW -->
<waltz-sub-section name="Roadmaps"
                   ng-if="$ctrl.visibility.subSection">
    <content>
        <div style="margin: 8px">
            <div ng-switch="$ctrl.mode">

                <!-- LOADING -->
                <div ng-switch-when="LOADING">
                    <waltz-loading-notification show="true"
                                                name="Looking for associated roadmaps">
                    </waltz-loading-notification>
                </div>


                <!-- ADD -->
                <div ng-switch-when="ADD">
                    <waltz-add-roadmap on-add-roadmap="$ctrl.onAddRoadmap"
                                       on-cancel="$ctrl.onCancel">
                    </waltz-add-roadmap>
                </div>


                <div ng-switch-when="VIEW">

                    <!-- PREAMBLE -->
                    <p>
                        This entity appears in the following roadmap/scenarios
                    </p>


                    <!-- NO DATA -->
                    <div ng-if="$ctrl.references.length === 0">
                        <waltz-no-data>
                            <message>
                                <strong>Not linked</strong>to any roadmap scenarios.
                                <br>
                                <a ng-if="$ctrl.permissions.admin"
                                   class="clickable"
                                   ng-click="$ctrl.onShowAddRoadmap()">
                                    <waltz-icon name="plus"></waltz-icon>
                                    Add Roadmap?
                                </a>
                            </message>
                        </waltz-no-data>
                        <br>
                    </div>


                    <!-- TABLE -->
                    <table class="table table-condensed"
                           ng-if="$ctrl.references.length > 0">
                        <thead>
                        <tr>
                            <th>Roadmap</th>
                            <th>Scenario</th>
                            <th>Effective Date</th>
                            <th>Type</th>
                            <th>State</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="ref in $ctrl.references">
                        <tr ng-if="ref.scenarios.length === 0">
                            <td>
                                <a ui-sref="main.roadmap.view ({id: ref.roadmap.id })">
                                    <span uib-popover-template="'wrar-roadmap-popover.html'"
                                          popover-trigger="mouseenter"
                                          popover-append-to-body="true"
                                          popover-placement="top"
                                          ng-bind="ref.roadmap.name">
                                    </span>
                                </a>
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                -
                            </td>
                        </tr>
                        <tr ng-repeat="scenario in ref.scenarios"
                            ng-if="ref.scenarios.length > 0">
                            <td>
                                <a ui-sref="main.roadmap.view ({id: ref.roadmap.id })">
                                    <span ng-if="$first"
                                          uib-popover-template="'wrar-roadmap-popover.html'"
                                          popover-trigger="mouseenter"
                                          popover-append-to-body="true"
                                          popover-placement="top"
                                          ng-bind="ref.roadmap.name">
                                    </span>
                                </a>
                            </td>
                            <td>
                                <a ui-sref="main.scenario.view ({ id: scenario.id })">
                                    <span ng-bind="scenario.name"
                                          uib-popover-template="'wrar-scenario-popover.html'"
                                          popover-trigger="mouseenter"
                                          popover-append-to-body="true"
                                          popover-placement="top">
                                    </span>
                                </a>
                            </td>
                            <td>
                                <span ng-bind="scenario.effectiveDate">
                                </span>
                            </td>
                            <td>
                                <span ng-bind="scenario.scenarioType | toDisplayName:'scenarioType'">
                                </span>
                            </td>
                            <td>
                                <span ng-bind="scenario.releaseStatus | toDisplayName:'releaseLifecycleStatus'">
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div> <!-- /(mode==view)-->
            </div> <!-- /switch -->
        </div>


        <!-- CONTROLS -->
        <div class="waltz-sub-section-controls"
             ng-if="$ctrl.visibility.controls">
            <div ng-switch="$ctrl.mode">
                <div ng-switch-when="VIEW">
                    <span ng-if="$ctrl.permissions.admin">
                        <a class="clickable"
                           ng-click="$ctrl.onShowAddRoadmap()">
                            <waltz-icon name="plus"></waltz-icon>
                            Add Roadmap
                        </a>
                    </span>
                </div>

                <div ng-switch-when="ADD">
                    <span ng-if="$ctrl.permissions.admin">
                        <a class="clickable"
                           ng-click="$ctrl.onCancel()">
                            Cancel
                        </a>
                    </span>
                </div>
            </div>

        </div>
    </content>
</waltz-sub-section>




<!-- ROADMAP POPOVER -->
<script type="text/ng-template"
        id="wrar-roadmap-popover.html">
    <div class="small">
        <h5>
            <span ng-bind="ref.roadmap.name"></span>
            <small>Roadmap</small>
        </h5>

        <waltz-markdown text="ref.roadmap.description">
        </waltz-markdown>

        <hr>

        <label>Dimensions:</label>
        <br>
        <span ng-bind="::ref.roadmap.columnType.name"></span>
        /
        <span ng-bind="::ref.roadmap.rowType.name"></span>
    </div>
</script>


<!-- SCENARIO POPOVER -->
<script type="text/ng-template"
        id="wrar-scenario-popover.html">
    <div class="small">
        <h5>
            <span ng-bind="scenario.name"></span>
            <small>Scenario</small>
        </h5>

        <waltz-markdown text="scenario.description">
        </waltz-markdown>

        <hr>

        <waltz-last-updated entity="scenario">
        </waltz-last-updated>
    </div>
</script>