<div class="waltz-physical-flow-overview waltz-physical-flow-edit-overview">
    <table>
        <tr>
            <td class="wpfo-entity-col wpfo-owning-entity">
                <div>
                    <waltz-entity-icon-label entity-ref="$ctrl.sourceEntity"></waltz-entity-icon-label>
                </div>
            </td>

            <td class="wpfo-arrow-col">
                <span>&rarr;</span>
            </td>

            <td class="wpfo-specification-col">
                <div>
                    <div class="clickable wpfeo-highlight-on-hover"
                         ng-class="{
                            'wpfeo-okay': $ctrl.specification,
                            'wpfeo-missing': !$ctrl.specification
                         }"
                         ng-click="$ctrl.onSpecificationFocus()">

                        <div ng-if="!$ctrl.specification">
                            <code>Specify Specification</code>
                        </div>

                        <div ng-if="$ctrl.specification">
                            <div class="wpfo-specification-title"
                                 ng-bind="$ctrl.specification.name">
                            </div>
                            <div>
                                <label class="text-muted">Format:</label>
                                <span ng-bind="$ctrl.specification.format | toDisplayName:'dataFormatKind'"></span>
                            </div>
                            <div class='small text-muted'
                                 ng-bind="$ctrl.specification.description">
                            </div>
                        </div>

                    </div>

                    <hr>

                    <div class="small clickable wpfeo-highlight-on-hover"
                         ng-class="{
                            'wpfeo-okay': $ctrl.flowAttributes,
                            'wpfeo-missing': !$ctrl.flowAttributes
                         }"
                         ng-click="$ctrl.onFlowAttributesFocus()">

                        <div ng-if="!$ctrl.flowAttributes">
                            <code>Specify Flow Attributes</code>
                        </div>

                        <div class="row" ng-if="$ctrl.flowAttributes">
                            <div class="col-sm-12">
                                <label class="text-muted">Transport:</label>
                                <span ng-bind="$ctrl.flowAttributes.transport | toDisplayName:'transportKind'"></span>
                                <br>
                                <label class="text-muted">Frequency:</label>
                                <span ng-bind="$ctrl.flowAttributes.frequency | toDisplayName:'frequencyKind'"></span>
                                <br>
                                <label class="text-muted">Basis Offset:</label>
                                <span ng-bind="$ctrl.flowAttributes.basisOffset | toBasisOffset"></span>
                                <br>
                                <label class="text-muted">Criticality:</label>
                                <waltz-enum-value type="'physicalFlowCriticality'"
                                                  key="$ctrl.flowAttributes.criticality"
                                                  show-icon="false">
                                </waltz-enum-value>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

            <td class="wpfo-arrow-col">
                <span>&rarr;</span>
            </td>

            <td class="wpfo-entity-col wpfo-target-entity"
                ng-class="{
                    'wpfo-entity-application' : $ctrl.targetLogicalFlow.target.kind == 'APPLICATION',
                    'wpfo-entity-actor' : $ctrl.targetLogicalFlow.target.kind == 'ACTOR'
                }">
                <div class="clickable wpfeo-highlight-on-hover"
                     ng-class="{
                            'wpfeo-okay': $ctrl.targetLogicalFlow,
                            'wpfeo-missing': !$ctrl.targetLogicalFlow
                         }"
                     ng-click="$ctrl.onTargetFocus()">
                    <span ng-if="!$ctrl.targetLogicalFlow">
                        <code>Specify Target</code>
                    </span>
                    <waltz-entity-icon-label entity-ref="$ctrl.targetLogicalFlow.target"></waltz-entity-icon-label>
                </div>
            </td>
        </tr>

        <!-- CLONE -->
        <tr>
            <td colspan="2"></td>
            <td align="center">
                <div>
                    <span class="small"
                          uib-popover="Base this new flow on an existing flow"
                          popover-trigger="mouseenter"
                          popover-append-to-body="true"
                          popover-placement="right">
                        <a class="clickable"
                           ng-click="$ctrl.onClone()">
                            <waltz-icon name="copy"></waltz-icon>
                            Clone and modify existing physical flow
                        </a>
                    </span>

                </div>
            </td>
            <td></td>
        </tr>
    </table>
</div>