<div>
    <waltz-section-actions>
        <button ng-click="$ctrl.exportGrid()"
                class="btn btn-xs btn-primary"
                ng-show="$ctrl.visibility.detail"
                ng-disabled="$ctrl.gridDataCount == 0">
            <waltz-icon name="cloud-download"></waltz-icon>
            Export
        </button>
    </waltz-section-actions>

    <div ng-if="$ctrl.complexity.length === 0">
        <waltz-no-data>
            <message>
                <strong>No complexity ratings found.</strong>
            </message>
        </waltz-no-data>
    </div>

    <uib-tabset ng-if="$ctrl.complexity.length > 0">
        <!-- TOP 10 -->
        <uib-tab select="$ctrl.showSummary()">
            <uib-tab-heading>
                Top 10
            </uib-tab-heading>

            <br>

            <div class="row">
                <div class="col-sm-8">
                    <div ng-if="$ctrl.visibility.summary">
                        <waltz-complexity-bar-chart complexity="$ctrl.complexity"
                                                    apps="$ctrl.apps"
                                                    on-select="$ctrl.onSummarySelect">
                        </waltz-complexity-bar-chart>
                    </div>
                </div>

                <div class="col-sm-4"
                     style="border-left: 1px solid #eee">

                    <!-- STATIC PANEL -->
                    <div ng-if="! $ctrl.summarySelection"
                         class="waltz-fade-if">
                        <waltz-static-panels group-key='SECTION.COMPLEXITY.ABOUT'
                                             class="small"
                                             render-mode="minimal-border">
                        </waltz-static-panels>
                    </div>

                    <!-- SUMMARY SECTION -->
                    <div ng-if="$ctrl.summarySelection"
                         class="waltz-fade-if">
                        <a ui-sref="main.app.view ({ id: $ctrl.summarySelection.app.id })">
                            <h5 ng-bind="$ctrl.summarySelection.app.name"></h5>
                        </a>

                        <hr>

                        <table class="table table-condensed table-striped small">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>
                                    <div align="right">
                                        Score
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Connection</td>
                                <td align="right">
                                    <span ng-bind="$ctrl.summarySelection.connectionComplexity.score | toFixed: 2">
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Characteristic</td>
                                <td align="right">
                                    <span ng-bind="$ctrl.summarySelection.measurableComplexity.score | toFixed: 2">
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Server</td>
                                <td align="right">
                                    <span ng-bind="$ctrl.summarySelection.serverComplexity.score | toFixed: 2">
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Overall</strong>
                                </td>
                                <td align="right">
                                    <span ng-bind="$ctrl.summarySelection.overallScore | toFixed: 2">
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </uib-tab>

        <!-- ALL -->
        <uib-tab select="$ctrl.showDetail()">
            <uib-tab-heading>
                All Data
            </uib-tab-heading>

            <br>

            <div ng-if="$ctrl.visibility.detail">
                <div ng-if="$ctrl.gridData.length > 0">
                    <waltz-grid-with-search column-defs="$ctrl.columnDefs"
                                            entries="$ctrl.gridData"
                                            search-placeholder-text="Search application complexity..."
                                            on-initialise="$ctrl.onGridInitialise"
                                            on-change="$ctrl.onGridChange">
                    </waltz-grid-with-search>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
