<div class="waltz-dynamic-section-navigation">
    <ul class="list-unstyled list-inline">
        <li ng-repeat="w in $ctrl.widgets">
            <a ng-click="$ctrl.onSelect(w)"
               class="clickable">
                <waltz-icon name="{{ w.icon }}"></waltz-icon>
                <span ng-bind="w.name"></span>
            </a>
        </li>
    </ul>
</div>

<div class="waltz-dynamic-section-navigation wdsn-sticky"
     ng-class="{
        'wdsn-sticky-visible' : $ctrl.widgetStickyVisible
     }">
    <ul class="list-unstyled list-inline">
        <li ng-repeat="w in $ctrl.widgets">
            <a ng-click="$ctrl.scrollAndSelectWidget(w)"
               class="clickable">
                <waltz-icon name="{{ w.icon }}"></waltz-icon>
                <span ng-bind="w.name"></span>
            </a>
        </li>
    </ul>
</div>