<div>
    <div class="row"
         ng-if="$ctrl.lineage.length > 10">
        <div class="col-md-6">
            <waltz-search-control min-characters="3"
                                  delay="250"
                                  on-query="$ctrl.filterLineage"
                                  placeholder-text="Search reports...">
            </waltz-search-control>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <div style="font-size: smaller; height: 300px"
                 ui-grid-exporter
                 ui-grid="$ctrl.gridOptions">
            </div>
        </div>
    </div>
</div>