<div>
    <div ng-if="$ctrl.tableData.length > 0">
        <waltz-grid-with-search column-defs="$ctrl.columnDefs"
                                entries="$ctrl.tableData"
                                on-initialise="$ctrl.onGridInitialise"
                                class="small">
        </waltz-grid-with-search>
    </div>

    <waltz-no-data ng-if="$ctrl.tableData.length == 0">
        <message>
            <strong>No Physical Flow</strong> detail available for this
            <span ng-bind="$ctrl.primaryRef.kind | toDisplayName:'entity'">
            </span>
        </message>
    </waltz-no-data>
</div>