.waltz-source-and-target-graph {

    .wsat-label {
        font-size: 9pt;
    }

    .wsat-hover.wsat-arc {
        stroke-width: 1.5;
    }

    .wsat-hover.wsat-label {
        font-size: 10pt;
        fill: blue;
    }
}


