@import "../../../../style/variables";



waltz-allocation-entity-sub-section {
    .waess-table {
        .row {
            padding-top: 2px;
            padding-bottom: 2px;
        }

        .waess-header {
            font-weight: bolder;
        }

        .waess-body {
            div {
                border-top: 1px solid #f5f5f5;

            }
            &:hover{
                background-color: #fafafa;
            }
        }

        .waess-op-cell {
            padding-right: 0;
        }

        .waess-disabled-action {
            @extend .text-muted;
            padding-left: 20px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-right: 3px;
        }


    }

    .waess-bottom-divider {
        width: 100%;
        border-bottom: 1px dotted #f5f5f5;
        padding-bottom: 16px;
        margin-bottom: 16px;
    }

    .waess-allocated-total-zero {
        color: $waltz-grey;
    }

    .waess-allocated-total-exact {
        color: $waltz-green;
    }

    .waess-allocated-total-under {
        color: $waltz-dark-grey;
    }

    .waess-unallocated-total-zero {
        color: $waltz-green;
    }

    .waess-unallocated-total-exact {
        color: $waltz-grey;
    }

    .waess-unallocated-total-under {
        color: $waltz-dark-grey;
    }
}