waltz-allocation-entity-sub-section {
    .waess-table {
        xxmargin: 6px;

        .row {
            padding-top: 2px;
            padding-bottom: 2px;
        }
        .waess-header {
            //background-color: #fafafa;
            font-weight: bolder;
        }

        .waess-body {
            border-top: 1px solid #f5f5f5;
        }


        .waess-op-cell {
            padding-right: 0;
        }

        .waess-disabled-action {
            @extend .text-muted;
            padding-left: 20px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-right: 3px;
        }


    }

    .waess-edit-bar {
        padding-top: 6px;
        text-align: center;
    }

}