<div>

    <!-- INSTRUCTIONS / PICKER -->
    <div class="col-sm-4">

        <!-- INSTRUCTIONS -->
        <div class="row"
             ng-if="!$ctrl.selected.measurable">
            <div class="col-sm-12">
                <h4>Instructions</h4>
                <p>
                    <b>First</b>
                    select an item from the trees in the tabbed view which reflects
                    a characteristic of
                    <span ng-bind="$ctrl.parentEntityRef.name"></span>
                    and
                    <b>then</b>
                    choose a rating and provide an optional comment.
                </p>
                <hr>
                <p>
                    <b>Rating Scheme</b>

                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Rating</th>
                        <th>Key</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="rating in $ctrl.selected.ratingScheme.ratings | orderBy: 'position'">
                        <td>
                            <span style="display: inline-block; width: 16px; height: 16px; border: 1px solid black; border-radius: 2px;"
                                  ng-style="{ 'background-color': rating.color }">

                            </span>
                            <span ng-bind="rating.name"
                                  ng-style="{ 'font-style': rating.userSelectable ? 'normal' : 'italic' }"
                                  title="{{rating.description}}">
                            </span>
                        </td>
                        <td>
                            <span ng-if="rating.userSelectable">
                                <kbd ng-bind="rating.rating"></kbd>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Save comment</td>
                        <td>
                            <kbd>Ctrl+Enter</kbd>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </p>
            </div>
        </div>

        <!-- EDIT SECTION -->
        <div class="row"
             ng-if="$ctrl.selected.measurable">
            <div class="col-sm-12">
                <h4 ng-bind="$ctrl.selected.measurable.name"></h4>
                <div style="max-height: 160px; overflow-y: auto;">
                    <div class="text-muted small">
                        <waltz-markdown text="$ctrl.selected.measurable.description"></waltz-markdown>
                    </div>
                </div>
                <!-- ABSTRACT -->
                <div ng-if="! $ctrl.selected.measurable.concrete">
                    <p>
                        <waltz-icon name="info-circle"></waltz-icon>
                        This node is abstract and cannot be given a direct
                        rating.
                    </p>
                </div>

                <!-- CONCRETE -->
                <div ng-if="$ctrl.selected.measurable.concrete">
                    <hr>

                    <div ng-if="$ctrl.selected.rating">
                                <span ng-bind="$ctrl.parentEntityRef.name">
                                </span>
                        already exhibits this characteristic.  You may change
                        the rating, comment or remove this characteristic.
                    </div>

                    <!-- NEW -->
                    <div ng-if="! $ctrl.selected.rating">
                        This entity does not currently exhibit this characteristic.
                        To add it, choose a rating and, optionally, provide a comment.
                    </div>

                    <br>

                    <!-- RATING -->
                    <div class="row">
                        <div class="col-sm-3">
                            Rating:
                        </div>
                        <div class="col-sm-9">
                            <waltz-rating-picker selected="$ctrl.selected.rating.rating"
                                                 scheme-id="$ctrl.selected.ratingScheme.id"
                                                 edit-disabled="$ctrl.saveInProgress"
                                                 on-select="$ctrl.onRatingSelect"
                                                 on-keypress="$ctrl.onKeypress">
                            </waltz-rating-picker>
                        </div>
                    </div>

                    <!-- PLANNED DATE -->
                    <div class="row"
                         ng-if="$ctrl.getNeedsPlannedDate($ctrl.selected.ratingScheme.id, $ctrl.selected.rating.rating)">
                        <hr>
                        <div class="col-sm-3">
                            Planned Date:
                        </div>
                        <div class="col-sm-9">
                            <waltz-editable-field on-save="$ctrl.onUpdatePlannedDate"
                                                  field-type="date"
                                                  date-format="dd MMM yyyy"
                                                  initial-val="$ctrl.selected.rating.plannedDate">
                            </waltz-editable-field>
                        </div>
                    </div>


                    <!-- COMMENT -->
                    <div class="row" ng-if="$ctrl.selected.rating">
                        <hr>
                        <div class="col-sm-3">
                            Comments:
                        </div>
                        <div class="col-sm-9">
                            <waltz-inline-edit-area placeholder='None'
                                                    on-save="$ctrl.onSaveComment"
                                                    value="$ctrl.selected.rating.description">
                            </waltz-inline-edit-area>
                        </div>
                    </div>

                    <!-- CANCEL -->
                    <div class="row">
                        <hr>
                        <div class="col-sm-12">
                            <a class="clickable" ng-click="$ctrl.doCancel()">
                                &laquo; Back
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <!-- TABS & TREES -->
    <div class="col-sm-8">
        <div class="waltz-tabs">
            <!-- TAB HEADERS -->
            <!-- CATEGORIES -->
            <input type="radio"
                   ng-change="$ctrl.onTabChange(tab.category.id)"
                   ng-repeat-start="tab in $ctrl.tabs track by tab.category.id"
                   ng-model="$ctrl.visibility.tab"
                   ng-value="tab.category.id"
                   ng-disabled="! tab.measurables"
                   name="measurable_rating_edit"
                   id="{{ tab.category.id + '_' + $id }}">
            <label for="{{ tab.category.id + '_' + $id }}"
                   ng-repeat-end>
                <span ng-bind="tab.category.name"
                      ng-class="{ italics: tab.ratings.length == 0 }">
                </span>
                <span ng-show='tab.ratings.length > 0'
                      class="small text-muted">
                    -
                    <span ng-bind="tab.ratings.length"></span>
                </span>
            </label>


            <!-- SHOW ALL CATEGORIES -->
            <span ng-if="$ctrl.hasHiddenTabs"
                  ng-click="$ctrl.onShowAllTabs()"
                  uib-popover="Unused categories (those with no mappings to this entity) are hidden by default.  Click here to show them."
                  popover-append-to-body="true"
                  popover-popup-delay="300"
                  popover-trigger="mouseenter"
                  style="padding: 5px 10px;
                         display: block;
                         float: left;
                         cursor: pointer;">
                <waltz-icon name="plus"></waltz-icon>
                Show all categories
            </span>

            <!-- TAB CONTENT -->
            <div ng-repeat="tab in $ctrl.tabs track by tab.category.id"
                 ng-class="{ 'wt-active': tab.category.id == $ctrl.visibility.tab }"
                 class="wt-tab">

                <div style="padding-top: 6px">
                    <waltz-measurable-rating-tree ratings="tab.ratings"
                                                  rating-scheme="tab.ratingScheme"
                                                  measurables="tab.measurables"
                                                  on-keypress="$ctrl.onKeypress"
                                                  scroll-height="600"
                                                  on-select="$ctrl.onMeasurableSelect">
                    </waltz-measurable-rating-tree>
                </div>

                <br>
                <p class="text-muted small"
                   ng-bind="tab.category.description"></p>
            </div>
        </div>
    </div>

</div>