<div>
    <div ng-switch="$ctrl.visibility.mode">
        <div class="waltz-tabs">
            <!-- TABS: tab headers -->
            <input type="radio"
                   ng-repeat-start="tab in $ctrl.tabs"
                   ng-model="$ctrl.activeTabId"
                   ng-value="tab.id"
                   name="{{tab.name + $id}}"
                   id="{{tab.id + $id}}">
            <label for="{{tab.id + $id}}"
                   ng-bind="tab.name"
                   ng-repeat-end>
            </label>

            <!-- TABS: tab content -->
            <div ng-switch="$ctrl.activeTabId"
                 class="wt-tab wt-active">

                <!-- TAB: view -->
                <div ng-switch-when="VIEW">
                    <p class="help-block">
                        The list below describes the axis items that will be used when drawing this scenario.
                        <br>
                        Use the 'pick' and 'sort' tabs to alter this list.
                    </p>
                    <ul ng-if="$ctrl.usedItems.length > 0">
                        <li ng-repeat="item in $ctrl.usedItems">
                            <span ng-bind="item.domainItem.name"></span>
                            <span class="text-muted">
                                (
                                <span ng-bind="item.position"></span>
                                /
                                <span ng-bind="item.domainItem.id"></span>
                                )
                            </span>
                        </li>
                    </ul>
                    <waltz-no-data ng-if="$ctrl.usedItems.length === 0">
                        <message>
                            <strong>No axis items defined</strong>.
                            Use the
                            <a ng-click="$ctrl.activeTabId = 'PICK'"
                               class="clickable">
                                pick
                            </a>
                            tab to select some.
                        </message>
                    </waltz-no-data>
                </div>

                <!-- TAB: pick -->
                <div ng-switch-when="PICK">
                    <p class="help-block">
                        Select the items to use in the axis.
                    </p>
                    <waltz-multi-select-tree-control items="$ctrl.allItems"
                                                     on-click="$ctrl.onItemToggle"
                                                     on-check="$ctrl.onItemCheck"
                                                     on-uncheck="$ctrl.onItemUncheck"
                                                     checked-item-ids="$ctrl.checkedItemIds"
                                                     expanded-item-ids="$ctrl.expandedItemIds" >
                        <span ng-bind="node.name"></span>
                    </waltz-multi-select-tree-control>
                </div>

                <!-- TAB: sort -->
                <div ng-switch-when="SORT">
                    <p class="help-block">
                        Use the arrows to move items or
                        <a class="clickable"
                           ng-click="$ctrl.onSortAlphabetically()">
                            <waltz-icon name="sort-alpha-asc"></waltz-icon>
                            Sort Alphabetically
                        </a>
                    </p>

                    <table class="waltz-mini-table">
                        <tr ng-repeat="item in $ctrl.usedItems track by item.id"
                            class="waltz-visibility-parent">

                            <!-- top -->
                            <td class="waltz-visibility-child-30">
                                <a ng-if="!$first"
                                   class="clickable"
                                   ng-click="$ctrl.onMoveTop(item.id)">
                                    <waltz-icon name="step-forward"
                                                fixed-width="true"
                                                alt="Move item to top"
                                                rotate="270">
                                    </waltz-icon>
                                </a>
                            </td>

                            <!-- up -->
                            <td class="waltz-visibility-child-30">
                                <a ng-if="!$first"
                                   class="clickable"
                                   ng-click="$ctrl.onMoveUp(item.id)">
                                    <waltz-icon name="arrow-up"
                                                fixed-width="true"
                                                alt="Move item up">
                                    </waltz-icon>
                                </a>
                            </td>

                            <!-- item -->
                            <td>
                                <span ng-bind="item.domainItem.name"></span>
                                <span class="text-muted">
                                    (
                                    <span ng-bind="item.position"></span>
                                    /
                                    <span ng-bind="item.domainItem.id"></span>
                                    )
                                </span>
                            </td>

                            <!-- down -->
                            <td class="waltz-visibility-child-30">
                                <a ng-if="!$last"
                                   class="clickable"
                                   ng-click="$ctrl.onMoveDown(item.id)">
                                    <waltz-icon name="arrow-down"
                                                fixed-width="true"
                                                alt="Move item down">
                                    </waltz-icon>
                                </a>
                            </td>

                            <!-- bottom -->
                            <td class="waltz-visibility-child-30">
                                <a ng-if="!$last"
                                   class="clickable"
                                   ng-click="$ctrl.onMoveBottom(item.id)">
                                    <waltz-icon name="step-forward"
                                                fixed-width="true"
                                                alt="Move item to bottom"
                                                rotate="90">
                                    </waltz-icon>
                                </a>
                            </td>
                        </tr>
                    </table>

                    <br>

                    <button ng-click="$ctrl.onSaveSort()"
                            class="btn btn-xs btn-success">
                        Save sort order
                    </button>

                    <waltz-no-data ng-if="$ctrl.usedItems.length === 0">
                        <message>
                            <strong>No axis items defined</strong>.
                            Use the
                            <a ng-click="$ctrl.activeTabId = 'PICK'"
                               class="clickable">
                                pick
                            </a>
                            tab to select some.
                        </message>
                    </waltz-no-data>
                </div>

            </div> <!-- /tabcontent -->
        </div> <!-- /tabs -->
    </div>

</div>