<table class="table table-condensed table-hover small">
    <thead>
        <tr>
            <th>Direction</th>
            <th>Node</th>
            <th>Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="small" ng-repeat="(direction, flows) in $ctrl.groupedFlows">

        <tr ng-repeat="flow in flows | orderBy:'source.name'">
            <td>
                <span ng-if="$first"
                      ng-bind="direction">
                </span>
            </td>

            <td class="waltz-visibility-parent">
                <a ng-click="$ctrl.onSelect(flow.counterpart)"
                   class="clickable">
                    <waltz-entity-icon-label entity-ref="flow.counterpart"></waltz-entity-icon-label>
                </a>
            </td>

            <td>
                <a ui-sref="main.data-type.view ({id: flow.decorator.id })"
                   class="clickable">
                    <span ng-bind="flow.decorator.id | toDisplayName:'dataType'">
                    </span>
                </a>
            </td>

            <td>
                <div uib-tooltip="{{flow.decorator.rating | toDescription:'AuthoritativenessRating'}}"
                     tooltip-append-to-body="true"
                     tooltip-placement="top">
                    <waltz-rating-indicator-cell rating="flow.decorator.rating">
                    </waltz-rating-indicator-cell>
                </div>

            </td>
        </tr>
    </tbody>
</table>
