<div>

    <waltz-page-header icon="cog" name="Settings">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li><a ui-sref="main.system.list">System Admin</a></li>
            <li>Settings</li>
        </ol>
    </waltz-page-header>


    <!-- Hierarchy -->
    <waltz-section name="Hierarchy">
        <div class="row">

            <div class="col-md-3">
                <h4>Actions</h4>
                <ul class="list-unstyled">
                    <li ng-repeat="kind in ctrl.kinds">
                        <a ng-click="ctrl.build(kind)"
                           class="clickable">
                            <waltz-icon name="recycle"></waltz-icon>
                            Rebuild for
                            <span ng-bind="kind | toDisplayName:'entity'"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-5">
                <h4>Record Counts</h4>
                <table class="table table-condensed table-striped">
                    <thead>
                    <tr>
                        <th>Entity</th>
                        <th>Hierarchy Count</th>
                        <th>Roots</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="tally in ctrl.combinedTallies">
                        <td>
                            <span ng-bind="tally.id | toDisplayName:'entity'"></span>
                        </td>
                        <td>
                            <span ng-bind="tally.hierarchyCount"></span>
                        </td>
                        <td>
                            <a ng-bind="tally.rootCount"
                               class="clickable"
                               ng-click="ctrl.getRoots(tally.id)">
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4"
                 ng-if="ctrl.roots.length > 0">
                <h4><span ng-bind="ctrl.roots[0].kind | toDisplayName:'entity'"></span> Roots</h4>
                <div class="waltz-scroll-region"
                     style="height: 300px">
                    <table class="table table-condensed small">
                        <tr ng-repeat="root in ctrl.roots">
                            <td>
                                <a ng-bind="root.name"
                                   class="clickable"
                                   ng-click="ctrl.goToRoot(root)"
                                   ng-if="root.kind !== 'ENTITY_STATISTIC'">
                                </a>
                                <span ng-bind="root.name"
                                      ng-if="root.kind === 'ENTITY_STATISTIC'">
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>


        </div>

    </waltz-section>


    <!-- Orphans -->
    <waltz-section name="Orphans">
        <div class="row">
            <div class="col-md-8">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="orphan in ctrl.orphans">
                        <td>
                            <span ng-bind="orphan.description"></span>
                        </td>
                        <td>
                            <kbd ng-style="{ 'background-color': (orphan.values.length > 0 ? 'red' : 'green') }">
                                <a ng-bind="orphan.values.length"
                                   style="color: white"
                                   class="clickable"
                                   ng-click="ctrl.showOrphans(orphan.values)">
                                </a>
                            </kbd>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4"
                 ng-if="ctrl.selectedOrphanValues.length > 0">
                <div class="waltz-scroll-region"
                     style="height: 250px">
                    <table class="table table-condensed small">
                        <thead>
                            <tr>
                                <th>Entity A</th>
                                <th>Entity B</th>
                                <th>Orphan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="value in ctrl.selectedOrphanValues">
                                <td>
                                    <span ng-bind="value.entityA.kind | toDisplayName:'entity'"></span>:
                                    <span ng-if="value.entityA.id > 0"
                                          ng-bind="value.entityA.id">
                                    </span>
                                    <span ng-bind="value.entityA.name"> </span>
                                </td>
                                <td>
                                    <span ng-bind="value.entityB.kind | toDisplayName:'entity'"></span>:
                                    <span ng-if="value.entityB.id > 0"
                                          ng-bind="value.entityB.id">
                                    </span>
                                    <span ng-bind="value.entityB.name"> </span>
                                </td>
                                <td>
                                    <span ng-bind="value.orphanSide"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </waltz-section>

</div>