.wpv-form {
    input.ng-invalid {
        background: #ffe4ea;
    }
    select.ng-invalid {
        background: #ffe4ea;
    }

    input.ng-valid {
        background: #ecfff4;
    }
    select.ng-valid {
        background: #ecfff4;
    }
}
