<div>

    <waltz-page-header icon="calculator"
                       name="Recalculate Derived Fields">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li><a ui-sref="main.system.list">System Admin</a></li>
            <li>Recalculate</li>
        </ol>
    </waltz-page-header>

    <div class="waltz-page-summary waltz-page-summary-attach">
        <div class="row">
            <div class="col-md-12">

                <p>
                    Waltz attempts to keep derived fields in sync with the
                    source data, however it may be necessary to rebuild some
                    of these fields if the data changes via an external process.
                </p>


                <div>
                    <hr>
                    <h4>Rated Flows</h4>
                    <p class="small text-muted">
                        Logical flows are decorated with data types which may in
                        turn be rated against Authoritative Sources.  Use the link
                        below to recalculate all ratings.
                    </p>

                    <button class="btn btn-primary"
                            ng-click="ctrl.recalcFlowRatings()">
                        Recalculate Flow Ratings
                    </button>
                </div>

                <div>
                    <hr>
                    <h4>Data Type Usages</h4>
                    <p class="small text-muted">
                        Applications track what data types they use and how
                        they get used.  Use the link below to recalculate all
                        data type usage records.
                    </p>

                    <button class="btn btn-primary"
                            ng-click="ctrl.recalcDataTypeUsages()">
                        Recalculate Data Type Usages
                    </button>
                </div>


                <div>
                    <hr>
                    <h4>Application Complexity</h4>
                    <p class="small text-muted">
                        Complexity is measured by counting flows, functions and servers.
                        Use the link below to recalculate the ratings for each application.
                    </p>

                    <button class="btn btn-primary"
                            ng-click="ctrl.recalcComplexity()">
                        Recalculate Complexity Ratings
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>