<waltz-basic-info-tile name="{{$ctrl.costSummary.costKind.name}}"
                       description="{{$ctrl.costSummary.costKind.description}}"
                       class="clickable"
                       waltz-jump-to="app-costs-summary-section"
                       icon="money">
    <span style="font-size: x-large;">
        <waltz-currency-amount amount="$ctrl.costSummary.total"
                               simplify="true">
        </waltz-currency-amount>
    </span>
</waltz-basic-info-tile>