.waltz-auth-sources-navigator-chart {
    border: 1px solid #fafafa;

    text {
        font-family: Arial;
        fill: #666;
        font-size: xx-small;
    }

    .wasnc-rowGroupHover {
        .wasnc-appMapping {
            stroke-width: 1.5;
            cursor: pointer;
        }
        &.wasnc-rowGroup {
            text {
                font-weight: bolder;
                fill: #222;
            }
            cursor: pointer;
        }

    }

    .wasnc-history {
        font-style: italic;
        text-decoration: underline;
    }

    .wasnc-colHover {
        &.wasnc-appMapping {
            stroke-width: 1.5;
            cursor: pointer;
        }

        &.wasnc-colHeader {
            text {
                font-weight: bolder;
                fill: #222;
            }
            cursor: pointer;
        }


    }

    .wasnc-descendable {
        font-weight: bolder;
    }
}