.waltz-drill-grid-chart {
    border: 1px solid #fafafa;

    text {
        font-family: Arial;
        fill: #666;
        font-size: xx-small;
    }

    .wdgc-rowGroupHover {
        .wdgc-appMapping {
            stroke-width: 1.5;
            cursor: pointer;
        }
        &.wdgc-rowGroup {
            text {
                font-weight: bolder;
                fill: #222;
            }
            cursor: pointer;
        }

    }

    .wdgc-history {
        font-style: italic;
        text-decoration: underline;
    }

    .wdgc-colHover {
        &.wdgc-appMapping {
            stroke-width: 1.5;
            cursor: pointer;
        }

        &.wdgc-colHeader {
            text {
                font-weight: bolder;
                fill: #222;
            }
            cursor: pointer;
        }


    }

    .wdgc-descendable {
        font-weight: bolder;
    }

    .wdgc-tooltip {
        display: block;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        position: absolute;
        transition: all 0.3s ease-in-out;
        pointer-events: none;

    }
}