<div class="waltz-drill-grid-chart">
    <div class="wdgc-tooltip">
    </div>
    <div class="wdgc-popup">
    </div>
    <svg width="100%"
         preserveAspectRatio="xMinYMin">

        <g class="wdgc-usage" transform="translate(70,40)">
            <text>
                <tspan>Select <tspan style="font-weight: bold">bold axis</tspan> values to drill down.</tspan>
                <tspan x="0" dy="18">Select application names to filter.</tspan>
                <tspan x="0" dy="18">↑ - indicates application has 'bubbled up'</tspan>
                <tspan x="0" dy="18">↓ - indicates application has 'come down'</tspan>
            </text>
        </g>
    </svg>
</div>
