<waltz-section name="Ratings"
               icon="puzzle-piece"
               id="ratings-section">


    <waltz-section-actions>
        <a waltz-has-role="RATING_EDITOR"
           ui-sref='main.measurable-rating.edit ({kind: "APPLICATION", id: $ctrl.application.id})'
           class="btn btn-xs btn-primary">
            Edit
        </a>
        <a waltz-has-role="RATING_EDITOR"
           ui-sref='main.app-capability.edit ({id: $ctrl.application.id})'
           class="btn btn-xs btn-primary">
            Edit Old
        </a>
        <button class="btn btn-xs waltz-btn-transparent"
                ng-click="$ctrl.visibility.overlay = ! $ctrl.visibility.overlay">
            <waltz-icon name="map-signs"></waltz-icon>
        </button>
    </waltz-section-actions>

    <waltz-source-data-overlay visible="$ctrl.visibility.overlay"
                               ratings="$ctrl.sourceDataRatings"
                               entities="['APP_CAPABILITY', 'PROCESS']">
    </waltz-source-data-overlay>


    <!-- TABS -->
    <div class="row">
        <div class="col-sm-12">
            <div class="waltz-tabs">
                <input type="radio"
                       ng-repeat-start="tab in $ctrl.tabs"
                       ng-model="$ctrl.visibility.tab"
                       ng-value="tab.kind.code"
                       ng-disabled="tab.ratings.length === 0"
                       name="tab"
                       id="{{ tab.kind.code + $id}}">
                <label for="{{ tab.kind.code + $id}}"
                       ng-repeat-end
                       ng-bind="tab.kind.name">
                </label>

                <div ng-repeat="tab in $ctrl.tabs"
                     ng-class="{ 'wt-active': tab.kind.code == $ctrl.visibility.tab }"
                     class="wt-tab">
                    <br>
                    <waltz-measurable-rating-panel ratings="tab.ratings"
                                                   measurables="tab.measurables">
                    </waltz-measurable-rating-panel>

                    <br>
                    <p class="text-muted small"
                       ng-bind="tab.kind.description"></p>
                </div>
            </div>
        </div>
    </div>

</waltz-section>