<waltz-section name="Ratings"
               icon="puzzle-piece"
               id="ratings-section">


    <waltz-section-actions>
        <a waltz-has-role="RATING_EDITOR"
           ui-sref='main.measurable-rating.edit ({kind: "APPLICATION", id: $ctrl.application.id})'
           class="btn btn-xs btn-primary">
            Edit
        </a>
        <button class="btn btn-xs waltz-btn-transparent"
                ng-click="$ctrl.visibility.overlay = ! $ctrl.visibility.overlay">
            <waltz-icon name="map-signs"></waltz-icon>
        </button>
    </waltz-section-actions>

    <waltz-source-data-overlay visible="$ctrl.visibility.overlay"
                               ratings="$ctrl.sourceDataRatings"
                               entities="['APP_CAPABILITY', 'PROCESS']">
    </waltz-source-data-overlay>


    <!-- TABS -->
    <div class="row"
         ng-if="$ctrl.measurables.length > 0">
        <div class="col-sm-12">
            <div class="waltz-tabs">
                <input type="radio"
                       ng-repeat-start="tab in $ctrl.tabs"
                       ng-model="$ctrl.visibility.tab"
                       ng-value="tab.category.id"
                       ng-disabled="tab.ratings.length === 0"
                       name="tab"
                       id="{{ tab.category.id + '_' +$id}}">
                <label for="{{ tab.category.id + '_' +$id}}"
                       ng-repeat-end
                       ng-bind="tab.category.name">
                </label>

                <div ng-repeat="tab in $ctrl.tabs"
                     ng-class="{ 'wt-active': tab.category.id == $ctrl.visibility.tab }"
                     class="wt-tab">
                    <br>
                    <waltz-measurable-rating-panel ratings="tab.ratings"
                                                   overrides="$ctrl.overridesByMeasurableId"
                                                   category="tab.category"
                                                   perspective-definitions="tab.perspectiveDefinitions"
                                                   measurables="tab.measurables">
                    </waltz-measurable-rating-panel>

                    <br>
                    <p class="text-muted small"
                       ng-bind="tab.category.description"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- NO DATA -->
    <div class="row"
         ng-if="$ctrl.measurables.length == 0">
        <div class="col-md-12">
            <waltz-no-data>
                <message>
                    <strong>No data</strong>
                    available for this application
                </message>
            </waltz-no-data>
        </div>
    </div>


</waltz-section>