<div>
    <waltz-section-actions>
        <div ng-if="$ctrl.visibility.gridAvailable">
            <button class="btn btn-xs btn-primary"
                    ng-if="$ctrl.visibility.treeView"
                    ng-click="$ctrl.showGridView()">
                <waltz-icon name="th"></waltz-icon>
                Grid View
            </button>
            <button class="btn btn-xs btn-primary"
                    ng-if="$ctrl.visibility.gridView"
                    ng-click="$ctrl.showTreeView()">
                <waltz-icon name="sitemap" rotate="270"></waltz-icon>
                Tree View
            </button>
        </div>
    </waltz-section-actions>


    <div ng-if="$ctrl.visibility.treeView"
         class="waltz-fade-if">
        <waltz-measurable-ratings-browser-tree-panel parent-entity-ref="$ctrl.parentEntityRef">
        </waltz-measurable-ratings-browser-tree-panel>

        <br>

        <waltz-roadmap-references parent-entity-ref="$ctrl.parentEntityRef">
        </waltz-roadmap-references>
    </div>


    <div ng-if="$ctrl.visibility.gridView"
         class="waltz-fade-if">
        <waltz-drill-grid-panel parent-entity-ref="$ctrl.parentEntityRef">
        </waltz-drill-grid-panel>
    </div>

</div>