<div>
    <waltz-section-actions>
        <div ng-if="$ctrl.visibility.gridAvailable">
            <button class="btn btn-xs btn-primary"
                    ng-if="$ctrl.visibility.treeView"
                    ng-click="$ctrl.showGridView()">
                <waltz-icon name="th"></waltz-icon>
                Grid View
            </button>
            <button class="btn btn-xs btn-primary"
                    ng-if="$ctrl.visibility.gridView"
                    ng-click="$ctrl.showTreeView()">
                <waltz-icon name="sitemap" rotate="270"></waltz-icon>
                Tree View
            </button>
        </div>
    </waltz-section-actions>


    <div ng-if="$ctrl.visibility.treeView"
         class="waltz-fade-if">
         <waltz-sub-section name="Ratings">
            <content>
                <div style="padding:18px">
                    <waltz-measurable-ratings-browser-tree-panel parent-entity-ref="$ctrl.parentEntityRef"
                                                                 filters="$ctrl.filters"
                                                                 on-measurable-category-select="$ctrl.onCategorySelect">
                    </waltz-measurable-ratings-browser-tree-panel>
                </div>
                <div class="waltz-sub-section-controls">
                    <waltz-data-extract-link name="Unmapped"
                                             styling="link"
                                             filename="unmappedApplications.csv"
                                             extract="measurable-rating/unmapped/{{$ctrl.activeCategory.id}}"
                                             method="POST"
                                             request-body="$ctrl.selector">
                    </waltz-data-extract-link>
                    <span>|</span>
                    <waltz-data-extract-link name="Ratings"
                                             method="POST"
                                             request-body="$ctrl.selector"
                                             extract="measurable-rating/{{$ctrl.activeCategory.id}}"
                                             styling="link">
                    </waltz-data-extract-link>
                    <span ng-if="$ctrl.hasAllocations">
                        <waltz-data-extract-link name="Allocations"
                                                 styling="link"
                                                 filename="Allocations.csv"
                                                 extract="allocations/measurable-category/{{$ctrl.activeCategory.id}}"
                                                 method="POST"
                                                 request-body="$ctrl.selector">
                        </waltz-data-extract-link>
                        <span>|</span>
                    </span>
                    <span class="text-muted">
                        Download
                        <span ng-bind="$ctrl.activeCategory.name"></span>
                        :
                    </span>
                </div>
            </content>
        </waltz-sub-section>
        <br>
        <waltz-roadmap-references parent-entity-ref="$ctrl.parentEntityRef">
        </waltz-roadmap-references>
    </div>


    <div ng-if="$ctrl.visibility.gridView"
         class="waltz-fade-if">
        <waltz-drill-grid-panel parent-entity-ref="$ctrl.parentEntityRef">
        </waltz-drill-grid-panel>
    </div>

</div>