<div class="waltz-display-section">
    <div class="row">
        <div class="col-sm-2 waltz-display-field-label">
            Name
        </div>
        <div class="col-sm-4">
            {{ ctrl.app.name }}
        </div>

        <div class="col-sm-2 waltz-display-field-label">
            Asset Code
        </div>
        <div class="col-sm-4">
            <waltz-asset-code-explorer application="ctrl.app">
            </waltz-asset-code-explorer>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 waltz-display-field-label">
            Lifecycle Phase
        </div>
        <div class="col-sm-4">
            {{ ctrl.app.lifecyclePhase | toDisplayName:'lifecyclePhase' }}
        </div>
        <div class="col-sm-2 waltz-display-field-label">
            Type
        </div>
        <div class="col-sm-4">
            {{ ctrl.app.kind | toDisplayName:'applicationKind' }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 waltz-display-field-label">
            Owning Org Unit
        </div>
        <div class="col-sm-4">
            <a ng-bind='ctrl.organisationalUnit.name'
               ui-sref="main.org-unit.view ({ id: ctrl.organisationalUnit.id })">
            </a>
        </div>
        <div class="col-sm-2 waltz-display-field-label">
            Overall Rating
        </div>
        <div class="col-sm-4">
            {{ ctrl.app.overallRating | toDisplayName:'investmentRating' }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 waltz-display-field-label">
            Aliases
        </div>
        <div class="col-sm-4">
            <waltz-keyword-list ng-if="!ctrl.visibility.aliasEditor"
                                keywords="ctrl.aliases">
                <last>
                    <span class="small">
                        <a ng-click="ctrl.showAliasEditor()"
                           class="clickable">
                            update
                        </a>
                    </span>
                </last>
                <empty>
                    <i class="text-muted">
                        No aliases defined,
                        <a class="clickable"
                           ng-click="ctrl.showAliasEditor()">
                            add one.
                        </a>
                    </i>
                </empty>
            </waltz-keyword-list>
            <div ng-if="ctrl.visibility.aliasEditor"
                 style="padding: 10px; border-radius: 3px; border: 1px solid #ddd; background-color: #f5f5f5">
                <tags-input class="bootstrap"
                            ng-model="ctrl.fieldEditor.aliases"
                            replace-spaces-with-dashes="false"
                            placeholder="Edit aliases">
                </tags-input>

                <div style='margin-top: 4px'>
                    <button class="btn btn-xs btn-success"
                            ng-click="ctrl.saveTags()">
                        Update
                    </button>
                    <a class="clickable small"
                       ng-click="ctrl.dismissAliasEditor()">
                        Cancel
                    </a>
                </div>

            </div>
        </div>
        <div class="col-sm-2 waltz-display-field-label">
            Tags
        </div>
        <div class="col-sm-4">
            <waltz-keyword-list keywords="ctrl.tags"
                                on-select="ctrl.tagSelected(keyword)">
                <empty>
                    <i class="text-muted">
                        No tags defined
                    </i>
                </empty>
            </waltz-keyword-list>


        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 waltz-display-field-label">
            Complexity Rating:
        </div>
        <div class="col-sm-10">
            <span class='waltz-clickable-definition'
                  popover-trigger="focus"
                  tabindex="99"
                  popover-placement="right"
                  popover-animation="true"
                  popover-title="Application Complexity Rating"
                  uib-popover-template="'popup-app-complexity.html'">
            {{ ctrl.complexity.overallScore | toFixed:2 }}
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 waltz-display-field-label">
            Description
        </div>
        <div class="col-sm-10">
            {{ ctrl.app.description }}
        </div>
    </div>



    <!--  TEMPLATES -->

    <script type='text/ng-template' id='popup-app-complexity.html'>
        <div>
            <table class="table small">
                <tr>
                    <td>Capability Complexity</td>
                    <td>{{ ctrl.complexity.capabilityComplexity.score | toFixed:2 }}</td>
                </tr>
                <tr>
                    <td>Connection Complexity</td>
                    <td>{{ ctrl.complexity.connectionComplexity.score | toFixed:2 }}</td>
                </tr>
                <tr>
                    <td>Server Complexity</td>
                    <td>{{ ctrl.complexity.serverComplexity.score | toFixed:2 }}</td>
                </tr>
            </table>

            <div class="text-muted small">
                Complexity scores are calculated against a baseline measurement.  The
                scores should fall between 0 and 1, indicating their proximity to the baseline.
            </div>

        </div>

    </script>
</div>