<span>
    <span class="waltz-clickable-definition"
          popover-title="Related by asset code"
          popover-trigger="focus"
          ng-click="ctrl.loadRelated()"
          tabindex="98"
          popover-placement="left"
          uib-popover-template="'asset-code-explorer-popover.html'">

        <span ng-if="ctrl.application.assetCode">
            {{ ctrl.application.assetCode }}
        </span>

        <span ng-if="ctrl.application.parentAssetCode" class="text-muted">
            (&nbsp;parent code: {{ ctrl.application.parentAssetCode }}&nbsp;)
        </span>

        <span ng-if="! ctrl.application.assetCode" class="text-muted">
            <i>
                Not provided
            </i>
        </span>
    </span>

    <!-- TEMPLATE -->

    <script type="text/ng-template" id="asset-code-explorer-popover.html">
        <div>

            <style>
                .popover {
                    max-width: 450px;
                }
            </style>

            <div ng-show="ctrl.status == 'LOADING'">
                Loading
            </div>

            <div ng-show="ctrl.status == 'LOADED' && (ctrl.related | isEmpty)">
                Nothing found
            </div>

            <div ng-show="ctrl.status == 'LOADED' && ctrl.related != null">

                <div class="form-group" ng-if="ctrl.related['PARENT'].length > 0">
                    <label>
                        Parent/s
                        <span class="text-muted">({{ ctrl.application.parentAssetCode }})</span>
                    </label>
                    <ul class="list-unstyled">
                        <li ng-repeat="parent in ctrl.related['PARENT']">
                            <a ui-sref="main.app.view ({id: parent.id})">{{ parent.name }}</a>
                            <small> - {{ parent.description | limitTo: 40 }} </small>
                        </li>
                    </ul>
                </div>

                <div class="form-group" ng-if="ctrl.related['SHARING'].length > 0">
                    <label>
                        Sharing same asset code
                        <span class="text-muted">({{ ctrl.application.assetCode }})</span>
                    </label>
                    <ul class="list-unstyled">
                        <li ng-repeat="sharer in ctrl.related['SHARING']">
                            <a ui-sref="main.app.view ({id: sharer.id})">{{ sharer.name }}</a>
                            <small> - {{ sharer.description | limitTo: 40 }} </small>
                        </li>
                    </ul>
                </div>

                <div class="form-group" ng-if="ctrl.related['CHILD'].length > 0">
                    <label>Children</span></label>
                    <ul class="list-unstyled">
                        <li ng-repeat="child in ctrl.related['CHILD']">
                            <a ui-sref="main.app.view ({id: child.id})">{{ child.name }}</a>
                            <small> - {{ child.description | limitTo: 40 }} </small>
                        </li>
                    </ul>
                </div>

                <div class="form-group" ng-if="ctrl.related['SIBLING'].length > 0">
                    <label>
                        Siblings, sharing same parent code
                        <span class="text-muted">
                            ({{ ctrl.application.parentAssetCode }})
                        </span>
                    </label>
                    <ul class="list-unstyled">
                        <li ng-repeat="sibling in ctrl.related['SIBLING']">
                            <a ui-sref="main.app.view ({id: sibling.id})">{{ sibling.name }}</a>
                            <small> - {{ sibling.description | limitTo: 40 }} </small>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
     </script>
</span>
