<div>
    <ul>
        <li ng-repeat="p in $ctrl.associatedPerspectives">
            <div ng-if="p.available">
                <a ui-sref="main.perspective.rating-edit ({
                        perspectiveId: p.definition.id,
                        entityId: $ctrl.entityRef.id,
                        entityKind: $ctrl.entityRef.kind})"
                   ng-bind="p.definition.name">

                </a>
            </div>
            <div ng-if="!p.available">
                <span class="text-muted"
                      ng-bind="p.definition.name">
                </span>
            </div>
        </li>
    </ul>

</div>