<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand"
               ui-sref="main.home">
                <img height="30px"
                     style="position: relative; top: -6px;"
                     src="../../images/branding/waltz_badge+text_horizontal_positive_bw_300px.png">
            </a>
            <span ng-bind='ctrl.logoOverlayText'
                  style='position: relative; left: -35px; top:30px; font-weight: bold; font-style: italic;'
                  ng-style=" { 'color': ctrl.logoOverlayColor }">
            </span>

            <span ng-bind="ctrl.logoOverlay" ></span>
        </div>

        <ul class="nav navbar-nav nav-bar-left">
            <li ui-sref-active="active">
                <a ui-sref="main.org-unit.list">
                    <waltz-icon name="sitemap"></waltz-icon>
                    Org Units
                </a>
            </li>
            <li ui-sref-active="active" class="dropdown">
                <a ui-sref="main.capability.list">
                    <waltz-icon name="puzzle-piece"></waltz-icon>
                    Capabilities
                </a>
            </li>
            <li ui-sref-active="active" class="dropdown">
                <a ui-sref="main.process.list">
                    <waltz-icon name="code-fork"></waltz-icon>
                    Processes
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="main.person">
                    <waltz-icon name="user"></waltz-icon>
                    People
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="main.performance-metric.list">
                    <waltz-icon name="bar-chart"></waltz-icon>
                    Performance
                </a>
            </li>
        </ul>



        <form class="navbar-form">
            <div class="form-group" style="display:inline;">
                <div class="input-group" style="display:table; padding-left: 24px;">
                    <span class="input-group-addon"
                          style="width:1%;">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                    <input class="form-control"
                           ng-model="ctrl.query"
                           ng-model-options="{ debounce: 250 }"
                           ng-change="ctrl.doSearch()"
                           ng-blur="ctrl.dismissResults()"
                           placeholder="Search...."
                           autocomplete="off"
                           autofocus="autofocus"
                           type="text">

                    <style>
                        .waltz-nav-search-result-panel {
                            top: 30px;
                            position: absolute;
                            background-color: white;
                            width:90%;
                            border: 1px solid #ccc;
                            box-shadow: 0px 4px 5px gray, -5px 4px 7px gray, 5px 4px 7px gray;
                        }
                    </style>
                    <div class="waltz-nav-search-result-panel" ng-if="ctrl.showSearch()">
                        <waltz-nav-search-results results="ctrl.searchResults"
                                                  query="{{ ctrl.query }}"
                                                  on-dismiss="ctrl.dismissResults"></waltz-nav-search-results>
                    </div>

                </div>

            </div>

        </form>




    </div>


</nav>
