<div>
    <p class="small text-muted">
        Overrides show how a particular rating may change when viewed in conjunction with another aspect
        of this application.
        <a ui-sref="main.perspective.rating ({
                        entityKind: $ctrl.entityReference.kind,
                        entityId: $ctrl.entityReference.id
                    })"
           class="clickable">
            More &raquo;
        </a>
    </p>
    <ul class="list-unstyled">
        <li ng-repeat="r in $ctrl.overrideNest">
            <waltz-rating-indicator-cell label="$ctrl.ragNames[r.key]"
                                         rating="r.key">
            </waltz-rating-indicator-cell>
            <ul class="list-unstyled">
                <li ng-repeat="c in r.values">
                    <ul>
                        <li ng-repeat="m in c.value | orderBy:'name' ">
                            <span ng-bind="m.name"
                                  uib-popover="{{ $ctrl.calcPopoverText(r.key, m) }}"
                                  popover-placement="left"
                                  popover-trigger="mouseenter">
                            </span>
                            <span class='small text-muted'
                                  ng-bind="c.key | toDisplayName:'measurableCategory'">
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

</div>
