<div>

    <h4><strong>General</strong></h4>
    <hr/>

    <form name="surveyRunForm"
          class="waltz-survey-form form-horizontal"
          role="form"
          novalidate>

        <div class="form-group">
            <label class="col-sm-2 control-label">Template</label>
            <div class="col-sm-10">
                <strong ng-bind="$ctrl.surveyTemplate.name"></strong>
                <waltz-markdown class='small text-muted'
                                text="$ctrl.surveyTemplate.description">
                </waltz-markdown>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Target kind</label>
            <div class="col-sm-10">
                <span ng-bind="$ctrl.surveyTemplate.targetEntityKind | toDisplayName:'entity'"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="name"
                   class="col-sm-2 control-label">
                Run name <span class="text-danger">*</span>
            </label>
            <div class="col-sm-10">
                <input class="form-control form-control-warning"
                       required
                       id="name"
                       placeholder="Name for this survey run"
                       ng-model="$ctrl.surveyRun.name" />
            </div>
        </div>

        <div class="form-group">
            <label for="description"
                   class="col-sm-2 control-label">
                Run description
            </label>
            <div class="col-sm-10">
                <textarea id="description"
                          class="form-control"
                          placeholder="Description for this survey run"
                          ng-model="$ctrl.surveyRun.description"
                          rows="3">
                </textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="email"
                   class="col-sm-2 control-label">
                Contact Email <span class="text-danger">*</span>
            </label>
            <div class="col-sm-10">
                <input class="form-control"
                       required
                       id="email"
                       placeholder="Email for recipients to contact for questions regarding this survey run"
                       ng-model="$ctrl.surveyRun.contactEmail" />
            </div>
        </div>

        <div class="form-group">
            <label for="dueDate"
                   class="col-sm-2 control-label">
                Due Date
            </label>
            <div class="col-sm-10 col-md-3">
                <waltz-date-picker-form-input id="dueDate"
                                              required="true"
                                              place-holder="yyyy-MM-dd"
                                              format="yyyy-MM-dd"
                                              model="$ctrl.surveyRun.dueDate">
                </waltz-date-picker-form-input>
            </div>
        </div>

        <div class="form-group">
            <label for="selectorEntityKind"
                   class="col-sm-2 control-label">
                Selector Kind <span class="text-danger">*</span>
            </label>
            <div class="col-sm-10">
                <select id="selectorEntityKind"
                        required
                        class="form-control"
                        ng-options="entityKind.value as entityKind.name for entityKind in $ctrl.allowedEntityKinds"
                        ng-change="$ctrl.onSelectorEntityKindChange()"
                        ng-model="$ctrl.surveyRun.selectorEntityKind">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="selectorEntity"
                   class="col-sm-2 control-label">
                Selector Entity <span class="text-danger">*</span>
            </label>
            <div class="col-sm-10">
                <waltz-entity-selector current-selection="$ctrl.surveyRun.selectorEntity"
                                       required="true"
                                       on-select="$ctrl.onSelectorEntitySelect"
                                       entity-kinds="[$ctrl.surveyRun.selectorEntityKind]">
                </waltz-entity-selector>
            </div>
        </div>

        <div class="form-group">
            <label for="selectorScope"
                   class="col-sm-2 control-label">
                Scope <span class="text-danger">*</span>
            </label>
            <div class="col-sm-10">
                <select id="selectorScope"
                        required
                        class="form-control"
                        ng-options="scope.value as scope.name for scope in $ctrl.allowedScopes[$ctrl.surveyRun.selectorEntityKind]"
                        ng-model="$ctrl.surveyRun.selectorScope">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="involmentKinds"
                   class="col-sm-2 control-label">
                Involvement Kind <span class="text-danger">*</span>
            </label>
            <div class="col-sm-10">
                <select id="involmentKinds"
                        required
                        type="date"
                        class="form-control"
                        ng-options="kind as kind.name for kind in $ctrl.availableInvolvementKinds | orderBy:'name' track by kind.id"
                        ng-model="$ctrl.surveyRun.involvementKinds"
                        multiple
                        style="height: 250px;">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Issuance Kind <span class="text-danger">*</span>
            </label>
            <div class="col-sm-10">
                <label>
                    <input name="issuanceKind"
                           type="radio"
                           ng-model="$ctrl.surveyRun.issuanceKind"
                           value="GROUP"
                           checked />
                    Group
                </label>
                &nbsp;
                <label>
                    <input name="issuanceKind"
                           type="radio"
                           ng-model="$ctrl.surveyRun.issuanceKind"
                           value="INDIVIDUAL" />
                    Individual
                </label>

                <div class='small text-muted'>
                    <strong>Group</strong> - one survey response per entity.<br/>
                    <strong>Individual</strong> - one survey response per person, which could result in multiple responses per entity.
                </div>
            </div>
        </div>

        <div class="form-group" style="padding-top: 10px">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button"
                        ng-if="!(surveyRunForm.$invalid)"
                        ng-click="$ctrl.onSubmit()"
                        class="btn btn-success">
                    Next
                </button>
                <span ng-if="surveyRunForm.$invalid"
                      class="alert alert-warning"
                      style="padding-bottom: 10px;">
                    Please fill in all required fields
                </span>
            </div>
        </div>
    </form>

    <script type="text/ng-template"
            id="app-group-list-section/app-group-search-result.html">
        <a style="padding-left: 6px">
            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
            <span class="small no-overflow">
                -
                <span ng-bind="match.model.description | limitTo:100"></span>
            </span>
        </a>
    </script>
</div>
