<div>
    <waltz-section name="Surveys"
                   icon="wpforms"
                   small="( {{$ctrl.surveyInstances.length}} )"
                   id="survey-instance-list-section">

            <div ng-if="$ctrl.gridData.length > 0">
                <waltz-grid-with-search column-defs="$ctrl.columnDefs"
                                        entries="$ctrl.gridData"
                                        search-placeholder-text="Search...">
                </waltz-grid-with-search>
            </div>
    </waltz-section>
</div>