<div>
    <h4><strong>Recipients</strong></h4>
    <hr/>

    <div ng-class="{'waltz-scroll-region-400': $ctrl.surveyRunRecipients.length > 15}">
        <table class="table table-condensed table-hover small">
            <thead>
            <tr>
                <th>Entity Name</th>
                <th>Person Name</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="recipient in $ctrl.surveyRunRecipients"
                class="waltz-visibility-parent"
                ng-class="{'danger': recipient.isExcluded}">
                <td><span ng-bind="recipient.surveyInstance.surveyEntity.name"></span></td>
                <td><span ng-bind="recipient.person.displayName"></span></td>
                <td><span ng-bind="recipient.person.email"></span></td>
                <td>
                    <button class="btn btn-xs btn-danger waltz-visibility-child-50"
                            ng-if="$ctrl.isRecipientIncluded(recipient)"
                            ng-click="$ctrl.excludeRecipient(recipient)"
                            uib-popover="Exclude"
                            popover-trigger="mouseenter">
                        <waltz-icon name="trash">
                    </button>
                    <button class="btn btn-xs btn-success waltz-visibility-child-50"
                            ng-if="!($ctrl.isRecipientIncluded(recipient))"
                            ng-click="$ctrl.includeRecipient(recipient)"
                            uib-popover="Include"
                            popover-trigger="mouseenter">
                        <waltz-icon name="plus">
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr/>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <a ng-click="$ctrl.goBack()"
               class="clickable">
                Back
            </a>
            <button type="button"
                    ng-if="$ctrl.includedRecipients.length > 0"
                    ng-click="$ctrl.onSubmit()"
                    class="btn btn-success">
                Next
            </button>
            <span ng-if="$ctrl.includedRecipients.length === 0"
                  class="alert alert-warning"
                  style="padding-bottom: 10px;">
                At least 1 recipient required to issue a survey run
            </span>
        </div>
    </div>

</div>
