<div>
    <waltz-measurable-rating-panel category="$ctrl.measurableCategory"
                                   entity-reference="$ctrl.parentEntityRef"
                                   measurables="$ctrl.measurables"
                                   ratings="$ctrl.ratings"
                                   rating-scheme="$ctrl.ratingScheme"
                                   overrides="$ctrl.overridesByMeasurableId">
    </waltz-measurable-rating-panel>

    <br>

    <waltz-markdown class="text-muted small"
                    text="$ctrl.measurableCategory.description">
    </waltz-markdown>

    <br>
    <hr>
</div>