<div>

    <waltz-section-actions>
        <button class="btn btn-xs btn-primary"
                ng-if="$ctrl.visibility.tab == 2"
                ng-click="$ctrl.export()">
            <waltz-icon name="cloud-download"></waltz-icon>
            Export
        </button>

        <button class="btn btn-xs waltz-btn-transparent"
                ng-click="$ctrl.visibility.appOverlay = ! $ctrl.visibility.appOverlay">
            <waltz-icon name="map-signs"></waltz-icon>
        </button>
    </waltz-section-actions>

    <waltz-source-data-overlay visible="$ctrl.visibility.appOverlay"
                               entities="['APPLICATION', 'END_USER_APPLICATION']">
    </waltz-source-data-overlay>

    <uib-tabset ng-if="$ctrl.combinedApps.length > 0">
        <uib-tab heading="Summary" select="$ctrl.visibility.tab = 1">
            <waltz-app-summary apps="$ctrl.apps"
                               end-user-apps="$ctrl.endUserApps">
            </waltz-app-summary>
        </uib-tab>

        <uib-tab select="$ctrl.visibility.tab = 2"
                 heading="Applications">
            <br>
            <div ng-if="$ctrl.visibility.tab == 2">
                <waltz-app-table applications="$ctrl.combinedApps"
                                 on-initialise="$ctrl.onInitialise">
                </waltz-app-table>
            </div>
        </uib-tab>
    </uib-tabset>

    <waltz-no-data ng-if="$ctrl.combinedApps.length == 0">
        <message>
            There are <strong>no application </strong>
            associations.
        </message>
    </waltz-no-data>
</div>

