name: Maven CVE Scanning

on:
  pull_request:
    paths:
      - 'pom.xml'
      - 'allow-list.xml'
      - '.github/workflows/cve-scanning.yml'
  push:
    paths:
      - 'pom.xml'
      - '.github/workflows/cve-scanning.yml'
    schedule:
      # Run every day at 5am and 5pm
      - cron: '0 5,17 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: waltz
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready 
          --health-interval 10s 
          --health-timeout 5s 
          --health-retries 5

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn -B -ntp -s .build.settings.xml -Pci,build-postgres,waltz-postgres clean install -Dmaven.test.skip=true
      - name: Build with Maven
        run: mvn org.owasp:dependency-check-maven:check -DfailBuildOnCVSS=7 -DsuppressionFile="allow-list.xml" -P waltz-h2,dev-h2-inmem -Dmaven.test.skip=true
      - name: Publish report
        uses: actions/upload-artifact@v3
        with:
          name: dependency-check-report
          path: waltz-*/target/dependency-check-report.html

