<div>
    <waltz-page-header name="Traits and Capability Registration"
                       small="{{ctrl.application.name}}">
        <ol class="waltz-breadcrumbs">
            <li><a ui-sref="main">Home</a></li>
            <li><a ui-sref="main.app-view ({id: ctrl.application.id})">{{ctrl.application.name}}</a></li>
            <li>Traits &amp; Capabilities</li>
        </ol>
    </waltz-page-header>

    <div>
        <div class="row">
            <div class="col-md-6">

                <h3>
                    <waltz-icon name="cubes"></waltz-icon>
                    Traits
                </h3>

                <waltz-trait-usage-editor traits="ctrl.traits.allTraits"
                                          usages="ctrl.traits.traitUsage"
                                          add="ctrl.addTrait"
                                          remove="ctrl.removeTrait">
                </waltz-trait-usage-editor>

            </div>

            <div class="col-md-6">
                <h3>
                    <waltz-icon name="puzzle-piece"></waltz-icon>
                    Capabilities
                </h3>

                <table class="table table-condensed">
                    <colgroup>
                        <col width="5%"/>
                        <col width="25%"/>
                        <col width="45%"/>
                        <col width="25%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th></th>
                        <th>Capability</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="waltz-visibility-parent"
                        ng-repeat="ac in ctrl.model.appCapabilities | orderBy:'capability.name'">
                        <td>
                            <waltz-icon style="color: goldenrod"
                                        name="star"
                                        ng-if="ac.primary"></waltz-icon>
                        </td>
                        <td>
                        <span class='wce-name'>
                            {{ ac.capability.name }}
                        </span>
                        </td>
                        <td>
                        <span class='small'>
                            {{ ac.capability.description }}
                        </span>
                        </td>
                        <td class="waltz-visibility-child-30">
                            <a href ng-click="ctrl.remove(ac.capability.id)">
                                <waltz-icon fixed-width='true'
                                            name="trash"></waltz-icon>
                                Remove
                            </a>

                            <br>

                            <waltz-toggle icon-on="star-o"
                                          icon-off="star"
                                          label-on="Un-mark as primary"
                                          label-off="Mark as primary"
                                          on-toggle="ctrl.togglePrimaryCapability(ac.capability)"
                                          state="ac.primary"></waltz-toggle>
                        </td>
                    </tr>

                    <tr style="background-color: #f5f5f5; border-bottom: 1px solid #ccc;">
                        <td></td>
                        <td><label>Register new capability:</label></td>
                        <td><waltz-capability-selector capabilities="ctrl.model.availableCapabilities"
                                                       model="ctrl.addForm"></waltz-capability-selector></td>
                        <td>
                            <button ng-click="ctrl.add(ctrl.addForm.capability)"
                                    class="btn btn-sm btn-primary"
                                    ng-disabled="!ctrl.addForm.capability">
                                <waltz-icon name="plus"></waltz-icon>
                                Add
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>

        <hr>

        <a ui-sref="main.app-view ({id: ctrl.application.id})">
            &laquo; Go back to {{ctrl.application.name}}
        </a>

    </div>

</div>
