<div class="waltz-rbs-options">
    <a href
       class="rating-non-strategic"
       ng-class="{'selected' : ctrl.selected == 'R' }"
       ng-click="ctrl.select('R')" >
        <i class="fa fa-paint-brush fa-2x pull-left"></i>
        Non-Strategic
        <br>
        <small>( Sell )</small>
    </a>

    <a href
       class="rating-strategic-with-issues"
       ng-class="{'selected' : ctrl.selected == 'A' }"
       ng-click="ctrl.select('A')" >
        <i class="fa fa-paint-brush fa-2x pull-left"></i>
        Strategic with Issues
        <br>
        <small>( Hold )</small>
    </a>

    <a href
       class="rating-strategic"
       ng-class="{'selected' : ctrl.selected == 'G' }"
       ng-click="ctrl.select('G')" >
        <i class="fa fa-paint-brush fa-2x pull-left"></i>
        Strategic
        <br>
        <small>( Buy )</small>
    </a>

    <a href
       class="rating-none"
       ng-class="{'selected' : ctrl.selected == 'Z' }"
       ng-click="ctrl.select('Z')" >
        <i class="fa fa-paint-brush fa-2x pull-left"></i>
        No capability
        <br>
        <small>( Sell )</small>
    </a>

</div>