<div class="row">
    <div class="col-sm-12">

        <div ng-if="$ctrl.physicalFlows.length > 7">
            <input type="search"
                   placeholder="search ..."
                   ng-model="$ctrl.searchTerms"
                   class="form-control">
            <br>
        </div>


        <div class="small text-muted">
            Select an application to see more detail about the flow and its lineage
        </div>

        <br>

        <div ng-class="{ 'waltz-scroll-region-300': $ctrl.physicalFlows.length > 10}">
            <table class="table table-condensed small table-hover">
                <thead>
                <tr>
                    <th width="30%">Target</th>
                    <th width="5%">Transport</th>
                    <th width="5%">Frequency</th>
                    <th width="5%">Basis Offset</th>
                    <th width="55%">Description</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="flow in $ctrl.physicalFlows | filter:$ctrl.searchTerms | orderBy:'target.name'">
                    <td>
                        <waltz-entity-icon-label ng-click="$ctrl.onFlowSelect(flow)"
                                                 entity-ref="flow.target"
                                                 class="waltz-action-link">
                        </waltz-entity-icon-label>
                    </td>
                    <td>
                        <span ng-bind="flow.transport"></span>
                    </td>
                    <td>
                        <span ng-bind="flow.frequency"></span>
                    </td>
                    <td>
                        <span ng-bind="flow.basisOffset"></span>
                    </td>
                    <td>
                        <span ng-bind="flow.description"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <p class="small text-muted">
            Applications which declare a physical flow which consumes this item.
        </p>

    </div>
</div>
